/*Global Styling*/
body {
background-color: #727D74;
color: #3F3F3F;
font-family: 'Karla', Trebuchet MS, arial, verdana, sans-serif;
font-size: 12pt;
line-height: 1.5;
margin: 0;
padding: 0 0 25px 0;
}

textarea, 
input[type="email"], 
input[type="number"], 
input[type="password"], 
input[type="tel"], 
input[type="text"], 
input[type="url"] packages{
border-radius: 5px;   
}

div.messages, div.status, div.warning, div.error {
margin: 15px 0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

a, a:link, a:visited {
color: #727D74;
}

a:hover {
text-decoration: none;
}

table.sticky-table, table#content-field-overview {
width: 100%
}

.resizable-textarea, .node-form .form-text {
width: 100%;
}

h1.title, h2.title, h3.title {
font-family: 'Volkhov', Trebuchet MS, serif;
}

.content p {
font-size:12pt;
line-height:18pt;
margin: 0;
}

#block-block-1 p {
font-size: 8pt;   
}

.cron-check-processed .status {
display: none;
}

.page-404  .title {
display: none;
}

/*Page Template Styling*/
.page-region {
margin-left:auto;
margin-right:auto;
width:960px;
}

#header {
background: -moz-linear-gradient(center top , #DFDFDF, #C1C6C2) repeat scroll 0 0 #C1C6C2;
background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#C1C6C2)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#C1C6C2');
border-bottom: 1px solid #475F4C;
padding: 15px 0 10px;
}

#main {

}

#content, .no-sidebars #content {
float:left;
margin-left:0;
margin-right:-960px;
padding:0;
width:960px;
}

#page {
background-color:#FFFFFF;
padding: 35px 0 0;
}

.breadcrumb {
padding-bottom: 20px;
font-size: 0.8em;
display: none;
}

#footer{
background-color:#727D74;
padding-top: 25px;
}

#main-wrapper {
padding-bottom: 30px;
}

.block {
margin: 0;
}

.not-logged-in .messages  {
margin: 0 0 15px;
}

.views-field-edit-node a,
.views-field-delete-node a {
background-color: #AFAFAF;
background-image: none;
color: #FFFFFF;
cursor: default;
cursor: pointer;
font-size: 0.8em;
padding: 1px 5px;
display: inline-block;
text-decoration: none;
text-shadow: 0 0 0;
margin-top: 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.views-field-delete-node {
display: inline-block;
}

.views-field-edit-node {
margin-right: 5px;
display: inline-block;
}

.views-field-edit-node a:hover,
.views-field-delete-node a:hover {
background-color: #727D74;
text-decoration: none;
}

/*Header Styling*/
#nav {
float: right;
list-style-type: none;
overflow: hidden;
padding: 0;
margin: 0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
/*-moz-box-shadow: 0 1px 3px #727D74;*/
}

#nav li {
background: -moz-linear-gradient(center top , #A4AFA6, #868F88) repeat scroll 0 0 #868F88;
background: -webkit-gradient(linear, left top, left bottom, from(#A4AFA6), to(#868F88)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4AFA6', endColorstr='#868F88');
border-bottom: 1px solid #3B4F3F;
border-right: 1px solid #475F4C;
border-top: 1px solid #475F4C;
cursor: pointer;
float: left;
font-size: 0.9em;
}

#nav li:hover {
border-color: #475F4C;
background: -moz-linear-gradient(center top , #868F88, #A4AFA6) repeat scroll 0 0 #A4AFA6;
background: -webkit-gradient(linear, left top, left bottom, from(#868F88), to(#A4AFA6)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#868F88', endColorstr='#A4AFA6');
}

#nav li:hover a {
border-right: 0 none;
padding-right: 19px;
}

#nav li a, #nav li span {
border-right: 1px solid #959F97;
color: #FFFFFF;
display: block;
padding: 3px 18px;
text-decoration: none;
text-transform: capitalize;
text-shadow: 0 1px 0 #3B4F3F;
letter-spacing: 0.1px;
outline: none;
font-size: 1.1em;
}

#nav li:first-child {
border-radius: 5px 0 0 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-topleft: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-top-left-radius: 5px;
border-left: 1px solid #5A6F5E;
}

#nav li:first-child a {
border-left: medium none;
}

#nav li:last-child {
border-radius: 0 5px 5px 0;
-moz-border-radius-bottomright: 5px;
-moz-border-radius-topright: 5px;
-webkit-border-bottom-right-radius: 5px;
-webkit-border-top-right-radius: 5px;
}

#nav li:last-child a {
border-right: 1px solid transparent;
}

#nav li:last-child:hover a {
padding-right: 18px
}

#nav .active-trail {
background: -moz-linear-gradient(center top , #868F88, #A4AFA6) repeat scroll 0 0 #A4AFA6;
background: -webkit-gradient(linear, left top, left bottom, from(#868F88), to(#A4AFA6)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#868F88', endColorstr='#A4AFA6');
}

#nav .active-trail:hover a {
background: -moz-linear-gradient(center top , #868F88, #A4AFA6) repeat scroll 0 0 #A4AFA6;
background: -webkit-gradient(linear, left top, left bottom, from(#868F88), to(#A4AFA6)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#868F88', endColorstr='#A4AFA6');
padding-right: 18px;
border-radius: 5px 0 0 0;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
}

#nav .active-trail a, #nav .active-trail span {
border-right: 0 none;
}

.views-admin-links  {
display: none !important;
}

/*Footer*/
#footer-links {
list-style-type: none;
margin: 0;
padding: 0;
margin-top: 11px;
margin-right: -5px;
float: left;
position: relative;
z-index: 2;
}

#footer-links li{
border: 1px solid #475F4C;
padding: 5px 20px;
margin-top: -1px;
width: 217px;
color: #FFFFFF;
text-shadow:0 1px 0 #3B4F3F;
cursor: pointer;
background: -moz-linear-gradient(center top , #A4AFA6, #868F88) repeat scroll 0 0 #868F88;
background: -webkit-gradient(linear, left top, left bottom, from(#A4AFA6), to(#868F88)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4AFA6', endColorstr='#868F88');
border-radius: 5px 0 0 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-topleft: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-top-left-radius: 5px;
}

#footer-links li:hover {
background: -moz-linear-gradient(center top , #868F88, #A4AFA6) repeat scroll 0 0 #A4AFA6;
background: -webkit-gradient(linear, left top, left bottom, from(#868F88), to(#A4AFA6)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#868F88', endColorstr='#A4AFA6');
}

#footer-links .active, #footer-links .active:hover {
color: #3F3F3F;
text-shadow: 0 1px 0 #FFFFFF;
border-right: 0 none;
width: 218px;
background: -moz-linear-gradient(right center , #DFDFDF, #C1C6C2) repeat scroll 0 0 #C1C6C2;
background: -webkit-gradient(linear, left top, right top, from(#DFDFDF), to(#C1C6C2)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#C1C6C2');
}

#footer-boxs {
float: right;
border: 1px solid #475F4C;
padding: 10px 20px;
margin-top: 10px;
margin-bottom: 20px;
width: 660px;
position: relative;
z-index: 1;
background: -moz-linear-gradient(left center , #DFDFDF, #C1C6C2) repeat scroll 0 0 #C1C6C2;
background: -webkit-gradient(linear, right top, left top, from(#DFDFDF), to(#C1C6C2)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#C1C6C2');
border-radius: 0 5px 5px 5px;
-moz-border-radius-bottomleft: 5px;
-moz-border-radius-topright: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
-webkit-border-bottom-right-radius: 5px;
}

#call-box {
background-color: #3F3F3F;
background: -moz-linear-gradient(center top , #636363, #3F3F3F) repeat scroll 0 0 #3F3F3F;
background: -webkit-gradient(linear, center top, bottom top, from(#636363), to(#3F3F3F)) repeat scroll 0 0 #3F3F3F;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#3F3F3F');
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
color: white;
float: left;
font-size: 1.5em;
line-height: 1.2;
margin-right: 20px;
padding: 10px 20px;
text-align: center;
}

#working-box {
margin-top: 6px;
}

#contact-box, #connect-box {
font-size: 0.9em;
}

#connect-box {
height: 95px;
}

#connect-box iframe {
height: 20px !important;
}

#footer-boxs strong.header {
display: inline-block;
margin-bottom: 12px;
}

.working-tab.link {
color: #727D74;
text-decoration: underline;
cursor: pointer;
}

.working-tab.link:hover {
text-decoration: none;
}

#footer-nav {
list-style-type: none;
margin: 0;
padding: 0;
clear: both;
font-size: 0.8em;
margin-left: -7px;
margin-top: 15px;
}

#footer-nav a {
color: #C1C6C2;
padding: 0 7px;
}

#footer-nav a:hover {
text-decoration: none;
}

#footer-nav  li{
display: inline;
border-right: 1px solid #7D8F81;
}

#footer-nav  li:last-child {
border: 0 none;
}

#block-block-1 {
clear: both;
display: inline-block;
font-size: 0.8em;
color: #C1C6C2;
}

#block-block-1  p{
margin: 0;
font-size: 10pt;
}

.region-page-closure {
float: left;
clear: both;
width: auto;
}

#topLink {
float: right;
font-size: 0.6em;
text-decoration: none;
color: #475F4C;
padding: 2px 10px;
background-color: #C1C6C2;
border:1px solid #475F4C;
display: none;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#topLink:hover {
text-decoration: underline;
}

/* Contact Form */
#block-webformblock-5 {

}

#block-webformblock-5 label {
font-size: 0.7em;
display: inline-block;
margin-right: 5px;
vertical-align: baseline;
}

#block-webformblock-5 input,
#block-webformblock-5 .field-prefix,
#block-webformblock-5 textarea {
font-size: 0.7em;
}

#block-webformblock-5 input,
#block-webformblock-5 textarea {
border: 1px inset #475F4C;
padding: 2px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#block-webformblock-5 input:focus,
#block-webformblock-5 textarea:focus {
-moz-box-shadow: 0 0 10px #727D74;
-webkit-box-shadow: 0 0 10px #727D74;
outline: none;
}

#block-webformblock-5 input.error,
#block-webformblock-5 textarea.error {
border: 1px solid #CC0000;
padding: 2px;
}

#block-webformblock-5 .webform-component-textfield,
#block-webformblock-5 .webform-component-email {
display: inline-block;
}

#block-webformblock-5 .webform-component-textarea {
padding-bottom: 10px;
border-bottom: 1px solid #A4AFA6;
}

#block-webformblock-5 #edit-submitted-message-wrapper label {
display: block;
}

#block-webformblock-5 .description {
font-size: 0.7em;
}

#block-webformblock-5  p {
margin: 0;
font-size: 0.7em;
}

#block-webformblock-5 .captcha {
border-top: 1px solid #EFEFEF;
padding: 10px 0 0 0;
}

#block-webformblock-5 .captcha legend{
display: none;
}

#block-webformblock-5 #edit-submitted-name-wrapper,
#block-webformblock-5 #edit-submitted-website-wrapper {
margin-right: 15px;
}

#block-webformblock-5 .captcha .description,
#block-webformblock-5 .captcha img  {
float: left;
}

#block-webformblock-5 .captcha img  {
margin-top: 3px;
border: 5px solid white;
}

#block-webformblock-5 #edit-captcha-response-wrapper {
display: inline-block;
width: 330px;
padding-left: 20px;
}

#block-webformblock-5 .form-submit {
float: right;
}

#block-webformblock-5 .form-item  {
margin: 3px 0;
}

#block-webformblock-5 #edit-submit {
margin-top: -44px;
font-size: 1em;
background: -moz-linear-gradient(center top , #A4AFA6, #868F88) repeat scroll 0 0 #868F88;
background: -webkit-gradient(linear, left top, left bottom, from(#A4AFA6), to(#868F88)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4AFA6', endColorstr='#868F88');
color: white;
border: 1px solid #475F4C;
padding: 12px 75px;
cursor: pointer;
font-weight:bold;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#block-webformblock-5 #edit-submit:hover {
background: -moz-linear-gradient(center top , #868F88, #A4AFA6) repeat scroll 0 0 #A4AFA6;
background: -webkit-gradient(linear, left top, left bottom, from(#868F88), to(#A4AFA6)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#868F88', endColorstr='#A4AFA6');
}

#block-webformblock-5 #edit-submitted-name {
width: 206px;
}

#block-webformblock-5 #edit-submitted-email {
width: 293px;
}

#block-webformblock-5 #edit-submitted-website {
width: 386px;
}

#block-webformblock-5 #edit-submitted-message {
width: 648px;
}

#block-webformblock-5 #edit-captcha-response {
width: 90px;
}

/* Browser Help */


/*Front*/
#tech-icon24 {
background:url("/drizzledynamics/sites/default/themes/dzdy/images/tech-repair24.png") no-repeat scroll 0 0 transparent;
float:left;
height:24px;
margin-right:8px;
margin-top:3px;
width:24px;
}

#graphic-icon24 {
background:url("/sites/default/themes/dzdy/images/graphic-icon24.png") no-repeat scroll 0 0 transparent;
float:left;
height:24px;
margin-right:8px;
margin-top:3px;
width:24px;
}

#seo-icon24 {
background:url("/sites/default/themes/dzdy/images/seo-icon24.png") no-repeat scroll 0 0 transparent;
float:left;
height:24px;
margin-right:8px;
margin-top:3px;
width:24px;
}

#social-icon24 {
background:url("/sites/default/themes/dzdy/images/social-icon24.png") no-repeat scroll 0 0 transparent;
float:left;
height:24px;
margin-right:8px;
margin-top:3px;
width:24px;
}

#web-icon24 {
background:url("/sites/default/themes/dzdy/images/web-icon24.png") no-repeat scroll 0 0 transparent;
float:left;
height:24px;
margin-right:8px;
margin-top:3px;
width:24px;
}

.check-icon {
background:url("/sites/default/themes/dzdy/images/green-check.png") no-repeat scroll 0 0 transparent;
float:left;
height:24px;
margin-right:8px;
margin-top:3px;
width:24px;
}

.front #content-area h1 {
font-weight: normal;
font-size: 1.8em;
margin-top: 45px;
}

.front #content-area h3 {
font-size:1.3em;
font-weight:normal;
margin-bottom:0;
padding-left:32px;
}

.front  #content-area ul {
margin-top: 0;
margin-left: 19px;
}

.front .region-content-bottom {
float: left;
}

.ui-accordion-header a {
color: #2D80A9;
}

#front-carousel {
position: relative;
}

.front-carousel-slide {
padding: 10px 15px;
width: 930px;
height: 230px;
font-family: 'Volkhov', Trebuchet MS, serif;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

#general-fcs {
color: #FFFFFF;
font-size: 1.9em;
line-height: 30pt;
margin: 0 0 20px;
letter-spacing: 1px;
text-shadow: 0 1px 0 #000000;
word-spacing: 3px;
background: url("/sites/default/themes/dzdy/images/bg-tile.png") no-repeat scroll 0 0 transparent;
height: 230px;
font-family: 'Volkhov', Trebuchet MS, serif;
}

#equine-fcs{
background: url("/sites/default/themes/dzdy/images/equine-slide-bg.png") no-repeat scroll 0 0 transparent;
}

#drupal-fcs  {
background: url("/sites/default/themes/dzdy/images/drupal-slide-bg.png") no-repeat scroll 0 0 transparent;
}

#engage-fcs {

}

#social-fcs {

}

#fcsNav {
height: 25px;
margin: -30px 0 15px 0;
opacity: 0.6;
position: relative;
text-align: center;
z-index: 99;
background-color: #404040;
border-radius: 0 0 10px 10px;
padding: 5px 10px 0px;
}

#fcsNav .pagerbar {
display: inline-block;
}

#fcsNav .pagerbar a {
padding: 0;
text-decoration: none;
margin: 0 10px;
color: transparent;
display: inline-block;
width: 25px;
height: 20px;
font-size: 1px;
background: url(/sites/default/themes/dzdy/images/bullet.png) no-repeat scroll 0 -2px;
}

#fcsNav .pagerbar a.activeSlide,
#fcsNav .pagerbar a:hover {
background: url(/sites/default/themes/dzdy/images/bullet.png) no-repeat scroll 0 -35px;
}

#fcsNav .prev {
float: left;
width: 20px;
height: 20px;
cursor: pointer;
background: url(/sites/default/themes/dzdy/images/prev.png) no-repeat scroll 0 0px;
}

#fcsNav .prev:hover {
background: url(/sites/default/themes/dzdy/images/prev.png) no-repeat scroll 0 -33px;
}

#fcsNav .next {
float: right;
width: 25px;
height: 25px;
cursor: pointer;
background: url(/sites/default/themes/dzdy/images/next.png) no-repeat scroll 0 0px;
}

#fcsNav .next:hover {
background: url(/sites/default/themes/dzdy/images/next.png) no-repeat scroll 0 -33px;
}

#details-block {
color: #3f3f3f;
padding: 10px 0 0;
position: relative;
float: right;
width: 490px;
line-height: 1.5;
}

#details-block.blocked {
float: none;
display: block;
margin: 35px auto 25px;
text-align: center;
}

#details-block  .h {
font-family: 'Volkhov', Trebuchet MS, serif;
font-size: 2em;
display: block;
clear: both;
text-shadow: 1px 1px 1px #FFFFFF;
}

#site-thumbs-image {
background: url("/sites/default/themes/dzdy/images/site-thumbs.png") no-repeat scroll 0 0 transparent;
display: inline-block;
width: 642px;
height: 250px;
position: absolute;
top: 0px;
right: 7px;
}

#details-block input#email {
border: 1px solid #9F9F9F;
clear: left;
display: inline-block;
font-size: 1.2em;
height: 47px;
line-height: 2;
margin: 5px -5px 5px 0;
padding: 0 13px;
vertical-align: middle;
white-space: nowrap;
width: 320px;
cursor: pointer;
border-radius: 5px 0 0 5px;
-moz-border-radius: 5px 0 0 5px;
-webkit-border-radius: 5px 0 0 5px;
}

#details-block #submit {
color: #FFFFFF;
display: inline-block;
font-family: 'Volkhov',Trebuchet MS,serif;
font-size: 1.7em;
height: 47px;
line-height: 2;
margin: 5px 0;
padding: 0 30px;
vertical-align: middle;
background-color: #3F3F3F;
background: -moz-linear-gradient(center top , #636363, #3F3F3F) repeat scroll 0 0 #3F3F3F;
background: -webkit-gradient(linear, center top, bottom top, from(#636363), to(#3F3F3F)) repeat scroll 0 0 #3F3F3F;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#636363', endColorstr='#3F3F3F');
border-radius: 0 5px 5px 0;
-webkit-border-radius: 0 5px 5px 0;
moz-border-radius: 0 5px 5px 0;
}

#details-block #submit:hover {
cursor: pointer;
background: -moz-linear-gradient(center top , #3F3F3F, #636363) repeat scroll 0 0 #636363;
background: -webkit-gradient(linear, center top, bottom top, from(#3F3F3F), to(#636363)) repeat scroll 0 0 #636363;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3F3F3F', endColorstr='#636363');
}

.front #content-area {

}

.front #main li {
font-size:13pt;
padding:3px 0;
}

.front h1.title {
display: none;
}

#online-presence {
cursor: pointer;
border-bottom: 1px dashed #727D74;
}

#equine {
color: white;
float: left;
font-size: 1.5em;
line-height: 1.1em;
margin: 10px auto 0;
padding: 8px 5px;
text-align: center;
width: 45%;
background: -moz-linear-gradient(center top , #CF7474, #D78787) repeat scroll 0 0 #CF7474;
background: -webkit-gradient(linear, left top, left bottom, from(#CF7474), to(#D78787)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CF7474', endColorstr='#D78787');
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

#equine .glow {
text-shadow: 0 1px 0 #3B4F3F;
}

#equine-desc {
display: block;
font-size: 0.7em;
}

#block-views-twitter_feed-block_1 {
display: inline-block;
float: right;
line-height: 1.4em;
font-size: 10pt;
}

#block-views-twitter_feed-block_1 a {
margin-top: 10px;
}

.region-twitter-feed {
float: right;
}

#block-views-twitter_feed-block_1 small {
font-style: italic;
color: #AFAFAF;
}

#block-views-twitter_feed-block_1 img {
vertical-align: middle;
}

/*Front Nav*/
#block-block-2 {
border-right: 1px solid #DFDFDF;
padding-right: 20px;
}

#block-block-2 p.last {
border-bottom: 0px solid #DFDFDF;
}

#block-block-2 p {
border-bottom: 1px solid #DFDFDF;
margin: 0;
padding: 13px 0;
}

#block-block-2 a {
text-decoration: none;
}

#block-block-2 a:hover {
text-decoration: underline;
}

#tech-icon16 {
background:url("/sites/default/themes/dzdy/images/tech-repair16.png") no-repeat scroll 0 0 transparent;
float:left;
height:16px;
margin-right:8px;
margin-top:5px;
width:16px;
}

#graphic-icon16 {
background:url("/sites/default/themes/dzdy/images/graphic-icon16.png") no-repeat scroll 0 0 transparent;
float:left;
height:16px;
margin-right:8px;
margin-top:5px;
width:16px;
}

#seo-icon16 {
background:url("/sites/default/themes/dzdy/images/seo-icon16.png") no-repeat scroll 0 0 transparent;
float:left;
height:16px;
margin-right:8px;
margin-top:5px;
width:16px;
}

#social-icon16 {
background:url("/sites/default/themes/dzdy/images/social-icon16.png") no-repeat scroll 0 0 transparent;
float:left;
height:16px;
margin-right:8px;
margin-top:5px;
width:16px;
}

#web-icon16 {
background:url("/sites/default/themes/dzdy/images/web-icon16.png") no-repeat scroll 0 0 transparent;
float:left;
height:16px;
margin-right:8px;
margin-top:5px;
width:16px;
}

/* Dependents Sidebar */
.view-dependents-sidebar .view-header  p{
font-size: 0.9em;
color: #9F9F9F;
}

.view-dependents-sidebar {
border-top: 1px solid #DFDFDF;
margin-top: 27px;
padding-top: 25px;
text-align: center;
margin-top: 25px;
}

.view-dependents-sidebar .views-row {
margin-bottom: 30px;
}

#footer-social {
float: right;
margin-top: -15px;
}

#footer-social a {
display: inline-block;
margin-left: 10px;
}

/*Portfolio*/
.view-Work ul { 
margin: 0;
padding: 0;
}

.view-Work .item-list ul li {
border: 1px solid #727D74;
display: inline-block;
list-style-type: none;
line-height: 1.5;
width: 277px;
margin-bottom: 25px;
padding: 10px 10px 5px;
text-shadow: 0 1px 0 #FFFFFF;
background: -moz-linear-gradient(center top , #EFEFEF, #D8D8D8) repeat scroll 0 0 #EFEFEF;
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#D8D8D8)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#D8D8D8');
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}

.view-Work .views-row-2,
.view-Work .views-row-5,
.view-Work .views-row-8,
.view-Work .views-row-11,
.view-Work .views-row-14
.view-Work .views-row-17 {
margin: 0 27px 25px;
}

.view-Work #nav { 
width: 300px; margin: 15px 
}

.view-Work #nav li { 
width: 50px; 
float: left; 
margin: 8px; 
list-style: none 
}

.view-Work #nav a { 
width: 50px; 
padding: 3px; 
display: block; 
border: 1px solid #ccc; 
}

.view-Work #nav li.activeSlide a { 
background: #88f 
}

.view-Work #nav a:focus { 
outline: none; 
}

.view-Work #nav img { 
border: none; 
display: block 
}

.view-Work .views-field-field-web-image-fid img {
border: 1px solid #FFFFFF;
margin: 0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-Work .views-field-title {
font-family: 'Volkhov', Trebuchet MS, serif;
font-size: 1.5em;
font-weight: bold;
margin-bottom: 10px;
text-align: left;
text-decoration: none;
width: 252px;
display: inline-block;
}

.view-Work .views-field-title a {
text-decoration: none;   
}

.view-Work .views-field-field-web-status-value {
display: inline-block;
vertical-align: top;
margin-top: 5px;
}

.view-Work .views-field-field-web-url-url {
display: inline-block;
font-size: 13pt;
}

.view-Work .views-field-field-web-twitter-value {
padding: 7px 0;
height: 21px;
}

.view-Work p {
margin: 0;
color: #3F3F3F !important;
}

.view-Work .views-field-field-web-twitter-value img {
vertical-align: middle;
}

.page-work .view-header {
margin-bottom: 25px;
}

.page-work .view-header h1 {
margin-bottom:0;
}

.view-Work  .views-field-field-web-part-played-value {
border-top: 0 none !important;
border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}

.view-Work  .views-field-field-web-part-played-value label {
font-weight: bold;
}

.view-Work  .views-field-body,
.view-Work  .views-field-field-web-part-played-value {
padding: 10px 15px;
}

#portfolioNav {
text-align: center;
}

#portfolioNav a {
padding: 0;
text-decoration: none;
margin: 0 10px;
color: transparent;
display: inline-block;
width: 25px;
height: 20px;
font-size: 1px;
background: url(/sites/default/themes/dzdy/images/bullet.png) no-repeat scroll 0 -2px;
}

#portfolioNav a.activeSlide,
#portfolioNav a:hover {
background: url(/sites/default/themes/dzdy/images/bullet.png) no-repeat scroll 0 -35px;
}

#prev {
float: left;
width: 20px;
height: 20px;
cursor: pointer;
background: url(/sites/default/themes/dzdy/images/prev.png) no-repeat scroll 0 0px;
}

#prev:hover {
background: url(/sites/default/themes/dzdy/images/prev.png) no-repeat scroll 0 -33px;
}

#next {
float: right;
width: 25px;
height: 25px;
cursor: pointer;
background: url(/sites/default/themes/dzdy/images/next.png) no-repeat scroll 0 0px;
}

#next:hover {
background: url(/sites/default/themes/dzdy/images/next.png) no-repeat scroll 0 -33px;
}


#insert-text {
border: 1px dashed #041B3F;
padding: 30px;
text-align: center;
width: 75%;
margin: 0 auto 25px auto;
font-weight: bold;
}

.fb_edge_widget_with_comment {
float: left;
}

.fb_ltr {
width: auto !important;
}

#follow-twitterapi {
clear: left;
float: left;
margin-top: 10px;
}

#follow-twitterapi iframe{
height: 25px !important;
width: 239px !important;
}

#webform-component-session-details {
display: none;
}

#details-block .left {
border-right: 1px solid #9F9F9F;
float: left;
padding-right: 19px;
}

#details-block .right {
border-left: 1px solid #FFFFFF;
float: left;
height: 150px;
padding-left: 22px;
}

#details-block p {
font-size: 10pt;
clear: both;
}

.views-field-field-web-image-fid span {
float: left;
}

.view-footer div {
border: 1px solid #727D74;
margin: -1px auto 0 !important;
padding: 5px 10px;
text-align: center;
width: 910px;
background: -moz-linear-gradient(center top , #A4AFA6, #868F88) repeat scroll 0 0 #868F88;
background: -webkit-gradient(linear, left top, left bottom, from(#A4AFA6), to(#868F88)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4AFA6', endColorstr='#868F88');
border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}

.spoc {
display: block;
clear: both;
text-align: center;
}

.spo {
background: -moz-linear-gradient(center top , #A4AFA6, #868F88) repeat scroll 0 0 #868F88;
background: -webkit-gradient(linear, left top, left bottom, from(#A4AFA6), to(#868F88)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A4AFA6', endColorstr='#868F88');
display: inline-block;
font-family: 'Volkhov', Trebuchet MS, serif;
font-size: 1.5em;
color: #FFFFFF;
margin: 10px 30px;
padding: 20px 25px;
text-shadow: 1px 1px 1px #545454;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}

.page-packages #content-area {
text-align: center;
}

.page-packages h1.title {
display: none;
}

.spt {
font-family: 'Volkhov', Trebuchet MS, serif;
font-size: 1.4em;
line-height: 1.5;
border-bottom: 1px solid #5A6D63;
margin-bottom: 20px;
padding-bottom: 20px;
}

.spa {
height: 51px;
margin: 25px 0;
text-align: center;
}

.spa  .a {
display: inline-block;
height: 50px;
width: 50px;
background: url("/sites/default/themes/dzdy/images/spa.png") no-repeat scroll 0 0 transparent;
}

.sps {
display: inline-block;
font-size: 1.1em;
line-height: 1.5;
padding: 15px 35px 15px 25px;
text-align: left;
background: -moz-linear-gradient(center top , #DFDFDF, #C1C6C2) repeat scroll 0 0 #C1C6C2;
background: -webkit-gradient(linear, left top, left bottom, from(#DFDFDF), to(#C1C6C2)) repeat scroll 0 0 #868F88;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DFDFDF', endColorstr='#C1C6C2');
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}

.sps .h {
font-family: 'Volkhov', Trebuchet MS, serif;
font-size: 1.2em;
text-shadow: 1px 1px 1px #FFFFFF;
}





/* Home V1 Stuff */

#drupal-block {
color: #3f3f3f;
font-size: 1.7em;
line-height: 20pt;
position: relative;
letter-spacing: 1px;
text-shadow: 0 1px 0 #ffffff;
word-spacing: 3px;
float: left;
width: 400px;
}

#drupal-logo {
background: url("/sites/default/themes/dzdy/images/drupal-logo.png") no-repeat scroll 0 0 transparent;
display: inline-block;
width: 114px;
height: 130px;
position: absolute;
top: 5px;
right: 25px;
}

.glow {
text-shadow: 1px 1px 5px #FFFFFF;
}

.drupal-glow {
color: #0073BA;
display: inline-block;
font-size: 2em;
margin-left: -3px;
margin-top: 5px;
margin-bottom: 22px;
font-family: 'Volkhov', Trebuchet MS, serif;
}

#site-thumb-block {
background: url("/sites/default/themes/dzdy/images/bg-tile.png") no-repeat scroll 0 0 transparent;
border-bottom: 1px solid #DFDFDF;
border-radius: 10px 10px 10px 10px;
color: #FFFFFF;
font-family: 'Volkhov',Trebuchet MS,serif;
font-size: 2em;
height: 213px;
letter-spacing: 1px;
line-height: 32pt;
margin: 0 0 20px;
padding: 10px 15px;
position: relative;
text-shadow: 0 1px 0 #000000;
word-spacing: 3px;
}

#site-thumb-block #site-thumbs-image {
height: 233px;
}

.field-field-web-part-played p,
.field-field-web-body p  {
margin: 0;
}

.field-field-web-status,
.field-field-web-url {
float: left;   
}

.field-field-web-twitter {
margin-left: 270px;   
}

.web-left {
float: left;
}

.web-right {
width: 500px;
float: right;  
}

.web-title {
font-weight: bold;
margin-bottom: 20px;
font-size: 1.7em;
line-height: 1;
}

.node-type-web h1.title {
display: none;   
}

.imagecache-Web-Image {
border: 1px solid #475F4C;
border-radius: 5px 5px 5px 5px;
}

.field-field-web-body {
display: block;
clear: both;   
margin: 20px 0;
}

#edit-submitted-agreement-1-wrapper label {
font-weight: normal;
margin: 0 0 25px 126px;
width: auto;   
}