body {
	font-family: Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/bg-tile.png) repeat scroll;
}

a, a:link, a:visited {
	color: #8bb6e3;
}

a:hover {
	text-decoration: none;
}

#page-wrapper {
	background-color: #FFFFFF;
	border: 2px solid #79d1d1;
	margin-top: -2px;
	border-radius: 0 0 5px 5px;
}

#content .section {
	padding: 10px;
}

#footer {
	text-align: center;
}

div#site-name {
	font-family: 'Short Stack', Verdana, Arial;
	font-size: 2.5em;
    font-weight: bold;
    margin: 16px 0 0 15px;
}

#site-name a:link, #site-name a:visited, #site-name a:hover {
	color: #8bb6e3;
	text-shadow: 1px 1px 1px #9F9F9F;
	text-decoration: none;
}

#header-boys {
	height: 183px;
	width: 239px;
	float: right;
	margin: -60px 20px -100px 0;
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/header-boys.png) repeat scroll;	
}

div.messages, div.status, div.warning, div.error {
	margin: 20px 0 25px;
	border-radius: 5px;
}

.front h1.title {
	display: none;
}

h1.title {
	font-family: 'Short Stack', Verdana, Arial;
}

.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
	margin-top: 100px;
}

#navigation {
	height: auto;
	margin-top: 15px;
}

#navigation ul {
	margin-left: 15px;
}

#navigation a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 1.3em;
	font-family: 'Short Stack', Verdana, Arial;
}

#navigation-context {
	height: 20px;
	background-color: #79d1d1;
	padding: 5px 0 5px 25px;
	color: #FFFFFF;
	font-size: 1.1em;
}

#nc-about,
#nc-excerpts,
#nc-connect,
#nc-media {
	display: none;
}

.fb_iframe_widget {
    margin-right: 10px;
}

.page-about-book  #navigation-context,
#navigation-context.about {
	background-color: #d17979;
}

#navigation-context.about #nc-about {
	display: inline-block;
}

.page-book-excerpts #navigation-context,
#navigation-context.excerpts {
	background-color: #9879d1;
}

#navigation-context.excerpts #nc-excerpts {
	display: inline-block;
}

.page-connect #navigation-context,
#navigation-context.connect {
	background-color: #79d185;
}

#navigation-context.connect #nc-connect {
	display: inline-block;
}

.page-media #navigation-context,
#navigation-context.media {
	background-color: #8bb6e3;
}

#navigation-context.media #nc-media {
	display: inline-block;
}

.menu-182 a {
	display: inline-block;
	width: 142px;
	height: 40px;
    padding-left: 10px;
    padding-top: 15px;
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/button1.png) no-repeat scroll;
}

.menu-180 a {
	display: inline-block;
	width: 142px;
	height: 40px;
    padding-left: 18px;
    padding-top: 15px;
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/button2.png) no-repeat scroll;
}

.menu-444 a {
	display: inline-block;
	width: 120px;
	height: 41px;
    padding-left: 23px;
    padding-top: 14px;
    margin-right: 15px;
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/button3.png) no-repeat scroll;
}

.menu-183 a {
	display: inline-block;
	width: 142px;
	height: 40px;
    padding-left: 19px;
    padding-top: 15px;
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/button4.png) no-repeat scroll;
}

#front-book-box {
	margin: 0 25px;
}

#front-book-box .left {
	float: left;
	width: 291px;
	height: 219px;
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/book-cover.png) no-repeat scroll;
}

#front-book-box .left div {
	margin-top: 230px;
	text-align: center;
}

#front-book-box  .right {
	font-size: 1.1em;
	line-height: 1.5;
	margin-left: 330px;
}

#front-book-box  .right img {
	vertical-align: baseline;
}

#promo {
    color: #8BB6E3;
    font-size: 2.2em;
    letter-spacing: -1px;
    line-height: 1;
    text-shadow: 1px 1px 1px #3F3F3F;
}

#front-book-box .right div {
	text-align: center;
}

#readMore {
	background-color: #9879d1;
	color: #FFFFFF;
	display: inline-block;
	padding: 10px 30px;
	font-size: 1.4em;
	font-family: 'Short Stack', Verdana, Arial;
	text-decoration: none;
	margin-top: 3px;
	border: 1px solid transparent;
	border-radius: 5px;
}

#readMore:hover {
	color: #9879d1;
	border: 1px solid #9879d1;
	background-color: #FFFFFF;
}

#front-lower-box {
	display: inline-block;
	margin-top: 10px;
	text-align: center;
	width: 100%;
}

#front-lower-box #left-box {
	display: inline-block;
	width: 440px;
	height: 67px;
	padding: 20px;
	float: left;
	text-align: left;
	margin-left: 25px;
	background-color: #FFFFFF;
	-moz-box-shadow: inset 0 0 5px 5px #79d185;
	-webkit-box-shadow: inset 0 0 5px 5px #79d185;
	box-shadow: inset 0 0 5px 5px #79d185;
	border: 1px solid #79d185;
	border-radius: 5px;
}

#front-lower-box #left-box span {
	font-size: 2.3em;
	font-weight: bold;
	color: #79d185;
	display: inline-block;
	margin-bottom: 13px;
	font-family: 'Short Stack', Verdana, Arial;
	text-shadow: 1px 1px 1px #3f3f3f;
}

#front-lower-box #right-box {
	display: inline-block;
	width: 340px;
	height: 67px;
	padding: 20px;
	float: right;
	text-align: left;
	margin-right: 25px;
	margin-bottom: 12px;
	background-color: #FFFFFF;
	-moz-box-shadow: inset 0 0 5px 5px #d17979;
	-webkit-box-shadow: inset 0 0 5px 5px #d17979;
	box-shadow: inset 0 0 5px 5px #d17979;
	border: 1px solid #d17979;
	border-radius: 5px;
}

#front-lower-box #right-box .buy {
	font-size: 2.3em;
	font-weight: bold;
	color: #d17979;
	font-family: 'Short Stack', Verdana, Arial;
	text-shadow: 1px 1px 1px #3f3f3f;
}

#front-lower-box #right-box .paypalLogo {
	display: inline-block;
	vertical-align: middle;
	width: 83px;
	height: 26px;
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/paypal.png) no-repeat scroll;
}

#front-lower-box #right-box .arrow {
	display: inline-block;
	float: right;
	width: 115px;
	height: 39px;
	margin-top: 15px;
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/buy-arrow.png) no-repeat scroll;
}

#front-lower-box #right-box .arrow:hover {
	background-position: 0 -41px;
}

#front-lower-box #right-box .price {
	font-size: 1.1em;
	margin-top: 10px;
	display: inline-block;
}

.region-page-closure {
	text-align: center;
	font-size: 0.7em;
	margin-top: 15px;
	color: #9F9F9F;
}

.maintenance_page #page-wrapper {
	margin-top: 25px;
	border-radius: 5px;
}

.maintenance_page h1.title {
	display: none;
}

.page-book-excerpts #content-area {
	background: transparent url(/sites/divorcestinks4kids.com/themes/divorcestinks4kids/images/back-family.png) no-repeat scroll 560px center;
}

.page-connect #webform-component-email, .page-connect #edit-actions {
	display: inline-block;
}

.page-connect #edit-submitted-email-wrapper {
	margin: 0;
	vertical-align: middle;
}

.page-connect #edit-actions fieldset {
	display: none;
}

.page-connect #edit-submit {
    background-color: #79D185;
    border: 0 none;
    border-radius: 5px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1;
    padding: 5px;
}

.page-connect #edit-submitted-email {
    border: 1px solid #79D185;
    border-radius: 5px;
    height: 18px;
    padding: 5px 3px;
    width: 297px;
}

#block-webform-client-block-10 {
	border: 1px solid #8bb6e3;
	background-color: #cce4fd;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    padding: 0 15px 17px;
}

#block-menu-menu-footer-links ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

#block-menu-menu-footer-links li {
    border-right: 1px solid #CFCFCF;
    display: inline-block;
    list-style-type: none;
    margin-right: 10px;
    padding-right: 10px;
}

#block-menu-menu-footer-links li:last-child {
	border-right: 0 none;
}

.region-content-bottom {
	text-align: center;
	margin-top: 20px;
}

.page-media .views-row {
    padding: 5px 15px 15px;
    margin-bottom: 15px;
}

.page-media .views-row {
    border-bottom: 1px solid #CFCFCF;
}

.page-media .views-row-last {
    margin-bottom: 0;
    padding-bottom: 0;
	border-bottom: 0 none;
}

.page-media .views-field-title {
    font-size: 1.3em;
    margin-bottom: 10px;
    font-family: 'Short Stack', Verdana, Arial;
}

.page-media .views-field-field-video-video-embed,
.page-media .views-field-field-video-image-fid {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px
}

.page-media .views-field-body,
.page-media .views-field-field-video-link-url,
.page-media .views-field-field-video-publisher-value {
    display: inline-block;
}

.section-connect table {
   width: 100%;
}

.section-connect table thead {
    background-color: #E5E5E5;
}

.section-connect table thead th {
   padding: 5px 0;
}

.section-connect table .icon {
   padding-left: 10px;
}

table.sticky-table, table#content-field-overview {
width: 100%
}

.submitted {
   font-size: 0.8em;
}

#forum .links .forum {
   padding: 0;
}

#forum .links .forum a,
ul.links li.comment_add a {
    height: auto;
    padding: 2px 8px;
    color: #FFFFFF;
    background-color: #79D185;
    background-image: none;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#forum .links .forum a:hover,
ul.links li.comment_add a:hover {
    background-color: #9879D1;
}

ul.links li.comment_add,
ul.links li.comment_forbidden {
    display: inline-block;
    margin-left: 0;
    margin-top: 15px;
    padding: 0;
}

.comment ul.links .comment_delete a,
.comment ul.links .comment_edit a,
.comment ul.links .comment_reply a {
    font-size: 0.7em;
    height: auto;
    padding: 2px 8px;
    color: #FFFFFF;
    background-color: #CECECE;
    background-image: none;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.comment ul.links .comment_delete a:hover,
.comment ul.links .comment_edit a:hover,
.comment ul.links .comment_reply a:hover {
    background-color: #9879D1;
}

.comment {
    background-color: #F7F7F7;
    border-left: 1px solid #CFCFCF;
    margin-left: 15px;
    padding-left: 20px;
    margin-top: 15px;
}

.comment.first {
    margin-top: 0;
}

.comment h3.title {
    color: #3F3F3F;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

.forum-topic-navigation .topic-next,
.forum-topic-navigation .topic-previous {
   width: auto;
}

.forum-topic-navigation {
    background-color: #E1F7F7;
    font-size: 0.8em;
    margin-top: 35px;
}

/*Tabs*/
ul.primary {
padding: 0;
background-image: none;
}

ul.primary li {
margin: 0 10px 0 0;
}

ul.primary li a,
ul.primary li a:focus,
ul.primary li a:active {
height: auto;
padding: 2px 8px;
color: #FFFFFF;
background-color: #AFAFAF;
background-image: none;
font-weight: normal;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.primary li a .tab {
height: auto;
background-image: none;
padding: 0;
}

ul.primary li a:hover {
background-color: #79D1D1;
background-image: none;
}

ul.primary li a:hover .tab {
background-image: none;
}

ul.primary li.active a,
ul.primary li.active a:hover {
color: #FFFFFF;
background-color: #9879D1;
background-image: none;
cursor: default;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
background-image: none;
}

ul.secondary {
padding: 0;
margin-top: 5px;
border-bottom: 0 none;
background-image: none;
}

ul.secondary li {
margin: 0 5px 0 0;
padding: 0;
}

ul.secondary a,
ul.secondary a:focus,
ul.secondary a:active {
height: auto;
padding: 2px 8px;
color: #FFFFFF;
background-color: #AFAFAF;
background-image: none;
border: 0 none;
font-size: 0.9em;
font-weight: normal;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.secondary a .tab {
height: auto;
padding: 0;
}

ul.secondary a:hover {
background-image: none;
background-color: #79D1D1;
}

ul.secondary a.active,
ul.secondary a.active:hover {
border: 0 none;
color: #FFFFFF;
background-color: #9879D1;
background-image: none;
cursor: default;
}

.teaser-checkbox {
display:none;
}

#share-fb,
#share-tw,
#share-go {
float: right;
vertical-align: middle;
margin-left: 20px;
}

#share-fb {
width: 75px;
}

#share-tw {
width: 78px;
}

#share-go {
width: 59px;
}
