body {
    background: #bcdbe9 url(images/bodybg.png) repeat-x;
}

#clouds {
    background: transparent url(images/clouds.png) repeat-x scroll center top;
    position: absolute;
    width: 99%;
    height: 510px;
    z-index: 777777;
}

#land {
    background: transparent url(images/land.png) repeat-x scroll center bottom;
    width: 100%;
    height: 117px;
    bottom: 0;
    position: relative;
    z-index: 888888;
}

#chuteplane-header {
    background: transparent url(images/chutes-plane.png) no-repeat scroll right -10px;
    position: relative;
    width: 985px;
    height: 175px;
    z-index: 777777;
    margin: 0 auto;
}

#dd-title {
    background: transparent url(images/dd-title.png) no-repeat scroll -8px top;
    position: relative;
    width: 980px;
    height: 160px;
    z-index: 999999;
    margin: -145px auto -1px;
}

#page {
    position: relative;
    z-index: 888888;
    border: 1px solid black;
    background-color: #AF0A0A;
    padding: 6px;
    width: 970px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#page-inner {
    background-color: white;
    border: 6px solid #eac11c;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    z-index: 99999;
}

#sidebar-right {
    margin-left:725px;
    margin-right:-960px;
}

.sidebar-right #content {
    width: 724px;
}

#primary {
    margin: 0;
    text-align: center;
    background-color: #eac11c;
    border: 3px solid #AF0A0A;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#primary ul.links {
    margin: 0 auto;
    display: inline-block;
    font-size: 1.32em;
}

#navbar {
    margin-left:-19px;
    margin-top:-16px;
    width: 977px;
    height: auto;
}

#navbar li {
    padding: 4px 8px;
    border-right: 1px solid #fadf73;
    border-left: 1px solid #bc9a12;
}

#navbar li.first {
    border-left: 0 none;
}

#navbar li.last {
    border-right: 0 none;
}

#navbar li  a{
    text-decoration: none;
    color: #af0a0a;
    padding: 0 3em;
}

#navbar li  a:hover {
    color: white;
    text-shadow: 1px 1px 1px #BC9A12;
}

.with-navbar #content, #content  {
    margin-top: 1.5em;
}

.with-navbar #sidebar-right, #sidebar-right  {
    background-color: #eac11c;
    padding: 10px 5px 10px 10px;
    margin: 15px 0 0 734px;
    -moz-border-radius-bottomleft: 10px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 0px;
}

#sidebar-right-inner {
    background-color: white;
    margin: 0;
    padding: 5px;
    border: 3px solid #AF0A0A;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.views-field-delete-node, .views-field-edit-node {
display: inline-block;
float: left;
margin-right: 5px;
}

.view-id-Frontpage_Slide  {
background-color: #AF0A0A;
display: inline-block;
float: left;
padding:1 0px;
width: 324px;
padding: 10px;
margin-right: 15px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.view-id-Frontpage_Slide .views-field-body {
background-color: white;
padding: 3px 5px;
-moz-border-radius-bottomleft: 10px;
-moz-border-radius-bottomright: 10px;
}

.view-id-Frontpage_Slide .views-field-body  p{
margin: 0;
font-size: 0.8em;
}

.view-Frontpage .views-field-title {
font-size: 1.2em;
font-weight: bold;
}

.view-Frontpage {
line-height: 1.6em;
}

#node-8 .submitted {
display: none;
}

#content-bottom {
display: inline-block;
}

.view-id-News {
clear: both;
border: 6px solid #EAC11C;
display: inline-block;
margin-top: 15px;
padding: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.view-id-News .views-field-title {
font-weight: bold;
float: left;
}

.view-id-News .views-field-edit-node, .view-id-News .views-field-delete-node {
display: inline-block;
float: left;
margin-right: 5px;
}

.view-id-News .views-field-body {
clear: both;
}

.view-id-News .views-row {
border-bottom: 1px solid #CFCFCF;
}

.view-id-News .views-row-1 {
border-bottom: 0 none;
}

body#tinymce {
background-image: none;
background-color: white;
}

#post-footer {
margin-top: 5px;
font-size: 0.7em
}

#block-block-2 {
margin: 0;
}

#footer p {
margin: 0;
}

.page-404  .title {
display: none;
}
