/*Global*/
body {
padding: 0;
margin: 0;
font-family: 'Karla', sans-serif;
}

a, a:link {
color: #6F7E9A;
text-decoration: none;
}

a:hover {
color: #000D1F;
text-decoration: underline;
}

li {
margin: 0 0 0 39px;
}

table.sticky-table td, table.sticky-table th {
padding:0.3em 0.5em;
vertical-align:middle;
}

table.sticky-table, table#content-field-overview {
width: 100%
}

div.views-admin-links {
  display: none !important;
}

#autocomplete li {
margin: 0;
padding-left: 5px;
}

#page #content {
min-height: 325px;
}

.block {
margin: 0;
}

/*Header*/
#header {
height: 150px;
display: inline-block;
background-color: #0d2348;
background-image: url(images/header-bg.png);
background-repeat: repeat-x;
width: 100%;
margin-bottom: 20px;
border-top: 5px solid #000D1F;
border-bottom: 5px solid #000D1F;
}

#header-design {
height: 150px;
background-image: url(images/header-gradient.png);
background-repeat: no-repeat;
margin: 0 auto;
}

#header-inner {
width: 960px;
margin: 0 auto;
}

#header-logo {
background-image: url(images/logo.png);
background-repeat: no-repeat;
background-position: left 50px;
height: 150px;
width: 609px;
cursor: pointer;
}

#header-links {
display: inline-block;
float: right;
margin-top: -6px;
}

#header-links .links li {
padding: 9px 15px 9px 15px;
display: inline-block;
background-color: #324b76;
border: 1px solid #000D1F;
-moz-box-shadow: 1px 1px 3px #000000;
-webkit-box-shadow: 1px 1px 3px #000000;
opacity: 0.7;
margin: 0 0 0 15px;
}

#header-links .links li a{
color: #6F7E9A;
font-weight: bold;
opacity: 1;
text-decoration: none;
}

#header-links .links li a:hover{
color: #FFFFFF;
}

#header-links .links li a.active {
color: #000D1F;
}

/*Main content*/
#content {

}

.with-navbar #content {
margin-top: 0;
}

/*Footer*/
#toTop {
background-color: #000D1F;
color: #FFFFFF;
margin: 15px 0 0 0;
float: right;
font-size: 0.8em;
padding: 0px 10px;
}

#toTop a {
color: #FFFFFF;
text-decoration: none;
}

#footer {
background-color: #041B3F;
display: inline-block;
width: 100%;
border-top: 1px solid #000D1F;
border-bottom: 1px solid #000D1F;
padding: 10px 0;
font-size: 0.9em;
}

#footer a:hover {
color: #FFFFFF;
}

#footer-inner {
width: 961px;
margin: 0 auto;
}

#footer .block {
height: 218px;
margin: 0;
}

#copyright {
background-color: #000D1F;
padding: 10px;
margin-top: -5px;
border-top: 1px solid #33476B;
}

#copyright-inner {
width: 960px;
margin: 0 auto;
font-size: 0.7em;
color: #6F7E9A;
text-align: center;
line-height: 2;
}

div.messages, div.status, div.warning, div.error {
margin: 0 0 25px;
}

/*Socialize block*/
#block-block-1 {
float: left;
width: 275px;
color: #6F7E9A;
margin: 0;
border-left: 1px solid #33476b;
}

#block-block-1  a {
color: #6F7E9A;
text-decoration: none;
}

#block-block-1 p { 
margin: 0;
}

#block-block-1 #socialize {
margin-left: 34px;
}

#socialize-title {
font-family: 'Enriqueta', serif;
text-shadow: 1px 1px 1px black;
font-size: 1.6em;
display: inline-block;
margin: 0 0 4px 0;
letter-spacing: 1px;
}

.socialize-item {
margin-left: 3px;
background-repeat: no-repeat;
background-position: 0 0;
padding-left: 40px;
padding-top: 6px;
height: 24px;
display: inline-block;
margin-top: 12px;
}

#socialize-facebook {
background-image: url(images/facebook-icon.png);
}

#socialize-twitter{
background-image: url(images/twitter-icon.png);
}

#socialize-linkedin {
background-image: url(images/linkedin-icon.png);
}

#socialize-email {
background-image: url(images/email-icon.png);
}

/*About Me*/
#footer #block-block-5 {
background-color: #6F7E9A;
border: 1px solid black;
box-shadow: 0 0 2px white inset;
color: #FFFFFF;
float: right;
padding: 3px 10px 0;
height: 215px;
width: 240px;
}

#block-block-5 .title {
font-family: 'Enriqueta', serif;
text-shadow:1px 1px 1px black;
font-size: 1.6em;
display: inline-block;
margin: 0;
letter-spacing: 1px;
font-weight: normal;
color: #FFFFFF;
}  

#block-block-5 p {
font-size: 0.9em;
line-height: 1.5;
margin: 10px 0 0;
text-shadow: 1px 1px 0 black;   
} 

#block-block-5 a {
color: white;
text-decoration: underline;   
}

/*Message form*/
#footer #block-webformblock-2 {
float: right;
width: 260px;
font-size: 10pt;
font-weight: normal;
color: #FFFFFF;
margin-top: 20px;
}

#block-webformblock-2 #edit-submitted-name-wrapper {
margin: 0;
}

#block-webformblock-2  label {
font-weight: normal;
}

#block-webformblock-2 .meta {
display: none;
}

#block-webformblock-2 .form-required {
color: #6F7E9A;
}

#block-webformblock-2 input[type="text"], #block-webformblock-2 input[type="email"] , #block-webformblock-2  textarea {
border: 0 none;
background-color: #6F7E9A;
font-size: 10pt;
padding: 2px;
}

#block-webformblock-2 input[type="submit"] {
float: right;
margin: 0;   
}

#block-webformblock-2 label {
width: 90px;
}

#block-webformblock-2  textarea {
height: 35px;   
}

#block-webformblock-2 .webform-component {
display: block;
clear: both;   
}

#block-webformblock-2  #edit-submitted-name, #block-webformblock-2  #edit-submitted-email {
width: 170px !important;
}

#block-webformblock-2 .resizable-textarea {
width: 100%;
}

#block-webformblock-2 .resizable-textarea, #block-webformblock-2 textarea {
width: 260px !important;
}

/*Archive block*/
#block-views-archive-block {
float: left;
width: 174px;
color: #6F7E9A;
margin: 0;
color: #30476F;
border-right: 1px solid #000000;
}

#block-views-archive-block .title {
font-family: 'Enriqueta', serif;
text-shadow:1px 1px 1px black;
font-size: 1.6em;
display: inline-block;
margin: 0;
letter-spacing: 1px;
font-weight: normal;
color: #6F7E9A;
}

#block-views-archive-block  a {
color: #6F7E9A;
text-decoration: none;
}

#block-views-archive-block ul {
margin: 10px 0 0 0;   
padding: 0;
}

#block-views-archive-block li {
padding: 0 0 3px 0;
}

#block-views-archive-block li {
list-style-type: none;   
}

#block-views-archive-block .view-footer {
margin-top: -20px;   
}

#block-views-archive-block .view-footer p {
margin: 0;   
}

#block-taxonomy_block-0 {
float: left;
width: 209px;
color: #6F7E9A;
margin: 0;
padding-left: 36px;
color: #30476F;
border-left: 1px solid #33476b;
border-right: 1px solid #000000;
}

#block-taxonomy_block-0 .title {
font-family: 'Enriqueta', serif;
text-shadow:1px 1px 1px black;
font-size: 1.6em;
display: inline-block;
margin: 0 0 0 -2px;
letter-spacing: 1px;
font-weight: normal;
color: #6F7E9A;
}

#block-taxonomy_block-0 a {
color: #6F7E9A;
text-decoration: none;
}

#block-taxonomy_block-0 ul {
margin: 10px 0 0 0;
padding: 0;
}

#block-taxonomy_block-0 li {
padding: 0 0 3px 0;
}

/*Home twitter widget*/
#home-welcome {
height: 60px;
width: 473px;
/*background-image: url(images/welcome.png);
background-repeat: no-repeat;*/
margin: 17px auto;
}

#home-twitter-container {
height: 139px;
width: 960px;
background-image: url(images/home-twitter-bg.png);
background-repeat: no-repeat;
margin: 25px auto;
}

#home-twitter-feed {
color: #FFFFFF;
width: 690px;
float: left;
}

#home-twitter-feed a{
color: #FFFFFF;
}

#home-twitter-feed ul {
padding: 0;
display: inline-block;
margin: 0;
}

#home-twitter-feed ul li {
list-style-type: none;
padding: 0;
margin: 15px 0 0 20px;
height: 115px;
clear: both;
float: left;
text-shadow: 1px 1px 1px #000000;
}

.twitter-status {
font-size: 1.5em;
line-height: 1.3em;
}

.twitter-status-time {
color: #6F7E9A;
margin-top: 5px;
}

#home-twitter-container .jcarousel-clip {
height: 100px;
display: inline-block;
margin-top: 10px;
}

#home-twitter-container .jcarousel-next {
height: 11px;
width: 23px;
background-image: url(images/next.png);
background-repeat: no-repeat;
background-position: 0 0;
float: left;
margin: 0 auto;
}

#home-twitter-container .jcarousel-next:hover {
cursor: pointer;
background-position: 0 -12px;
}

#home-twitter-container .jcarousel-prev {
height: 11px;
width: 23px;
background-image: url(images/prev.png);
background-repeat: no-repeat;
background-position: 0 0;
float: left;
margin-left: 335px;
}

#home-twitter-container .jcarousel-prev:hover {
cursor: pointer;
background-position: 0 -12px;
}

#twitter-info {
float: right;
width: 235px;
margin-top: 15px;
}

#twitter-name {
font-size: 1.8em;
text-shadow: 1px 1px 1px #000000;
margin-bottom: 8px;
color: #FFFFFF;
}

#twitter-name a{
color: #FFFFFF;
text-decoration: none;
}

#twitter-stats {
margin-left: 8px;
color: #6F7E9A;
font-size: 1em;
}

#twitter-follow-button {
margin-top: 23px;
}

/*Home blog widget*/
.view-blog-widget {
display: inline-block;
width: 445px;
height: 252px;
padding: 0 0 0 30px;
margin-top: 15px;
font-size: 1.1em;
float: left;
background-image: url("images/widget-bg.png");
background-repeat: no-repeat;
}

.view-blog-widget h1 {
color: #041B3F;
font-size: 1.4em;
font-weight: normal;
margin: 11px 0;
}

.view-blog-widget .views-field-created {
display: inline-block;
margin-right: 15px;
}

.view-blog-widget .views-field-title {
display: inline-block;
}

/*Home web widget*/
.view-web-widget {
display: inline-block;
width: 428px;
height: 252px;
padding: 0 0 0 30px;
margin-top: 15px;
font-size: 1.1em;
float: right;
background-image: url("images/widget-bg.png");
background-repeat: no-repeat;
}

.view-web-widget p {
margin: 0;
}

.view-web-widget h1 {
color: #041B3F;
font-size: 1.4em;
font-weight: normal;
margin: 11px 0;
}

.view-web-widget .views-field-title {
display: inline-block;
font-size: 1.1em;
}

.view-web-widget .views-field-body {
width: 415px;
}

/*Full blog*/
.view-Blog .views-field-created {
display: inline-block;
width: 32px;
text-align: center;
padding: 3px 5px;
font-weight: bold;
font-size: 1.1em;
float: left;
margin-right: 10px;
background-color: #D1D6DF;
border: 1px solid #6F7E9A;
color: #6F7E9A;
line-height: 1.1em;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-Blog  .views-field-title {
font-size: 2em;
padding-top: 3px;
height: 23px;
}

.view-Blog  .views-field-title a{
text-decoration: none;
}

.view-Blog .views-field-tid {
padding-left: 2px;
margin-top: 2px;
display: inline-block;
}

.view-Blog .views-field-body {
clear: both;
margin-top: 5px;
display: inline-block
}

.view-Blog .views-field-body  p{
margin: 0 0 8px 0;
line-height: 1.9em;
text-indent: 57px;
}

.view-Blog .views-row {
margin-bottom: 30px;
border-bottom: 1px solid #CFCFCF;
padding-bottom: 5px;
}

.view-Blog .views-field-comment-count, .view-Blog .views-field-edit-node, .view-Blog .views-field-delete-node {
display: inline-block;
}

.view-Blog .views-field-edit-node, .view-Blog .views-field-delete-node {
float: right;
margin-right: 10px;   
}

.view-Blog div.stbutton.horizontal {
height: auto !important;   
}

div.stbutton.horizontal div.stoverlay {
top: -18px !important;   
}


/*Blog*/
.blog-teaser-created, .blog-created  {
font-family: 'Enriqueta', serif;
display: inline-block;
width: 32px;
text-align: center;
padding: 4px 7px 7px;
font-weight: bold;
font-size: 1.1em;
float: left;
margin-right: 10px;
border: 1px solid #B5BECF;
background-color: #E0E5EF;
color: #6F7E9A;
line-height: 1;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.blog-teaser-title, .blog-title  {
font-family: 'Enriqueta', serif;
font-size: 2em;
padding-top: 3px;
height: 23px;
}

.blog-teaser-title a, .blog-title a{
text-decoration: none;
}

.blog-image, .blog-teaser-image {
background-color: #B5BECF;
clear: left;
float: left;
margin-right: 20px;
margin-top: 15px;
padding: 7px;
}

.blog-teaser-body, .blog-body {
margin-top: 5px;
font-size: 1.2em;
}

.blog-teaser-body {
height: 141px;
}

.blog-teaser-body p, .blog-body p {
line-height: 1.9em;
margin: 0 0 8px;
}

.blog-teaser-sharethis, .views-field-sharethislink {
margin-bottom: 5px;
}

.blog-teaser-topics, .blog-topics  {
display: inline-block;
padding-left: 2px;
margin-top: 3px;
}

.blog-teaser-comments, .blog-comments  {
display: inline-block;
}

.blog-teaser-edit, .blog-edit {
display: inline-block   
}

.blog-teaser-delete, .blog-delete {
display: inline-block   
}

.blog-teaser-comments img, .blog-comments img {
float: left;
margin-top: 2px;
margin-right: 3px;
}

.blog-teaser-readmore {
text-align: right;
}

.blog-teaser-readmore a {
padding: 2px 10px;
background-color: #CFCFCF;
font-family: 'Enriqueta', serif;
}

.view-archive .views-row, .view-taxonomy-term .views-row  {
margin-bottom: 30px;
border-bottom: 1px solid #CFCFCF;
padding-bottom: 15px;
}

#blog-sharelinks {
border: 1px solid #B5BECF;
background-color: #E0E5EF;
padding: 6px 10px 0;
height: 26px;
margin-top: 10px;
}

.blog-shareitem {
display: inline-block;
float: left;
border-right: 1px solid #B5BECF;
height: 20px;
}

.blog-shareitem.last {
border: 0 none;
}

#blog-email {
padding: 0 15px 0 15px;
}

#blog-tweetmeme {
padding: 0 15px;
width: 75px;
}

#blog-digg {
padding: 0 15px 0 15px; 
}

#blog-buzz {
padding: 0 15px 0 15px;   
width: 60px;
}

#tweetmeme_button .count {
float: right !important;
margin-right: 23px !important;
}

#blog-fblike {
min-width: 88px;
margin-top: 1px;
}

#blog-fblike .fb_iframe_widget span {
width: 61px !important;   
}

.stbuttontext {
float: right;
line-height: 13px !important;
}

a.stbutton {
display: inline-block;
}

/*Comments*/
.box {
background-color: #B5BECF;
border: 1px solid #041B3F;
margin: 20px 0 0 0;
padding: 20px;
}

.comment {
border: 1px solid #041B3F;
padding: 10px;
margin: 0 0 10px 0; 
}

.comment .submitted {
font-size: 0.9em;
font-style: italic;  
float: left; 
border-top: 1px solid #CFCFCF;
}

.comment p {
margin: 0 0 10px 0;   
line-height: 1.9em;
}

.comment div.links {
margin: 0;   
float: right;
}

.comment div.links .first {
margin: 0;   
}

.comment div.links li {
padding: 2px 3px;
text-transform: capitalize;
font-weight: bold;
}

.box input, .box textarea {
border: 0 none;
padding: 2px;
font-size: 10pt;
background-color: #FFFFFF;
}

.box label, .box h2 {
font-weight: normal;   
}

.box .form-required {
color:#6F7E9A;   
}

.blog-comment-section {
border-top: 3px solid #041B3F;   
margin-top: 15px;
margin-bottom: 5px;
padding-top: 5px;
}

.blog-comment-section .title {
font-family: 'Enriqueta', serif;
font-size: 1.5em;
}

.blog-comment-section .count {
font-size: 1.5em;
}

.defaultSkin table.mceLayout, .defaultSkin table.mceLayout tr.mceFirst td, .defaultSkin table.mceLayout tr.mceLast td {
border: 0 none !important;
}

/* Portfolio */
#block-views-Web-block_1 {
margin: 0;
}

.view-Web {
background-image: url(images/portfolio-bg.png);
background-repeat: no-repeat;
margin-left: 3px;
}

.view-Web .view-header {
display: inline-block;
margin: 11px 0 0 12px;
}

.view-Web h1 {
margin: 0;
font-size: 1.6em;
color: #041B3F;
font-weight: normal;
float: left;
}

#block-views-Web-block_1 {
position: relative;
}

.view-Web .jcarousel-clip {
height: 349px !important;
margin-left: 25px;
width: 925px;
}

.view-Web ul li  {
display: block;
height: 349px;
margin-left: 5px;
margin-top: 10px;
width: 917px;
}

.view-Web #web-next {
height: 23px;
width: 11px;
background-image: url(images/next2.png);
background-repeat: no-repeat;
background-position: 0 0;
float: left;
margin-top: 5px;
}

.view-Web #web-next:hover {
cursor: pointer;
background-position: 0 -23px;
}

.view-Web #web-prev {
height: 23px;
width: 11px;
background-image: url(images/prev2.png);
background-repeat: no-repeat;
background-position: 0 0;
float: left;
margin: 5px 7px 0 13px;
}

.view-Web #web-prev:hover {
cursor: pointer;
background-position: 0 -23px;
}

.view-Web .views-field-field-web-image-fid {
float: left;
margin-right: 15px;
}

.view-Web .views-field-title {
font-size: 1.8em;
margin-bottom: 3px;
}

.view-Web .views-field-field-web-part-played-value span {
font-weight: bold;
margin-top: 10px;
display: inline-block;
}

.view-Web .views-field-field-web-part-played-value p {
margin-top: 0;
}

.view-Web .views-field-field-web-url-url, .view-Web .views-field-field-web-twitter-value, .views-field-field-web-status-value {
display: inline-block;
}

#insert-text {
border: 1px dashed #041B3F;
padding: 30px;
text-align: center;
width: 75%;
margin: 0 auto 25px auto;
font-weight: bold;
}

.page-404 .content p {
text-align: center;
}