body {
font-size: 12pt;
background: url(/sites/theequestrianfox.com/themes/theequestrianfox/images/bg-tile.png) repeat 0 0;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
font-family: 'Open Sans', sans-serif; 
}

a:link, a:visited, a:active {
color: #7A6452;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

h1 {
color: #4F1C1A;
font-family: 'Droid Serif', serif;
}

h2 {
font-family: 'Droid Serif', serif;
font-size: 16pt;
font-weight: normal;
}

h1.title, h2.title, h3.title {
clear: both;
}

#logo {
float: none;
}

.slogan {
clear: both;
color: #AFAFAF;
display: block;
font-family: 'Droid Serif',serif;
font-size: 1.5em;
margin-top: 10px;
}

.slogan-curl-left {
display: inline-block;
width: 31px;
height: 17px;
background: url(/sites/theequestrianfox.com/themes/theequestrianfox/images/slogan-curl.png) no-repeat 0 0;
}

.slogan-curl-right {
display: inline-block;
width: 31px;
height: 17px;
background: url(/sites/theequestrianfox.com/themes/theequestrianfox/images/slogan-curl2.png) no-repeat 0 0;
}

.page-404 .title {
display: none;
}

table.sticky-table, table#content-field-overview {
width: 100%
}

div.messages, div.status, div.warning, div.error {
margin: 0 20px 20px 0;
border-radius: 10px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

/* Template */
#page-wrapper {
width: 980px;
margin-top: 25px;
}

.sidebar-first #content {
width: 745px;
margin-top: 20px;
}

.two-sidebars #content {
margin-left: 195px;
width: 555px;
}

.region-sidebar-first {
width: 195px;
margin-right: -195px;
}

#header {
text-align: center;
margin-bottom: 10px;
}

#logo-container {
text-align: center;
display: inline-block;
}

#main-wrapper {
border: 3px solid #4F1C1A;
padding: 0 10px;
background-color: #FFFFFF;
box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

#utility-bar {
background: #4F1C1A url(/sites/theequestrianfox.com/themes/theequestrianfox/top-barbg.png) no-repeat 0 0;
height: 37px;
width: 964px;
}

#utility-links {
float: right;
}

#utility-links-list {
margin: 0;
padding: 0;
}

#utility-links li {
border-left: 1px solid #4F1C1A;
border-right: 1px solid #6F3330;
list-style-type: none;
float: right;
padding: 8px 10px 7px;
}

#utility-links li.first {
border-left: 0 none;
}

#utility-links li.last {
border-right: 0 none;
}

#utility-links-list li a {
color: #FFFFFF;
}

#utility-search-box {
float: left;
margin-left: 208px;
margin-top: 7px;
}

#utility-search-box .form-submit {
margin-left: -5px;
padding: 1px 5px;
border-radius: 0 5px 5px 0;
border-radius: 0 5px 5px 0;
-moz-border-radius: 0 5px 5px 0;
-webkit-border-radius: 0 5px 5px 0;
}

#utility-search-box .form-submit:hover {
border-color: transparent;
}

#utility-search-box  span{
float: left;
color: #FFFFFF;
margin-right: 5px;
font-weight: bold;
}

#search-theme-form {
float: right;
}

#edit-search-theme-form-1 {
width: 180px;
border: 0 none;
padding: 3px 5px;
border-radius: 5px 0 0 5px;
-moz-border-radius: 5px 0 0 5px;
-webkit-border-radius: 5px 0 0 5px;
}

.edit-submit {
margin-left: -5px;
background-color: #FFFFFF;
color: #A3A3A3;
cursor: pointer;
border-radius: 0 10px 10px 0;
-moz-border-radius: 0 10px 10px 0;
-webkit-border-radius: 0 10px 10px 0;
}

#edit-submit:hover {
color: #4F1C1A;
}

#links-box {
float: right;
margin-right: 10px;
margin-top: 8px;
}

#links-box a {
color: #FFFFFF;
}

.breadcrumb {
color: #AFAFAF;
float: left;
font-size: 0.9em;
margin-bottom: 5px;
padding: 3px 0 0;
}

.breadcrumb a {
color: #AFAFAF;
}

/* Sidebar */
.block {
margin-bottom: 0;
}

.block-user   .content {
padding-bottom: 10px;
padding-right: 10px;
}

.sidebar h2 {
padding-left: 9px;
padding-top: 5px;
font-weight: normal;
color: #4F1C1A;
height: 33px;
background: url(/sites/theequestrianfox.com/themes/theequestrianfox/catalog-block-bg.png) repeat-x 0 -15px;
text-shadow: 1px 1px #FFFFFF;
}

#block-uc_catalog-0 {
border: 3px solid #4F1C1A;
background-color: #FFFFFF;
margin-left: -13px;
margin-top: -40px;
z-index: 99999;
box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.4);
border-radius: 10px 0 10px 0;
-moz-border-radius: 10px 0 10px 0;
-webkit-border-radius: 10px 0 10px 0;
}

#block-uc_catalog-0  h2 {
border-radius: 8px 0 0 0;
-moz-border-radius: 8px 0 0 0;
-webkit-border-radius: 8px 0 0 0;
}

ul.catalog {
margin: 0;
padding: 0;
}

ul.catalog li {
list-style-type: none;
border-bottom: 1px solid #4F1C1A;
}

ul.catalog li:last-child {
border-bottom: 0 none;
}

ul.catalog li.leaf {
list-style-image: none;
}

ul.catalog li a{
padding: 7px 10px;
display: inline-block;
}

li a.active {
color: #7A6452;
}

.block-user {
border: 1px solid #AFAFAF;
border-left: 0 none;
background-color: #FFFFFF;
margin-left: -10px;
z-index: 99999;
padding: 0;
width: 175px;
border-radius: 0 0 10px 0;
-moz-border-radius: 0 0 10px 0;
-webkit-border-radius: 0 0 10px 0;
}

.block-user h2{
padding-left: 10px;
}

.block-user ul {
padding-left: 15px;
margin: 0 0 0 10px;
line-height: 1.5;
}

#shopping-cart-toggle {
float: right;
background:url(/sites/theequestrianfox.com/themes/theequestrianfox/catalog-block-bg.png) repeat-x scroll 0 -15px transparent;
color: #4F1C1A;
border: 1px solid #CDC5BE;
border-right: 0 none;
padding: 2px 7px 4px;
width: 189px;
text-align: center;
margin-top: -3px;
margin-right: 1px;
border-radius: 0 0 0 10px;
-moz-border-radius: 0 0 0 10px;
-webkit-border-radius: 0 0 0 10px;
}

#shopping-cart-toggle:hover {
cursor: pointer;
text-decoration: underline;
}

#block-block-1 {
float: right;
z-index: 99999;
}

#block-uc_cart-0 {
float: right;
border: 3px solid #4F1C1A;
background-color: #FFFFFF;
margin-right: -3px;
margin-top: -3px;
z-index: 99999;
padding: 0;
width: 200px;
box-shadow: 0 5px 3px -3px rgba(0, 0, 0, 0.4);
border-radius: 0 0 0 10px;
-moz-border-radius: 0 0 0 10px;
-webkit-border-radius: 0 0 0 10px;
}

#block-uc_cart-0  .content {
padding: 0 10px;
font-size: 0.9em;
text-align: left;
}

#block-uc_cart-0 p {
margin: 0;
}

#block-uc_cart-0 h2{
padding-left: 7px;
border-radius: 0;
-moz-border-radius: 0 0 0 0;
-webkit-border-radius: 0 0 0 
}

.region-sidebar-second {
margin-left: 769px;
width: 195px;
}

#block-block-2 {
clear: right;
border: 1px solid #AFAFAF;
z-index: 99999;
padding: 0 10px;
background: url(/sites/theequestrianfox.com/themes/theequestrianfox/catalog-block-bg.png) repeat-x 0 -15px;
}

#help-logo {
background-image: url(/sites/theequestrianfox.com/themes/theequestrianfox/images/help-icon.png);
display: inline-block;
height: 26px;
margin-right: 8px;
width: 25px;
}

#block-views-sidebar_product-block_1 {
clear: right;
border: 1px solid #AFAFAF;
z-index: 99999;
padding: 10px;;
margin-top: -1px;
background: url(/sites/theequestrianfox.com/themes/theequestrianfox/catalog-block-bg.png) repeat-x 0 -15px;
border-radius: 0 0 0 10px;
-moz-border-radius: 0 0 0 10px;
-webkit-border-radius: 0 0 0 10px;
}

#block-views-sidebar_product-block_1 .view-header p {
margin: 0 0 5px 0;
padding: 0;
font-family: 'Droid Serif',serif;
font-size: 1.1em;
}

#block-views-sidebar_product-block_1 .views-row {
border-bottom: 1px dashed #AFAFAF;
clear: both;
display: inline-block;
margin: 5px 0;
padding-bottom: 5px;
}

#block-views-sidebar_product-block_1 .views-row:last-child {
border-bottom: 0 none;
margin-bottom: 0;
}

#block-views-sidebar_product-block_1 .views-field-field-image-cache-fid {
float: left;
width: 45px;
text-align: center;
}

#block-views-sidebar_product-block_1 .views-field-title {
display: inline-block;
text-align: left;
width: 128px;
}

#block-views-sidebar_product-block_1 .views-field-sell-price {
font-size: 0.8em;
}

#social-links  {
margin: 0 0 8px 8px;
display: inline-block;
}

#social-links a {
text-decoration: none;
font-size: 8pt;
margin-bottom: 2px;
}

#social-links a:hover {
color: #4F1C1A
}

#social-links span {
vertical-align: top;
}

/*Footer*/
.region-page-closure {
font-size: 0.8em;
text-align: center;
color: #4F1C1A;
}

/* Cart block */
.cart-block-summary {
margin: 0;
width: 100%;
border-top:1px solid #AFAFAF;
}

.cart-block-summary-links ul.links li {
padding: 0 10px;
}

.region-sidebar-second .section {
margin:0;
}

.cart-block-items {
margin-top: 0;
}

/* Product Grid */
.category-grid-products table {
border: 0 none;
margin-top: 10px;
}

.category-grid-products td {
border: 1px solid transparent;
background-color: #FFFFFF;
float: left;
margin: 0 5px 10px 5px;
text-align: center;
width: 128px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.category-grid-products td:hover {
border: 1px solid #AFAFAF;
cursor: pointer;
}

.category-grid-products .catalog-grid-image {
height: 100px;
}

.category-grid-products .catalog-grid-title {
font-size: 1.2em;
}

/*Tabs*/
ul.primary {
padding: 0;
background-image: none;
}

ul.primary li {
margin: 0 10px 0 0;
}

ul.primary li a {
height: auto;
padding: 2px 8px;
color: #FFFFFF;
background-color: #AFAFAF;
background-image: none;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.primary li a .tab {
height: auto;
background-image: none;
padding: 0;
}

ul.primary li a:hover {
background-color: #3F3F3F;
background-image: none;
}

ul.primary li a:hover .tab {
background-image: none;
}

ul.primary li.active a,
ul.primary li.active a:hover {
color: #FFFFFF;
background-color: #4F1C1A;
background-image: none;
cursor: default;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
background-image: none;
}

ul.secondary {
padding: 0;
margin-top: 5px;
border-bottom: 0 none;
background-image: none;
}

ul.secondary li {
margin: 0 5px 0 0;
padding: 0;
}

ul.secondary a {
height: auto;
padding: 2px 8px;
color: #FFFFFF;
background-color: #AFAFAF;
background-image: none;
border: 0 none;
font-size: 0.9em;
font-weight: bold;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.secondary a .tab {
height: auto;
padding: 0;
}

ul.secondary a:hover {
background-image: none;
background-color: #E3D07B;
}

ul.secondary a.active,
ul.secondary a.active:hover {
border: 0 none;
color: #FFFFFF;
background-color: #4F1C1A;
background-image: none;
cursor: default;
}

/*Cart*/
#cart-form-products {
border: 1px solid #BBBBBB;
margin-top: 0.5em;
padding: 0 10px;
width: auto;
}

#cart-form-buttons {
width: auto;
}

#uc-cart-pane-quotes .solid-border {
padding: 10px;
}

/*User*/
.list_address {
width: 30em;
}

.address-preview-table {
width: 100%;
}

.title-col{
display: none;
}

.pane-title-row td {
background-color: white;
border: 0px solid #999999;
padding-left: 0;
font-size: 0.8em;
font-weight: normal;
}

/*Front*/
.front table.views-view-grid {
margin: 0;   
}

.view-id-Front {
margin-bottom: 10px;   
}

.view-id-Front td {
background-color: #FFFFFF;
border: 1px solid transparent;
float: left;
margin: 0 5px 3px;
text-align: center;
width: 137px;
padding: 15px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}

.view-id-Front td:hover {
border: 1px solid #AFAFAF;
cursor: pointer;
box-shadow: 2px 2px 2px #AFAFAF;
}

.view-id-Front .views-field-field-image-cache-fid {
height: 105px;
padding-top: 5px;
}

.view-id-Front .view-header p {
margin: 0;
}

#block-views-front_gift-block_1, 
#block-views-front_baskets-block_1, 
#block-views-front_kids-block_1,
#block-views-front_seasonal-block_1 {
float: left;
border-top: 1px solid #AFAFAF;
padding: 10px 26px;
text-align: center;
width: 133px;
}

#block-views-front_gift-block_1, 
#block-views-front_baskets-block_1,
#block-views-front_seasonal-block_1 {
border-right: 1px solid #AFAFAF;   
}

.front .views-field-field-image-cache-fid {
height: 100px;
}

.front .view-footer a {
border: 1px solid transparent;
background-color: #7A6452;
color: white;
cursor: pointer;
font-size: 0.9em;
padding: 1px 6px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-borer-radius: 5px;
}

.front .view-footer a:hover {
background-color: white;
color: #7A6452;
border-color: #7A6452;
text-decoration: none;
}

/*Help Page*/
#help-questions ol {
list-style-type: none;
margin: 0;
padding: 0;
}

#help-questions ol.question-list {
list-style-type: decimal;
padding-left: 20px;
}

#help-questions strong {
font-size: 1.1em;
margin-top: 10px;
display: inline-block;
}

#help-questions strong.first {
margin-top: 0;
}

.help-responses {
margin-top: 30px;
}

ol.help-response {
list-style-type: none;
margin: 0 0 20px 0;
padding: 0;
line-height: 1.5em;
}

h3.help-response-title {
font-size: 1.3em;
clear: both;
display: block;
margin: 0;
padding: 0 0 10px 0;
}

.help-response abbr {
float: left;
border: 0 none;
cursor: text;
}

.help-response dt {
clear: both;
font-weight: bold;
}

.help-response dd {
margin: 0;
}

.help-response p {
margin: 0 0 5px 25px;
}

.help-response a.top {
margin: 0 0 0 25px;
font-size: 0.8em;
}

.help-response li {
padding: 10px 0;
border-top: 1px dotted #AFAFAF;
}

/* Product */
.product-left-col {
float: left;
width: 150px;
}

.product-other-images-text {
font-size: 0.8em;
text-align: center;
}

.mainimage {
text-align: center;
}

.product-right-col {
float: right;
width: 385px;
}

.product-right-col .product-body p {
margin: 0 0 15px;
padding: 0;
}

.product-right-col .product-body p:last-child {
margin: 0;
}

.product-right-col .price {
background-color: #EFEFEF;
float: left;
font-size: 1.2em;
line-height: 1.5;
padding: 0 9px;
}

.product-right-col #cartButtons {
display: inline-block;
}

.product-right-col  .product-body {
line-height: 1.5;
margin-bottom: 5px;
}

.product-right-col  .orderOptions {
border-top: 1px solid #AFAFAF;
text-align: right;
padding-top: 10px;
}

#block-views-sidebar_product-block_2 {
display: block;
clear: both;
margin-top: 50px;
border-top: 1px dotted #AFAFAF;
}

#block-views-sidebar_product-block_2  p { 
margin: 0;
}

#block-views-sidebar_product-block_2 .view-header {
font-family: 'Droid Serif',serif;
font-size: 1.3em;
margin: 10px 0 0;
}

#block-views-sidebar_product-block_2  .views-row {
display: inline-block;
margin: 0 10px;
text-align: center;
width: 160px;
}
