﻿body {
	font: 11pt arial, sans-serif;
	color: #3F3F3F;
}

#container {
	width: 423px;
	margin: 0 auto;
}

#logo-container {
	margin: 120px auto 0;
	width: 423px;
}

#twitterLogo {
	display: inline-block;
	height: 16px;
	width: 16px;
	background: transparent url("/sites/theequestrianfox.com/themes/theequestrianfox/twittericon.png") no-repeat 0 0;
}

#fbLogo {
	display: inline-block;
	height: 16px;
	width: 16px;
	background: transparent url("/sites/theequestrianfox.com/themes/theequestrianfox/facebookicon.png") no-repeat 0 0;
}

#emailIcon {
	display: inline-block;
	height: 16px;
	width: 16px;
	background: transparent url("/sites/theequestrianfox.com/themes/theequestrianfox/emailicon.png") no-repeat 0 0;
}

.social-icon {
	float: left;
}

#social-email {
	float: right;
}

.social-icon:hover {
	background-position: 0 -17px !important;
	cursor: pointer;
}

#social-twitter {
	display: inline-block;
	margin-left: 3px;
}

#social-fb {
	margin-left: 5px;
	display: inline-block;
}

#social-container {
	margin-top: 5px;
}

#email-form {
	margin-top: 10px;
}
