* {margin:0;padding:0;}

html {
overflow-x: hidden;
}

body {
font-family: 'PT Sans', Helvetica, Arial, sans-serif;
font-size: 11pt;
line-height: 1;
padding: 0;
margin: 0;
color: #3F3F3F;
background-color: #00703C;
}

html, body {height: 100%;}

.grippie {
display: none;
}

a:link, a:visited, a:active {
color: #7A6452;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

h1 {
font-family: 'Arvo', Georgia, Times, serif;   
}

h2 {
font-family: Georgia;
font-size: 15pt;
font-weight: normal;
}

h1.title, h2.title, h3.title {
clear: both;
}

body#tinymce {
background: #FFFFFF none;
padding: 0 10px;
line-height: 1.5em;
}

table.sticky-table, table#content-field-overview {
width: 100%
}

#page {
    overflow:auto;
	padding-bottom: 35px;
}

#page-wrapper {
min-height: 100%;
}

#page-wrapper, .region-page-closure {
width: 100%;
}

#content, .no-sidebars #content,
#main-wrapper  {
width: 790px;
margin: 0 auto;
}

#main-wrapper {
background: none repeat scroll 0 0 white;
margin: 0 auto;
padding: 0 30px 25px;
border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}

#header {
background: #FFFFFF url(/sites/babingtonmills.com/themes/babingtonmills/images/header-bg.png) no-repeat scroll center 0;
height: 88px;
display: block;
width: 100%;
margin: 0 auto;
position: relative;
z-index: 99;
}

#header .section {
    margin: 0 auto;
    width: 860px;
}

.region-navigation {
background-color: #F5C02F;
border-bottom: 1px solid #AD861C;
border-top: 1px solid #AD861C;
box-shadow: 0 1px 1px #FFFFFF inset;
display: block;
font-size: 1.1em;
font-weight: bold;
letter-spacing: 0.5px;
text-align: center;
text-shadow: 0 1px 0 #FFFFFF;
height: 30px;
padding: 1px 0;
}

.region-navigation ul.nice-menu-down {  
position: relative;
z-index: 999;
}

.region-navigation ul.nice-menu-down li {
font-family: 'Arvo', Georgia, Times, serif;
width: auto;
text-align: left;
padding-left: 15px;
padding-right: 50px;
white-space: norwap;
background-color: transparent;
}

.region-navigation ul.nice-menu-down li:hover {
background-color: transparent;
}

.region-navigation ul.nice-menu-down li a {
color: #7F6115;
padding: 5px 0;
margin: 1px 0;
font-size: 1.1em;
}

.region-navigation ul.nice-menu-down li a:hover {
color: #0098D4;
text-decoration: none;
}

.region-navigation ul.nice-menu-down li.menuparent {
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/arrow-down.png") no-repeat scroll 100px -14px transparent;
}

.region-navigation ul.nice-menu-down li.menuparent:hover {
background-color: transparent;
background-position: 100px -43px;
background-position: 100px -43px;
text-decoration: none; 
}

.region-navigation ul.nice-menu-down li.menuparent.active-trail {
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/arrow-down.png") no-repeat scroll 100px 12px transparent;
}

.region-navigation ul.nice-menu-down li.menuparent.active-trail:hover {
background-color: transparent;
background-position: 100px 12px;
text-decoration: none; 
}

.region-navigation ul.nice-menu-down li.active-trail a,
.region-navigation ul.nice-menu-down li.active-trail a:hover {
background-position: 95px center;
color: #5f5f5f;
cursor: default;
}

.region-navigation ul.nice-menu ul {
margin-top: 6px;
background-color: #F5C02F;
border-top: 1px solid #F5C02F;
border-bottom: 1px solid #AD861C; 
border-left: 1px solid #AD861C;
border-right: 1px solid #AD861C;
}

.region-navigation ul.nice-menu-down ul li {
padding-right: 15px;
}

.region-navigation ul.nice-menu-down ul li a,
.region-navigation ul.nice-menu-down ul li.active-trail a {
background-color: #F5C02F !important;
color: #7F6115 !important;
}

.region-navigation ul.nice-menu-down ul li a:hover,
.region-navigation ul.nice-menu-down ul li.active-trail a:hover {
background-color: #F5C02F !important;
color: #0098D4 !important;
cursor: pointer !important;
}

#adminUI-wrapper {
display: block;
background-color: #F79285;
border-top: 1px solid #C94C3E;
border-bottom: 1px solid #C94C3E;
box-shadow: 0px 1px 1px #FFFFFF inset;
margin-left: -10px;
margin-right: -10px;
padding: 5px 0 2px;
}

#adminUI-wrapper .block,
.region-navigation #block-nice_menus-2 {
width: 490px;
float: left;
}

#block-block-6 a {
display: inline-block;
float: left;
font-size: 0.9em;
font-weight: normal;
line-height: 1;
position: relative;
text-shadow: 0 0;
width: 110px;
z-index: 999;
color: white;
margin-left: 56px;
margin-top: 0;
height: 25px;
padding: 2px 5px 3px;
background-color: #7A6452;
text-shadow: 0 1px 0 black;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-block-6 a:hover {
background-color: #00703C;
text-decoration: none;
}

#block-block-6 p {
margin: 0;
padding: 0;
}

#adminUI-wrapper p {
margin: 0;
padding: 0;
}

#adminUI-wrapper a {
background-color: #F79285;
font-size: 0.9em;
color: #3F3F3F;
border: 0 none;
}
#adminUI-wrapper a:hover {
text-decoration: none;
color: #FFFFFF
}

ul.nice-menu-down {
float: none;
margin: 0;
padding: 0;
}

ul.nice-menu li,
ul.nice-menu ul {
border: 0 none;
}

ul.nice-menu ul {
padding-top: 1px;
border-top: #F79285;
margin-top: -1px;
}

#site-logo {
margin-top: 5px;
float: left;
}

.region-header {
float: right;
clear: none;
}

.region-header #block-block-5 {
margin: 40px 30px 0 0;
text-align: right;
text-shadow: 1px 1px 1px #FFFFFF;
}

.region-header #block-block-5 .hbl1 {
font-size: 1.3em;
}

.region-header #block-block-5 .hbl2 {
line-height: 1;
font-size: 1.8em;
font-weight: bold;
color: #0098D4;
}

.region-header #block-block-5 .hbl2 span {
font-size: 0.6em;
font-weight: normal;
color: #3F3F3F;
}

#block-menu-primary-links  {
display: inline-block;
margin-top: 0;
}

#block-menu-primary-links li {
list-style-type: none;
display: inline-block;
}

#block-menu-primary-links a {
font-family: 'Arvo', Georgia, Times, serif;
background-color: #FFECBC;
border: 1px solid #AD861C;
box-shadow: 0 1px 1px #FFFFFF inset;
color: #AD861C;
font-size: 1.2em;
margin-left: 10px;
padding: 5px 10px;
text-shadow: 1px 1px 0 #FFFFFF;
box-shadow: 1px 1px 1px #FFFFFF inset;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-menu-primary-links a.active {
background-color: #F5C02F;
border: 1px solid #AD861C;
color: #FFFFFF;
text-shadow: 1px 1px 1px #3f3f3f;
box-shadow: 0 1px 1px #FFFFFF inset;
}

#block-menu-primary-links a:hover{
text-decoration: none;
background-color: #F5C02F;
border: 1px solid #AD861C;
color: #FFFFFF;
text-shadow: 1px 1px 1px #3f3f3f;
box-shadow: 0 1px 1px #FFFFFF inset;
}

#footer {
clear: both;
color: #FFFFFF;
display: block;
font-size: 0.8em;
height: 35px;
line-height: 1.5;
margin-top: -35px;
position: relative;
text-align: center;
}

#footer a {
color: #ffffff;
text-decoration: underline;
}

#footer p {
margin: 0;   
}

#footer .section {
margin: 0 auto;
padding: 20px 0;
width: 850px;
}

#block-block-4 {
margin: 0;
padding: 0;   
}

#main-description {
display: inline-block;
position: relative;
width: 326px;
z-index: 0;
margin-bottom: 35px;
padding: 10px 10px 5px;
background-color: #FFFFFF;
opacity: 0.8;
-moz-opacity: 0.8;
filter:alpha(opacity=80);
border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

.product-body p {
font-size: 1.5em;
line-height: 1.3;
margin: 0;
padding: 0;
}

.node-type-product h1.title {
display: none;
}

.product-display-title {
color: #3F3F3F;
font-size: 3.5em;
margin: 0 0 1px;
font-weight: bold;
height: 55px;
position: relative;
z-index: 2;
font-family: 'Arvo', Georgia, Times, serif;
}

.product-display-title .title {
color: #006F3B;
}

.product-display-title .tm {
color: #9F9F9F;
font-size: 12pt;
text-shadow: 0 0 0 #FFFFFF;
vertical-align: super;
}

.product-display-title div {
display: inline;
}

#edit-qty-wrapper label {
color: #9F9F9F;
font-size: 0.8em;
margin-top: -18px;
}

.weightPriceUI {
display: inline-block;
float: none;
margin-left: -180px;
margin-top: 10px;
}

.product-info {
display: inline-block;
}

.product-info .uc-price-display {
float: none;
clear: none;
font-size: 2em;
padding: 0;
margin: 0;
}

#edit-qty {
font-size: 2.3em;
text-align: center;
width: 70px;
border: 1px solid black inset;
-border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
}

.node-type-product #edit-submit-1 {
font-size: 2.3em;
font-weight: bold;
padding: 15px 40px;
clear: both;
display: block;
color: #FFFFFF;
background-color: #F5C02F;
border: 1px solid #AD861C;
text-shadow: 0px 1px 1px #000000;
cursor: pointer;
box-shadow: 0 1px 1px #FFFFFF inset;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#edit-submit-1:hover {
background-color: #006027;
border: 1px solid #033F1B;
}

#edit-qty-wrapper {
float: left;
}

.cartPriceWeightUI {
width: 215px;
display: none;
}

.add-to-cart  {
float: left;
}

.priceContainer,
#edit-qty-wrapper{
display: inline-block;
}

.weightContainer {
font-size: 1.2em;
margin-bottom: 5px;
}

.product-image {
margin-top: -65px;
display: none;
}

.view-product-extended-description {
width: 790px;
display: block;
margin: 0 auto;
}

.view-product-extended-description  p {
margin: 0;
padding: 0;
}

#content-extend-wrapper {
clear: both;
padding: 0 0 0;
}

.region-content-extend {
background: none repeat scroll 0 0 white;
margin: 0 auto;
width: 850px;
padding-top: 30px;
}

#content-extend-wrapper .block {
margin: 0;
}

.edc {
background-color: #FFFFFF;
border-left: 1px solid #A3BDC4;
display: inline-block;
margin-bottom: 45px;
padding-left: 15px;
}

.edc.e {

}

.edc.o {

}

.edi {
float: left;
position: absolute;
}

.edt {
display: block;
padding-left: 75px;
font-size: 1.3em;
line-height: 1;
font-family: 'Arvo', Georgia, Times, serif;
}

.edc p {
float: left;
font-size: 1.3em;
line-height: 1.4;
margin-left: 78px;
margin-top: 5px;
}

.edc ul {
font-size: 1.1em;
line-height: 1.4;
margin-bottom: 0;
}

#edc-br {
background: -moz-linear-gradient(center top , #A2E1F9, #FFFFFF) repeat scroll 0 0 #FFFFFF;
background: -webkit-gradient(linear, left top, left bottom, from(#A2E1F9), to(#FFFFFF)) repeat scroll 0 0 #FFFFFF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#A2E1F9', endColorstr='#FFFFFF');
height: 55px;
margin-bottom: 15px;
}

#edc-br-top {
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/edc-br.png") repeat-x scroll center 0 transparent;
height: 12px;
margin-top: 15px;
}

.node-type-product #content-area {
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/product-back.png") no-repeat scroll center 0 transparent;
padding: 0 0 0 20px;
text-shadow: -2px -1px 1px #FFFFFF;
}

.node-type-product.section-node-edit #content-area {
background: none no-repeat scroll center 0 transparent;
}

#cart-form-products {
border: 0 none;
}

#cart-form-buttons,
#checkout-form-bottom {
border: 0 none;
}

#cart-form-buttons .form-button, #cart-form-buttons .form-submit,
#checkout-form-bottom .form-button, #checkout-form-bottom .form-submit {
margin: 0;
}

td.qty {
padding-right: 30px;
}

/* tr.even, tr.odd {
background-color: #FFFFFF;
border-bottom: 0 none;
} */

tr.odd td {
padding-top: 5px;
}

td.subtotal {
padding-top: 25px;
font-size: 1.3em;
}

form th, form thead th {
padding-bottom: 3px;
}

#edit-update,
#edit-checkout,
#checkout-form-bottom input {
font-size: 1.3em;
padding: 5px 10px;
color: #FFFFFF;
background-color: #F5C02F;
border: 1px solid #AD861C;
text-shadow: 0px 1px 1px #000000;
cursor: pointer;
box-shadow: 0 1px 1px #FFFFFF inset;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#edit-update:hover,
#edit-checkout:hover,
input#edit-cancel:hover,
input#edit-continue:hover {
background-color: #4BC6F4;
border: 1px solid #2F93B7;
}

#edit-update,
input#edit-cancel {
font-size: 1em;
}

#edit-checkout ,
input#edit-continue {
background-color: #006027;
border: 1px solid #033F1B;
}

#checkout-form-bottom {
margin-top: 20px;
}

.cart-review {
border: 0 none;
margin: 0;
}

/*Help Page*/
#help-questions ol {
list-style-type: none;
margin: 0;
padding: 0;
}

#help-questions ol.question-list {
list-style-type: decimal;
padding-left: 20px;
}

#help-questions strong {
font-size: 1.1em;
margin-top: 10px;
display: inline-block;
}

#help-questions strong.first {
margin-top: 0;
}

.help-responses {
margin-top: 30px;
}

ol.help-response {
list-style-type: none;
margin: 0 0 20px 0;
padding: 0;
line-height: 1.5em;
}

h3.help-response-title {
font-size: 1.3em;
clear: both;
display: block;
margin: 0;
padding: 0 0 10px 0;
}

.help-response abbr {
float: left;
border: 0 none;
cursor: text;
}

.help-response dt {
clear: both;
font-weight: bold;
}

.help-response dd {
margin: 0;
}

.help-response p {
margin: 0 0 5px 25px;
}

.help-response a.top {
margin: 0 0 0 25px;
font-size: 0.8em;
float: right;
}

.help-response li {
padding: 10px 0;
border-top: 1px dotted #CFCFCF;
}

.node .content {
font-size: 1.2em;
line-height: 1.5;
}

.node-type-page .node .content p {
margin: 0 0 30px 0;
}

#social-widgets {
display: block;
height: 70px;
margin: 70px auto 10px;
text-align: center;
width: 500px;
}

.widget-item {
display: inline-block;
text-align: center;
vertical-align: middle;
width: 110px;
height: 70px;
}

.widget-item .fb_iframe_widget span {
display: inline-block;
margin: 0 25px 0 0;
position: relative;
text-align: center;
vertical-align: baseline;
width: 0px !important;
}

.share-edge {
margin-left: -166px;
font-size: 1.3em;
font-weight: bold;
margin-right: 5px;
display: inline-block;
font-style: italic;
}

.page-why-bededge h1.title {
margin-bottom: 15px;
}

.page-why-bededge #content-area {
background-color: #F3EBD6;
border: 1px solid #AD861C;
border-radius: 5px 5px 5px 5px;
box-shadow: 0 0 35px #CCAB59 inset;
padding: 40px 40px 0;
}

.page-contact-us .form-item label {
display: block;
float: left;
font-size: 1.1em;
font-weight: bold;
width: 115px;
margin-top: 1px
font-family: 'Arvo', Georgia, Times, serif; 
}

.page-contact-us .webform-component {
margin-bottom: 25px;
}

.page-contact-us #edit-actions {
text-align: right;
}

.page-contact-us #edit-submitted-message {
width: 655px !important;
}

.page-pure-feed-company h1.title {
display: none;
}

.page-pure-feed-company .content strong {
font-family: 'Arvo', Georgia, Times, serif; 
font-size: 1.1em;
}

#pft {
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/pft-bg.png") repeat-x scroll center 0 transparent;
padding: 15px 25px;
text-shadow: 1px 1px 0 #FFFFFF;
margin-bottom: 30px;
border-radius: 5px 5px 0 0;
}

#pft1 {
margin-bottom: 20px;
font-size: 1.3em;
font-family: 'Arvo', Georgia, Times, serif; 
}

#pft1 span {
display: inline-block;
width: 600px;
margin-top: 5px;
}

#pft1 img {
width: 130px;
height: 65px;
margin-top: 5px;
}

#pfb {

}

#pfb p {
padding-left: 25px;
border-left: 1px solid #A3BDC4;
}

#pfb a {
background-color: #7A6452;
border-radius: 3px;
color: #FFFFFF;
font-size: 0.8em;
padding: 0 5px;
}

#pfb a:hover {
text-decoration: none;
background-color: #5E4939;
}

.front h1.title {
display: none;
}

#bededge-more {
margin-bottom: 25px;
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/more-bg.png") no-repeat scroll center 0 transparent;
}

#bededge-more h1 {
color: #3F3F3F;
font-family: 'Arvo',Georgia,Times,serif;
font-size: 3.5em;
font-weight: bold;
line-height: 1;
margin: 15px 0 0;
white-space: nowrap;
}

#bededge-more h1 span {
color: #006F3B;	
}

#purefeed-more {
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/pft-bg.png") repeat-x scroll -1px -90px transparent;
}

#bededge-more,
#purefeed-more {
height: 120px;
padding: 35px 15px 10px;
border: 1px solid #A3BDC4;
text-shadow: 1px 1px 0 #FFFFFF;
border-radius: 5px;
}

#bededge-more:hover,
#purefeed-more:hover {
cursor: pointer;
border-color: #416872;
}

#purefeed-more:hover .more-arrow {
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/more-arrow.png") repeat-x scroll 0 -68px transparent;
}

#bededge-more:hover .more-arrow {
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/more-arrow.png") repeat-x scroll 0 -68px transparent;
}

#bededge-more h1,
.more-header{
display: inline-block;
width: 240px;
}

.more-content {
margin-left: 30px;
display: inline-block;
width: 370px;
vertical-align: top;
font-size: 1.4em;
}

.more-arrow {
margin-top: 15px;
float: right;
display: inline-block;
width: 62px;
height: 67px;
background: url("/sites/babingtonmills.com/themes/babingtonmills/images/more-arrow.png") repeat-x scroll 0 0 transparent;
}

#welcome-msg {
text-align: center;
margin-bottom: 35px;
margin-top: 15px;
}

#welcome-msg  span{
color: #3F3F3F;
font-family: 'Arvo',Georgia,Times,serif;
font-size: 2.7em;
font-weight: bold;
line-height: 1;
}

.region-content-top {
float: right;
width: 355px;
margin-top: 55px;
}

.region-content-top .views-row {
display: inline-block;
}

.region-content-top .views-row-1 {
margin-right: 20px;
}

.region-content-top img {
border: 1px solid #FFFFFF;
box-shadow: 1px 1px 1px #000000;
border-radius: 5px;
}

.view-footer {
text-align: center;
color: #FFFFFF;
text-shadow: 1px 1px 1px #000000;
padding-right: 30px;
}

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}
