﻿body {
	font: 11pt trebuchet ms;
	color: #3F3F3F;
	text-align: center;
}

#container {
	width: 655px;
	margin: 0 auto;
}

#logo-container {
	margin: 30px auto 0;
	width: 655px;
}

#social-container {
	font-size: 9pt;
	margin-top: 25px;
}
