/**
 * @file
 * Message Styling
 *
 * Sensible styling for Drupal's error/warning/status messages.
 */
 
 div.messages a {
 color: #3F3F3F;
 text-decoration: underline;
 }
 
  div.messages a:hover {
  text-decoration: none;
  }

div.messages,
div.status,
div.warning,
div.error /* Important messages (status, warning, and error) for the user */ {
  min-height: 21px;
  margin: 10px 0 20px 0;
  border: 1px solid #FFFFFF;
  padding: 10px; /* LTR */
  color: #3F3F3F;
  clear: both;
  line-height: 1.5;
  font-weight: bold;
  box-shadow: 0 1px 1px #FFFFFF inset;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.status /* Normal priority messages */ {
  background-color: #CEFFCF;
  color: #3F3F3F;
  border: 1px solid #5AA85C;
}

div.warning /* Medium priority messages */ {
  border-color: #fc0;
  color: #3F3F3F;
  background-color: #ffc;
}

div.warning,
tr.warning {
  background-color: #ffc;
  color: #3F3F3F;
}

div.error /* High priority messages. See also the .error declaration in pages.css. */ {
  /* border: 1px solid #d77; */ /* Drupal core uses: 1px solid #d77 */
  border-color: #c00;
  color: #3F3F3F;
}

div.error,
tr.error {
  color: #3F3F3F;
  background-color: #fee;
}

div.messages ul {
  margin-top: 0;
  margin-bottom: 0;
}
