﻿#navbar {
width: 860px !important;
margin-right: -5px;
margin-top: 20px;
}

#navbar li {
margin-right: -5px;
}

#utility-bar-links li {
float: left;
margin-left: -2px;
}

#header-right input[type="submit"] {
float: right;
margin-top: -25px;
}

#header-right {
height: 65px;
}

.product-ingredients {
width: 450px;
}

.add_to_cart {
margin-left: 54px;
margin-top: -3px;
}

#product-checkout .product-info.price {
width: 100px;
}

#checkout-form-bottom .form-submit {
width: 135px;
}

#checkout-form-bottom .form-button {
width: 63px;
}

#help-questions ol.question-list {
padding-left: 25px;
}

.help-response abbr {
display: none;
}

.help-response p, .help-response a.top {
margin:0 0 5px 0;
}

.pager-next, .pager-next  a, .pager-previous, .pager-previous  a {
padding: 0;
}

#sign-up-button, #sign-up-button a {
display: block;
width: 130px;
}