html {
  background-color: #353535;
  -webkit-font-smoothing: antialiased; }

body {
  background-color: #353535;
  font-family: "Lato"; }

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: "Lato"; }

a {
  color: #1d1d1d; }
  a:visited {
    color: #1d1d1d; }
  a:focus {
    color: #b25735; }
  a:hover {
    color: #b25735; }
  a:active {
    color: #1d1d1d; }

div.messages, div.status, div.warning, div.error {
  margin: 5px 0 15px; }

table.sticky-table, table#content-field-overview {
  width: 100%; }

#dzdy_badge {
  margin-top: 20px; }

#content, .no-sidebars #content {
  width: 845px; }

.block-edit-link a {
  background: #c1c6c2 none;
  color: white;
  height: auto;
  padding: 2px 8px;
  font-size: 0.8em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.block-edit-link a:hover {
  background-color: #b25735;
  background-image: none; }

#page-wrapper {
  margin-top: 0px;
  position: relative;
  z-index: 990;
  width: 880px; }

#main {
  padding: 15px;
  background-color: white; }

#main-wrapper {
  border: 1px solid #1d1d1d;
  border-top: 0 none; }

#pre-content-wrapper {
  position: relative;
  z-index: 99; }

#pre-content {
  width: 800px;
  margin: 0 auto;
  padding: 25px;
  margin: 0 auto;
  color: white;
  border: 1px solid #1d1d1d;
  background: #99121d url(/sites/beansdisposal.com/themes/denominator/images/precon-bg.png) repeat center center;
  position: relative;
  -webkit-box-shadow: inset 0px 1px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px 0px white;
  box-shadow: inset 0px 1px 1px 0px white; }

#pre-content .block {
  display: inline-block;
  vertical-align: top; }

.region-footer {
  text-align: center;
  font-size: 0.8em;
  color: #1d1d1d; }

#logo {
  width: 160px;
  height: 70px;
  display: inline-block;
  background: url() no-repeat scroll; }

#header-wrapper {
  background: #353535 url(/sites/beansdisposal.com/themes/denominator/images/header-bg.png) repeat center center;
  position: relative;
  z-index: 991;
  border-top: 5px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d; }

#header {
  width: 960px;
  margin: 0 auto;
  float: none;
  height: 140px;
  padding: 0; }

#logo {
  background: url(/sites/beansdisposal.com/themes/denominator/images/logo.png) no-repeat center center;
  display: block;
  height: 191px;
  width: 347px;
  margin: 0 auto;
  float: none; }

.region-navigation > div {
  width: 960px; }

#nav-marker-wrapper {
  margin: 0 auto;
  width: 960px;
  position: relative;
  z-index: 99; }

#nav-marker {
  display: none;
  float: right;
  position: relative;
  width: 23px;
  height: 12px;
  background: url() no-repeat scroll right 0; }

.front #nav-marker {
  right: 423px;
  display: inline-block; }

.page-about #nav-marker {
  right: 261px;
  display: inline-block; }

.page-contact #nav-marker {
  right: 88px;
  display: inline-block; }

#block-menu-primary-links {
  margin: 0;
  padding: 0; }

#header .menu {
  margin: 0;
  padding: 0; }

#header .menu li {
  display: inline-block;
  list-style-type: none; }

#header .menu a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7em;
  padding: 5px 30px;
  display: inline-block;
  color: #3f3f3f;
  font-family: "Arvo";
  font-weight: bold;
  text-shadow: 0 1px 1px white; }

#header .menu li a:hover {
  color: #b25735; }

#header .menu li a.active,
#header .menu li a.active:hover {
  cursor: default;
  color: #1d1d1d; }

#block-webform-client-block-3 {
  width: 300px;
  overflow: hidden;
  float: right;
  padding: 15px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #76361f;
  -webkit-box-shadow: inset 0px 1px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px 0px white;
  box-shadow: inset 0px 1px 1px 0px white;
  text-shadow: 0px 1px 1px #76361f, 0px 1px 1px 0px #76361f;
  text-shadow: 0px 1px 1px 0px #76361f, 0px 1px 1px 0px #76361f; }

#block-webform-client-block-3 label {
  width: 80px; }

#block-webform-client-block-3 input[type=text],
#block-webform-client-block-3 input[type=email],
#block-webform-client-block-3 input[type=select],
#block-webform-client-block-3 textarea {
  width: 220px !important; }

#block-webform-client-block-3 .form-submit {
  margin-left: 80px; }

#block-webform-client-block-3 h2.title {
  font-size: 1em; }

#block-webform-client-block-3 .form-required {
  display: none; }

.front #main {
  -webkit-box-shadow: 0px -5px 5px -5px #1d1d1d;
  -moz-box-shadow: 0px -5px 5px -5px #1d1d1d;
  box-shadow: 0px -5px 5px -5px #1d1d1d; }

.front h1.title,
.page-contact h1.title,
.page-about h1.title {
  display: none; }

.info-block {
  border: 1px solid #1d1d1d;
  background-color: #cfcfcf;
  box-shadow: 0 0 1px #FFFFFF inset;
  margin-bottom: 30px;
  line-height: 1.5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }
  .info-block.last {
    margin-bottom: 0px; }
  .info-block h1 {
    margin: 0 0 15px;
    background-color: #353535;
    color: white;
    padding: 3px 15px;
    text-shadow: 1px 1px 1px #000000;
    font-family: "Arvo"; }
  .info-block h2 {
    margin: 0 0 5px;
    padding: 0 15px;
    font-family: "Arvo"; }
    .info-block h2.materials {
      margin-top: 15px; }
  .info-block p {
    padding: 0 15px 15px; }
  .info-block p, .info-block li {
    margin: 0;
    font-size: 1.2em; }
  .info-block ul {
    margin: 0 0 15px 15px;
    padding: 0; }
  .info-block li {
    list-style-type: none; }

.frontHeader {
  font-size: 1.8em;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Arvo"; }
  .frontHeader strong {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 25px;
    display: inline-block; }
