html {
  background: white url(/sites/trailstack.com/themes/denominator/images/page-bg.png) repeat scroll left 10px;
  -webkit-font-smoothing: antialiased;
}

body {
  padding-bottom: 20px;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
  font-family: Arial, Verdana, Tahoma, sans-serif;
}

h1,
h2,
h2.title {
  font-family: "Sanchez", Arial, serif;
  text-shadow: 1px 1px 0px white, 1px 1px 0px 0px white;
  text-shadow: 1px 1px 0px 0px white, 1px 1px 0px 0px white;
}

h2 {
  margin: 0;
}

a {
  color: #26537a;
}
a:visited {
  color: #26537a;
}
a:focus {
  color: #b25735;
}
a:hover {
  color: #b25735;
}
a:active {
  color: #26537a;
}

input[type="text"][readonly],
input[type="number"][readonly] {
  background-color: #eeeeee;
}

hr {
  border: 0 none;
  border-bottom: 1px solid #b9b5ae;
}

fieldset {
  border: 1px solid #b9b5ae;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

legend {
  background-color: #ebebeb;
  padding: 0 5px 0 0;
  font-family: "Sanchez", Arial, serif;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
  margin-bottom: 5px;
  border: 1px solid #b9b5ae;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
legend a {
  text-decoration: none;
}

table.sticky-enabled {
  width: 100%;
}

.block-config,
div.view div.views-hide {
  display: none !important;
}

table.sticky-table,
table#content-field-overview,
.views-table,
.resizable-textarea {
  width: 100%;
}

div.messages,
div.status,
div.warning,
div.error {
  margin: 5px 0 15px;
  border: 1px solid #b9b5ae;
}

.captcha {
  height: auto;
  border: 0 none;
}
.captcha legend {
  display: none;
}
.captcha .form-item label {
  width: 210px;
}
.captcha .edit-captcha-response {
  width: 220px;
  font-size: 1.3em;
}
.captcha #edit-captcha-response-wrapper {
  margin-top: 10px;
}

#accordion h3 {
  font-weight: normal;
  color: #26537a;
  cursor: pointer;
  outline: none;
}

#accordion h3:hover {
  color: #b25735;
}

#accordion ul {
  margin: 0;
}

.block-edit-link a {
  background-color: #9f9f9f;
  background-image: none;
  color: white;
  height: auto;
  padding: 2px 8px;
  font-size: 0.8em;
  text-decoration: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.block-edit-link a:hover {
  background-color: #b25735;
  background-image: none;
}

.icon-arrow-down {
  float: right;
  margin: 10px 15px 0 0;
}

#accordion .icon-plus,
#accordion .icon-minus {
  font-size: 0.7em;
  margin-right: 10px;
}

.icon-checkmark {
  color: #1c4c07;
}

.icon-in-stack {
  color: #26537a;
}

.trail-meta-verify .icon-notification,
.icon-comments.none {
  color: #9f9f9f;
}

.in_stack .icon-in-stack {
  font-size: 1.3em;
}

.icon-shield {
  font-size: 0.8em;
  color: #1c4c07;
}

.icon-shield.gold {
  color: #ffc300;
}

.icon-shield.silver {
  color: #bababa;
}

.add_to_stack .icon-stack {
  color: white;
}

.box h2 {
  font-family: Sanchez, serif;
}

.region-content-bottom .block-views {
  float: left;
  margin-bottom: 0;
}

#edit-submitted-activities-wrapper .description {
  color: #9f9f9f;
}

ul.hybridauth-widget {
  padding: 0;
}

#page-wrapper {
  margin-top: 0;
  position: relative;
  z-index: 98;
  width: 100%;
}

#page {
  width: 960px;
  margin: 0 auto;
}

#content .section {
  padding: 15px;
}

#main {
  border: 1px solid #b9b5ae;
  border-top: 0 none;
  background-color: white;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  -ms-border-radius: 0px 0px 5px 5px;
  -o-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
}

#block-block-16,
#block-block-19 {
  clear: both;
  margin: 0;
}

#block-block-16 .content,
#block-block-19 .content {
  padding: 10px 0 5px;
  border-top: 1px solid #b9b5ae;
  background-color: #c6d1c6;
  text-shadow: 1px 1px 0px white, 1px 1px 0px 0px white;
  text-shadow: 1px 1px 0px 0px white, 1px 1px 0px 0px white;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

.socialWidgets .socialHeader {
  font-size: 1.5em;
  font-family: "Sanchez", Arial, serif;
  float: left;
  margin: 5px 0 0 20px;
}

.socialWidgets .socialItem {
  display: inline-block;
  margin-left: 50px;
  vertical-align: middle;
  line-height: 1;
  min-width: 85px;
}

.region-page-closure {
  text-align: center;
  margin-top: 15px;
  font-size: 0.8em;
  color: #9f9f9f;
}

.region-content-bottom {
  float: left;
}

.region-content-bottom p,
.region-content-bottom ul {
  margin: 0;
  padding: 0;
}

#header-wrapper {
  position: relative;
  z-index: 99;
  border-bottom: 1px solid #b9b5ae;
  background: white url(/sites/trailstack.com/themes/denominator/images/header-feet.png) repeat-x scroll left 10px;
}

#header {
  border-left: 1px solid #b9b5ae;
  border-right: 1px solid #b9b5ae;
  box-shadow: 0 -2px 5px 0 #9f9f9f;
  float: none;
  margin: 0 auto;
  width: 958px;
  padding-bottom: 10px;
  background: white url(/sites/trailstack.com/themes/denominator/images/header-grad.png) no-repeat scroll right 0;
}

.region-header {
  background-color: #ebebeb;
  border-top: 1px solid #b9b5ae;
}

#logo {
  margin: 15px 0 0 15px;
  display: inline-block;
  width: 250px;
  height: 35px;
  background: white url(/sites/trailstack.com/themes/denominator/images/logo.png) no-repeat scroll 0 0;
}

#tagline {
  color: #9f9f9f;
  display: inline-block;
  font-style: italic;
  font-weight: bold;
  margin: 34px 0 0 20px;
  vertical-align: baseline;
}

#hybridauth {
  float: right;
  margin-right: 10px;
  margin-top: 12px;
}
#hybridauth > div {
  float: left;
}
#hybridauth h3 {
  display: none;
}
#hybridauth .registerLink {
  margin-top: 4px;
}
#hybridauth .registerLink .first {
  font-size: 0.9em;
}
#hybridauth .registerLink .last {
  font-size: 0.7em;
}
#hybridauth .item-list ul.hybridauth-widget {
  padding: 2px 0 0 15px;
}
#hybridauth .item-list div {
  display: none;
}
#hybridauth .block {
  margin-bottom: 0;
}

#countContainer {
  display: inline-block;
  float: right;
  font-size: 1.5em;
  margin-left: 15px;
  margin-right: 10px;
  margin-top: 10px;
  color: #1c4c07;
  padding: 5px 10px;
  border: 1px solid #b9b5ae;
  font-family: "Sanchez", Arial, serif;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#countContainer a {
  background-color: #1c4c07;
  color: white;
  font-family: monospace;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1;
  margin-right: 5px;
  padding: 2px 5px 0;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#countContainer .icon-stack {
  font-size: 18px;
  color: #1c4c07;
  margin-right: 5px;
}

#countContainer a:hover {
  background-color: #b25735;
}

#nav-wrapper {
  position: relative;
  z-index: 100;
  box-shadow: 0 6px 5px -5px #9f9f9f inset;
  background: white url(/sites/trailstack.com/themes/denominator/images/page-bg.png) repeat scroll left 10px;
}

#nav {
  width: 958px;
  margin: 0 auto;
  background-color: white;
  border-left: 1px solid #b9b5ae;
  border-right: 1px solid #b9b5ae;
  border-bottom: 1px solid #b9b5ae;
}

.region-navigation {
  float: right;
  margin: 20px 0 0 0;
  padding: 0;
}

#nav-marker-wrapper {
  margin: 0 auto;
  width: 960px;
  position: relative;
  z-index: 99;
}

#block-menu-primary-links {
  margin: 0;
  padding: 0;
}

#nice-menu-1 {
  margin: 0;
  padding: 0;
}

ul.nice-menu li {
  width: 175px;
}

ul.nice-menu li.menu-381 {
  width: 187px;
}

ul.nice-menu li.menu-308 {
  width: 209px;
}

ul#nice-menu-1 li.menu-314 a {
  padding: 5px 0;
  width: 100%;
}

#nice-menu-1 .nolink,
#nice-menu-1 a {
  color: #26537a;
  padding: 5px 0 5px 35px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.4em;
  text-align: center;
  font-family: "Sanchez", Arial, serif;
  text-shadow: 1px 1px 0px white, 1px 1px 0px 0px white;
  text-shadow: 1px 1px 0px 0px white, 1px 1px 0px 0px white;
}

#nice-menu-1 .icon-arrow-down {
  color: #26537a;
  text-shadow: 1px 1px 0px white, 1px 1px 0px 0px white;
  text-shadow: 1px 1px 0px 0px white, 1px 1px 0px 0px white;
}

ul.nice-menu-down li {
  border-top: 0 none;
  border-bottom: 0 none;
  border-left: 0 none;
  border-right: 1px solid #b9b5ae;
  background-color: #ebebeb;
}

#nice-menu-1 .menuparent ul li.menu-614 a, #nice-menu-1 .menuparent ul li.menu-354 a, #nice-menu-1 .menuparent ul li.menu-378 a, #nice-menu-1 .menuparent ul li.menu-631 a, #nice-menu-1 .menuparent ul li.menu-768 a, #nice-menu-1 .menuparent ul li.menu-716 a, #nice-menu-1 .menuparent ul li.menu-797 a, #nice-menu-1 .menuparent ul li.menu-1099 a, #nice-menu-1 .menuparent ul li.menu-1559 a, #nice-menu-1 .menuparent ul li.menu-614 a, #nice-menu-1 .menuparent ul li.menu-1561 a, #nice-menu-1 .menuparent ul li.menu-1592 a, #nice-menu-1 .menuparent ul li.menu-1594 a, #nice-menu-1 .menuparent ul li.menu-608 a {
  background-color: #934645;
  color: white;
  text-shadow: 1px 1px 0px black, 1px 1px 0px 0px black;
  text-shadow: 1px 1px 0px 0px black, 1px 1px 0px 0px black;
}
#nice-menu-1 .menuparent ul li.menu-614 a:hover, #nice-menu-1 .menuparent ul li.menu-354 a:hover, #nice-menu-1 .menuparent ul li.menu-378 a:hover, #nice-menu-1 .menuparent ul li.menu-631 a:hover, #nice-menu-1 .menuparent ul li.menu-768 a:hover, #nice-menu-1 .menuparent ul li.menu-716 a:hover, #nice-menu-1 .menuparent ul li.menu-797 a:hover, #nice-menu-1 .menuparent ul li.menu-1099 a:hover, #nice-menu-1 .menuparent ul li.menu-1559 a:hover, #nice-menu-1 .menuparent ul li.menu-614 a:hover, #nice-menu-1 .menuparent ul li.menu-1561 a:hover, #nice-menu-1 .menuparent ul li.menu-1592 a:hover, #nice-menu-1 .menuparent ul li.menu-1594 a:hover, #nice-menu-1 .menuparent ul li.menu-608 a:hover {
  background-color: #823e3d;
}

#block-nice_menus-1 {
  margin-bottom: 0;
}

#nice-menu-1 li:hover,
#nice-menu-1 li:hover a,
#nice-menu-1 li:hover span {
  background-color: #c6d1c6;
  color: black;
}

#nice-menu-1 .menuparent {
  background: #ebebeb none no-repeat scroll right center;
}

#nice-menu-1 .menuparent:hover,
#nice-menu-1 .menuparent:hover a,
#nice-menu-1 .menuparent:hover span,
#nice-menu-1 .menuparent.active-trail,
#nice-menu-1 .menuparent.over,
#nice-menu-1 .menuparent.over a,
#nice-menu-1 .menuparent.over span {
  background: #c6d1c6 none no-repeat scroll right center;
  color: black;
}

#block-menu-secondary-links .active-trail a {
  text-decoration: none;
}

#nice-menu-1 .menuparent ul {
  width: 195px;
  border: 0 none;
  margin-top: 9px;
  margin-left: -1px;
  border: 1px solid #b9b5ae;
  border-bottom: 0 none;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.2);
}

#nice-menu-1 .menuparent ul li {
  border: 0 none;
  background-color: white;
  width: 195px;
}

#nice-menu-1 .menuparent ul a,
#nice-menu-1 .menuparent.over ul a,
#nice-menu-1 .menuparent ul span,
#nice-menu-1 .menuparent.over ul span {
  color: #26537a;
  font-size: 1em;
  text-decoration: none;
  padding: 7px 20px;
  width: 156px;
  margin-left: 0;
  background: 0 none;
  height: auto;
  border-bottom: 1px solid #b9b5ae;
  font-weight: normal;
  text-align: left;
}

#nice-menu-1 .menuparent ul a span,
#nice-menu-1 .menuparent.over ul a span {
  border-bottom: 0 none;
  color: white;
  padding: 0;
  padding: 0;
  text-shadow: 1px 1px 0px black, 1px 1px 0px 0px black;
  text-shadow: 1px 1px 0px 0px black, 1px 1px 0px 0px black;
}

#nice-menu-1 .menuparent ul a:hover,
#nice-menu-1 .menuparent ul span:hover {
  background: none #26537a;
  color: white;
  text-shadow: 1px 1px 0px black, 1px 1px 0px 0px black;
  text-shadow: 1px 1px 0px 0px black, 1px 1px 0px 0px black;
}

#nice-menu-1 .menuparent ul a:hover span {
  background-color: #823e3d;
}

#userUtility {
  font-size: 0.9em;
  float: right;
  text-align: right;
  margin-top: 12px;
  padding: 0 25px 0 15px;
  position: relative;
  max-width: 179px;
  height: 26px;
  min-width: 80px;
  cursor: pointer;
  color: #26537a;
}

#userUtility:hover,
#userUtility.menuOpen {
  color: #b25735;
}

#userUtilityMenu {
  position: absolute;
  background-color: white;
  right: 0;
  top: 26px;
  width: 100%;
  line-height: 1.5;
  min-width: 100px;
  z-index: 999;
  text-align: right;
  margin-top: -1px;
  border-top: 2px solid white;
  border-left: 1px solid #b9b5ae;
  border-bottom: 1px solid #b9b5ae;
}

#userUtility .picture img {
  height: 16px;
  width: 16px;
}

#userUtilityMenu a {
  text-decoration: none;
}

#userUtilityMenu div {
  padding: 5px 15px 10px;
}

.icon-utilitymenu {
  font-size: 16px;
  vertical-align: top;
}

#openInviteDialog {
  margin-left: 85px;
}

#TB_window {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#TB_title {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}

.region-welcome-dialog .siteLogo {
  float: right;
  margin: 0;
}

.region-welcome-dialog .siteLogo img {
  width: 175px;
  height: 25px;
}

.region-welcome-dialog h2 {
  font-size: 2em;
  font-family: Sanchez, serif;
}

.region-welcome-dialog p:last-child {
  margin-bottom: 0;
}

.item-list .pager {
  display: block;
  margin: 0 auto;
  padding: 0;
}

.item-list .pager li {
  padding: 0 0 0 5px;
}

.item-list .pager li a,
.item-list .pager .pager-current {
  text-decoration: none;
  display: inline-block;
  border: 1px solid #b9b5ae;
  background-color: white;
  width: 16px;
  height: 16px;
  padding: 1px 2px 3px;
  text-align: center;
  font-size: 0.9em;
}

.item-list .pager li img {
  vertical-align: top;
  padding-top: 4px;
}

.item-list .pager li a:hover {
  border: 1px solid #26537a;
  text-decoration: none;
}

.item-list .pager li.pager-current {
  color: white;
  background-color: #26537a;
  margin-left: 5px;
}

#block-webform-client-block-3 {
  width: 300px;
  overflow: hidden;
  float: right;
  padding: 15px;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #76361F;
  -webkit-box-shadow: inset 0px 1px 1px 0px white;
  -moz-box-shadow: inset 0px 1px 1px 0px white;
  box-shadow: inset 0px 1px 1px 0px white;
  text-shadow: 0px 1px 1px #76361f, 0px 1px 1px 0px #76361f;
  text-shadow: 0px 1px 1px 0px #76361f, 0px 1px 1px 0px #76361f;
}

#block-webform-client-block-3 label {
  width: 80px;
}

#block-webform-client-block-3 input[type=text],
#block-webform-client-block-3 input[type=email],
#block-webform-client-block-3 input[type=select],
#block-webform-client-block-3 textarea {
  width: 220px !important;
}

#block-webform-client-block-3 .form-submit {
  margin-left: 80px;
}

#block-webform-client-block-3 h2.title {
  font-size: 1em;
}

#block-webform-client-block-3 .form-required {
  display: none;
}

#block-menu-secondary-links ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

#block-menu-secondary-links li {
  list-style-type: none;
  margin: 0 5px;
  display: inline-block;
}

.admin-menu #mockclose {
  margin-bottom: -23px;
}

#mockclose {
  clear: both;
  display: block;
}

#block-block-8 {
  float: right;
  position: relative;
  width: 396px;
}

#block-block-8 .buttons {
  text-align: center;
  font-size: 1.3em;
  padding: 0;
}

#block-block-8 .buttons a {
  color: white;
  text-decoration: none;
  padding: 8px 20px;
  font-size: 1.2em;
  display: inline-block;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#block-block-8 .buttons a.signin {
  background-color: #26537a;
}

#block-block-8 .buttons a.signup {
  background-color: #1c4c07;
}

#block-block-8 .buttons a:hover {
  background-color: #b25735;
}

#block-views-front-block_2 .views-row-last {
  margin-top: 10px;
}

#block-views-front-block_3 .view-header,
#block-views-front-block_1 .view-header {
  font-weight: bold;
  font-size: 2em;
  height: 25px;
  padding: 15px 10px 5px 10px;
  color: #a9aaa9;
  display: inline-block;
  background: #ebebeb;
  font-family: Sanchez,serif;
}

#block-views-front-block_3 .view-header {
  width: 541px;
  border-right: 1px solid #b9b5ae;
}

#block-views-front-block_1 .view-header {
  width: 376px;
}

#block-views-front-block_2 .view-header {
  font-weight: bold;
  font-size: 2em;
  width: 366px;
  height: 25px;
  padding: 15px 15px 5px;
  color: #a9aaa9;
  display: inline-block;
  font-family: Sanchez, serif;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#ebebeb, #ffffff);
  background-image: -moz-linear-gradient(#ebebeb, #ffffff);
  background-image: -o-linear-gradient(#ebebeb, #ffffff);
  background-image: linear-gradient(#ebebeb, #ffffff);
}

.block-views .moreLink {
  float: right;
  font-size: 0.5em;
  font-weight: normal;
  display: none;
}

#block-views-front-block_2 .views-field-title {
  font-size: 1.5em;
  margin: 0 0 5px;
}

#block-views-front-block_2 .views-field-title a {
  text-decoration: none;
}

#block-views-front-block_2 .view-content {
  padding-left: 15px;
  width: 368px;
  float: left;
}

#block-views-front-block_2 .views-field-view-node {
  text-align: right;
  font-weight: 0.8em;
}

#registerUserBlock {
  float: right;
  height: 45px;
  width: 366px;
  text-align: left;
  border-left: 1px solid #b9b5ae;
  padding: 10px 15px 15px 15px;
  background-color: #ebebeb;
}

#beginBenefits {
  float: right;
  font-size: 0.8em;
}

#beginRegisterForm {
  float: left;
  font-weight: bold;
  width: 231px;
}

#beginRegisterForm input[type="text"] {
  width: 155px;
}

#block-webform-client-block-32 {
  margin-bottom: 0;
}

#block-webform-client-block-32 .webform-client-form textarea {
  width: 450px !important;
}

#block-webform-client-block-32 .webform-client-form .form-submit {
  float: right;
  margin: 0;
}

#block-webform-client-block-32 #webform-component-session {
  display: none;
}

#block-block-12 a {
  background-color: #b25735;
  color: white;
  text-decoration: none;
  padding: 3px 10px;
  font-size: 0.9em;
  float: left;
  margin-top: -30px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#block-block-12 a:hover {
  background-color: #26537a;
}

#block-block-9 a {
  color: #9f9f9f;
  text-decoration: none;
}

#block-block-9 #version {
  font-size: 0.8em;
  color: #9f9f9f;
}

#block-block-11 {
  margin-bottom: 0;
}

.front #user-login-form {
  width: 385px;
}

.front #user-login-form strong {
  margin-bottom: 25px;
  display: inline-block;
  font-size: 1.3em;
  font-family: 'Sanchez',serif;
}

.front #user-login-form .form-item label {
  font-weight: normal;
}

.front div.tabs {
  display: none;
}

.front #content .section {
  padding: 0;
}

.front #main h1.title {
  display: none;
}

#pre-content-wrapper {
  position: relative;
  z-index: 99;
  margin: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(#fdfdfd, #f4f4f4);
  background-image: -moz-linear-gradient(#fdfdfd, #f4f4f4);
  background-image: -o-linear-gradient(#fdfdfd, #f4f4f4);
  background-image: linear-gradient(#fdfdfd, #f4f4f4);
}

#pre-content {
  margin: 0 auto;
  margin: 0 auto;
  border: 1px solid #b9b5ae;
  border-top: 0 none;
}

#pre-content .views-row {
  list-style-type: none;
  line-height: 1.5;
  width: 100%;
}

#pre-content .views-row a {
  text-decoration: none;
}

#pre-content .views-row .views-field-title {
  font-size: 24pt;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 10px;
  font-family: "Sanchez", Arial, serif;
}

#pre-content .views-row .views-field-field-trail-park-nid {
  font-size: 1.5em;
  position: absolute;
  top: 95px;
  left: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 5px;
  font-family: 'Sanchez',serif;
  text-shadow: 1px 1px 0px white, 1px 1px 0px 0px white;
  text-shadow: 1px 1px 0px 0px white, 1px 1px 0px 0px white;
}

#pre-content .views-row .views-field-tid a {
  color: black;
}

#pre-content .views-row .views-field-province {
  font-size: 1.5em;
  position: absolute;
  top: 55px;
  left: 10px;
  color: black;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 5px;
  font-family: 'Sanchez',serif;
  text-shadow: 1px 1px 0px white, 1px 1px 0px 0px white;
  text-shadow: 1px 1px 0px 0px white, 1px 1px 0px 0px white;
}

#block-views-front-block_1 .views-field-field-trail-primary-photo-fid {
  float: left;
  margin-right: 10px;
}

#block-views-front-block_1 .views-field-field-trail-primary-photo-fid img {
  border: 1px solid #b9b5ae;
}

#pre-content .views-field-field-trail-primary-photo-fid {
  float: left;
}

#pre-content .view-footer {
  height: 25px;
  margin: 15px 0 0;
  position: relative;
  text-align: center;
  z-index: 99;
  padding: 5px 10px 10px;
  border-top: 1px solid #b9b5ae;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #bdc5bd));
  background-image: -webkit-linear-gradient(#fdfdfd, #bdc5bd);
  background-image: -moz-linear-gradient(#fdfdfd, #bdc5bd);
  background-image: -o-linear-gradient(#fdfdfd, #bdc5bd);
  background-image: linear-gradient(#fdfdfd, #bdc5bd);
}

#trailNav #front-trail-pager {
  text-align: center;
  margin: 5px auto 0;
}

#trailNav a {
  padding: 0;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.5em;
  vertical-align: top;
}

#trailNav a.activeSlide,
#trailNav a:hover {
  color: #b25735;
}

#prev {
  float: left;
  cursor: pointer;
  color: #26537a;
  font-size: 1.5em;
}

#next {
  float: right;
  cursor: pointer;
  color: #26537a;
  cursor: pointer;
  font-size: 1.5em;
}

#prev:hover,
#next:hover {
  color: #b25735;
}

#pre-content .view-header p {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 0.8em;
  line-height: 1;
  font-weight: bold;
  text-shadow: 1px 1px 1px black, 1px 1px 1px 0px black;
  text-shadow: 1px 1px 1px 0px black, 1px 1px 1px 0px black;
}

#block-views-Trails-block_1 ul {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

#pre-content #block-views-Trails-block_1 .view-empty {
  padding: 0 15px;
  min-height: 247px;
}

#pre-content .block {
  margin: 0;
}

#block-block-1 {
  float: right;
  font-size: 0.8em;
  margin: 12px 20px 0 0;
  width: 180px;
  text-align: right;
}

#block-block-1 .block-edit-link {
  display: none;
}

#block-block-3 {
  display: inline-block;
  font-size: 1.2em;
  margin: 11px 0 0 20px;
  vertical-align: top;
}

#block-block-3 a {
  line-height: 1;
  font-weight: bold;
  font-size: 1.2em;
  text-decoration: none;
  border-bottom: 2px solid #26537a;
}

#block-block-3 a:hover {
  border-bottom: 2px solid #b27535;
}

.frontTrail {
  float: right;
  color: #9f9f9f;
  margin-top: -35px;
}

.view-frontpage .views-row,
.front .node-type-trail {
  border: 1px solid #b9b5ae;
  margin-bottom: 25px;
  padding: 5px 15px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d9e2d9), color-stop(21%, #ffffff), color-stop(91%, #ffffff), color-stop(100%, #d9e2d9));
  background-image: -webkit-linear-gradient(#d9e2d9, #ffffff 21%, #ffffff 91%, #d9e2d9);
  background-image: -moz-linear-gradient(#d9e2d9, #ffffff 21%, #ffffff 91%, #d9e2d9);
  background-image: -o-linear-gradient(#d9e2d9, #ffffff 21%, #ffffff 91%, #d9e2d9);
  background-image: linear-gradient(#d9e2d9, #ffffff 21%, #ffffff 91%, #d9e2d9);
}

#front-trail-pager {
  text-align: center;
  margin: 5px auto 0;
}

#pre-content #block-views-Trails-block_1 {
  float: left;
  border-right: 1px solid #b9b5ae;
  width: 561px;
}

#pre-content #block-views-Trails-block_1 .view-content {
  padding-left: 15px;
  padding-top: 10px;
  height: 242px;
}

#block-block-7 h2.title {
  font-size: 2em;
}

#block-block-7 p {
  line-height: 1.5;
}

#map {
  height: 190px;
  width: 300px;
  margin: 20px auto 0;
  padding-left: 45px;
}

.page-trails-state #map {
  padding-left: 0;
}

.largeCountNum {
  position: absolute;
  font-size: 3em;
  color: white;
  top: 45px;
  left: 40px;
  font-weight: bold;
  text-shadow: 1px 1px 1px black, 1px 1px 1px 0px black;
  text-shadow: 1px 1px 1px 0px black, 1px 1px 1px 0px black;
}

#front-state-container label {
  display: inline-block;
  font-size: 25px;
  margin-bottom: 25px;
  color: #934645;
  font-family: "Sanchez", Arial, serif;
  font-weight: bold;
}

#front-state-container {
  padding: 20px 0;
  text-align: center;
  display: block;
  background: transparent;
}

#front-state-select {
  border: 1px solid #1c4c07;
  box-shadow: 1px 1px 1px #AFAFAF inset;
  font-size: 26px;
  font-weight: bold;
  height: 39px;
  line-height: 1;
  vertical-align: baseline;
  width: 280px;
}

#front-state-shapes a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  margin: 0 30px;
  position: relative;
}

#front-state-shapes .icomoon-icon {
  font-size: 90px;
}

#font-state-coming {
  margin-top: 14px;
  font-size: 1.3em;
  display: none;
}

#font-state-coming ul {
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline-block;
}

#font-state-coming li {
  list-style-type: none;
  display: inline-block;
  margin: 0 2px;
  font-size: 0.7em;
}

#font-state-coming .icomoon-icon {
  vertical-align: middle;
  margin-right: 15px;
}

#font-state-coming .icon-ri {
  font-size: 35px;
}

#font-state-coming .icon-ma {
  font-size: 70px;
}

#font-state-coming .icon-ct {
  font-size: 32px;
}

#font-state-coming .icon-nj {
  font-size: 40px;
}

#block-views-front-block_1 .view-empty li {
  min-height: 239px;
}

#block-views-front-block_2 {
  width: 398px;
  margin-bottom: -1px;
}

#block-views-front-block_2 .view-empty {
  padding-left: 15px;
}

#block-views-front-block_2 .views-row-last .comment-links,
#block-views-front-block_2 .views-row-last .comment-links .blog-read-more {
  -webkit-border-radius: 0 0 5px 0;
  -moz-border-radius: 0 0 5px 0;
  -ms-border-radius: 0 0 5px 0;
  -o-border-radius: 0 0 5px 0;
  border-radius: 0 0 5px 0;
}

#block-views-front-block_3 ul,
#block-views-front-block_1 ul {
  padding: 0;
  margin: 0;
}

#block-views-front-block_3 li,
#block-views-front-block_1 li {
  list-style-type: none;
  padding: 10px 10px 5px 10px;
  width: 260px;
  height: 35px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -moz-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -o-linear-gradient(#ebebeb, #d3d3d3);
  background-image: linear-gradient(#ebebeb, #d3d3d3);
}

#block-views-front-block_3 li {
  width: 541px;
  height: 139px;
  border-right: 1px solid #b9b5ae;
}

#block-views-front-block_1 li {
  width: 376px;
}

#block-views-front-block_1 li.views-row-first {
  padding-top: 14px;
}

#block-views-front-block_3 .views-field-tid {
  text-align: center;
  margin: 10px 0 20px;
}

#block-views-front-block_3 .views-field-title {
  text-align: center;
  clear: both;
}

#block-views-front-block_3 .views-field-title a {
  display: inline-block;
  margin-top: 20px;
}

#block-views-front-block_3 li.last,
#block-views-front-block_1 li.last {
  margin-bottom: 0;
}

#block-views-front-block_1 .views-field-field-trail-primary-photo-fid {
  float: left;
}

#block-views-front-block_1 .views-field-province {
  font-size: 0.8em;
}

#block-views-Trails-block_1 .views-field-field-trail-gallery1-photo-fid,
#block-views-Trails-block_1 .views-field-field-trail-gallery2-photo-fid,
#block-views-Trails-block_1 .views-field-field-trail-gallery3-photo-fid,
#block-views-Trails-block_1 .views-field-field-trail-gallery4-photo-fid {
  float: left;
  line-height: 1;
  margin-bottom: -2px;
}

#block-views-Trails-block_1 .views-field-comment-count {
  margin-top: 20px;
}

.front.logged-in div.messages {
  margin: -1px 0 0;
}

.front.not-logged-in #main #content-area {
  display: none;
}

.front.not-logged-in .region-content-bottom {
  clear: both;
  -webkit-border-radius: 0 0 0 5px;
  -moz-border-radius: 0 0 0 5px;
  -ms-border-radius: 0 0 0 5px;
  -o-border-radius: 0 0 0 5px;
  border-radius: 0 0 0 5px;
}

.front.not-logged-in div.messages {
  margin: -1px -1px 0;
}

.block-mailchimp label {
  display: none;
}

.block-mailchimp .form-item {
  float: left;
  margin: 15px 15px 0 0;
}

.block-mailchimp input[type=submit] {
  margin-top: 15px;
}

#block-mailchimp-7d4ae542e2,
.front #block-block-13 {
  float: left;
  background-color: #ebebeb;
  padding: 15px 25px 20px 25px;
  margin: 0;
  width: 470px;
  border-right: 1px solid #b9b5ae;
}

.front #block-block-13 h2 {
  font-size: 2.5em;
}

.front #block-user-0 {
  float: right;
  padding: 25px 25px 0;
  margin-top: -265px;
  clear: none;
}

.front #block-user-0 .item-list .first {
  display: none;
}

.front #block-user-0 h2 {
  display: none;
}

.front #block-user-0 input[type="password"],
.front #block-user-0 input[type="text"] {
  width: 290px;
}

.front #block-user-0 ul {
  margin: 15px 0 0;
  padding: 0;
}

.front #block-user-0 li {
  list-style-type: none;
}

.front #block-user-0 #edit-name-wrapper {
  margin-top: 0;
}

.front.not-logged-in #block-block-15 {
  float: right;
  margin: 60px 15px 0 0;
}

#main .node-type-trail .content {
  float: left;
}

.node-data-container {
  float: left;
  width: 375px;
  border: 1px solid #b9b5ae;
}

.node-type-trail .node-photos {
  float: left;
  margin-right: 10px;
  background: none repeat scroll 0 0 #ebebeb;
  border: 1px solid #b9b5ae;
  display: inline-block;
  padding: 10px;
}

.node-type-trail .node-photos .gallery {
  margin-top: 10px;
  line-height: 1;
}

.node-type-trail .node-photos .gallery div {
  font-size: 0.8em;
  margin-bottom: 2px;
}

.node-type-trail .node-photos .gallery a {
  display: inline-block;
}

.node-type-trail .node-photos .gallery img {
  float: left;
}

.content .node-data {
  background: none repeat scroll 0 0 #ebebeb;
  border-bottom: 1px solid white;
}

.content .node-data img {
  margin-right: 10px;
  display: none;
}

.content .node-data.weather,
.not-logged-in.node-type-trail .content .node-data.marker-color {
  border-bottom: 0 none;
}

.node-data.name {
  margin-left: 0;
}

.node-data > strong {
  background-color: #d7d9d7;
  display: inline-block;
  padding: 3px 5px 3px 10px;
  width: 130px;
  margin-right: 10px;
}

.node-type-blog .meta,
.node-type-resource.meta,
.node-type-trail .meta,
.page-comment .meta {
  float: right;
}

.comment-links {
  font-size: 0.8em;
  clear: both;
  margin: 25px -15px 0 -15px;
  background-color: #ebebeb;
  border-top: 1px solid #b9b5ae;
  border-bottom: 1px solid #b9b5ae;
  width: 958px;
  float: left;
}

.comment-links ul.links img {
  vertical-align: top;
}

.comment-links ul.links li.remove_from_stack {
  display: none;
  margin-top: 15px;
}

ul.links li.comment_forbidden {
  display: none;
}

.front .comment-links {
  width: 396px;
  margin-top: 15px;
}

.comment-links ul.links li {
  float: left;
  padding: 0;
  border-right: 1px solid #b9b5ae;
}

.comment-links ul.links li a {
  padding: 5px 15px;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.comment-links ul.links li a:hover {
  background-color: #b25735 !important;
}

.comment-links .submitted {
  padding: 5px 10px;
  display: inline-block;
  border-left: 1px solid #b9b5ae;
}

.comment-links ul.links .comment_add a {
  background-color: #26537a;
}

.node-type-trail h1.title {
  display: none;
}

ul.links li.blog_usernames_blog {
  display: none;
}

ul.links li.node_read_more {
  float: right;
}

.node .terms {
  background-color: #ebebeb;
  border: 1px solid #b9b5ae;
  padding: 10px;
  margin: 10px 0;
}

.node .terms .header {
  margin-bottom: 5px;
  font-weight: bold;
}

.node .terms ul.links li {
  margin: 0 5px;
  padding: 0;
}

.node .content {
  line-height: 1.5;
}

.node .content p:first-child {
  margin-top: 0;
}

.node .content p:last-child {
  margin-bottom: 5px;
}

.field-type-nodereference {
  margin-bottom: 15px;
  margin-top: 12px;
}

.field-type-nodereference .field-label,
.field-type-nodereference .field-items {
  display: inline-block;
}

.field-type-nodereference .field-item a {
  background-color: #26537a;
  color: white;
  padding: 3px 10px;
  text-decoration: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.terms .activity {
  display: inline-block;
  margin-right: 15px;
}

.terms .activity a {
  background-color: #934645;
  color: white;
  padding: 3px 10px;
  text-decoration: none;
  display: inline-block;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.field-type-nodereference .field-item a:hover,
.terms .activity a:hover {
  background-color: #823e3d;
}

.activity-time {
  color: #9f9f9f;
  font-size: 0.8em;
}

.picture {
  display: inline-block;
}

.picture img {
  vertical-align: text-bottom;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#trail-buttons {
  margin-bottom: 10px;
}

#trail-buttons li.in_stack .icon-stack,
#trail-buttons li.add_to_stack .icon-stack {
  font-size: 16px;
}

#trail-buttons li.add_to_stack a {
  background-color: #1c4c07;
  display: inline-block;
  text-decoration: none;
  padding: 15px 45px;
  color: white;
  width: 120px;
  text-align: center;
  font-size: 1.2em;
  margin-right: 5px;
  white-space: nowrap;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#trail-buttons li.add_to_stack a:hover {
  background-color: #b25735;
}

#trail-buttons li.in_stack {
  font-size: 1.2em;
  color: #1c4c07;
  display: inline-block;
  border: 1px solid #1c4c07;
  padding: 14px 35px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#trail-buttons li.in_stack .icon-stack {
  margin-right: 5px;
}

#block-gmap_location-0 {
  float: right;
  margin-bottom: 0;
}

#moreContainer {
  float: right;
  position: relative;
  text-align: right;
  margin-top: 6px;
  margin-left: 15px;
}

#moreMenu {
  position: absolute;
  background-color: white;
  right: -11px;
  top: -11px;
  z-index: 99;
  padding: 10px 10px 0;
  width: 135px;
  cursor: pointer;
  border: 1px solid #b9b5ae;
}

.icon-cog {
  color: #26537a;
  font-size: 16px;
}

.menuTarget {
  color: #26537a;
}

.menuTarget .icon-cog {
  vertical-align: text-bottom;
}

.menuTarget.menuOpen,
.menuTarget.menuOpen .icon-cog {
  cursor: pointer;
  color: #b25735;
}

#moreMenu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

#moreMenu li a {
  text-decoration: none;
}

#moreMenu ul {
  margin: 15px 0 0;
  padding: 0;
}

#moreMenu .submitted {
  font-size: 0.8em;
  margin-top: 15px;
  text-align: left;
  border-top: 1px solid #b9b5ae;
  padding: 10px;
  margin: 15px -10px 0;
  background: #d7d9d7;
}

#moreMenu.padFix {
  padding-bottom: 15px;
}

.location-items {
  float: right;
}

#main .node-type-trail .region-trail-map .content {
  width: auto;
}

.address-container {
  width: 275px;
  float: right;
  background: none repeat scroll 0 0 #ebebeb;
  border: 1px solid #b9b5ae;
  margin-top: 10px;
  padding: 5px 10px;
}

.address-container .icon-globe {
  float: right;
  font-size: 23px;
  opacity: 0.3;
  color: #26537a;
}

.address-container .icon-globe.menuOpen,
.address-container .icon-globe:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

#coordsContainer {
  position: relative;
}

#coordsMenu {
  display: block;
  position: absolute;
  top: 29px;
  background: white;
  padding: 3px 5px 4px;
  text-align: right;
  width: 87px;
  right: -10px;
  border-top: 1px solid #b9b5ae;
  border-left: 1px solid #b9b5ae;
}

.address-container div.trail-utility-links {
  display: inline-block;
  float: none;
  background-color: #d7d9d7;
  border-top: 1px solid #b9b5ae;
  width: 260px;
  text-align: center;
  padding: 5px 18px 5px 0;
  margin: 10px -10px -5px -10px;
}

.address-container div.trail-distance {
  width: 275px;
  background-color: #c6d1c6;
  padding: 5px 10px;
  margin: 8px -10px -5px;
  font-size: 0.8em;
  border-top: 1px solid #b9b5ae;
}

.trailNoticeBand {
  display: inline-block;
  margin: 15px 0 0 -15px;
  padding: 6px 15px;
  width: 928px;
  background-color: #ffffcf;
  font-size: 0.8em;
  border-top: 1px solid #b9b5ae;
}

.trailNoticeBand img {
  vertical-align: top;
}

.trailNoticeBand .icon-notification {
  font-size: 1.1em;
}

#comments {
  margin: 0;
  margin: 0 -15px -15px;
  width: 958px;
  padding: 0;
  background-color: #d7d9d7;
  border-top: 1px solid #b9b5ae;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#comments h2 {
  background-color: #d7d9d7;
  padding: 5px 15px;
  margin: 0;
  font-family: Sanchez, serif;
  text-shadow: 1px 1px 0px white, 1px 1px 0px 0px white;
  text-shadow: 1px 1px 0px 0px white, 1px 1px 0px 0px white;
}

#comments h2.title {
  border-bottom: 1px solid #b9b5ae;
}

#comments .comment {
  padding: 5px 15px 0;
  border-top: 1px solid #b9b5ae;
  margin-top: -1px;
  border-bottom: 1px solid #b9b5ae;
  background: #ebebeb;
}

#comments .comment li {
  padding: 0;
  margin-right: 15px;
}

#comments .new {
  float: right;
  font-size: 0.7em;
  background-color: #934645;
  color: white;
  padding: 1px 5px;
  border-radius: 3px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.comment_forbidden a,
#comments .comment li a {
  font-size: 0.8em;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #26537a;
  padding: 3px 10px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.comment_forbidden a:hover,
#comments .comment li a:hover {
  background-color: #b25735;
}

#comments ul.links {
  margin: 0 0 15px;
}

#comments .comment .submitted {
  font-size: 0.8em;
}

ul.links li.add_to_stack {
  padding: 0;
}

ul.links li.remove_from_stack {
  display: none;
}

#trail-buttons:hover ul.links li.remove_from_stack {
  display: inline-block;
}

.remove_from_stack a {
  font-size: 0.8em;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
  background-color: #934645;
  padding: 2px 5px;
  vertical-align: top;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.remove_from_stack a:hover {
  background-color: #b25735;
}

.not-front .view-id-Trails .views-row-2,
.not-front .view-id-Trails .views-row-5,
.not-front .view-id-Trails .views-row-8,
.not-front .view-id-Trails .views-row-11,
.not-front .view-id-Trails .views-row-14 {
  margin-left: 22px;
  margin-right: 22px;
}

.not-front .view-id-park_profile .views-row-2,
.not-front .view-id-park_profile .views-row-5,
.not-front .view-id-park_profile .views-row-8,
.not-front .view-id-park_profile .views-row-11,
.not-front .view-id-park_profile .views-row-14 {
  margin-left: 22px;
  margin-right: 22px;
}

.stack_row_2,
.stack_row_5,
.stack_row_8,
.stack_row_11,
.stack_row_14 {
  margin-left: 22px;
  margin-right: 22px;
}

.stack_row,
.view-Trails .views-row,
.view-park-profile .views-row {
  display: inline-block;
}

.node-type-trail.node-teaser {
  display: inline-block;
  border: 1px solid #b9b5ae;
  width: 290px;
  text-align: left;
  vertical-align: top;
  margin-top: 25px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -moz-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -o-linear-gradient(#ebebeb, #d3d3d3);
  background-image: linear-gradient(#ebebeb, #d3d3d3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.node-teaser .trail-name {
  font-family: Sanchez, serif;
  font-size: 1.5em;
  padding: 15px 15px 0;
  line-height: 1;
  font-weight: bold;
  text-shadow: 1px 1px 0px white, 1px 1px 0px 0px white;
  text-shadow: 1px 1px 0px 0px white, 1px 1px 0px 0px white;
}

.node-teaser .trail-name a {
  text-decoration: none;
}

.node-type-trail.node-teaser .trail-meta {
  padding: 5px 15px 7px;
}

.node-type-park.node-teaser .trail-image,
.node-type-trail.node-teaser .trail-image {
  padding: 0 15px;
}

.node-type-trail.node-teaser .trail-image img {
  border: 1px solid #b9b5ae;
}

.node-type-trail.node-teaser .trail-badges {
  border-top: 1px solid #b9b5ae;
  margin-top: 10px;
}

.node-type-trail.node-teaser .trail-badges img {
  cursor: pointer;
}

.node-type-trail.node-teaser .trail-badges .trail-meta-stack,
.node-type-trail.node-teaser .trail-badges .trail-meta-comment,
.node-type-trail.node-teaser .trail-badges .trail-meta-verify {
  float: left;
  width: 96px;
  height: 15px;
  padding: 5px 0;
  text-align: center;
  font-size: 0.9em;
  vertical-align: top;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -moz-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -o-linear-gradient(#ebebeb, #d3d3d3);
  background-image: linear-gradient(#ebebeb, #d3d3d3);
}

.trail-meta-stack .icon-stack.not {
  color: #9f9f9f;
}

.node-type-trail #edit-comment {
  height: 65px;
  border-right: 0 none;
  border-left: 0 none;
  border: 1px solid #b9b5ae;
}

.node-type-trail #comments .form-item {
  padding: 0 15px;
  margin: 0 0 5px;
}

.node-type-trail #comments fieldset {
  display: none;
}

.node-type-trail #comments .form-submit {
  margin: 0 0 15px 15px;
}

.node-type-trail .box {
  margin: 0;
}

.node-type-trail.node-teaser .trail-meta-comment {
  border-left: 1px solid #b9b5ae;
  border-right: 1px solid #b9b5ae;
}

.section-comment .comment-by-viewer {
  margin-top: 5px;
  background-color: #ebebeb;
  border: 1px solid #b9b5ae;
  padding: 0 15px;
}

.indented .comment {
  border-left: 1px solid #b9b5ae;
}

.indented .indented {
  margin-left: 15px;
}

/* Trail Verify */
.node-type-trail-verify h1.title,
.node-type-trail-verify .region-content-top {
  display: none;
}

.node-type-trail-verify strong {
  width: 150px;
  display: inline-block;
}

.node-type-trail-verify #content-area div {
  margin-bottom: 10px;
}

.node-type-trail-verify .seperator {
  margin: 15px 0;
  border-top: 1px solid #b9b5ae;
}

.node-type-trail-verify #content-area div .editablefields {
  display: inline-block;
  margin-bottom: 0;
}

.node-type-trail #comment-form #edit-comment-wrapper label {
  display: none;
}

.node-type-trail #comment-form label {
  display: inline-block;
}

/* Blog */
.page-blog h1.title {
  margin-bottom: 10px;
}

.page-resources h2 a,
.page-blog h2 a {
  text-decoration: none;
}

.page-blog .item-list {
  display: none;
}

.not-front .node-type-blog.node-teaser,
.not-front .node-type-resource.node-teaser {
  margin-top: 15px;
}

.not-front .node-type-blog.node-teaser .content
.not-front .node-type-resource.node-teaser .content {
  margin-top: 15px;
}

.node-type-blog .content img,
.node-type-resource .content img {
  float: left;
  margin: 0 15px 0 0;
}

.build-mode-full.node-type-blog .content img,
.build-mode-full.node-type-resource .content img {
  border: 10px solid #c6d1c6;
}

.build-mode-teaser.node-type-blog .content img,
.build-mode-teaser.node-type-resource .content img {
  border: 5px solid #c6d1c6;
}

.imagecache-front_blog img,
.imagecache-front_resource img {
  float: left;
  margin-right: 10px;
  border: 5px solid #c6d1c6;
}

.comment-links .blog-comment,
.comment-links .blog-related-trail,
.comment-links .blog-read-more,
.comment-links .blog-submitted {
  padding: 5px 10px;
}

.front .comment-links .blog-submitted,
.front .comment-links .blog-read-more,
.front .comment-links .blog-related-trail,
.front .comment-links .blog-comment {
  padding: 3px 10px;
}

.comment-links .blog-comment {
  float: left;
  border-right: 1px solid #b9b5ae;
  cursor: pointer;
}

.comment-links .blog-comment img {
  vertical-align: top;
}

.comment-links .blog-related-trail {
  float: left;
  border-right: 1px solid #b9b5ae;
}

.comment-links .blog-submitted,
.comment-links .blog-read-more {
  float: right;
  border-left: 1px solid #b9b5ae;
}

.comment-links .blog-read-more {
  background-color: #26537a;
}

.comment-links .blog-read-more a {
  color: white;
  text-decoration: none;
}

.comment-links .blog-read-more:hover {
  background-color: #b25735;
}

.memberDrive-lg {
  border: 1px solid #b9b5ae;
  background-color: #ebebeb;
  padding: 10px;
  margin-top: 10px;
  font-size: 15px;
  text-align: center;
}
.memberDrive-lg a {
  font-weight: bold;
}
.memberDrive-lg strong {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
}
.memberDrive-lg ul {
  margin: 0;
}
.memberDrive-lg li {
  list-style-type: none;
  display: inline-block;
  margin: 0 10px;
}

.node-type-park.build-mode-full .park-image {
  float: left;
  width: 259px;
  border: 1px solid #b9b5ae;
  padding: 15px;
  margin-right: 15px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -moz-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -o-linear-gradient(#ebebeb, #d3d3d3);
  background-image: linear-gradient(#ebebeb, #d3d3d3);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.node-type-park.node-teaser {
  display: inline-block;
  border: 1px solid #b9b5ae;
  width: 290px;
  text-align: left;
  vertical-align: top;
  margin-top: 25px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f0f3f0), color-stop(100%, #c6d1c6));
  background-image: -webkit-linear-gradient(#f0f3f0, #c6d1c6);
  background-image: -moz-linear-gradient(#f0f3f0, #c6d1c6);
  background-image: -o-linear-gradient(#f0f3f0, #c6d1c6);
  background-image: linear-gradient(#f0f3f0, #c6d1c6);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.node-type-park.build-mode-teaser .park-image {
  width: 259px;
  border: 1px solid #b9b5ae;
  margin: 15px 0 10px;
}

.park-city {
  font-size: 1.5em;
}

.node-type-park .region-content-bottom {
  margin-top: 50px;
  padding-bottom: 15px;
}

.node-type-park #content-area {
  margin-top: 15px;
}

.park-source {
  font-size: 0.9em;
  font-style: italic;
  text-align: right;
}

.park-marker {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 25px 25px 0;
  float: right;
  cursor: pointer;
  border-color: transparent #26537a transparent transparent;
}

.section-members h1.title {
  display: none;
}

.userWidget {
  margin-bottom: 15px;
  margin-right: 25px;
  min-height: 100px;
}

.userWidget .picture {
  float: left;
  margin: 0 15px 0 0;
}

.userWidget .information {
  display: inline-block;
  width: 780px;
}

.userWidget .name {
  font-size: 1.8em;
  margin-bottom: 5px;
  font-family: Sanchez, serif;
}

.userWidget .personal {
  margin-bottom: 10px;
  color: #9f9f9f;
}

.userWidget .personal span {
  display: inline-block;
  margin-right: 15px;
}

.userWidget .socialIcons {
  display: inline-block;
  margin-left: 10px;
}

.userWidget .socialIcons a {
  margin-right: 5px;
  text-decoration: none;
  font-size: 0.7em;
}

#block-views-Stack-block_1 {
  width: 928px;
  background-color: #ebebeb;
  padding: 15px;
  border: 1px solid #b9b5ae;
  margin: 0 -16px -1px;
}

#block-views-Stack-block_1 .views-row .views-field-field-trail-primary-photo-fid {
  float: left;
  margin: 0 10px 0 0;
}

#block-views-Stack-block_1 .views-row {
  display: inline-block;
  width: auto;
  border: 1px solid #b9b5ae;
  padding: 10px;
  background-color: white;
  vertical-align: top;
  margin: 0 10px 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#block-views-Stack-block_1 .views-row img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

#block-views-Stack-block_1 .views-row div {
  margin-left: 40px;
}

#block-views-Profile_activity-block_1,
#block-views-Activity-block_1 {
  width: 928px;
  border: 0 none;
  float: none;
  display: block;
  margin: 0 -15px;
  clear: both;
  padding: 15px 15px;
  border-top: 1px solid #b9b5ae;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #d3d3d3));
  background-image: -webkit-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -moz-linear-gradient(#ebebeb, #d3d3d3);
  background-image: -o-linear-gradient(#ebebeb, #d3d3d3);
  background-image: linear-gradient(#ebebeb, #d3d3d3);
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}

#block-views-Stack-block_1 h2,
#block-views-Activity-block_1 h2,
#block-views-Profile_activity-block_1 h2 {
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.section-user #content-area {
  margin-bottom: 15px;
}

#hybridauth-user-identity h3 {
  font-family: "Sanchez", Arial, serif;
  margin-bottom: 0;
}
#hybridauth-user-identity .hybridauth-widget {
  margin-top: 0;
}

.page-trails-verify .webform-client-form textarea {
  width: 395px !important;
}

.sourceContainer {
  background-color: #ebebeb;
  padding: 5px 10px;
  margin: 15px 0 0;
}

.sourceContainer .header {
  font-weight: bold;
  color: #9f9f9f;
  margin-bottom: 3px;
}

.section-resources .region-content-top {
  margin: 0 -15px;
  background: #ebebeb;
  width: 958px;
  border-bottom: 1px solid #b9b5ae;
}

.section-resources h1.title {
  background-color: #ebebeb;
  margin: -15px;
  padding: 15px;
  width: 928px;
}

.node-type-resource h1.title {
  background-color: transparent;
  margin: 0;
  padding: 0;
  width: auto;
}

#block-taxonomy_block-0 {
  margin-bottom: 25px;
}

#block-taxonomy_block-0 ul {
  margin: 0 10px 0;
  padding: 0;
  text-align: center;
}

#block-taxonomy_block-0 li {
  padding: 5px;
  color: white;
  display: inline-block;
  background-color: #26537a;
  margin: 0 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

#block-taxonomy_block-0 li:hover {
  background-color: #b25735;
  cursor: pointer;
}

#block-taxonomy_block-0 li a {
  color: white;
  text-decoration: none;
}

.page-apanel .tabs {
  display: none;
}

.page-apanel .region-content-bottom .block-block,
.page-apanel .block-views {
  float: left;
  padding: 15px;
  border: 1px solid #b9b5ae;
  margin-bottom: -1px;
  margin-left: -1px;
  min-height: 200px;
}

.page-apanel .region-content-bottom .block-block.odd,
.page-apanel .block-views.odd {
  width: 448px;
}

.page-apanel .region-content-bottom .block-block.even,
.page-apanel .block-views.even {
  width: 449px;
}

.page-apanel #content-area {
  display: none;
}

.page-apanel .region-content-bottom {
  margin: 15px -15px 0;
}

.page-apanel #block-views-aPanel_activity-block_1 {
  border: 0 none;
  width: 928px;
  float: none;
  display: block;
  clear: both;
}

#user-login .item-list, #user-register .item-list {
  margin-bottom: 25px;
}
#user-login .item-list h3, #user-register .item-list h3 {
  font-family: "Sanchez", Arial, serif;
  margin-bottom: 0;
}
#user-login .item-list .hybridauth-widget, #user-register .item-list .hybridauth-widget {
  margin-top: 0;
}

.page-friends .node {
  margin-top: 25px;
}

.friendRow {
  clear: both;
  border: 1px solid #b9b5ae;
  padding: 10px;
  width: 33%;
  vertical-align: top;
  margin-right: 15px;
  background-color: #ebebeb;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.friendLink {
  font-size: 1.3em;
}

.friendPicture {
  float: left;
  margin-right: 10px;
}
.friendPicture img {
  float: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.serviceIcon {
  float: left;
  margin-top: 7px;
}
.serviceIcon img {
  float: left;
}
