@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-stack, .icon-notification, .icon-checkmark, .icon-arrow-last, .icon-globe, .icon-utilitymenu, .icon-arrow-first, .icon-arrow-left, .icon-ri, .icon-ma, .icon-arrow-down, .icon-arrow-right, .icon-ny, .icon-nj, .icon-comments, .icon-shield, .icon-ct, .icon-user, .icon-messages, .icon-web, .icon-survival, .icon-source, .icon-tips, .icon-hiking, .icon-bullet-selected, .icon-bullet, .icon-minus, .icon-facebook, .icon-twitter, .icon-plus, .icon-cog {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-stack:before {
	content: "\e000";
}
.icon-notification:before {
	content: "\e00b";
}
.icon-checkmark:before {
	content: "\e00a";
}
.icon-arrow-last:before {
	content: "\e006";
}
.icon-globe:before {
	content: "\e01e";
}
.icon-utilitymenu:before {
	content: "\e01d";
}
.icon-arrow-first:before {
	content: "\e005";
}
.icon-arrow-left:before {
	content: "\e004";
}
.icon-ri:before {
	content: "\e01c";
}
.icon-ma:before {
	content: "\e01b";
}
.icon-arrow-down:before {
	content: "\e003";
}
.icon-arrow-right:before {
	content: "\e002";
}
.icon-ny:before {
	content: "\e01a";
}
.icon-nj:before {
	content: "\e019";
}
.icon-comments:before {
	content: "\e001";
}
.icon-shield:before {
	content: "\e007";
}
.icon-ct:before {
	content: "\e017";
}
.icon-user:before {
	content: "\e018";
}
.icon-messages:before {
	content: "\e016";
}
.icon-web:before {
	content: "\e015";
}
.icon-survival:before {
	content: "\e00f";
}
.icon-source:before {
	content: "\e010";
}
.icon-tips:before {
	content: "\e013";
}
.icon-hiking:before {
	content: "\e00e";
}
.icon-bullet.selected:before {
	content: "\e008";
}
.icon-bullet:before {
	content: "\e009";
}
.icon-minus:before {
	content: "\e014";
}
.icon-facebook:before {
	content: "\e012";
}
.icon-twitter:before {
	content: "\e011";
}
.icon-plus:before {
	content: "\e00d";
}
.icon-cog:before {
	content: "\e00c";
}
