﻿body {
	height: 100%;
}

@media (max-width: 959px) {
	#page,
	#content, .no-sidebars #content,
	#page-wrapper {
		width: 700px;
		margin: 0 auto;
	}
	#header,
	#nav,
	#comments,
	.comment-links {
		width: 698px;
	}
	.region-page-closure,
	.trail-verify {
		width: 668px;
	}
	.trail-verify {
		margin-top: 15px;
	}
	#tagline {
		float: left;
		clear: left;
		margin: 0 0 0 20px;
	}
	#nice-menu-1 {
		margin-right: -1px;
	}
	ul.nice-menu li {
		width: 130px;
	}

	ul.nice-menu li.menu-381 {
		width: 125px
	}

	ul.nice-menu li.menu-308 {
		width: 150px;
	}
	#nice-menu-1 .nolink, #nice-menu-1 a,
	#nice-menu-1 .menu-381 .nolink {
		font-size: 1em;
		padding: 9px 0 9px 20px;
	}
	ul#nice-menu-1 li.menu-314 a {
		padding: 9px 0;
		width: 135px;
	}
	#block-block-1 {
		width: 154px;
	}
	#main .node-type-trail .content {
		float: none;
	}
	.location-items {
		float: none;
		width: auto;
		margin-top: 10px;
	}
	.region-trail-map {
		float: left;
	}
	.address-container {
		float: right;
		margin-top: 0;
	}
	.node-data-container {
		width: 424px;
	}
	#gmap-auto1map-gmap0 {
		width: 345px !important;
	}
	#block-block-12 a {
		float: none;
		margin: 0 10px;
	}
	#pre-content #block-views-Trails-block_1 {
		width: 698px;
	}
	#pre-content #block-block-8 {
		float: none;
		display: inline-block;
		width: 698px;
	}
	#front-state-select {
		margin-left: 25px;
	}
	#block-views-front-block_2 {
		width: 698px;
		margin-top: 1px;
	}
	#block-views-front-block_2 .view-header {
		width: 668px;
	}
	#block-views-front-block_2 .view-content {
		width: 683px;
	}
	.front .comment-links {
		width: 698px;
	}
	#block-views-front-block_1 .view-header,
	#block-views-front-block_1 li {
		width: 328px;
	}
	#block-views-front-block_3 .view-header,
	#block-views-front-block_3 li {
		width: 329px;
	}
	.region-page-closure {
		margin-top: 10px;
	}
	#block-views-Activity-block_1,
	#block-views-Stack-block_1,
	#block-views-Profile_activity-block_1,
	.section-resources h1.title,
	#block-views-front-block_2 .view-header {
		width: 668px;
	}
	.userWidget {
		margin-right: 0;
	}
	.userWidget .information {
		width: 555px;
	}
	.not-front .view-id-Trails .views-row-2, .not-front .view-id-Trails .views-row-5, .not-front .view-id-Trails .views-row-8, .not-front .view-id-Trails .views-row-11, .not-front .view-id-Trails .views-row-14 {
		margin: 0;
	}
	.not-front .view-id-Trails .views-row-odd {
		margin-right: 25px;
	}
	.not-front .view-id-Trails .view-content {
		padding: 0 28px;
	}
	.section-resources .region-content-top {
		width: 698px;
	}
	#block-mailchimp-7d4ae542e2,
	.front #block-block-13 {
		border-right: 0 none;
		width: 648px;
	}
	.front.not-logged-in .region-content-bottom {
		width: 698px;
		border-right: 0 none;
		border-radius: 0 0 5px 5px;
	}
	.front.not-logged-in #block-user-0 {
		width: 648px;
		float: none;
		display: block;
		clear: both;
		margin: 0;
		border-top: 1px solid #B9B5AE;
		padding-bottom: 25px;
	}
	.front #block-user-0 #edit-name-wrapper {
		margin-top: 15px;
	}
	#block-mailchimp-7d4ae542e2 {
		border-top: 1px solid #B9B5AE;
	}
	.front #block-block-13 {
		padding-bottom: 5px;
	}
	.front.not-logged-in #block-block-15 {
		margin-top: -59px;
	}
	.front #user-login-form strong {
		margin-bottom: 0;
	}
	.socialWidgets .socialHeader {
		display: block;
		float: none;
		text-align: center;
		margin: 5px 0 15px 0;
	}
	#block-menu-secondary-links li {
		padding: 15px;
	}
	#block-views-front-block_3 li {
		height: 190px;
	}
	.front.logged-in .region-content-bottom .block-views {
		float: left;
		margin-bottom: 0;
		height: 350px;
		background-color: #eaeaea;
	}
	.address-container div.trail-distance,
	.address-container {
		width: 290px;
	}
	#trail-buttons {
		margin: 0;
		text-align: left;
		clear: both;
		margin-bottom: 10px;
	}
	.memberDrive-lg {
		text-align: left;
	}
	.memberDrive-lg li {
		list-style-type: circle;
		display: list-item;
		margin: 0;
	}
}

@media (max-width: 699px) {
	#main {
		border-radius: 0;
	}
	#page,
	#content, .no-sidebars #content,
	#page-wrapper {
		width: 320px;
		margin: 0 auto;
	}
	#header,
	#nav,
	#comments,
	.comment-links,
	.region-page-closure {
		width: 318px;
	}
	#countContainer {
		float: none;
		margin: 0;
		background: none repeat scroll 0 0 #EBEDEB;
	}
	#header {
		text-align: center;
		background: white none;
	}
	#logo {
		float: none;
		margin: 10px 0;
		display: inline-block;
		padding: 0;
	}
	#tagline {
		display: none;
	}
	#userUtilityMenu {
		line-height: 2;
	}
	#userUtilityMenu a {
		padding: 5px;
	}
	.icon-arrow-down {
		margin-top: 18px;
	}
	#nice-menu-1 {
		border-top: 1px solid #B9B5AE;
	}
	ul.nice-menu li,
	ul.nice-menu li.menu-381,
	ul.nice-menu li.menu-308 {
		width: 318px;
	}
	#nice-menu-1 .nolink, #nice-menu-1 a,
	#nice-menu-1 .menu-381 .nolink {
		font-size: 1.5em;
	}
	#nice-menu-1 .menuparent ul {
		margin-top: 20px;
	}
	#nice-menu-1 .menuparent ul li {
		width: 318px;
	}
	#nice-menu-1 .menuparent ul a, #nice-menu-1 .menuparent.over ul a, #nice-menu-1 .menuparent ul span, #nice-menu-1 .menuparent.over ul span,
	#nice-menu-1 .menuparent ul li.menu-614 a, #nice-menu-1 .menuparent ul li.menu-354 a, #nice-menu-1 .menuparent ul li.menu-378 a, #nice-menu-1 .menuparent ul li.menu-631 a, #nice-menu-1 .menuparent ul li.menu-768 a, #nice-menu-1 .menuparent ul li.menu-716 a, #nice-menu-1 .menuparent ul li.menu-797 a {
		width: 278px;
	}
	#nice-menu-1 .menuparent ul {
		width: auto;
	}
	ul#nice-menu-1 li.menu-314 a {
		padding: 5px 0 5px 20px;
		text-align: left;
	}
	#pre-content .views-row .views-field-title {
		font-size: 1.5em;
	}
	#block-block-1 {
		width: 298px;
		padding: 10px;
		border-bottom: 1px solid #B9B5AE;
		margin: 0 0px;
		text-align: center;
	}
	#block-block-1 a:first-child {
		margin-right: -20px;
	}
	.node-type-trail .node-photos {
		width: 268px;
		text-align: center;
		margin: 0 0 10px;
	}
	.node-data-container {
		width: 290px;
	}
	.node-data > strong {
		width: 120px;
	}
	.location-items {
		margin-top: 0;
	}
	#gmap-auto1map-gmap0 {
		width: 290px !important;
	}
	#block-gmap_location-0 {
		float: none;
	}
	.region-trail-map {
		float: none;
	}
	.address-container {
		width: 268px;
		margin-top: 10px;
	}
	.address-container div.trail-utility-links {
		width: 270px;
	}
	.trail-verify {
		width: 287px;
	}
	.node-type-trail .meta {
		float: none;
	}
	.comment-links .blog-submitted,
	.comment-links .submitted {
		border-left: 0 none;
		border-top: 1px solid #B9B5AE;
		width: 298px;
		float: none;
		display: block;
		clear: both;
	}
	#block-taxonomy_block-0 li,
	.terms .activity {
		margin-bottom: 10px;
	}
	.not-front .view-id-Trails .views-row-2, .not-front .view-id-Trails .views-row-5, .not-front .view-id-Trails .views-row-8, .not-front .view-id-Trails .views-row-11, .not-front .view-id-Trails .views-row-14 {
		margin: 0;
	}
	textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
		width: 290px !important;
	}
	/* Begin Front Page */
	#pre-content #block-views-Trails-block_1 {
		width: 318px;
	}
	#pre-content #block-views-Trails-block_1 .view-content {
		height: 230px;
	}
	#block-block-8 {
		width: 318px;
	}
	#map {
		padding-left: 15px !important;
	}
	#block-views-front-block_3 li, #block-views-front-block_1 li {
		width: 298px;
		border-left: 0 none;
		border-right: 0 none;
	}
	#block-views-front-block_3 .view-header, #block-views-front-block_1 .view-header {
		width: 298px;
		border: 0 none;
	}
	.userWidget .information,
	#block-views-Activity-block_1,
	#block-views-Profile_activity-block_1,
	#block-views-Stack-block_1,
	#block-views-Profile_activity-block_1,
	.section-resources h1.title,
	#block-views-front-block_2 .view-header {
		width: 288px;
	}
	#block-views-front-block_2 .view-content {
		width: 290px;
		float: none;
	}
	#block-views-front-block_2,
	.front .comment-links {
		width: 318px;
	}
	#block-views-front-block_1 {
		margin: 0;
	}
	#block-views-front-block_3 {
		border-bottom: 1px solid #B9B5AE;
	}
	#block-views-front-block_2 .views-row-last .comment-links, #block-views-front-block_2 .views-row-last .comment-links .blog-read-more {
		border-radius: 0;
	}
	.comment-links .blog-related-trail {
		border-right: 0 none;
	}
	#pre-content .views-field-field-trail-primary-photo-fid {
		float: none;
		margin: 0;
		width: 290px;
		overflow: hidden;
		display: inline-block;
		
	}
	.section-resources .region-content-top {
		width: 318px;
	}
	.comment-links ul.links li.in_stack,
	.comment-links .blog-comment.source {
		border: 0 none;
	}
	.userWidget .information {
		margin-top: 15px;
	}
	.userWidget .name {
		line-height: 1;
		font-size: 1.5em;
	}
	#block-views-Stack-block_1 .views-row-even {
		margin: 10px 0;
	}
		.not-front .view-id-Trails .views-row-odd {
		margin-right: 0;
	}
	.not-front .view-id-Trails .view-content {
		padding: 0;
	}
	#pre-content #block-block-8 {
		width: 318px;
		border-top: 1px solid #B9B5AE;
	}
	#front-state-select {
		margin-left: 0;
	}
	#block-views-front-block_2 {
		margin-top: 0;
		padding-bottom: 15px;
	}
	.address-container div.trail-distance,
	.front.not-logged-in #block-user-0,
	.front #block-block-13,
	#user-login-form,
	#block-mailchimp-7d4ae542e2	{
		width: 268px;
	}
	.front.not-logged-in .region-content-bottom {
		width: 278px;
	}
	.front #block-user-0 input[type="password"],
	.front #block-user-0 input[type="text"],
	#edit-mailchimp-lists-7d4ae542e2-EMAIL {
		width: 268px !important;
	}
	.front #user-login-form {
		width: 268px;
	}
	.front.not-logged-in #block-block-15 {
		float: none;
		text-align: center;
		margin: 0 0 15px 0;
	}
	#block-block-16 .content {
		border-radius: 0;
	}
	.socialWidgets .socialItem {
		display: block;
		margin: 0 0 15px 0;
		vertical-align: middle;
		line-height: 1;
		min-width: 85px;
		text-align: center;
	}
	.fb_iframe_widget {
		margin-left: -12px;
	}
	#plusone {
		margin-left: 15px;
	}
	#block-menu-secondary-links li {
		display: block;
	}
	#block-menu-secondary-links li {
		display: inline-block;
		font-size: 1.5em;
	}
	#pre-content .views-row .views-field-province,
	#pre-content .views-row .views-field-field-trail-park-nid	{
		font-size: 1.1em;
	}
	.front.logged-in .region-content-bottom .block-views {
		height: auto;
	}
	#block-block-19 {
		width: 318px;
	}
	#block-block-19 .content {
		border-radius: 0;
	}
	.page-apanel .region-content-bottom .block-block.even,
	.page-apanel .block-views.even,
	.page-apanel .region-content-bottom .block-block.odd, 
	.page-apanel .block-views.odd,
	.page-apanel #block-views-aPanel_activity-block_1	{
		width: 288px;
		float: none;
	}
	.view-id-members table {
		font-size: 0.8em;
	}
	.node-data.name {
		width: 275px;
	}
	#moreMenu li {
		line-height: 2;
	}
	.node .terms {
		margin-bottom: 0px;
	}
	#block-block-8 .buttons a {
		font-size: 1em;
	}
	#main .node-type-trail .content {
		margin-bottom: 10px;
	}
	.park-image {
		float: none;
	}
	.park-city {
		margin-top: 15px;
	}
}

