﻿@media only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {
	#logo {
		background: #FFFFFF url(/sites/trailstack.com/themes/denominator/images/logo2x.png) no-repeat scroll 0 0;
		background-size: 250px 35px;
	}
	#header-wrapper {
		background: #FFFFFF url(/sites/trailstack.com/themes/denominator/images/header-feet2x.png) repeat-x scroll left 10px;
		background-size: 91px 41px;
	}
}