body {
background-image: url(images/transGrid.png);
background-color: #CFCFCF;
background-attachment: fixed;
font-family: Arial, Verdana, Sans-Serif;
color: #3F3F3F;
overflow-x: hidden;
}

a:link, a:visited, a:active{
color: #206FAF;
text-decoration: none;
}

a:hover, a:focus{
text-decoration: underline;
-moz-box-shadow: 0;
}

div.messages, div.status, div.warning, div.error {
display: inline-block;
margin: 0 0 10px;
padding-right: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

input , textarea, select {
padding: 3px;
border: 1px solid #CFCFCF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

input:hover, textarea:hover, select:hover {
border: 1px solid #459ADF;
}

input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
border: 1px solid #459ADF;
-moz-box-shadow: 0px 0px 2px #206FAF;
}

input#edit-title {
font-size: 1.3em;
}

.page-404  .title {
display: none;
}

td.active {
background-color: transparent;
}

.form-submit {
border: 1px solid #CFCFCF;
background-color: #DFDFDF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 3px 10px;
cursor: pointer;
}

.form-submit:hover, .form-submit:focus {
background-color: #3F3F3F;
border: 1px solid #3F3F3F;
color: white;
}

.sticky-table, .views-table {
width: 100%;
}

table {
margin: 0;
}

#user-bar-band {
position: absolute;
top: 0;
left: 0;
background-color: #acacac;
width: 100%;
height: 4px;
-moz-box-shadow: 0px 1px 5px black;
-webkit-box-shadow: 0px 1px 5px black;
z-index: 88;
}

#user-bar-block {
position: relative;
margin-top: -6px;
float: right;
background-color: #acacac;
z-index: 99;
padding: 1px 10px 2px 10px;
-moz-box-shadow: 0 2px 2px #7F7F7F;
-moz-border-radius: 0 0 10px 10px;
-webkit-box-shadow: 0 2px 2px #7F7F7F;
-webkit-border-bottom-right-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
text-align: right;
color: white;
font-size: 1em;
margin-left: 180px;
letter-spacing: -0.1px;
cursor: default;
}

#last-access-date {
font-size: 0.8em;
color: #DFDFDF;
}

#user-bar-block img {
vertical-align: middle;
}

#primary {
margin-left: 0;
}

ul.menu li a {
color: white !important;
height: 59px;
display: block;
}

ul.menu li {
display: block;
list-style-type: none;
background-color: white;
margin-bottom: 5px;
padding-left: 5px;
border-right: 1px solid #CFCFCF;
-moz-border-radius: 5px 0 0 5px;
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
}

ul.menu li.active-trail {
border-right: 1px solid white;
}

#dhtml_menu-3074{
background-image: url(images/dash-tab.png);
background-repeat: no-repeat;
background-position: 3px 11px;
}

.active-trail #dhtml_menu-3074{
background-image: url(images/dash-tab.png);
background-position: 3px -60px;
}

#dhtml_menu-3074:hover {
background-image: url(images/dash-tab.png);
background-position: 3px -60px;
}

#dhtml_menu-198 {
background-image: url(images/invoice-tab.png);
background-repeat: no-repeat;
background-position: 0px 12px;
}

.active-trail #dhtml_menu-198 {
background-image: url(images/invoice-tab.png);
background-position: 0px -56px;
}

#dhtml_menu-198:hover {
background-image: url(images/invoice-tab.png);
background-position: 0px -56px;
}

#dhtml_menu-389 {
background-image: url(images/report-tab.png);
background-repeat: no-repeat;
background-position: 0px 11px;
}

.active-trail #dhtml_menu-389 {
background-image: url(images/report-tab.png);
background-position: 0px -70px;
}

#dhtml_menu-389:hover {
background-image: url(images/report-tab.png);
background-position: 0px -70px;
}

#dhtml_menu-892 {
background-image: url(images/meta-tab.png);
background-repeat: no-repeat;
background-position: 0px 12px;
}

.active-trail #dhtml_menu-892 {
background-image: url(images/meta-tab.png);
background-position: 0px -70px;
}

#dhtml_menu-892:hover {
background-image: url(images/meta-tab.png);
background-position: 0px -70px;
}

#dhtml_menu-929 {
background-image: url(images/contact-tab.png);
background-repeat: no-repeat;
background-position: 0px 12px;
}

.active-trail #dhtml_menu-929 {
background-image: url(images/contact-tab.png);
background-position: 0px -70px;
}

#dhtml_menu-929:hover {
background-image: url(images/contact-tab.png);
background-position: 0px -70px;
}

#dhtml_menu-3048 {
background-image: url(images/user-tab.png);
background-repeat: no-repeat;
background-position: 0px 12px;
}

.active-trail #dhtml_menu-3048 {
background-image: url(images/user-tab.png);
background-position: 0px -70px;
}

#dhtml_menu-3048:hover {
background-image: url(images/user-tab.png);
background-position: 0px -70px;
}

#content-inner {
background-color: white;
padding: 15px;
min-height: 252px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

body.admin-menu #content-inner  {
min-height: 380px;
}

.block ul {
margin: 0;
padding: 0;
}

.sidebar-left #content {
width: 915px;
margin-left: 45px;
margin-top: 0;
}

#sidebar-left {
width: 45px;
margin-top: 15px !important;
}

#sidebar-left-inner {
margin: 0;
padding: 0;
}

#logo-title {
margin-left: 50px;
}

.views-row-first  {
border-top: 0 none !important;
}

.view-Frontpage {
background-color: #EFFFF3;
width: 641px;
float: left;
border: 1px solid #CFCFCF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 0;
}

.view-Frontpage p {
margin: 0;
}

.view-Frontpage .views-row {
border-top: 1px solid #CFCFCF;
padding: 8px 0 0 0;
}

.view-Frontpage .view-footer {
float: right;
color: #AFAFAF;
margin: 0 10px 0 0;
background-color: white;
border: 1px solid #CFCFCF;
border-bottom: 0;
padding: 0 10px;
height: 18px;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}

.view-client-info .view-footer {
float: right;
color: #AFAFAF;
margin: 0 10px -1px 0;
background-color: white;
border: 1px solid #CFCFCF;
border-bottom: 0;
padding: 0 10px;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}

.view-Frontpage .views-field-title {
font-size: 1.2em;
font-weight: bold;
margin-left: 13px;
}

.views-field-timestamp {
color: #8F6262;
font-size: 0.7em;
}

.view-Frontpage .views-field-created  {
font-size: 0.90em;
float: right;
}

.view-Frontpage .views-field-created-1 {
color: #AFAFAF;
font-size: 0.7em;
float: right;
margin: 1px 13px 0 5px;
}

.view-Frontpage .views-field-body {
margin: 5px 10px;
border: 1px solid #E0EFE4;
background-color: white;
opacity: 0.8;
padding: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-Frontpage .views-field-delete-node, .view-Frontpage .views-field-edit-node  {
font-size: 0.7em;
opacity: 0.5;
margin-left: 10px;
}

.view-Frontpage .item-list .pager, .view-my-reports .item-list .pager, .view-my-invoices .item-list .pager  {
float: left;
text-align: right;
width: 357px;
color: #BFBFBF;
}

.view-my-reports .item-list .pager, .view-my-invoices .item-list .pager  {
float: left;
text-align: center;
width: 100%;
color: #BFBFBF;
}

.view-Frontpage .item-list .pager  a, #block-views-my_reports-block_1 .item-list .pager  a, .view-my-invoices .item-list .pager a {
color: #BFBFBF
}

.view-Frontpage .item-list .pager  a:hover, #block-views-my_reports-block_1 .item-list .pager  a:hover, .view-my-invoices .item-list .pager a:hover {
color: black;
}

.view-Frontpage .item-list .pager li, .view-my-reports .item-list .pager li, .view-my-invoices .item-list .pager li{
padding: 0;
}

#block-views-client_info-block_1 {
float: right;
width: 225px;
border: 1px solid #CFCFCF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
background-color: #FFFFEF;
}

#block-views-client_info-block_1 p {
margin: 0;
}

#block-views-client_info-block_1  .view-header {
float: left;
color: #AFAFAF;
margin: 0 10px -1px 10px;
background-color: white;
border: 1px solid #CFCFCF;
border-bottom: 0;
padding: 0 10px;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}

#block-views-client_info-block_1  .views-row-first {
border-top: 0 none;
padding-top: 0;
}

#block-views-client_info-block_1 .views-row {
text-align: right;
padding: 10px;
border-top: 1px solid #CFCFCF;
padding-top: 9px;
}

#block-views-client_info-block_1 .views-row  div{
padding: 0;
}

.toggle-client {
display: inline-block;
cursor: pointer;
color: #206FAF;
}

.toggle-client:hover {
text-decoration: underline;
}

.views-field-field-client-user-uid {
margin-top: 10px;   
}

.view-client-info .views-field-edit-node {
font-size:0.8em;   
display: inline-block;
}

#block-views-client_info-block_1 .views-row  label{
float: left;
margin-right: 10px;
}

/*My Invoices*/
.view-my-invoices {
width: 888px;
}

#add-invoice-button {
float: right;
padding: 5px 10px;
background-color: #474747;
color: white;
margin: -42px 10px 0 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#add-invoice-button:hover {
background-color: #206FAF;
text-decoration: none;
}

#block-views-my_invoices-block_1 {
margin-top: 15px;
display: inline-block;
}

#block-views-my_invoices-block_1  .view-my-invoices {
width: 621px;
background-color: #EFF9FF;
border: 1px solid #CFCFCF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 0px 10px 0 10px;
height: 190px;
}

.view-my-invoices .view-header {
margin: 5px 0 5px 0;
font-size: 1.3em;
-moz-border-radius: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}

.view-my-invoices .view-header p{
margin: 0 0 2px 0;
}

#block-views-my_invoices-block_1  .views-row-last,
#block-views-my_reports-block_1  .views-row-last {
margin-bottom: 5px;
}

.view-my-invoices tr.odd {
background-color: #E0EAEF;
border: 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-my-invoices tr.even {
background-color: transparent;
border: 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-my-invoices table {
width: 100%;
clear: both;
}

.view-my-invoices table thead {
display:none;
}

.view-my-invoices table  tr {
padding: 3px;
width: 99%;
display: inline-block;
}

.view-my-invoices td.views-field-title {
width: 65px;
padding-left: 5px;
}

.view-my-invoices td.views-field-field-invoice-client-nid {
width: 165px;
}

.view-my-invoices td.views-field-field-invoice-amount-value {
width: 90px;
}

.view-my-invoices td.views-field-created {
width: auto;
padding-right: 5px;;
}

.view-my-invoices td.views-field-created-1 {
font-size: 0.8em;
vertical-align: bottom;
padding: 3px 0 0 0;
color: #AFAFAF;
}

.view-my-invoices td.views-field-created  em,
.view-my-invoices td.views-field-created  em{
font-style: normal;
}

.invoice_outstanding {
background-image: url(images/outstanding.png);
background-position: 0 2px;
background-repeat: no-repeat;
padding-right: 10px;
width: 23px;
cursor: pointer;
}

.invoice_paid {
background-image: url(images/paid.png);
background-position: 0 2px;
background-repeat: no-repeat;
padding-right: 10px;
width: 23px;
cursor: pointer;
}

.view-my-invoices td.views-field-field-invoice-status-value {
padding-right: 3px;
}

/*Reports*/
.view-my-reports {
width: 888px;
}

#block-views-my_reports-block_1 {
display: inline-block;
margin-bottom: 0;
}

#block-views-my_reports-block_1 .view-my-reports {
border: 1px solid #CFCFCF;
background-color: #EFF9FF;
width: 621px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
padding: 0px 10px 0 10px;
height: 186px;
}

.view-my-reports .view-header{
margin: 5px 0 5px 0;
font-size: 1.3em;
-moz-border-radius: 5px;
-webkit-border-top-left-radius: 5px;
-webkit-border-top-right-radius: 5px;
}

.view-my-reports .views-row-last, .view-my-reports .views-row-last {
margin-bottom: 5px;
}

.view-my-reports .view-header p{
margin: 0;
}

.view-my-reports tr.even {
background-color: transparent;
border: 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-my-reports  tr.odd {
background-color: #E0EAEF;
border: 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-my-reports table {
width: 100%;
clear: both;
}

.view-my-reports table thead {
display: none;
}

.view-my-reports table tr {
padding: 3px;
width: 99%;
display: inline-block;
}

.view-my-reports td.views-field-title {
padding: 0 0 0 5px;
padding-left: 5px;
width: 160px;
}

.view-my-reports td.views-field-field-report-client-nid {
width: 185px;
}

.view-my-reports td.views-field-field-report-type-value {
width: 105px;
}

.view-my-reports td.views-field-created {
width: auto;
padding-right: 5px;
}

.view-my-reports td.views-field-created  em,
.view-my-reports td.views-field-created  em{
font-style: normal;
}

.view-my-reports td.views-field-created-1 {
padding: 3px 0 0 0;
font-size: 0.8em;
vertical-align: bottom;
color: #AFAFAF;
}

.node-type-report iframe{
width: 886px;
height: 460px;
clear: both;
}

/*My Invoice & Report Shared*/
.view-my-invoices td.views-field-view-node,
.view-my-reports td.views-field-view-node {
text-align: center;
float: right;
display: inline-block;
margin-top: -22px;
}

.view-my-invoices .views-field-view-node a,
.view-my-reports .views-field-view-node a {
width: 90px;
cursor: pointer;
display: inline-block;
font-size: 0.8em;
opacity: 0.4;
text-align: center;
}

#block-views-my_invoices-block_1 .views-field-view-node a,
#block-views-my_reports-block_1 .views-field-view-node a {
width: 68px;
}

.view-my-invoices .views-field-view-node a:hover,
.view-my-reports .views-field-view-node a:hover {
opacity: 1;
}

.view-display-id-page_1 table tr {
padding: 10px;
width: 97%;
}

.view-display-id-page_1 td.views-field-title {
width: auto;
padding-left: 5px;
padding-right: 20px;
}

.view-display-id-page_1 td.views-field-field-invoice-amount-value {
min-width: 120px;
padding-right: 10px;
}

.view-display-id-page_1 td.views-field-field-report-type-value {
min-width: 115px;
padding-right: 40px;
}

/* Invoice Node Type*/
.node-type-invoice {

}

.node-type-invoice iframe{
width: 886px;
height: 460px;
clear: both;
}

.field-field-invoice-client .field-items {
display: inline:
}

.field-field-invoice-client .my-label {
display: inline;
float: left;
padding-right: 3px;
}

.field-field-invoice-client {
margin-bottom: 10px;
}

.field-field-invoice-amount {
display: inline;
float: left;
border: 1px solid #CFCFCF;
padding: 15px;
background-color: #EFEFEF;
font-weight: bold;
margin-right: 25px;
-moz-border-radius: 5px;
}

.field-field-invoice-status {
display: inline;
float: left;
border: 1px solid #CFCFCF;
padding: 15px;
background-color: #EFEFEF;
font-weight: bold;
margin-right: 95px;
-moz-border-radius: 5px;
}

.node-type-invoice .status-outstanding {
background-color: #EFD1D1;
width: 107px;
}

#status-icon-outstanding {
float: left;
margin-right: 7px;
margin-top: 2px;
}

.node-type-invoice .status-paid {
background-color: #D1EFD2;
width: 150px;
}

#status-icon-paid {
float: left;
margin-right: 7px;
margin-top: 2px;
}

.field-field-invoice-invoice{
margin-top: 15px;
float: left;
clear: both;
margin-bottom: 15px;
width: 100%;
}

#invoice-download-link {
background-color:#EFF9FF;
border:1px solid #CFCFCF;
float:right;
font-size:1.2em;
font-weight:bold;
margin-top:-44px;
color: #3F3F3F;
padding:10px 35px;
-webkit-border-radius:5px; 
-moz-border-radius:5px 5px 5px 5px;
}

#invoice-download-link:hover {
text-decoration: none;
color: #206FAF;
border:1px solid #206FAF;
}

/*Access Denied Page, used for general login*/
#user-login {
margin-top: 35px;
padding-bottom: 23px;
}

.section-access-denied h1.title {
display: none;
}

.section-access-denied .form-item {
margin: 1em 0;
}

.section-access-denied h1{
letter-spacing: -.5px;
margin-bottom: 25px;
}

.section-access-denied #content-header h1{
display: none;
}

.section-access-denied  #logo-title{
margin-left: 0;
}

.section-access-denied #access-denied-right {
float: right;
text-align: center;
width: 462px;
}

.section-access-denied #access-denied-right img {
opacity: 0.4;
}

.section-access-denied #access-denied-right img:hover{
opacity: 1;
}

.section-access-denied #access-denied-message {
color: #BFBFBF;
font-size: 1.2em;
letter-spacing: -0.5px;
margin-bottom: 6px;
padding-top: 130px;
}

.section-access-denied .logo-title {
margin-left: 15px;
}

#edit-name-wrapper .form-required {
display: none;
}

#edit-pass-wrapper .form-required {
display: none;
}

#edit-name-wrapper .description, #edit-pass-wrapper .description {
display: none;
}

#footer p {
margin: 0;
}

#admin-menu {
top: 4px;
}

#copyright, #hidePanel {
font-size: 0.7em;
}

#hidePanel {
cursor: pointer;
}

#footer {
display: block;
text-align: center;
}

.page-access-denied #content-inner {
min-height: 250px;
}

/*Client profile template*/
.node-type-client  p{
display: inline;
}

.node-type-client .field-field-client-logo {
float: right;
}

.node-type-client #content-header {
float: left;
}

.node-type-client .field-field-client-projects {
clear: both;
}

/*Meta*/
.page-meta .tabs, .page-meta  h1 {
display: none;
}

/*Contact*/
#edit-submitted-user-information-name, 
#edit-submitted-user-information-email,
#edit-submitted-user-information-user-data {
background-color: #CCCCCC;
}

.page-support fieldset {
border: 0 none;
border-left: 3px solid #474747;
padding-left: 16px;
}

.page-support .collapse-processed {
margin-left: -11px;
}

.page-access-denied .content-inner {
min-height: 0;
height: 230px;
}

#block-block-2 {
margin-bottom: 0;
}

.not-logged-in #logo-title {
margin-left: 0;
}