html {
	background-color: $backgroundColor;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $backgroundColor;
	font-family: $fontFamily;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: $fontFamily;
}

a {
	@include link-colors($blue, $orange, $blue, $blue, $orange);
}