#block-webform-client-block-3 {
	width: 300px;
	overflow: hidden;
	float: right;
	padding: 15px;
	margin: 0;
	background-color: rgba($white, 0.4);
	border: 1px solid $secondaryColor;
	@include single-box-shadow($white, 0px, 1px, 1px, 0px, true);
	@include single-text-shadow(0px, 1px, 1px, 0px, $secondaryColor);
}

#block-webform-client-block-3 label {
	width: 80px;
}

#block-webform-client-block-3  input[type=text],
#block-webform-client-block-3  input[type=email],
#block-webform-client-block-3  input[type=select],
#block-webform-client-block-3  textarea {
	width: 220px !important;
}

#block-webform-client-block-3 .form-submit {
	margin-left: 80px;
}
#block-webform-client-block-3  h2.title {
    font-size: 1em;
}

#block-webform-client-block-3 .form-required {
	display: none;
}