.front #main {
	@include single-box-shadow($black, 0px, -5px, 5px, -5px, false);
}

.front h1.title,
.page-contact h1.title,
.page-about h1.title {
	display: none;
}

.info-block {
	border: 1px solid $black;
	background-color: #cfcfcf;
	box-shadow: 0 0 1px #FFFFFF inset;
	margin-bottom: 30px;
	line-height: 1.5;
	@include border-radius();
	&.last {
		margin-bottom: 0px;
	}
	h1 {
		margin: 0 0 15px;
		background-color: $backgroundColor;
		color: white;
		padding: 3px 15px;
		text-shadow: 1px 1px 1px #000000;
		font-family: $fancyFontFamily;
	}
	h2 {
		margin: 0 0 5px;
		padding: 0 15px;
		font-family: $fancyFontFamily;
		&.materials {
			margin-top: 15px;
		}
	}
	p {
		padding: 0 15px 15px;
	}
	p, li {
		margin: 0;
		font-size: 1.2em;
	}
	ul {
		margin: 0 0 15px 15px;
		padding: 0;
	}
	li {
		list-style-type: none;
	}
}


.frontHeader {
	font-size: 1.8em;
	line-height: 1.5;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 30px;
	font-family: $fancyFontFamily;
	strong {
		font-size: 1.5em;
		font-style: italic;
		margin-bottom: 25px;
		display: inline-block;
	}
}