div.messages, div.status, div.warning, div.error {
    margin: 5px 0 15px;
}

table.sticky-table, table#content-field-overview {
	width: 100%
}

#dzdy_badge {
	margin-top: 20px;
}

#content, .no-sidebars #content {
	width: 845px;
}

.block-edit-link a {
    background: $grey1 none;
    color: $white;
    height: auto;
    padding: 2px 8px;
	font-size: 0.8em;
	text-decoration: none;
    @include border-radius();
}

.block-edit-link a:hover {
    background-color: $orange;
    background-image: none;
}
