#logo {
	width: 160px;
	height: 70px;
	display: inline-block;
	background: url() no-repeat scroll;
}

#header-wrapper {
	background: $backgroundColor url(/sites/beansdisposal.com/themes/denominator/images/header-bg.png) repeat center center;
	position: relative;
    z-index: 991;
    border-top: 5px solid $black;
    border-bottom: 1px solid $black;
    //@include single-box-shadow($grey2, 0px, 2px, 4px, 0px, false);
}

#header {
	width: 960px;
	margin: 0 auto;
	float: none;
	height: 140px;
	padding: 0;
}

#logo {
	background: url(/sites/beansdisposal.com/themes/denominator/images/logo.png) no-repeat center center;
	display: block;
	height: 191px;
	width: 347px;
	margin: 0 auto;
	float: none;
}