body.in-maintenance #page-wrapper{
	padding-top: 90px;
	margin-top: 0;
	width: 500px;
}

body.in-maintenance #content {
	width: 465px;
}

body.in-maintenance #header {
	background: none repeat scroll 0 0 transparent;
	padding: 0;
	float: none;
	width: auto;
	
}

body.in-maintenance #main {
    background-color: transparent;
    border: 0px solid #769EC1;
	padding: 0;
	margin-top: 25px;
}

body.in-maintenance #page {
    background-color: #FFFFFF;
    border: 1px solid #769EC1;
    padding: 15px;
	margin-top: 10px;
	text-align: center;
}

body.in-maintenance #logo {
	float: none;
}

body.in-maintenance h1.title {
	font-family: 'Vollkorn', serif;
	font-weight: bold;
}