.region-navigation {
	> div {
		width: 960px;
	}
}

#nav-marker-wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative;
    z-index: 99;
}

#nav-marker {
    display: none;
    float: right;
    position: relative;
	width: 23px;
	height: 12px;
	background: url() no-repeat scroll right 0;
}

.front #nav-marker {
    right: 423px;
    display: inline-block;
}

.page-about #nav-marker {
    right: 261px;
    display: inline-block;
}

.page-contact #nav-marker {
    right: 88px;
    display: inline-block;
}

#block-menu-primary-links {
	margin: 0;
	padding: 0;
}

#header .menu {
	margin: 0;
	padding: 0;
}

#header .menu li {
	display: inline-block;
	list-style-type: none;
}

#header .menu a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.7em;
	padding: 5px 30px;
	display: inline-block;
	color: #3f3f3f;
	font-family: $fancyFontFamily;
	font-weight: bold;
	text-shadow: 0 1px 1px $white;
}

#header .menu li a:hover {
	color: $orange;
}

#header .menu li a.active,
#header .menu li a.active:hover {
	cursor: default;
	color: $blue;
}