#page-wrapper {
    margin-top: 0px;
	position: relative;
    z-index: 990;
    width: 880px;
}

#main {
    padding: 15px;
    background-color: $white;
}

#main-wrapper {
    border: 1px solid $black;
    border-top: 0 none;
}

#pre-content-wrapper {
    position: relative;
    z-index: 99;
}

#pre-content {
    width: 800px;
    margin: 0 auto;
    padding: 25px;
    margin: 0 auto;
    color: $white;
    border: 1px solid $black;
    background: $red url(/sites/beansdisposal.com/themes/denominator/images/precon-bg.png) repeat center center;
    position: relative;
    @include single-box-shadow($white, 0px, 1px, 1px, 0px, true);
}

#pre-content .block {
    display: inline-block;
    vertical-align: top;
}

.region-footer {
    text-align: center;
    font-size: 0.8em;
    color: $borderColor;
}
