body.sidebar-second #content {
    margin-right: -715px;
    width: 715px;
}

body.sidebar-second .webform-client-form textarea {
    width: 565px !important;
}

.region-sidebar-second {
	width: 183px;
}

.region-sidebar-second {
    float: left;
    margin-left: 730px;
    margin-right: -960px;
	margin-top: 10px;
    padding: 0;
    width: 220px;
	border: 1px solid #BBD5EC;
	background-color: rgba(188, 214, 236, 0.5);
	box-shadow: 0 1px 1px 0 #FFFFFF inset;
}

.region-sidebar-second .section {
    margin: 0 20px;
    padding: 0;
}

.region-sidebar-second .header {
    display: inline-block;
    font-family: 'Vollkorn',serif;
    font-size: 1.3em;
}

.region-sidebar-second .block {
	margin-top: 1em;
}