$white: #FFFFFF;
$red: #99121D;
$black: #1D1D1D;

$grey1: #C1C6C2;
$grey2: #BFBFBF;

$blue: $black;
$orange: #B25735;

$primaryColor: #e8f4fe;
$secondaryColor: #76361F;
$borderColor: $black;
$backgroundColor: #353535;

$fontFamily: "Lato";
$fancyFontFamily: "Arvo";

$hoverDarkenValue: 5%;