/*Global*/
body {
font-family: verdana,arial,helvetica,sans-serif;
font-size: 12pt;
line-height: 1;
padding: 0;
margin: 0;
background: #232C1A url(/sites/devinryan.com/themes/devinryan/images/bg-tile.png) repeat scroll;
}

a:link, a:visited, a:active {
color: #7A6452;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

h1 {
color: #4F1C1A;
}

h2 {
font-family: Georgia;
font-size: 15pt;
font-weight: normal;
}

h1.title, h2.title, h3.title {
clear: both;
}

div.messages, div.status, div.warning, div.error {
margin: 0 20px 20px 0;
clear: both;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

body#tinymce {
background: #FFFFFF none;
padding: 0 10px;
line-height: 1.5em;
}

table.sticky-table, table#content-field-overview {
width: 100%
}

ul.tips {
margin: 0 0 0 38px;
}

.tinyFont {
font-size: 7pt;
}

.views-field-edit-node a,
.views-field-delete-node a {
background-color: #AFAFAF;
background-image: none;
color: #FFFFFF;
cursor: default;
cursor: pointer;
font-size: 0.8em;
padding: 1px 5px;
display: inline-block;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.views-field-edit-node {
margin-right: 5px;
}

.views-field-edit-node a:hover,
.views-field-delete-node a:hover {
background-color: #48170E;
text-decoration: none;
}

.ui-datepicker td a {
text-align: center;
}

.ui-datepicker td a:hover {
background-color: #7F7F7F;
color: #FFFFFF;
}

.ui-datepicker-next,
.ui-datepicker-prev {
cursor: pointer;
}

#printPage {
background-color: #BFBFBF;
background-image: none;
color: #FFFFFF;
cursor: default;
padding: 2px 8px;
width: 50px;
cursor: pointer;
margin: -40px 0 0 0;
float: right;
text-align: right;
font-size: 0.8em;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#printPage:hover {
text-decoration: none;
background-color: #B07E4E;
}

#printPage img {
float: left;
margin-top: 2px;
}

.node-type-page p {
line-height: 1.5em;
}

#sidebar-right #content {
width: 730px;
}

.page-404  .title {
display: none;
}

/*Template*/
#page-wrapper {
margin-top: 0px;
}

#page {
background-color: #FFFFFF;
border: 3px solid #FFFFFF;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#header {
height: 215px;
width: 959px;
background: #9A622F url(/sites/devinryan.com/themes/devinryan/images/header-bg.png) no-repeat scroll 0 0;
border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
}

#header-top {
color: #545F47;
font-size: 0.8em;
height: 32px;
margin: 0 auto -5px;
padding-top: 20px;
position: relative;
text-indent: 231px;
width: 960px;
background: transparent url(/sites/devinryan.com/themes/devinryan/images/header-top.png) no-repeat scroll 41px -5px;
}

#address {
color: color: #2E2A2A;
float: right;
clear: right;
font-size: 0.9em;
margin-right: 18px;
margin-top: 146px;
text-align: right;
text-shadow: 1px 1px 0px #000000;
color: #FFFFFF;
}

.logged-in #address {
 margin-top: 115px;
}

#content-area {
margin: 5px 0;
}


/*Header Links*/
#block-nice_menus-1 {
display: inline-block;
background-color: #FFFFFF;
float: right;
font-size: 9pt;
}

ul#nice-menu-1 {
margin: 0;
padding: 0;
border-bottom: 1px solid #88582A;
z-index: 44;
}

ul#nice-menu-1  ul {
margin-top: 0px !important;
margin-left: 0px;
border-top: 0 none;
}

ul#nice-menu-1 ul a {
width: 120px;
color: #88582A;
}

#nice-menu-1  li {
background: #FFFFFF;
margin-left: -1px;
}

#nice-menu-1  li:last-child {
border-right: 0 none;
}

#nice-menu-1  li.menuparent {
background: #FFFFFF none !important;
}

#nice-menu-1 .menuparent a {
padding: 0.3em 5px;
}

/*Tabs*/
ul.primary {
padding: 0;
background-image: none;
}

ul.primary li {
margin: 0 10px 0 0;
}

ul.primary li a {
height: auto;
padding: 2px 8px;
color: #FFFFFF;
background-color: #AFAFAF;
background-image: none;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.primary li a .tab {
height: auto;
background-image: none;
padding: 0;
}

ul.primary li a:hover {
background-color: #232C1A;
background-image: none;
}

ul.primary li a:hover .tab {
background-image: none;
}

ul.primary li.active a,
ul.primary li.active a:hover {
color: #FFFFFF;
background-color: #48170E;
background-image: none;
cursor: default;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
background-image: none;
}

ul.secondary {
padding: 0;
margin-top: 5px;
border-bottom: 0 none;
background-image: none;
}

ul.secondary li {
margin: 0 5px 0 0;
padding: 0;
}

ul.secondary a {
height: auto;
padding: 2px 8px;
color: #FFFFFF;
background-color: #AFAFAF;
background-image: none;
border: 0 none;
font-size: 0.9em;
font-weight: bold;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.secondary a .tab {
height: auto;
padding: 0;
}

ul.secondary a:hover {
background-image: none;
background-color: #232C1A;
}

ul.secondary a.active,
ul.secondary a.active:hover {
border: 0 none;
color: #FFFFFF;
background-color: #48170E;
background-image: none;
cursor: default;
}

/*Main Nav*/
#navbar {
overflow: visible;
}

#navbar-inner {
background-color: #48170E;
float: left;
}

#primary {
margin: 0;
}

#navbar {
border-top: 3px solid white;
height: 35px;
}

#navbar li {
padding: 0;
margin: 0;
}


/*Parent menus*/
ul.nice-menu li {
border-right: 1px solid #5f2e26;
border-left: 1px solid #2e0f09;
border-top: 0 none;
border-bottom: 0 none;
float: left;
background-color: #48170E;
}

ul.nice-menu-down li.menuparent {
background: #48170E url(/sites/devinryan.com/themes/devinryan/images/nav-arrow.png) no-repeat scroll 0 0 !important;
}

ul.nice-menu-down li.menuparent:hover {
background-color: #232C1A !important;
}

ul.nice-menu-down li.menuparent.menu-1074 a {
width: 100px;
}

ul.nice-menu-down li.menuparent.menu-1074 {
background-position: 86px 10px !important;
}

ul.nice-menu-down li.menuparent.menu-1074:hover {
background-position: 86px -31px !important;;
}

ul.nice-menu-down li.menuparent.menu-633 a {
width: 100px;
}

ul.nice-menu-down li.menuparent.menu-633 {
background-position: 84px 10px !important;
}

ul.nice-menu-down li.menuparent.menu-633:hover {
background-position: 84px -31px !important;
}

ul.nice-menu-down li.menuparent.menu-634 a {
width: 145px;
}

ul.nice-menu-down li.menuparent.menu-634 {
background-position: 124px 10px !important;
}

ul.nice-menu-down li.menuparent.menu-634:hover {
background-position: 124px -31px !important;
}

ul.nice-menu-down li.menuparent.menu-871 a {
width: 125px;
}

ul.nice-menu-down li.menuparent.menu-871 {
background-position: 110px 10px !important;
}

ul.nice-menu-down li.menuparent.menu-871:hover {
background-position: 110px -31px !important;
}

ul.nice-menu-down li.menuparent.menu-904 a {
width: 115px;
}

ul.nice-menu-down li.menuparent.menu-904 {
background-position: 72px 10px !important;
}

ul.nice-menu-down li.menuparent.menu-904:hover {
background-position: 72px -31px !important;
}

ul.nice-menu-down li.menu-1070 a {
width: 97px;
}

ul.nice-menu-down li.menu-1077 a {
width: 97px;
}

#navbar ul#nice-menu-2 a {
font-size: 10pt;
color: #FFFFFF;
font-family: Georgia;
font-size: 10pt;
text-decoration: none;
padding: 8px 12px;
text-shadow: 1px 1px 0 #000000;
letter-spacing: 0.2px;
}

#navbar ul#nice-menu-2 li:first-child {
border-left: 0 none;
}

#navbar ul#nice-menu-2 li:last-child {
border-right: 0 none;
}

/*Sub menus*/
ul.nice-menu ul {
margin-top: 7px !important;
}

ul.nice-menu ul li {
width: auto;
background-color: #232C1A;
border-left: 0 none;
border-right: 0 none;
border-bottom: 1px solid #FFFFFF;
}

ul.nice-menu ul li a {
font-size: 10pt !important;
}

ul.nice-menu li:hover {
background-color: #B07E4E;
}


/*Content*/
#content-inner {
padding: 0 15px;
}

/*Left Sidebar*/
.with-navbar #content,
.with-navbar #sidebar-left,
.with-navbar #sidebar-right {
margin-top: 50px;
margin-bottom: 10px;
}

#sidebar-left {
padding-left: 10px;
width: 195px;
}

#block-block-1 {
background-color: #c8b172;
font-size: 9pt;
padding: 5px 5px;
}

#block-block-1 .block-inner {
background-color: #FFFFFF;
padding: 5px 5px;
}

#block-block-1  .title {
margin-bottom: 5px;
}

#block-block-1  p {
padding: 0;
margin: 0;
}

#sidebar-left-inner {
margin: 0 5px 0 0;
}

/*Closure Blocks*/
#closure-blocks {
color: #FFFFFF;
font-size: 7pt;
padding: 10px 0 20px;
text-align: center;
}

#closure-blocks p{
margin: 0;
padding: 0;
line-height: 1.5;
}

#closure-blocks a {
color: #CF9F74;
}

/*Admin Styling*/
#edit-field-sale-photo-0-upload-wrapper {
margin-bottom: 0;
}

#edit-field-sale-photo-0-ahah-wrapper {
margin-bottom: 20px;
}

#edit-field-sale-photo-0-upload-wrapper .filefield-element {
margin-bottom: 0;
}

.teaser-checkbox div.form-item {
visibility: hidden;
}

/*Global Horse Styling*/
.horse-default-photo {
float: left;
margin: 0 15px 15px 0;
}

.horse-details {
float: left;
line-height: 1.5;
margin-right: 18px;
}

.horse-details  .field-label {
font-weight: bold;
}

.horse-description {
clear: both;
line-height: 1.5em;
}

.horse-video {
clear: both;
display: block;
margin-top: 10px;
margin-bottom: 15px;
}

.horse-meta-options {
display: inline-block;
text-align: right;
width: 372px;
 padding-bottom: 5px;
}

.horse-photo-gallery {
float: right;
margin-top: 37px;
}

.horse-photo-gallery .field-label {
font-weight: bold;
}

.horse-photo-gallery span:last-child {
font-size: 9pt;
font-style: italic;
}

.horse-details-disc ul {
padding: 0;
margin: 0;
width: 225px;
}

.horse-details-disc li{
list-style-type: none;
margin-right: 21px;
}

.horse-photo-gallery ul {
padding: 0;
margin: 0;
}

.horse-photo-gallery li {
display: inline;
list-style-type: none;
}

.horse-video {
padding: 10px;
border: 1px solid #CFCFCF;
height: 350px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.horse-video-embed {
float: left;
margin-right: 15px;
}

/*Sale View*/
.view-sale-horse .view-header {
clear: both;
margin: 0;
}

.view-sale-horse .view-header p {
margin: 0;
}

.page-sale-horses #content-inner {
padding: 0 8px;
}

.page-sale-horses .views-row {
background: #FFFFFF url(/sites/devinryan.com/themes/devinryan/images/node-cell-bg.png) repeat-x scroll 0 0;
border: 1px solid #CFCFCF;
float: left;
margin: 10px 7px;
padding: 10px;
width: 441px;
height: 220px;
}

.page-sale-horses .views-row.status-is-sold {
background: #FFFFFF url(/sites/devinryan.com/themes/devinryan/images/node-cell-bg-sold.png) repeat-x scroll 0 0;
}

.status-is-sold .views-field-field-sale-price-value {
display: none;
}

.page-sale-horses .views-row-odd {
margin-left: 0;
}

.page-sale-horses .views-row-even {
margin-right: 0;
}

.page-sale-horses .views-row label {
font-weight: bold;
}

.view-sale-horse .views-field-title {
font-size: 1.5em;
float: left;
}

.view-sale-horse .views-field-title a {
color: #3F3F3F;
text-transform: capitalize;
}

.view-sale-horse .views-field-field-sale-photo-fid,
.view-sale-horse .views-field-edit-node,
.view-sale-horse .views-field-delete-node {
display: inline-block;
}

.view-sale-horse  .views-field-view-node {
float: left;
}

.view-sale-horse .views-field-field-sale-video-embed,
.view-sale-horse .views-field-field-sale-image1-fid {
float: left;
margin: 10px 5px;
}

.view-sale-horse .views-field-field-sale-status-value {
float: right;
margin-right: -10px;
margin-bottom: 7px;
}

.view-sale-horse .views-field-field-sale-status-value .sale,
.view-sale-horse .views-field-field-sale-status-value .sold {
color: #FFFFFF;
padding: 2px 8px;
border-radius: 5px 0 0 5px;
-moz-border-radius: 5px 0 0 5px;
-webkit-border-radius: 5px 0 0 5px;
}

.view-sale-horse .views-field-field-sale-status-value .sale {
background-color: #232C1A;
}

.view-sale-horse .views-field-field-sale-status-value .sold {
background-color: #48170E;
}

.view-sale-horse .views-field-field-sale-photo-fid {
float: left;
clear: left;
margin-top: 10px;
margin-right: 15px;
}

.view-sale-horse .views-field-field-sale-photo-fid img {
width: 185px;
height: 185px;
border: 3px solid #BFBFBF;
}

.view-sale-horse .views-field-field-sale-yob-value {
clear: right;
}

.view-sale-horse .views-field-edit-node,
.view-sale-horse .views-field-delete-node {
float: left;
}

.view-sale-horse .views-field-edit-node {
clear: left;
}

.view-sale-horse .views-field-view-node {
margin: 10px 0;
}

.view-sale-horse .views-field-view-node a {
background-color: #7A6452;
background-image: none;
color: #FFFFFF;
cursor: default;
padding: 3px 5px;
cursor: pointer;
font-weight: bold;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-sale-horse .views-field-view-node a:hover {
background-color: #232C1A;
text-decoration: none;
}

.views-field-field-sale-video-embed img,
.views-field-field-sale-image1-fid img{
cursor: pointer;
}

/*Sale Details*/
.views-field-field-sale-buyer-value {
display: none;
}

.sale-horse-status  {
float: right;
margin: -37px -15px 0 0;
width: auto;
}

.sale-horse-status span {
color: #FFFFFF;
padding: 3px 15px 3px 10px;
float: right;
font-size: 1.2em;
border-radius: 5px 0 0 5px;
-moz-border-radius: 5px 0 0 5px;
-webkit-border-radius: 5px 0 0 5px;
}

.sale-horse-status .sale {
background-color: #232C1A;
}

.sale-horse-status .sold {
background-color: #48170E;
}

.sale-horse-buyer-message {
clear: both;
color: #48170E;
font-weight: bold;
}

/*News Page*/
.horse_news_viewAll {
float: right;
margin-top: -40px;
}

.view-news .views-row {
border: 1px solid #CFCFCF;
display: inline-block;
margin-bottom: 20px;
padding: 15px;
clear: both;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-news .views-field-edit-node,
.view-news .views-field-delete-node {
float: right;
}

.view-news .views-field-field-news-date-value {
margin-bottom: 15px;
clear: left;
font-size: 0.8em;
}

.view-news .views-field-field-news-related-horse-nid {
clear: both;
float: right;
font-size: 0.9em;
margin: 15px 0 0;
text-align: right;
}

.view-news .views-field-field-news-photo-fid {
float: left;
clear: left;
width: 305px;
margin-right: 15px;
}

#content-area .view-news .views-field-field-news-photo-fid {
min-height: 145px;
}

.view-news .views-field-body {
float: left;
width: 560px;
border-left: 1px solid #CFCFCF;
padding-left: 15px;
}

.view-news .views-field-body p {
font-size: 0.9em;
line-height: 1.5;
margin: 0 0 10px 0;
padding: 0;
}

.view-news .views-field-field-news-video-embed {
clear: both;
display: block;
float: left;
margin: 19px 0 0;
}

.view-news  .views-field-title {
font-family: georgia;
font-size: 1.7em;
font-weight: bold;
line-height: 1.1em;
text-transform: capitalize;
margin-bottom: 10px;
}

#TB_ajaxContent {
padding: 15px;
text-align: center;
}

.view-news .views-field-field-news-related-horse-nid .field-item {
display: inline;
}

#block-views-news-block_2 h2,
.page-news #content-header h1 {
color: #FFFFFF;
float: left;
font-size: 2em;
padding: 3px 15px 3px 10px;
margin: 0 0 10px -15px;
font-family: Georgia;
font-weight: normal;
border-radius: 0 5px 5px 0;
-moz-border-radius: 0 5px 5px 0;
-webkit-border-radius: 0 5px 5px 0;
}

#block-views-news-block_2 h2 {
background-color: #48170E;
}

.page-news #content-header h1 {
background-color: #252D1D;
clear: both;
}

#block-views-news-block_2 {
float: left;
}

#block-views-news-block_3 {
float: right;
}

#block-views-news-block_2 .views-row,
#block-views-news-block_3 .views-row {
width: 420px;
}

#block-views-news-block_2 .view-news .views-field-field-news-photo-fid ,
#block-views-news-block_3 .view-news .views-field-field-news-photo-fid {
margin-right: 15px;
}

#block-views-news-block_2  .view-news .views-field-body,
#block-views-news-block_3  .view-news .views-field-body {
border: 0 none;
float: none;
margin-left: 0;
padding-left: 0;
width: auto;
}

#block-views-news-block_2  .views-row,
#block-views-news-block_3  .views-row {
border: 1px solid #48170E;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-views-news-block_2 .content {
clear: both;
}

#block-views-news-block_3  .views-row-1 {
margin-top: 52px;
}

#block-views-news-block_2 .views-field-field-news-photo-fid ,
#block-views-news-block_3 .views-field-field-news-photo-fid {
width: auto;
height: auto;
margin-right: 0;
}


/* Calendar */
.calendar-calendar td.has-events {
background-color: #A7BF8F;
}

.day, .calendar-calendar th.days {
color: #232C1A;
}

.calendar-calendar td.empty {
background: none repeat scroll 0 0 #EFE2E0;
}

.date-nav .date-prev a, .date-nav .date-next a {
background-color: #232C1A;
border: 1px solid #CCCCCC;
color: white !important;
display: inline-block;
font-size: 10pt;
margin-top: 1px;
padding: 2px 8px;
border: 0 none;
width: 50px;
text-align: center;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.date-nav .date-prev a:hover,
.date-nav .date-next a:hover {
background-color: #B07E4E;
text-decoration: none;
}

.date-nav {
margin-bottom: 15px;
}

.page-schedule-agenda .views-row {
margin-bottom: 5px;
padding: 10px;
}

.page-schedule-agenda .views-row-even {
background-color: #CFCFCF;
}

.page-schedule-agenda .views-field-title {
font-weight: bold;
font-size: 1.1em;
text-transform: capitalize;
}

.calendar-calendar td .inner div.calendar div, .calendar-calendar td .inner div.calendar div a {
background: none repeat scroll 0 0 #FFFFFF;
}

.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
background-color: #FFC68F;
}

.node-data-field-event-date-field-event-website-url,
.node-data-field-event-date-field-event-loc-value {
display: inline-block;
}

.calendar-calendar td .inner div, .calendar-calendar td .inner div a {
    background: none repeat scroll 0 0 #FFFFFF;
}

/*Login*/
#TB_window {
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#TB_title {
border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
}

#user-login {
text-align: left;
}

#user-login #edit-name,
#user-login #edit-pass {
width: 245px;
}

#user-login li {
list-style-type: none;
padding: 0;
margin: 0;
}

#user-login ul {
padding: 0;
margin: 15px 0 0 0;
}

/* Contact */
#webform-client-form-33 .description,
#webform-client-form-34 .description {
color: #9F9F9F;
font-size: 0.9em;
font-style: italic;
}

#webform-client-form-33 p,
#webform-client-form-34 p {
margin: 0;
}

#sidebar-right {
margin-left: 709px;
padding: 0;
width: 250px;
}

/* Contact Block */
.node-type-webform #block-block-4 {
padding: 5px 10px;
border: 1px solid #CFCFCF;
margin-top: 10px;
background-color: #EFE2E0;
border-radius: 5px 0 0 5px;
-moz-border-radius: 5px 0 0 5px;
-webkit-border-radius: 5px 0 0 5px;
}

#block-block-4 .title {
font-weight: bold;
}

/*Sponsors*/
.page-sponsors .views-row {
clear: both;
padding-bottom: 0px;
border-bottom: 1px solid #CFCFCF;
margin-bottom: 20px;
}

.page-sponsors .views-row:last-child {
border-bottom: 0 none;
}

.page-sponsors .views-field-field-sponsor-logo-fid {
margin-bottom: 5px;
margin-right: 20px;
float: left;
}

.page-sponsors .views-field-title {
font-size: 1.5em;
font-weight: bold;
font-weight: bold;
margin-bottom: 10px;
text-transform: capitalize;
}

.page-sponsors .views-field-title-1 {
clear: both;
}

/*Show View*/
.views-field-field-sale-photo-fid,
.views-field-field-show-photo-fid {
margin-right: 15px;
}

.view-show-horse .view-header {
clear: both;
margin: 0;
}

.view-show-horse .view-header p {
margin: 0;
}

.page-show-horses #content-inner {
padding: 0 8px;
}

.page-show-horses .views-row {
background: #FFFFFF url(/sites/devinryan.com/themes/devinryan/images/node-cell-bg.png) repeat-x scroll 0 0;
border: 1px solid #CFCFCF;
float: left;
margin: 10px 7px;
padding: 10px;
height: 220px;
width: 441px;
}

.page-show-horses .views-row-odd {
margin-left: 0;
}

.page-show-horses .views-row-even {
margin-right: 0;
}

.page-show-horses .views-row label {
font-weight: bold;
}

.view-show-horse .views-field-title {
font-size: 1.5em;
clear: both;
}

.view-show-horse .views-field-title a {
color: #3F3F3F;
text-transform: capitalize;
}

.view-show-horse .views-field-field-show-photo-fid,
.view-show-horse .views-field-field-sale-photo-fid,
.view-show-horse .views-field-edit-node,
.view-show-horse .views-field-delete-node {
display: inline-block;
}
.view-show-horse  .views-field-view-node  {
float: left;
}

.view-show-horse .views-field-field-show-video-embed,
.view-show-horse .views-field-field-show-image1-fid,
.view-show-horse .views-field-field-sale-video-embed,
.view-show-horse .views-field-field-sale-image1-fid {
float: left;
margin: 10px 5px;
}

.view-show-horse .views-field-field-show-photo-fid,
.view-show-horse .views-field-field-sale-photo-fid {
float: left;
clear: left;
margin-top: 10px;
margin-right: 15px;
}

.view-show-horse .views-field-field-sale-photo-fid img,
.view-show-horse .views-field-field-show-photo-fid img {
width: 185px;
height: 185px;
border: 3px solid #BFBFBF;
float: left;
}

.view-show-horse .views-field-field-show-yob-value {
margin-top: 5px;
clear: right;
}

.view-show-horse .views-field-edit-node,
.view-show-horse .views-field-delete-node {
float: left;
}

.view-show-horse .views-field-edit-node {
clear: left;
}

.view-show-horse .views-field-view-node {
margin: 10px 0;
}

.view-show-horse .views-field-view-node a {
background-color: #7A6452;
background-image: none;
color: #FFFFFF;
cursor: default;
padding: 3px 5px;
cursor: pointer;
font-weight: bold;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-show-horse .views-field-view-node a:hover {
background-color: #232C1A;
text-decoration: none;
}

.priceCats {
margin-left: 10px;
display: inline-block;
cursor: pointer;
vertical-align: middle;
}

.views-field-field-show-video-embed img,
.views-field-field-show-image1-fid img{
cursor: pointer;
}

/* Services */

/* Accordion */
.ui-accordion {
border: 1px solid #CFCFCF;
}

h3.ui-accordion-header {
background: -moz-linear-gradient(center top , #CFCFCF, #FFFFFF) repeat scroll 0 0 #FFFFFF;
background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#FFFFFF)) repeat scroll 0 0 #FFFFFF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFCFCF', endColorstr='#FFFFFF');
border-top: 1px solid #CFCFCF;
padding: 5px 0 5px 15px;
margin: 0 0 0 0;
}

h3.ui-accordion-header:first-child {
border-top: 0 none;
}

h3.ui-accordion-header:last-child {
border-bottom: 0 none;
}

h3.ui-state-active {
border-bottom: 0 none;
}

.ui-accordion-content {
padding: 0 15px 15px;
}

.circle-list li {
list-style-type: circle;
}

ul.blank-list  {
margin-left: 0;
padding-left: 10px;
}

.blank-list li {
list-style-type: none;
}

#define-dressage {
color: #7A6452;
border-bottom: 1px dashed #7A6452;
cursor: pointer;
}

.blockquote {
margin: 25px 30px 0;
font-size: 0.9em;
line-height: 1.6em;
font-style: italic;
}

p.signature {
text-align: right;
font-size: 0.8em;
font-weight: bold;
margin-top: 5px;
}

ul.left {
float: left;
}

ul.right {
float: right;
}

.rates-table {
background-color: #EFEFEF;
border: 1px solid #CFCFCF;
margin: 10px auto 0;
padding: 10px 25px 10px 10px;
}

.other-rates-table {
line-height: 1.8em;
}

.page-services h4 {
margin-top: 0;
font-weight: bold;
margin-bottom: 5px;
}

.services-message {
font-size: 0.8em;
font-style: italic;
margin-bottom: 5px;
}

#block-views-services_slideshow-block_1 {
border: 1px solid #CFCFCF;
display: block;
margin: 15px auto 0;
padding: 20px 20px 10px;
width: 300px;
float: right;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.page-training-philosophy #content-header {
float: left;
}

.page-training-philosophy #content-top {
float: right;
margin: 25px 0 20px 30px;
}

.page-training-philosophy #content-area {
clear: left;
}

/*Facilities*/
.page-facilities h4 {
padding-bottom: 0;
margin-bottom: 0;
}

.page-facilities p {
padding-top: 0;
margin-top: 0;
}

#block-views-facilities_slideshow-block_1 {
display: block;
margin: 0 auto;
padding: 20px 20px 10px;
width: 630px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-facilities-slideshow .field-content {
display: block;
margin: 0 auto;
text-align: center;   
}

.view-facilities-slideshow .views-row {
width: 450px !important;   
}



.slide-nav  {
margin-top: 10px;
text-align: center;
}

.slide-nav a {
padding: 0;
text-decoration: none;
margin: 0;
color: transparent;
display: inline-block;
width: 20px;
background: url(/sites/devinryan.com/themes/devinryan/images/bullet.png) no-repeat scroll 0 0;
}

.slide-nav a.activeSlide {
background: url(/sites/devinryan.com/themes/devinryan/images/bullet.png) no-repeat scroll 0 -20px;
}

.facility-section {
border: 1px solid #CFCFCF;
padding: 0 15px;
margin: 10px 0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

/*Home*/
body.front #content-area {
margin-top: 5px;
}

body.front h1.title {
display: none;
}

.front-welcome-video {
border: 1px solid #BFBFBF;
padding: 15px 15px 10px;
margin: 0 0 15px 0;
background: -moz-linear-gradient(center top , #CFCFCF, #FFFFFF) repeat scroll 0 0 #FFFFFF;
background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#FFFFFF)) repeat scroll 0 0 #FFFFFF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFCFCF', endColorstr='#FFFFFF');
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.front-welcome {
font-family: georgia;
font-size: 1em;
line-height: 1.8em;
text-shadow: 1px 1px 2px #FFFFFF;
}

.front-welcome strong {
font-size: 2em;
}

.front-video {
border: 3px solid #FFFFFF;
float: right;
margin: 50px 0 10px 10px;
padding: 0;
}

.front-video iframe {
border: 3px solid #FFFFFF;
margin: 0 0 10px 10px;
}

.view-front-slideshow {
float: right;
}

.view-front-slideshow .views-row {
float: left;
}

#block-views-front_slideshow-block_1 .views-row-1 {
margin: 10px 10px 15px 10px;
}

#block-views-front_slideshow-block_1 .views-row-2 {
margin: 10px 0 0 0;
}

#block-views-front_slideshow-block_1 .views-row-3 {
margin: 0 10px 5px 15px;
}

#block-views-front_slideshow-block_1 .views-row-4 {
margin: 0 0 5px 0;
}

#block-views-front_slideshow-block_1 img.imagecache-front_slide {
border: 3px solid #CFCFCF;
}

#block-views-front_video-block_1 {
float: left;
width: 455px;
padding:  5px 15px 20px;
border: 1px solid #BFBFBF;
margin-bottom: 0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-views-news-block_1 {
float: right;
width: 395px;
padding:  5px 15px 5px;
border: 1px solid #BFBFBF;
background: -moz-linear-gradient(center top , #CFCFCF, #FFFFFF) repeat scroll 0 0 #FFFFFF;
background: -webkit-gradient(linear, left top, left bottom, from(#CFCFCF), to(#FFFFFF)) repeat scroll 0 0 #FFFFFF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#CFCFCF', endColorstr='#FFFFFF');
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-views-front_video-block_1 h2.title {
margin-bottom: 15px;
}

.view-front-video {
text-align: center;
}

#block-views-front_slideshow-block_1 {
background-color: #48170E;
float: right;
padding: 6px 6px 2px;
width: 415px;
margin-bottom: 0;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-views-front_slideshow-block_1 .block-inner {
background-color: white;
display: inline-block;
padding: 5px;
width: 405px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.view-front-slideshow {
width: 405px;
}

#block-views-front_slideshow-block_1  .view-footer {
clear: both;
float: right;
font-size: 0.8em;
margin-right: 15px;
}

#block-views-front_slideshow-block_1  .view-footer p {
margin: 0;
}

body.front h2.title {
background-color: #48170E;
color: white;
display: inline-block;
font-size: 18pt;
margin-left: -15px;
margin-top: -5px;
padding: 3px 15px;
width: 40%;
border-radius: 5px 0 5px 0;
-moz-border-radius: 5px 0 5px 0;
-webkit-border-radius: 5px 0 5px 0;
}

body.front .view-news .views-field-title {
font-family: georgia;
font-size: 1.5em;
font-weight: normal;
}

body.front .view-news .views-field-body {
float: none;
width: auto;
border-left: 0 none;
padding-left: 0;
}

body.front .view-news .views-row {
border: 0 none;
display: inline-block;
margin-bottom: 0;
padding: 0;
}

body.front .view-news .view-content {
margin-top: 10px;
}

body.front .views-field-field-news-date-value {
font-size: 0.8em;
margin-bottom: 5px;
}

body.front .slide-nav {
margin-top: 0;
background-color: #BFBFBF;
margin-top: -5px;
border-radius: 0 0 5px 5px;
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}

body.front .slide-nav a.activeSlide {
background-color: #FFFFFF;
}

body.front  .slide-nav a {
border: 1px solid #BFBFBF;
display: inline-block;
margin: 0 0 0;
padding: 0 5px;
text-decoration: none;
}

body.front  .views-field-title-1 {
float: right;
font-size: 0.8em;
}

#block-views-sponsors-block_1 {
display: inline-block;
margin-top: 35px;
margin-bottom: 0;
width: 490px;
min-height: 75px;
background: #FFFFFF url(/sites/devinryan.com/themes/devinryan/images/sponsors.png) no-repeat scroll 0 center;
}

#block-views-sponsors-block_1.view-empty p {
min-height: 75px;
}

#block-views-sponsors-block_1  .block-inner {
border-left: 1px solid #BFBFBF;
margin-left: 20px;
padding-left: 20px;
min-height: 75px;
}

#block-views-sponsors-block_1 .views-row {
float: left;
margin: 8px 30px 0 0;
}

#block-views-sponsors-block_1 .views-row-last {
margin-right: 0;
}

/*Photo Manager */
.view-photo-manager table {
width: 100%;
}

.view-content-manager th.views-field-edit-node,
.view-photo-manager th.views-field-edit-node {
width: 105px;
}

/*Content Manager*/
.view-content-manager .views-field-title .marker {
font-size: 0.8em;
margin-left: 10px;
}

.view-content-manager .views-field-edit-node a,
.view-photo-manager .views-field-edit-node a  {
margin-right: 5px;
}

.view-content-manager td,
.view-photo-manager td {
padding: 5px;
}

.view-photo-manager .views-field-edit-node a,
.view-content-manager .views-field-edit-node a {
visibility: hidden;
}

/*Edit News page*/
.page-node-add-news #edit-title {
width: 375px;
}

/*Photo Gallery*/
.page-photo-gallery  .views-row div,
.page-photo-gallery  .views-row {
display: inline
}

.page-photo-gallery  .views-row .field-content{
padding: 20px 45px;
display: inline-block;
}

.page-photo-gallery  .views-row  {

}

.page-photo-gallery .view-content {
text-align: center;
}

.page-node-69-edit #edit-title-wrapper {
display: none;
}

/*USEF Gateway*/
.ui-widget { 
border: 1px solid #dddddd; 
background-color: #FFFFFF; 
font-size: 1em;
padding-bottom: 5px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.ui-widget-overlay { 
position: absolute; 
top: 0; 
left: 0; 
width: 100%; 
height: 100%; 
background-color: #000000;
box-shadow: 1px 1px 8px black;
opacity: .75;
filter:Alpha(Opacity=75); 
}

#TB_window {
box-shadow: 1px 1px 8px black;
}

.ui-widget-header { 
background-color: #48170E;
color: white;
display: inline-block;
font-weight: normal;
font-size: 16pt;
padding: 6px 20px;
font-family: Georgia;
border: 0 none;
border-radius: 5px 0 5px 0;
-moz-border-radius: 5px 0 5px 0;
-webkit-border-radius: 5px 0 5px 0;
}

#usef-gateway p {
padding: 0;
margin: 0;
line-height: 1.4;
}

#usef-gateway span {
display: inline-block;
font-size: 0.8em;
margin-top: 15px;
padding: 10px 15px;
line-height: 2;
background-color: #EAEAEA;
border: 1px solid #CFCFCF;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#usef-gateway span strong {
text-decoration: underline;
}

.ui-dialog .ui-dialog-content {
line-height: 21px;
overflow: visible;
padding: 15px 15px 10px;
position: relative;
}

a.gateway-link {
background-color: #48170E;
background-image: none;
color: #FFFFFF;
cursor: cursor;
padding: 5px 20px;
float: right;
font-size: 1em;
margin-top: 22px;
margin-right: 14px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

a.gateway-link:hover {
background-color: #7A6452;
text-decoration: none;
}

.close-usef-gateway {
float: right;
font-size: 0.8em;
margin-top: -43px;
color: #7A6452;
}

.close-usef-gateway:hover {
cursor: pointer;
text-decoration: underline;
}


/*Pager*/
.view .item-list {
clear: both;
display: block;
text-align: center;
width: 100%;
}

.item-list .pager {
display: inline-block;
margin: 0 auto;
padding: 0;
}

.item-list .pager li {
padding: 0 0 0 5px;
float: left;
}

.item-list .pager li a,
.item-list .pager .pager-current {
display: inline-block;
border: 1px solid #CCCCCC;
background-color: #FFFFFF;
width: 20px;
height: 19px;
padding: 3px;
text-align: center;
font-size: 0.9em;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.item-list .pager li a:hover {
border: 1px solid #232C1A;
text-decoration: none;
}

.item-list .pager  li.pager-current {
color: #FFFFFF;
background-color: #232C1A;
margin-left: 5px;
}

.view-facilities-slideshow .view-content,
.view-facilities-slideshow .view-content div {
margin: 0 auto;   
}

.shareContainer {
	float: left;
	clear: left;
}

.share42init {
	display: inline-block;
}

#share42 a {
	margin-bottom: 1px !important;
}

/*social block*/
#youtubeLink a {
float: left;
text-align: right;
font-size: 9pt;
width: 120px;
line-height: 1.3;
}

#youtubeLink img {
margin-left: 5px;
vertical-align: middle;
}

#youtubeLink {
float: right;
margin-top: 20px;
}

#content-bottom {
	border-bottom: 1px solid #cfcfcf;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

.fb-like-box {
	float: left;
}
 