/* $Id$ */

/* underline all links */
  a:link, a:visited
  {
    text-decoration: underline !important;
  }

  /* Don't underline header */
  #site-name a:link,
  #site-name a:visited
  {
    text-decoration: none !important;
  }

/* Un-float the content */
  #content,
  #content-inner
  {
    float: none;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

/* Turn off any background colors or images */
  body,
  #page, #page-inner,
  #main, #main-inner,
  #content, #content-inner
  {
    color: #000;
    background-color: transparent !important;
    background-image: none !important;
  }

/* Hide sidebars and nav elements */
  #skip-to-nav, #navbar, #sidebar-left, #sidebar-right, #footer,
  .breadcrumb, div.tabs, .links, .taxonomy,
  .book-navigation, .forum-topic-navigation, .pager, .feed-icons
  {
    visibility: hidden;
    display: none;
  }

/* Otherwise, Firefox clips the content after the first page. */
  #page
  {
    overflow-y: visible;
  }
  
/* Begin DevinRyan overrides */  
#header,
#closure-blocks,
.views-field-delete-node,
.views-field-edit-node,
.date-prev,
.date-next,
.delete-node,
.edit-node,
#printPage,
.horse-meta-options,
.horse-video,
.horse-photo-gallery,
.priceCats,
.views-field-field-news-video-embed,
.views-field-field-news-related-horse-nid,
#header-top,
#block-views-facilities_slideshow-block_1,
#youtubeLink {
display: none !important;
}

h1 {
font-size: 1.5em;
color: black;
}
  
.page-schedule-agenda .views-row {
padding-left: 0;
}

.date-nav div.date-heading {
width: 96%;
}

.calendar-calendar .month-view table {
width: 97%;
}

.view-news .views-field-field-news-photo-fid {
float: none;
clear: left;
border-right: 0px solid #CFCFCF;
margin-bottom: 15px;
height: auto;
width: auto;
}

.view-news .views-row {
border: 0px solid #CFCFCF;
padding: 0px;
margin-bottom: 50px;
}

.view-news .views-field-title {
font-size: 1.3em;
}

.view-news .views-field-body {
display: inline-block;
width: 72%;
}




















