html {
	background-color: #87B2D8;
}

body {
	background: #e8f4fe; /* Old browsers */
	background: -moz-linear-gradient(top,  #e8f4fe 10%, #87b2d8 80%, #87b2d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%,#e8f4fe), color-stop(80%,#87b2d8), color-stop(100%,#87b2d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e8f4fe 10%,#87b2d8 80%,#87b2d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e8f4fe 10%,#87b2d8 80%,#87b2d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e8f4fe 1%,#87b2d8 80%,#87b2d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e8f4fe 10%,#87b2d8 80%,#87b2d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8f4fe', endColorstr='#87b2d8',GradientType=0 ); /* IE6-9 */
}
body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: 'Asap', sans-serif;
}

a, a:link, a:visited {
	color: #26537A;
}

a:hover {
	color: #B25735;
}

div.messages, div.status, div.warning, div.error {
    margin: 5px 0 15px;
}

table.sticky-table, table#content-field-overview {
	width: 100%
}

#dzdy_badge {
	margin-top: 20px;
}

#content, .no-sidebars #content {
	width: 930px;
}

#logo {
	width: 160px;
	height: 70px;
	display: inline-block;
	background: url(/sites/mullenlawmediation.com/themes/mullenlawfirm/images/logo.png) no-repeat scroll;
}

#header-wrapper {
	box-shadow: 0 2px 4px 0 #BFBFBF;
	background-color: #f5f7f9;
	position: relative;
    z-index: 991;
}

#header {
	width: 960px;
	margin: 0 auto;
	float: none;
	padding: 15px 0;
	background: url(/sites/mullenlawmediation.com/themes/mullenlawfirm/images/header-grad.png) no-repeat scroll right 0;
}

.region-navigation {
	float: right;
	margin: 20px 0 0 0;
	padding: 0;
}

#nav-marker-wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative;
    z-index: 99;
}

#nav-marker {
    display: none;
    float: right;
    position: relative;
	width: 23px;
	height: 12px;
	background: url(/sites/mullenlawmediation.com/themes/mullenlawfirm/images/nav-marker.png) no-repeat scroll right 0;
}

.front #nav-marker {
    right: 423px;
    display: inline-block;
}

.page-about #nav-marker {
    right: 261px;
    display: inline-block;
}

.page-contact #nav-marker {
    right: 88px;
    display: inline-block;
}

#block-menu-primary-links {
	margin: 0;
	padding: 0;
}

#header .menu {
	margin: 0;
	padding: 0;
}

#header .menu li {
	display: inline-block;
	list-style-type: none;
}

#header .menu a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.7em;
	padding: 5px 30px;
	display: inline-block;
	color: #3f3f3f;
	font-family: 'Vollkorn', serif;
	font-weight: bold;
	text-shadow: 0 1px 1px #FFFFFF;
}

#header .menu li a:hover {
	color: #B25735;
}

#header .menu li a.active,
#header .menu li a.active:hover {
	cursor: default;
	color: #26537A;
}

#page-wrapper {
    margin-top: 30px;
	position: relative;
    z-index: 991;
}

body.sidebar-second #content {
    margin-right: -715px;
    width: 715px;
}

body.sidebar-second .webform-client-form textarea {
    width: 565px !important;
}

.region-sidebar-second {
	width: 183px;
}

.region-sidebar-second {
    float: left;
    margin-left: 730px;
    margin-right: -960px;
	margin-top: 10px;
    padding: 0;
    width: 220px;
	border: 1px solid #BBD5EC;
	background-color: rgba(188, 214, 236, 0.5);
	box-shadow: 0 1px 1px 0 #FFFFFF inset;
}

.region-sidebar-second .section {
    margin: 0 20px;
    padding: 0;
}

.region-sidebar-second .header {
    display: inline-block;
    font-family: 'Vollkorn',serif;
    font-size: 1.3em;
}

.region-sidebar-second .block {
	margin-top: 1em;
}

.block-edit-link a {
    background-color: #C1C6C2;
    background-image: none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    height: auto;
    padding: 2px 8px;
	font-size: 0.8em;
	text-decoration: none;
}

.block-edit-link a:hover {
background-color: #B25735;
background-image: none;
}

#main {
	border: 1px solid #769EC1;
	padding: 15px;
	background-color: #ffffff;
}

#pre-content-wrapper {
	position: relative;
    z-index: 99;
	margin: 25px 0 -31px;
}

#pre-content {
	width: 885px;
	margin: 0 auto;
	padding: 25px;
	margin: 0 auto;
	color: #ffffff;
	border: 1px solid #76361f;
	background: #b25735 url(/sites/mullenlawmediation.com/themes/mullenlawfirm/images/precon-bg.png) repeat scroll;
	box-shadow: 0 1px 1px 0 #FFFFFF inset;
}

#pre-content .block {
	display: inline-block;
	vertical-align: top;
}

#block-webform-client-block-3 {
	width: 300px;
	overflow: hidden;
	float: right;
	padding: 15px;
	margin: 0;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid #76361F;
	box-shadow: 0 1px 1px 0 #FFFFFF inset;
	text-shadow: 0 1px 1px #76361F;
}

#block-webform-client-block-3 label {
	width: 80px;
}

#block-webform-client-block-3  input[type=text],
#block-webform-client-block-3  input[type=email],
#block-webform-client-block-3  input[type=select],
#block-webform-client-block-3  textarea {
	width: 220px !important;
}

#block-webform-client-block-3  textarea {
	height: 82px;
}

#block-webform-client-block-3 .form-submit {
	margin-left: 80px;
}
#block-webform-client-block-3  h2.title {
    font-size: 1em;
}

#block-webform-client-block-3 .form-required {
	display: none;
}

.front #main {
	box-shadow: 0 -5px 5px -5px #000000;
}

.front h1.title,
.page-contact h1.title {
	display: none;
}

.region-footer {
	text-align: center;
	font-size: 0.8em;
	color: #769EC1;
}


body.in-maintenance #page-wrapper{
	padding-top: 90px;
	margin-top: 0;
	width: 500px;
}

body.in-maintenance #content {
	width: 465px;
}

body.in-maintenance #header {
	background: none repeat scroll 0 0 transparent;
	padding: 0;
	float: none;
	width: auto;
	
}

body.in-maintenance #main {
    background-color: transparent;
    border: 0px solid #769EC1;
	padding: 0;
	margin-top: 25px;
}

body.in-maintenance #page {
    background-color: #FFFFFF;
    border: 1px solid #769EC1;
    padding: 15px;
	margin-top: 10px;
	text-align: center;
}

body.in-maintenance #logo {
	float: none;
}

body.in-maintenance h1.title {
	font-family: 'Vollkorn', serif;
	font-weight: bold;
}
