body {
background-color: #316BCF;
}

a, a:link, a:visited, a:active {
color: #2A8A31;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

h1, h2, h3, h4 {
font-weight: normal;
}

h1.primary{
margin: 0;
padding: 0;
display: inline-block;
font-size: 1.3em;
}

#page-header-wrapper {
width: 100%;
background-color: #FFFFFF;
margin-top: 14px;
}

#page-header {
width: 960px;
margin: 0 auto;
font-size: 0.9em;
}

#page-wrapper {
width: 100%;
background: transparent url(/sites/greenmarineco.com/themes/greenmarine/images/page-bg-tile.png) repeat-x scroll;
}

#page {
width: 960px;
margin: 0 auto;
}

#footer {
text-align: center;
color: #B0C6ED;
font-size: 0.8em;
}

#footer p {
margin: 0;
}

#basement-tile {
background: url(/sites/greenmarineco.com/themes/greenmarine/images/basement-bg-tile.png) repeat-x scroll 0 0;
height: 123px;
width: 100%;
position: fixed;
left: 0;
bottom: 0;
margin-top: -123px;
}

body#tinymce {
background: #FFFFFF none;
padding: 0 10px;
line-height: 1.5em;
}

table.sticky-table, table#content-field-overview {
width: 100%
}

div.messages {
margin: 0 12px 15px 12px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#attic-tile {
position: absolute;
width: 100%;
height: 14px;
top: 0;
left: 0;
background: #316BCF url(/sites/greenmarineco.com/themes/greenmarine/images/top-border-tile.png) repeat-x scroll;
}

#contact-btn {
color: #FFFFFF;
float: right;
font-size: 0.9em;
height: 24px;
padding-left: 15px;
padding-top: 7px;
text-decoration: none;
width: 216px;
background: url(/sites/greenmarineco.com/themes/greenmarine/images/contact-btn-bg.png) no-repeat scroll 0 0;
}

#contact-btn:hover {
height: 28px;
padding-top: 11px;
background: url(/sites/greenmarineco.com/themes/greenmarine/images/contact-btn-bg.png) no-repeat scroll 0 -31px;
}

#logo {
padding: 8px 0 5px;
}

#header-list {
display: inline-block;
line-height: 1.7;
margin: 25px 0 0 55px;
}

.green-check {
display: inline-block;
height: 20px;
width: 17px;
margin-left: 5px;
vertical-align: middle;
background: url(/sites/greenmarineco.com/themes/greenmarine/images/green-check.png) no-repeat scroll 0 0px;
}

#header-contact {
float: right;
margin: -75px 0 0;
text-align: right;
line-height: 1.7;
}

#header-contact strong {
color: #2A8A31;
font-size: 1.3em;
}

.phone-icon {
display: inline-block;
height: 18px;
margin-left: 5px;
vertical-align: middle;
width: 19px;
background: url(/sites/greenmarineco.com/themes/greenmarine/images/phone-icon.png) no-repeat scroll 0 0px;
}

.mail-icon {
display: inline-block;
height: 13px;
margin-left: 5px;
vertical-align: middle;
width: 25px;
background: url(/sites/greenmarineco.com/themes/greenmarine/images/mail-icon.png) no-repeat scroll 0 0px;
}

.no-sidebars #content {
padding: 10px;
width: 940px;
border: 1px solid #353535;
background-color: #FFFFFF;
margin: 0;
min-height: 300px;
position: relative;
z-index: 9;
box-shadow: 0 0 5px #7C7C7C;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

a.breadcrumb {
font-size: 0.8em;
color: #FFFFFF;
background-color: #3F3F3F;
padding: 0 7px 5px;
position: absolute;
top: 0;
left: 0;
display: none;
text-decoration: none;
border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
}

a.breadcrumb:hover {
top: -2px;
}

.not-front#content {

}

.not-front .breadcrumb {
display: inline-block;
margin-left: 5px;
margin-top: -20px;
}

.node .content {
line-height: 1.5;
}

.front h1.title {
display: none;
}

.content-header {
border-bottom: 1px solid #353535;
clear: both;
display: block;
}

.content-header .primary {
font-size: 1.3em;
display: inline-block;
margin-right: 15px;
}

.content-header .secondary {
color: #9F9F9F;
font-size: 0.9em;
display: inline-block;
}

a.hire-us {
color: #FFFFFF;
float: right;
font-size: 0.9em;
height: 23px;
line-height: 1;
margin-top: -10px;
padding: 7px 0 0 13px;
text-decoration: none;
width: 95px;
background: url(/sites/greenmarineco.com/themes/greenmarine/images/hire-us.png) no-repeat scroll 0 0px;
}

.product-matrix ul {
margin: 25px 0 20px 0;
padding: 0;
}

.product-matrix li {
list-style-type: none;
float: left;
text-align: center;
width: 231px;
}

.product-matrix  a {
text-decoration: none;
color: #3F3F3F;
}

.product-matrix span {
font-size: 0.9em;
background-color: #2A8A31;
text-decoration: none;
color: #FFFFFF;
margin-top: 7px;
padding: 2px 12px;
display: inline-block;
box-shadow: 1px 1px 1px #FFFFFF inset;
border: 1px solid #146A1C;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.product-matrix li a:hover span,
.product-matrix span:hover {
background-color: #1F7525;
box-shadow: 1px 1px 1px #FFFFFF inset;
}

.aboutGreenMarine {
margin-top: 30px;
display: inline-block;
}

.aboutGreenMarine .left {
float: left;
width: 730px;
margin-top: 5px;
}

.aboutGreenMarine .right {
float: right;
margin: 30px 0 0 10px;
}

.aboutGreenMarine .right a {
display: inline-block;
vertical-align: middle;
}

#webform-client-form-5 {
border: 1px solid #1F8028;
margin: 25px auto;
padding: 0 20px 15px;
width: 650px;
height: 355px;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 0 0 5px #1F8028;
}

.page-404 h1.title {
display: none;
}

.front .tabs {
display: none;
}

.front.admin-menu .tabs {
display: block;
}

#webform-component-name,
#webform-component-email,
#webform-component-phone,
#webform-component-how-can-we-help {
float: left;
clear: left;
}

#webform-component-message {
display: inline-block;
float: right;
margin-top: -215px;
vertical-align: top;
width: 325px;
}

#webform-client-form-5 #edit-actions #edit-submit {
display: block;
clear: both;
}

#webform-client-form-5 #edit-actions #edit-submit {
font-size: 1.3em;
padding: 2px 12px;
float: right;
margin-top: 20px;
}

#edit-submitted-message {
height: 85px;
width: 322px;
}

#webform-client-form-5 #edit-actions .description,
#webform-client-form-5 #edit-actions legend {
display: none;
}

#webform-client-form-5 #edit-actions fieldset {
background-color: #DFDFDF;
border: 0 none;
float: right;
margin: -62px 0 0;
padding: 5px;
text-align: center;
width: 315px;
}

#logosContainer {
text-align: right;
margin-right: 5px;
margin-top: 60px;
float: right;
}

#logosContainer img {
vertical-align: middle;
}

.page-edson-pump-out-systems .content-header {
clear: none;
float: left;
margin-top: 24px;
width: 360px;
margin-bottom: 5px;
}

.page-edson-pump-out-systems #content-area p {
clear: left;
}

.page-edson-pump-out-systems .content .left {
float: left;
margin: 20px 0 5px;
width: 535px;
}

.page-edson-pump-out-systems .content .right {
background-color: #E0E0E0;
float: right;
margin-top: 25px;
padding: 5px 10px;
width: 350px;
text-align: center;
border-radius: 5px 5px 5px 5px;
-moz-border-radius: 5px 5px 5px 5px;
-webkit-border-radius: 5px 5px 5px 5px;
}

.page-edson-pump-out-systems .content .right a {
display: inline-block;
margin: 0 5px;
}

.page-edson-pump-out-systems .content .right img {
border: 2px solid #969696;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.page-edson-pump-out-systems .content .right .title {
font-weight: bold;
display: block;
margin: 0 0 10px 0;
text-align: left;
}