.page-apanel .tabs {
	display: none;
}

.page-apanel .region-content-bottom .block-block,
.page-apanel .block-views {
	float: left;
	padding: 15px;
	border: 1px solid $border;
	margin-bottom: -1px;
	margin-left: -1px;
	min-height: 200px;
}

.page-apanel .region-content-bottom .block-block.odd,
.page-apanel .block-views.odd {
	width: 448px;
}

.page-apanel .region-content-bottom .block-block.even,
.page-apanel .block-views.even {
	width: 449px;
}

.page-apanel #content-area {
	display: none;
}

.page-apanel .region-content-bottom {
	margin: 15px -15px 0;
}

.page-apanel #block-views-aPanel_activity-block_1 {
	border: 0 none;
	width: 928px;
	float: none;
	display: block;
	clear: both;
}