html {
	background: $white url(/sites/trailstack.com/themes/denominator/images/page-bg.png) repeat scroll left 10px;
	-webkit-font-smoothing: antialiased;
}

body {
	padding-bottom: 20px;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: $fontFamily;
}

h1,
h2,
h2.title {
	font-family: $fancyFontFamily;
	@include single-text-shadow(1px, 1px, 0px, 0px, $white);
}

h2 {
	margin: 0;
}

a {
	@include link-colors($blue, $orange, $blue, $blue, $orange)
}

input[type="text"][readonly],
input[type="number"][readonly] {
	background-color: $disabled;
}

hr {
	border: 0 none;
	border-bottom: 1px solid $border;
}

fieldset {
	border: 1px solid $border;
	@include border-radius($small-border-radius);
}

legend {
	background-color: $grey1;
	padding: 0 5px 0 0;
	font-family: $fancyFontFamily;
	text-shadow: 1px 1px 0px rgba($white, 0.5);
	margin-bottom: 5px;
	border: 1px solid $border;
	@include border-radius($small-border-radius);
	a {
		text-decoration: none;
	}
}