#block-webform-client-block-3 {
	width: 300px;
	overflow: hidden;
	float: right;
	padding: 15px;
	margin: 0;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid #76361F;
	@include single-box-shadow($white, 0px, 1px, 1px, 0px, true);
	@include single-text-shadow(0px, 1px, 1px, 0px, #76361F);
}

#block-webform-client-block-3 label {
	width: 80px;
}

#block-webform-client-block-3  input[type=text],
#block-webform-client-block-3  input[type=email],
#block-webform-client-block-3  input[type=select],
#block-webform-client-block-3  textarea {
	width: 220px !important;
}

#block-webform-client-block-3 .form-submit {
	margin-left: 80px;
}
#block-webform-client-block-3  h2.title {
    font-size: 1em;
}

#block-webform-client-block-3 .form-required {
	display: none;
}



#block-menu-secondary-links ul {
	margin: 0;
	padding: 0;
	text-align: center;
}

#block-menu-secondary-links li {
	list-style-type: none;
	margin: 0 5px;
	display: inline-block;
}

.admin-menu #mockclose {
	margin-bottom: -23px;
}

#mockclose {
    clear: both;
    display: block;
}

#block-block-8 {
	float: right;
	position: relative;
	width: 396px;
}

#block-block-8  .buttons {
	text-align: center;
	font-size: 1.3em;
	padding: 0;
}

#block-block-8  .buttons a {
	color: $white;
	text-decoration: none;
	padding: 8px 20px;
	font-size: 1.2em;
	display: inline-block;
	vertical-align: middle;
	@include border-radius($small-border-radius);
}

#block-block-8  .buttons a.signin {
	background-color: $blue;
}

#block-block-8  .buttons a.signup {
	background-color: $green;
}

#block-block-8  .buttons a:hover {
	background-color: $orange
}

#block-views-front-block_2 .views-row-last {
	margin-top: 10px;
}

#block-views-front-block_3 .view-header,
#block-views-front-block_1 .view-header {
	font-weight: bold;
	font-size: 2em;
	height: 25px;
	padding: 15px 10px 5px 10px;
	color: rgb(169, 170, 169);
	display: inline-block;
	background: $grey1;
	font-family: Sanchez,serif;
}

#block-views-front-block_3 .view-header {
	width: 541px;
	border-right: 1px solid $border;
}

#block-views-front-block_1 .view-header {
	width: 376px;
}

#block-views-front-block_2 .view-header {
	font-weight: bold;
	font-size: 2em;
	width: 366px;
	height: 25px;
	padding: 15px 15px 5px;
	color: rgb(169, 170, 169);
	display: inline-block;
	font-family: Sanchez, serif;
	@include background-image(linear-gradient($grey1, $white));
}

.block-views .moreLink {
	float: right;
	font-size: 0.5em;
	font-weight: normal;
	display: none;
}

#block-views-front-block_2 .views-field-title {
	font-size: 1.5em;
	margin: 0 0 5px;
}

#block-views-front-block_2 .views-field-title a {
	text-decoration: none;
}

#block-views-front-block_2 .view-content {
	padding-left: 15px;
	width: 368px;
	float: left;
}

#block-views-front-block_2 .views-field-view-node {
	text-align: right;
	font-weight: 0.8em;
}

#registerUserBlock {
	float: right;
	height: 45px;
	width: 366px;
	text-align: left;
	border-left: 1px solid $border;
	padding: 10px 15px 15px 15px;
	background-color: $grey1;
}

#beginBenefits {
	float: right;
	font-size: 0.8em;
}

#beginRegisterForm {
	float: left;
	font-weight: bold;
	width: 231px;
}

#beginRegisterForm input[type="text"] {
	width: 155px;
}

#block-webform-client-block-32 {
	margin-bottom: 0;
}

#block-webform-client-block-32 .webform-client-form textarea {
	width: 450px !important;
}

#block-webform-client-block-32 .webform-client-form .form-submit {
	float: right;
	margin: 0;
}

#block-webform-client-block-32 #webform-component-session {
	display: none;
}

#block-block-12 a {
	background-color: $orange;
	color: $white;
	text-decoration: none;
	padding: 3px 10px;
	font-size: 0.9em;
	float: left;
	margin-top: -30px;
	@include border-radius($small-border-radius);
}

#block-block-12 a:hover {
	background-color: $blue;
}

#block-block-9 a {
	color: $grey4;
	text-decoration: none;
}

#block-block-9 #version {
	font-size: 0.8em;
	color: $grey4;
}

#block-block-11 {
	margin-bottom: 0;
}