#openInviteDialog {
	margin-left: 85px;
}

#TB_window {
	@include border-radius();
}

#TB_title {
	@include border-radius($default-border-radius $default-border-radius 0 0);
}

.region-welcome-dialog .siteLogo {
	float: right;
	margin: 0;
}

.region-welcome-dialog .siteLogo img {
	width: 175px;
	height: 25px;
}

.region-welcome-dialog h2 {
	font-size: 2em;
	font-family: Sanchez, serif;
}

.region-welcome-dialog p:last-child {
	margin-bottom: 0;
}