.page-friends .node {
	margin-top: 25px;
}

.friendRow {
	clear: both;
	border: 1px solid $border;
	padding: 10px;
	width: 33%;
	vertical-align: top;
	margin-right: 15px;
	background-color: $grey1;
	@include inline-block(false);
	@include box-sizing(border-box);
	@include border-radius();
}

.friendLink {
	font-size: 1.3em;
}

.friendPicture {
	float: left;
	margin-right: 10px;
	img {
		float: left;
		@include border-radius();
	}
}

.serviceIcon {
	float: left;
	margin-top: 7px;
	img {
		float: left;
	}
}