.front #user-login-form {
	width: 385px;
}

.front #user-login-form strong {
	margin-bottom: 25px;
	display: inline-block;
	font-size: 1.3em;
	font-family: 'Sanchez',serif;
}

.front #user-login-form .form-item label {
	font-weight: normal;
}

.front div.tabs {
	display: none;
}

.front #content .section {
   padding: 0;
}

.front #main h1.title {
   display: none;
}

#pre-content-wrapper {
	position: relative;
    z-index: 99;
	margin: 0;
	@include background-image(linear-gradient(#fdfdfd, #f4f4f4));
}

#pre-content {
	margin: 0 auto;
	margin: 0 auto;
	border: 1px solid $border;
	border-top: 0 none;
}

#pre-content .views-row {
	list-style-type: none;
	line-height: 1.5;
	width: 100%;
}

#pre-content .views-row a {
	text-decoration: none;
}

#pre-content .views-row  .views-field-title {
	font-size: 24pt;
	font-weight: bold;
	line-height: 1.1;
	margin-bottom: 10px;
	font-family: $fancyFontFamily;
}

#pre-content .views-row .views-field-field-trail-park-nid {
	font-size: 1.5em;
	position: absolute;
	top: 95px;
	left: 10px;
	color: $black;
	background-color: rgba(255,255,255,0.8);
	padding: 0 5px;
	font-family: 'Sanchez',serif;
	@include single-text-shadow(1px, 1px, 0px, 0px, $white);
}

#pre-content .views-row  .views-field-tid a {
	color: $black;
}

#pre-content .views-row  .views-field-province {
	font-size: 1.5em;
	position: absolute;
	top: 55px;
	left: 10px;
	color: $black;
	background-color: rgba(255,255,255,0.8);
	padding: 0 5px;
	font-family: 'Sanchez',serif;
	@include single-text-shadow(1px, 1px, 0px, 0px, $white);
}

#block-views-front-block_1 .views-field-field-trail-primary-photo-fid {
	float: left;
	margin-right: 10px;
}

#block-views-front-block_1 .views-field-field-trail-primary-photo-fid img {
	border: 1px solid $border;
}

#pre-content  .views-field-field-trail-primary-photo-fid {
	float: left;
}

#pre-content .view-footer {
	height: 25px;
	margin: 15px 0 0;
	position: relative;
	text-align: center;
	z-index: 99;
	padding: 5px 10px 10px;
	border-top: 1px solid $border;
	@include background-image(linear-gradient(#fdfdfd, #bdc5bd));
}

#trailNav #front-trail-pager {
	text-align: center;
	margin: 5px auto 0;
}

#trailNav a {
	padding: 0;
	text-decoration: none;
	margin: 0 10px;
	font-size: 1.5em;
	vertical-align: top;
}

#trailNav a.activeSlide,
#trailNav a:hover {
	color: $orange
}

#prev {
	float: left;
	cursor: pointer;
	color: $blue;
	font-size: 1.5em;
}

#next {
	float: right;
	cursor: pointer;
	color: $blue;
	cursor: pointer;
	font-size: 1.5em;
}

#prev:hover,
#next:hover {
	color: $orange
}

#pre-content .view-header p {
	margin: 0;
	padding: 0;
	color: $white;
	font-size: 0.8em;
	line-height: 1;
	font-weight: bold;
	@include single-text-shadow(1px, 1px, 1px, 0px, $black);
}

#block-views-Trails-block_1 ul {
	margin: 0 auto;
    padding: 0;
    overflow: hidden;
}

#pre-content #block-views-Trails-block_1 .view-empty {
	padding: 0 15px;
	min-height: 247px;
}

#pre-content .block {
	margin: 0;
}

#block-block-1 {
	float: right;
	font-size: 0.8em;
	margin: 12px 20px 0 0;
	width: 180px;
	text-align: right;
}

#block-block-1 .block-edit-link {
	display: none;
}

#block-block-3 {
    display: inline-block;
    font-size: 1.2em;
    margin: 11px 0 0 20px;
    vertical-align: top;
}

#block-block-3 a {
	line-height: 1;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	border-bottom: 2px solid $blue;
}

#block-block-3 a:hover {
	border-bottom: 2px solid #b27535;
}

.frontTrail {
	float: right;
	color: $grey4;
    margin-top: -35px;
}

.view-frontpage .views-row,
.front .node-type-trail {
	border: 1px solid $border;
    margin-bottom: 25px;
    padding: 5px 15px;
    @include background-image(linear-gradient(#d9e2d9, $white 21%, $white 91%, #d9e2d9));
}

#front-trail-pager {
	text-align:center;
	margin:5px auto 0
}

#pre-content  #block-views-Trails-block_1  {
	float: left;
	border-right: 1px solid $border;
	width: 561px;
}

#pre-content  #block-views-Trails-block_1 .view-content {
	padding-left: 15px;
	padding-top: 10px;
	height: 242px;
}

#block-block-7 h2.title {
    font-size: 2em;
}

#block-block-7 p {
	line-height: 1.5;
}

#map {
	height: 190px; 
	width: 300px; 
	margin: 20px auto 0; 
	padding-left: 45px;
}

.page-trails-state #map {
	padding-left: 0;
}

.largeCountNum {
	position: absolute;
	font-size: 3em;
	color: $white;
	top: 45px;
	left: 40px;
	font-weight: bold;
	@include single-text-shadow(1px, 1px, 1px, 0px, $black);
}

#front-state-container label {
    display: inline-block;
    font-size: 25px;
	margin-bottom: 25px;
	color: $red;
	font-family: $fancyFontFamily;
	font-weight: bold;
}

#front-state-container {
    padding: 20px 0;
    text-align: center;
    display: block;
	background: transparent;
}

#front-state-select {
    border: 1px solid $green;
    box-shadow: 1px 1px 1px #AFAFAF inset;
    font-size: 26px;
    font-weight: bold;
    height: 39px;
    line-height: 1;
    vertical-align: baseline;
    width: 280px;
}

#front-state-shapes a {
	text-decoration: none;
	text-align: center;
	display: inline-block;
	font-size: 1em;
	margin: 0 30px;
	position: relative;
}

#front-state-shapes .icomoon-icon {
	font-size: 90px;
}

#font-state-coming {
	margin-top: 14px;
	font-size: 1.3em;
	display: none;
}

#font-state-coming ul {
	margin: 0;
	padding: 0;
	text-align: center;
	display: inline-block;
}

#font-state-coming li {
	list-style-type: none;
	display: inline-block;
	margin: 0 2px;
	font-size: 0.7em;
}

#font-state-coming .icomoon-icon {
	vertical-align: middle;
	margin-right: 15px;
}

#font-state-coming .icon-ri {
	font-size: 35px;
}

#font-state-coming .icon-ma {
	font-size: 70px;
}

#font-state-coming .icon-ct {
	font-size: 32px;
}

#font-state-coming .icon-nj {
	font-size: 40px;
}

#block-views-front-block_1 .view-empty li {
	min-height: 239px;
}

#block-views-front-block_2 {
   width: 398px;
   margin-bottom: -1px;
}

#block-views-front-block_2 .view-empty {
	padding-left: 15px;
}

#block-views-front-block_2 .views-row-last .comment-links,
#block-views-front-block_2 .views-row-last .comment-links .blog-read-more {
	@include border-radius(0 0 $default-border-radius 0);
}

#block-views-front-block_3 ul,
#block-views-front-block_1 ul {
	padding: 0;
	margin: 0;
}

#block-views-front-block_3 li,
#block-views-front-block_1 li {
	list-style-type: none;
	padding: 10px 10px 5px 10px;
	width: 260px;
	height: 35px;
	@include default-gradient-background;
}

#block-views-front-block_3 li{
	width: 541px;
	height: 139px;
	border-right: 1px solid $border;
}

#block-views-front-block_1 li {
	width: 376px;
}

#block-views-front-block_1 li.views-row-first {
	padding-top: 14px;
}

#block-views-front-block_3 .views-field-tid {
	text-align: center;
	margin: 10px 0 20px;
}

#block-views-front-block_3 .views-field-title {
	text-align: center;
	clear: both;
}

#block-views-front-block_3 .views-field-title a {
	display: inline-block;
	margin-top: 20px;
}

#block-views-front-block_3 li.last,
#block-views-front-block_1 li.last {
	margin-bottom: 0;
}

#block-views-front-block_1 .views-field-field-trail-primary-photo-fid {
	float: left;
}

#block-views-front-block_1 .views-field-field-trail-primary-photo-fid img {

}

#block-views-front-block_1 .views-field-province {
	font-size: 0.8em;
}

#block-views-Trails-block_1 .views-field-field-trail-gallery1-photo-fid,
#block-views-Trails-block_1 .views-field-field-trail-gallery2-photo-fid,
#block-views-Trails-block_1 .views-field-field-trail-gallery3-photo-fid,
#block-views-Trails-block_1 .views-field-field-trail-gallery4-photo-fid {
	float: left;
	line-height: 1;
	margin-bottom: -2px;
}

#block-views-Trails-block_1 .views-field-field-trail-gallery1-photo-fid img,
#block-views-Trails-block_1 .views-field-field-trail-gallery2-photo-fid img,
#block-views-Trails-block_1 .views-field-field-trail-gallery3-photo-fid img {

}

#block-views-Trails-block_1 .views-field-comment-count {
	margin-top: 20px;
}

.front.logged-in div.messages {
	margin: -1px 0 0;
}

.front.not-logged-in #main #content-area {
	display: none;
}

.front.not-logged-in .region-content-bottom {
	clear: both;
	@include border-radius(0 0 0 $default-border-radius);
}

.front.not-logged-in div.messages{
	margin: -1px -1px 0;
}

.block-mailchimp label {
	display: none;
}

.block-mailchimp .form-item {
	float: left;
	margin: 15px 15px 0 0;

}

.block-mailchimp input[type=submit] {
	margin-top: 15px;
}

#block-mailchimp-7d4ae542e2,
.front #block-block-13 {
	float: left;
	background-color: $grey1;
	padding: 15px 25px 20px 25px;
	margin: 0;
	width: 470px;
	border-right: 1px solid $border;
}

.front #block-block-13 h2 {
	font-size: 2.5em;
}

.front #block-user-0 {
	float: right;
	padding: 25px 25px 0;
	margin-top: -265px;
	clear: none;
}

.front #block-user-0 .item-list .first {
	display: none;
}

.front #block-user-0 h2 {
	display: none;
}

.front #block-user-0 input[type="password"],
.front #block-user-0 input[type="text"] {
	width: 290px;
}

.front #block-user-0 ul {
	margin: 15px 0 0;
	padding: 0;
}

.front #block-user-0 li {
	list-style-type: none;
}

.front #block-user-0 #edit-name-wrapper {
	margin-top: 0;
}

.front.not-logged-in #block-block-15 {
	float: right;
	margin: 60px 15px 0 0;
}