table.sticky-enabled {
	width: 100%;
}

.block-config, 
div.view div.views-hide {
	display: none !important;
}

table.sticky-table, 
table#content-field-overview, 
.views-table,
.resizable-textarea {
	width: 100%
}

div.messages, 
div.status, 
div.warning, 
div.error {
    margin: 5px 0 15px;
	border: 1px solid $border;
}

.captcha {
	height: auto;
	border: 0 none;
	legend {
		display: none;
	}
	.form-item label {
		width: 210px;
	}
	.edit-captcha-response {
		width: 220px;
		font-size: 1.3em;
	}
	#edit-captcha-response-wrapper {
		margin-top: 10px;
	}
}

#accordion h3 {
	font-weight: normal;
	color: $blue;
	cursor: pointer;
	outline: none;
}

#accordion h3:hover {
	color: $orange;
}

#accordion ul {
	margin: 0;
}

.block-edit-link a {
    background-color: $grey4;
    background-image: none;
    color: $white;
    height: auto;
    padding: 2px 8px;
	font-size: 0.8em;
	text-decoration: none;
	@include border-radius();
}

.block-edit-link a:hover {
	background-color: $orange;
	background-image: none;
}

.icon-arrow-down {
	float: right;
	margin: 10px 15px 0 0;
}

#accordion .icon-plus,
#accordion .icon-minus {
	font-size: 0.7em;
	margin-right: 10px;
}

.icon-checkmark {
	color: $green;
}

.icon-in-stack {
	color: $blue;
}

.trail-meta-verify .icon-notification ,
.icon-comments.none {
	color: $grey4;
}

.in_stack .icon-in-stack {
	font-size: 1.3em;
}

.icon-shield {
	font-size: 0.8em;
	color: $green;
}

.icon-shield.gold {
	color: $gold;
}

.icon-shield.silver {
	color: $silver;
}

.add_to_stack .icon-stack {
	color: $white;
}

.box h2 {
	font-family: Sanchez, serif;
}

.region-content-bottom .block-views {
	float: left;
	margin-bottom: 0;
}

#edit-submitted-activities-wrapper .description {
	color: $grey4;
}

ul.hybridauth-widget {
    padding: 0;
}