#header-wrapper {
	position: relative;
    z-index: 99;
	border-bottom: 1px solid $border;
	background: $white url(/sites/trailstack.com/themes/denominator/images/header-feet.png) repeat-x scroll left 10px;
}

#header {
    border-left: 1px solid $border;
    border-right: 1px solid $border;
    box-shadow: 0 -2px 5px 0 $grey4;
    float: none;
    margin: 0 auto;
    width: 958px;
	padding-bottom: 10px;
	background: $white url(/sites/trailstack.com/themes/denominator/images/header-grad.png) no-repeat scroll right 0;
}

.region-header {
    background-color: $grey1;
    border-top: 1px solid $border;
}

#logo {
	margin: 15px 0 0 15px;
	display: inline-block;
	width: 250px;
	height: 35px;
	background: $white url(/sites/trailstack.com/themes/denominator/images/logo.png) no-repeat scroll 0 0;
}

#tagline {
    color: $grey4;
    display: inline-block;
    font-style: italic;
    font-weight: bold;
    margin: 34px 0 0 20px;
    vertical-align: baseline;
}

#hybridauth {
    float: right;
    margin-right: 10px;
    margin-top: 12px;
    > div {
        float: left;
    }
    h3 {
        display: none;
    }
    .registerLink {
        margin-top: 4px;
        .first {
            font-size: 0.9em;
        }
        .last {
            font-size: 0.7em;
        }
    }
    .item-list {
        ul.hybridauth-widget {
            padding: 2px 0 0 15px;
        }
        div {
            display: none;
        }
    }
    .block {
        margin-bottom: 0;
    }
}

#countContainer {
    display: inline-block;
    float: right;
    font-size: 1.5em;
    margin-left: 15px;
    margin-right: 10px;
    margin-top: 10px;
	color: $green;
	padding: 5px 10px;
	border: 1px solid $border;
	font-family: $fancyFontFamily;
	background-color: rgba(255, 255, 255, 0.5);
	@include border-radius($small-border-radius);
}

#countContainer a {
    background-color: $green;
    color: $white;
    font-family: monospace;
    font-size: 1.2em;
    font-weight: bold;
    line-height: 1;
    margin-right: 5px;
    padding: 2px 5px 0;
    text-decoration: none;
    @include border-radius($small-border-radius);
}

#countContainer .icon-stack {
	font-size: 18px;
	color: $green;
	margin-right: 5px;
}

#countContainer a:hover {
	background-color: $orange;
}