body.in-maintenance #page-wrapper{
    background: none repeat scroll 0 0 white;
    border: 1px solid $grey4;
    padding: 30px 20px;
    text-align: center;
    width: 960px;
    display: block;
    margin: 25px auto 0;
    @include border-radius(15px);
}

body.in-maintenance #content {
	width: 465px;
}

body.in-maintenance #header {
	background: none repeat scroll 0 0 transparent;
	padding: 0;
	float: none;
	width: auto;
	
}

body.in-maintenance #main {
    background-color: transparent;
    border: 0px solid #769EC1;
	padding: 0;
	margin-top: 25px;
}

body.in-maintenance #page {
	text-align: center;
}

body.in-maintenance #logo {
	float: none;
}

body.in-maintenance h1.title {
	font-family: Vollkorn, serif;
	font-weight: bold;
}

#maintenance {
	background-color: $white;
}