#nav-wrapper {
    position: relative;
    z-index: 100;
	box-shadow: 0 6px 5px -5px $grey4 inset;
	background: $white url(/sites/trailstack.com/themes/denominator/images/page-bg.png) repeat scroll left 10px;
}

#nav {
	width: 958px;
	margin: 0 auto;
	background-color: $white;
	border-left: 1px solid $border;
    border-right: 1px solid $border;
	border-bottom: 1px solid $border;
}

.region-navigation {
	float: right;
	margin: 20px 0 0 0;
	padding: 0;
}

#nav-marker-wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative;
    z-index: 99;
}

#block-menu-primary-links {
	margin: 0;
	padding: 0;
}

#nice-menu-1 {
	margin: 0;
	padding: 0;
}

ul.nice-menu li {
	width: 175px;
}

ul.nice-menu li.menu-381 {
	width: 187px;
}

ul.nice-menu li.menu-308 {
	width: 209px;
}

ul#nice-menu-1  li.menu-314 a {
	padding: 5px 0;
	width: 100%;
}

#nice-menu-1 .nolink, 
#nice-menu-1 a {
	color: $blue;
	padding: 5px 0 5px 35px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 1.4em;
	text-align: center;
	font-family: $fancyFontFamily;
	@include single-text-shadow(1px, 1px, 0px, 0px, $white);
}

#nice-menu-1 .icon-arrow-down {
	color: $blue;
	@include single-text-shadow(1px, 1px, 0px, 0px, $white);
}

ul.nice-menu-down li {
	border-top: 0 none;
	border-bottom: 0 none;
	border-left: 0 none;
	border-right: 1px solid $border;
	background-color: $grey1;
}

#nice-menu-1 .menuparent ul li {
	&.menu-614,
	&.menu-354,
	&.menu-378,
	&.menu-631,
	&.menu-768,
	&.menu-716,
	&.menu-797,
	&.menu-1099,
	&.menu-1559,
	&.menu-614,
	&.menu-1561,
	&.menu-1592,
	&.menu-1594,
	&.menu-608 {
		a {
			background-color: $red;
			color: $white;
			@include single-text-shadow(1px, 1px, 0px, 0px, $black);
			&:hover {
				background-color: darken($red, $hoverDarkenValue);
			}
		}
	}
}

#block-nice_menus-1 {
	margin-bottom: 0;
}

#nice-menu-1 li:hover,
#nice-menu-1 li:hover a,
#nice-menu-1 li:hover span {
	background-color: $ltgreen;
	color: $black;
}

#nice-menu-1 .menuparent {
	background: $grey1 none no-repeat scroll right center;
}

#nice-menu-1 .menuparent:hover,
#nice-menu-1 .menuparent:hover a,
#nice-menu-1 .menuparent:hover span,
#nice-menu-1 .menuparent.active-trail,
#nice-menu-1 .menuparent.over,
#nice-menu-1 .menuparent.over a,
#nice-menu-1 .menuparent.over span {
	background: $ltgreen none no-repeat scroll right center;
	color: $black;
}

#block-menu-secondary-links .active-trail a {
	text-decoration: none;
}

#nice-menu-1 .menuparent ul {
	width: 195px;
    border: 0 none;
    margin-top: 9px;
	margin-left: -1px;
	border: 1px solid $border;
	border-bottom: 0 none;
	box-shadow: 1px 1px 1px 0 rgba($black, 0.2);
}

#nice-menu-1 .menuparent ul li {
	border: 0 none;
	background-color: $white;
	width: 195px;
}

#nice-menu-1 .menuparent ul a,
#nice-menu-1 .menuparent.over ul a,
#nice-menu-1 .menuparent ul span,
#nice-menu-1 .menuparent.over ul span {
    color: $blue;
    font-size: 1em;
	text-decoration: none;
    padding: 7px 20px;
	width: 156px;
	margin-left: 0;
	background: 0 none;
	height: auto;
	border-bottom: 1px solid $border;
	font-weight: normal;
	text-align: left;
}

#nice-menu-1 .menuparent ul a span,
#nice-menu-1 .menuparent.over ul a span {
    border-bottom: 0 none;
    color: $white;
    padding: 0;
	padding: 0;
	@include single-text-shadow(1px, 1px, 0px, 0px, $black);
}

#nice-menu-1 .menuparent ul a:hover,
#nice-menu-1 .menuparent ul span:hover {
	background: none $blue;
	color: $white;
	@include single-text-shadow(1px, 1px, 0px, 0px, $black);
}

#nice-menu-1 .menuparent ul a:hover span {
	background-color: darken($red, $hoverDarkenValue);;
}