.item-list .pager {
	display: block;
	margin: 0 auto;
	padding: 0;
}

.item-list .pager li {
	padding: 0 0 0 5px;
}

.item-list .pager li a,
.item-list .pager .pager-current {
	text-decoration: none;
	display: inline-block;
	border: 1px solid $border;
	background-color: $white;
	width: 16px;
	height: 16px;
	padding: 1px 2px 3px;
	text-align: center;
	font-size: 0.9em;
}

.item-list .pager li img {
	vertical-align: top;
	padding-top: 4px;
}

.item-list .pager li a:hover {
	border: 1px solid $blue;
	text-decoration: none;
}

.item-list .pager  li.pager-current {
	color: $white;
	background-color: $blue;
	margin-left: 5px;
}
