#page-wrapper {
    margin-top: 0;
	position: relative;
    z-index: 98;
	width: 100%;
}

#page {
	width: 960px;
	margin: 0 auto;
}

#content .section {
	padding: 15px;
}

#main {
	border: 1px solid $border;
	border-top: 0 none;
	background-color: $white;
	@include border-radius(0px 0px $default-border-radius $default-border-radius);
}

#block-block-16,
#block-block-19 {
clear: both;
margin: 0;
}

#block-block-16 .content,
#block-block-19 .content {
	padding: 10px 0 5px;
	border-top: 1px solid $border;
	background-color: $ltgreen;
	@include single-text-shadow(1px, 1px, 0px, 0px, $white);
	@include border-radius(0 0 $default-border-radius $default-border-radius);
}

.socialWidgets .socialHeader {
	font-size: 1.5em;
	font-family: $fancyFontFamily;
	float: left;
	margin: 5px 0 0 20px;
}

.socialWidgets .socialItem {
	display: inline-block;
	margin-left: 50px;
	vertical-align: middle;
	line-height: 1;
	min-width: 85px;
}

.region-page-closure {
	text-align: center;
	margin-top: 15px;
	font-size: 0.8em;
	color: $grey4;
}

.region-content-bottom {
	float: left;
}

.region-content-bottom p,
.region-content-bottom ul {
	margin: 0;
	padding: 0;
}