.node-type-park.build-mode-full .park-image {
	float: left;
	width: 259px;
	border: 1px solid $border;
	padding: 15px;
	margin-right: 15px;
	@include default-gradient-background;
	@include border-radius();
}

.node-type-park.node-teaser {
	display: inline-block;
	border: 1px solid $border;
	width: 290px;
	text-align: left;
	vertical-align: top;
	margin-top: 25px;
	overflow: hidden;
	@include green-gradient-background;
	@include border-radius();
}

.node-type-park.build-mode-teaser .park-image {
	width: 259px;
	border: 1px solid $border;
	margin: 15px 0 10px;
}

.park-city {
	font-size: 1.5em;
}

.node-type-park .region-content-bottom {
	margin-top: 50px;
	padding-bottom: 15px;
}

.node-type-park #content-area {
	margin-top: 15px;
}

.park-source {
	font-size: 0.9em;
	font-style: italic;
	text-align: right;
}

.park-marker {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 0 25px 25px 0;
	float: right;
	cursor: pointer;
	border-color: transparent $blue transparent transparent;
}