.section-members h1.title {
	display: none;
}

.userWidget {
	margin-bottom: 15px;
	margin-right: 25px;
	min-height: 100px;
}

.userWidget .picture {
	float: left;
	margin: 0 15px 0 0;
}

.userWidget .information {
	display: inline-block;
	width: 780px;
}

.userWidget .name {
	font-size: 1.8em;
	margin-bottom: 5px;
	font-family: Sanchez, serif;
}

.userWidget .personal {
	margin-bottom: 10px;
	color: $grey4;
}

.userWidget .personal span {
	display: inline-block;
	margin-right: 15px;
}

.userWidget .socialIcons {
	display: inline-block;
	margin-left: 10px;
}

.userWidget .socialIcons a {
	margin-right: 5px;
	text-decoration: none;
	font-size: 0.7em;
}

#block-views-Stack-block_1 {
	width: 928px;
	background-color: $grey1;
	padding: 15px;
	border: 1px solid $border;
	margin: 0 -16px -1px;
}

#block-views-Stack-block_1 .views-row  .views-field-field-trail-primary-photo-fid {
	float: left;
	margin: 0 10px 0 0;
}

#block-views-Stack-block_1 .views-row {
	display: inline-block;
	width: auto;
	border: 1px solid $border;
	padding: 10px;
	background-color: $white;
	vertical-align: top;
	margin: 0 10px 10px 0;
	@include border-radius();
}

#block-views-Stack-block_1 .views-row img {
	@include border-radius($small-border-radius);
}

#block-views-Stack-block_1 .views-row div {
	margin-left: 40px;
}

#block-views-Profile_activity-block_1,
#block-views-Activity-block_1 {
	width: 928px;
	border: 0 none;
	float: none;
	display: block;
	margin: 0 -15px;
	clear: both;
	padding: 15px 15px;
	border-top: 1px solid $border;
	@include default-gradient-background;
	@include border-radius(0 0 $default-border-radius $default-border-radius);
}

#block-views-Stack-block_1 h2,
#block-views-Activity-block_1 h2,
#block-views-Profile_activity-block_1 h2 {
	font-weight: normal;
	font-size: 1.3em;
	margin-bottom: 10px;
}

.section-user #content-area {
    margin-bottom: 15px;
}

#hybridauth-user-identity {
	h3 {
		font-family: $fancyFontFamily;
		margin-bottom: 0;
	}
	.hybridauth-widget {
		margin-top: 0;
	}
}