#user-login {
	.item-list {
		margin-bottom: 25px;
		h3 {
			font-family: $fancyFontFamily;
			margin-bottom: 0;
		}
		.hybridauth-widget {
			margin-top: 0;
		}
	}
}

#user-register {
	@extend #user-login;
}