.sourceContainer {
	background-color: $grey1;
	padding: 5px 10px;
	margin: 15px 0 0;
}

.sourceContainer .header {
	font-weight: bold;
	color: $grey4;
	margin-bottom: 3px;
}

.section-resources .region-content-top {
	margin: 0 -15px;
	background: $grey1;
	width: 958px;
	border-bottom: 1px solid $border;
}

.section-resources h1.title {
	background-color: $grey1;
	margin: -15px;
	padding: 15px;
	width: 928px;
}

.node-type-resource h1.title {
	background-color: transparent;
	margin: 0;
	padding: 0;
	width: auto;
}

#block-taxonomy_block-0 {
	margin-bottom: 25px;
}

#block-taxonomy_block-0 ul {
	margin: 0 10px 0;
	padding: 0;
	text-align: center;
}

#block-taxonomy_block-0 li {
	padding: 5px;
	color: $white;
	display: inline-block;
	background-color: $blue;
	margin: 0 15px;
	@include border-radius($default-border-radius);
}

#block-taxonomy_block-0 li:hover {
	background-color: $orange;
	cursor: pointer;
}

#block-taxonomy_block-0 li a {
	color: $white;
	text-decoration: none;
}