body.sidebar-second #content {
    margin-right: -715px;
    width: 715px;
}

body.sidebar-second .webform-client-form textarea {
    width: 565px !important;
}

.region-sidebar-second {
    background-color: rgba(215, 219, 215, 0.5);
    border: 1px solid $border;
    float: left;
    height: 100%;
    margin: -16px -960px -16px 732px;
    padding: 0;
    width: 210px;
	position: relative;
	z-index: 999;
	@include border-radius(0px);
}

.region-sidebar-second .section {
    margin: 0 20px;
    padding: 0;
}

.region-sidebar-second .header {
    display: inline-block;
    font-family: 'Vollkorn',serif;
    font-size: 1.3em;
}

.region-sidebar-second .block {
	margin-top: 1em;
}