#main .node-type-trail .content {
	float: left;
}

.node-data-container {
	float: left;
	width: 375px;
	border: 1px solid $border;
}

.node-type-trail .node-photos {
	float: left;
    margin-right: 10px;
    background: none repeat scroll 0 0 $grey1;
    border: 1px solid $border;
    display: inline-block;
    padding: 10px;
}

.node-type-trail .node-photos .gallery {
	margin-top: 10px;
	line-height: 1;
}

.node-type-trail .node-photos .gallery div {
	font-size: 0.8em;
	margin-bottom: 2px;
}

.node-type-trail .node-photos .gallery a {
	display: inline-block;
}

.node-type-trail .node-photos .gallery img {
	float: left;
}

.content .node-data {
    background: none repeat scroll 0 0 $grey1;
	border-bottom: 1px solid white;
}

.content .node-data img {
	margin-right: 10px;
	display: none;
}

.content .node-data.weather,
.not-logged-in.node-type-trail .content .node-data.marker-color {
	border-bottom: 0 none;
}

.node-data.name {
	margin-left: 0;
}

.node-data > strong {
    background-color: $grey3;
    display: inline-block;
    padding: 3px 5px 3px 10px;
    width: 130px;
	margin-right: 10px;
}

.node-type-blog .meta,
.node-type-resource.meta,
.node-type-trail .meta,
.page-comment .meta {
    float: right;
}

.comment-links {
    font-size: 0.8em;
	clear: both;
	margin: 25px -15px 0 -15px;
	background-color: $grey1;
	border-top: 1px solid $border;
	border-bottom: 1px solid $border;
	width: 958px;
	float: left;
}

.comment-links ul.links img {
	vertical-align: top;
}

.comment-links ul.links li.remove_from_stack {
	display: none;
	margin-top: 15px;
}

ul.links li.comment_forbidden {
	display: none;
}

.front .comment-links {
	width: 396px;
	margin-top: 15px;
}

.comment-links ul.links li {
	float: left;
	padding: 0;
	border-right: 1px solid $border;
}

.comment-links ul.links li a {
	padding: 5px 15px;
	color: $white;
	text-decoration: none;
	display: inline-block;
}

.comment-links ul.links li a:hover {
	background-color: $orange !important;
}

.comment-links .submitted {
	padding: 5px 10px;
	display: inline-block;
	border-left: 1px solid $border;
}

.comment-links ul.links .comment_add a {
	background-color: $blue;
}

.node-type-trail h1.title {
display: none;
}

ul.links li.blog_usernames_blog {
	display: none;
}

ul.links li.node_read_more {
	float: right;
}

.node .terms {
	background-color: $grey1;
	border: 1px solid $border;
	padding: 10px;
	margin: 10px 0;
}

.node .terms .header {
	margin-bottom: 5px;
	font-weight: bold;
}

.node .terms ul.links li {
    margin: 0 5px;
    padding: 0;
}

.node .content {
	line-height: 1.5;
}

.node .content p:first-child {
	margin-top: 0;
}

.node .content p:last-child {
	margin-bottom: 5px;
}

.field-type-nodereference {
    margin-bottom: 15px;
    margin-top: 12px;
}

.field-type-nodereference .field-label,
.field-type-nodereference .field-items {
	display: inline-block;
}

.field-type-nodereference .field-item  a {
    background-color: $blue;
    color: $white;
    padding: 3px 10px;
    text-decoration: none;
    @include border-radius($small-border-radius);
}

.terms .activity {
	display: inline-block;
	margin-right: 15px;
}

.terms .activity a {
    background-color: $red;
    color: $white;
    padding: 3px 10px;
    text-decoration: none;
	display: inline-block;
	@include border-radius($small-border-radius);
}

.field-type-nodereference .field-item  a:hover,
.terms .activity a:hover {
	background-color: darken($red, $hoverDarkenValue);
}

.activity-time {
    color: $grey4;
    font-size: 0.8em;
}

.picture {
	display: inline-block;
}
 
.picture img {
    vertical-align: text-bottom;
    @include border-radius($small-border-radius);
}

#trail-buttons {
	margin-bottom: 10px;
}

#trail-buttons li.in_stack .icon-stack,
#trail-buttons li.add_to_stack .icon-stack {
	font-size: 16px;
}

#trail-buttons li.add_to_stack a {
	background-color: $green;
	display: inline-block;
	text-decoration: none;
	padding: 15px 45px;
	color: $white;
	width: 120px;
	text-align: center;
	font-size: 1.2em;
	margin-right: 5px;
	white-space: nowrap;
	@include border-radius($small-border-radius);
}

#trail-buttons li.add_to_stack a:hover {
	background-color: $orange;
}

#trail-buttons li.in_stack {
	font-size: 1.2em;
	color: $green;
	display: inline-block;
	border: 1px solid $green;
	padding: 14px 35px;
	@include border-radius($small-border-radius);
}

#trail-buttons li.in_stack .icon-stack {
	margin-right: 5px;
}

#block-gmap_location-0 {
	float: right;
	margin-bottom: 0;
}

#moreContainer {
	float: right;
	position: relative;
	text-align: right;
	margin-top: 6px;
	margin-left: 15px;
}

#moreMenu {
	position: absolute;
	background-color: $white;
	right: -11px;
	top: -11px;
	z-index: 99;
	padding: 10px 10px 0;
	width: 135px;
	cursor: pointer;
	border: 1px solid $border;
}

.icon-cog {
	color: $blue;
	font-size: 16px;
}

.menuTarget {
	color: $blue;
}

.menuTarget .icon-cog {
	vertical-align: text-bottom;
}

.menuTarget.menuOpen,
.menuTarget.menuOpen .icon-cog {
	cursor: pointer;
	color: $orange;
}

#moreMenu li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}

#moreMenu li a {
	text-decoration: none;
}

#moreMenu ul {
	margin: 15px 0 0;
	padding: 0;
}

#moreMenu .submitted {
font-size: 0.8em;
margin-top: 15px;
text-align: left;
border-top: 1px solid $border;
padding: 10px;
margin: 15px -10px 0;
background: $grey3;
}

#moreMenu.padFix {
	padding-bottom: 15px;
}

.location-items {
	float: right;
}

#main .node-type-trail .region-trail-map .content {
	width: auto;
}

.address-container {
	width: 275px;
	float: right;
    background: none repeat scroll 0 0 $grey1;
    border: 1px solid $border;
    margin-top: 10px;
    padding: 5px 10px;
}

.address-container .icon-globe {
	float: right;
	font-size: 23px;
	opacity: 0.3;
	color: $blue;
}

.address-container .icon-globe.menuOpen,
.address-container .icon-globe:hover {
	cursor: pointer;
	@include opaque;
}

#coordsContainer {
	position: relative;
}

#coordsMenu {
	display: block;
	position: absolute;
	top: 29px;
	background: $white;
	padding: 3px 5px 4px;
	text-align: right;
	width: 87px;
	right: -10px;
	border-top: 1px solid $border;
	border-left: 1px solid $border;
}

.address-container div.trail-utility-links {
	display: inline-block;
	float: none;
	background-color: $grey3;
	border-top: 1px solid $border;
	width: 260px;
	text-align: center;
	padding: 5px 18px 5px 0;
	margin: 10px -10px -5px -10px;
}

.address-container div.trail-distance {
	width: 275px;
	background-color: $ltgreen ;
	padding: 5px 10px;
	margin: 8px -10px -5px;
	font-size: 0.8em;
	border-top: 1px solid $border;
}

.trailNoticeBand {
	display: inline-block;
	margin: 15px 0 0 -15px;
	padding: 6px 15px;
	width: 928px;
	background-color: $yellow;
	font-size: 0.8em;
	border-top: 1px solid $border;
}

.trailNoticeBand img {
	vertical-align: top;
}

.trailNoticeBand .icon-notification {
	font-size: 1.1em;
}

#comments {
	margin: 0;
	margin: 0 -15px -15px;
	width: 958px;
	padding: 0;
	background-color: $grey3;
	border-top: 1px solid $border;
	border-radius: 0 0 5px 5px;
	@include border-radius(0 0 $default-border-radius $default-border-radius);
}

#comments h2 {
    background-color: $grey3;
    padding: 5px 15px;
	margin: 0;
	font-family: Sanchez, serif;
	@include single-text-shadow(1px, 1px, 0px, 0px, $white);
}

#comments h2.title {
	border-bottom: 1px solid $border;
}

#comments .comment {
	padding: 5px 15px 0;
	border-top: 1px solid $border;
	margin-top: -1px;
    border-bottom: 1px solid $border;
	background: $grey1;
}

#comments .comment  li {
	padding: 0;
	margin-right: 15px;
}

#comments .new {
	float: right;
	font-size: 0.7em;
	background-color: $red;
	color: $white;
	padding: 1px 5px;
	border-radius: 3px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	@include border-radius($small-border-radius);
}

.comment_forbidden a,
#comments .comment  li a {
	font-size: 0.8em;
	color: $white;
	text-transform: capitalize;
	text-decoration: none;
    background-color: $blue;
    padding: 3px 10px;
    @include border-radius($small-border-radius);
}

.comment_forbidden a:hover,
#comments .comment  li a:hover {
	background-color: $orange;
}

#comments ul.links {
	margin: 0 0 15px;
}

#comments .comment .submitted {
	font-size: 0.8em;
}

ul.links li.add_to_stack {
	padding: 0;
}

ul.links li.remove_from_stack {
	display: none;
}

#trail-buttons:hover ul.links li.remove_from_stack {
	display: inline-block;
}

.remove_from_stack a {
	font-size: 0.8em;
	color: $white;
	text-transform: capitalize;
	text-decoration: none;
    background-color: $red;
    padding: 2px 5px;
	vertical-align: top;
	@include border-radius($small-border-radius);
}

.remove_from_stack a:hover {
	background-color: $orange;
}

.not-front .view-id-Trails .views-row-2,
.not-front .view-id-Trails .views-row-5,
.not-front .view-id-Trails .views-row-8,
.not-front .view-id-Trails .views-row-11,
.not-front .view-id-Trails .views-row-14 {
	margin-left: 22px;
	margin-right: 22px;
}

.not-front .view-id-park_profile .views-row-2,
.not-front .view-id-park_profile .views-row-5,
.not-front .view-id-park_profile .views-row-8,
.not-front .view-id-park_profile .views-row-11,
.not-front .view-id-park_profile .views-row-14 {
	margin-left: 22px;
	margin-right: 22px;
}


.stack_row_2,
.stack_row_5,
.stack_row_8,
.stack_row_11,
.stack_row_14 {
	margin-left: 22px;
	margin-right: 22px;
}

.stack_row,
.view-Trails .views-row,
.view-park-profile .views-row {
	display: inline-block;
}

.node-type-trail.node-teaser {
	display: inline-block;
	border: 1px solid $border;
	width: 290px;
	text-align: left;
	vertical-align: top;
	margin-top: 25px;
	@include default-gradient-background;
	@include border-radius();
}

.node-teaser .trail-name {
	font-family: Sanchez, serif;
	font-size: 1.5em;
	padding: 15px 15px 0;
	line-height: 1;
	font-weight: bold;
	@include single-text-shadow(1px, 1px, 0px, 0px, $white);
}

.node-teaser .trail-name a {
	text-decoration: none;
}

.node-type-trail.node-teaser .trail-meta {
	padding: 5px 15px 7px;
}

.node-type-park.node-teaser .trail-image,
.node-type-trail.node-teaser .trail-image {
	padding: 0 15px;
}

.node-type-trail.node-teaser .trail-image img {
	border: 1px solid $border;
}

.node-type-trail.node-teaser .trail-badges {
	border-top: 1px solid $border;
	margin-top: 10px;
}

.node-type-trail.node-teaser .trail-badges img {
	cursor: pointer;
}

.node-type-trail.node-teaser .trail-badges .trail-meta-stack,
.node-type-trail.node-teaser .trail-badges .trail-meta-comment,
.node-type-trail.node-teaser .trail-badges .trail-meta-verify {
	float: left;
	width: 96px;
	height: 15px;
	padding: 5px 0;
	text-align: center;
	font-size: 0.9em;
	vertical-align: top;
	@include default-gradient-background;
}

.trail-meta-stack .icon-stack.not {
	color: $grey4;
}

.node-type-trail #edit-comment {
	height: 65px;
	border-right: 0 none;
	border-left: 0 none;
	border: 1px solid $border;
}

.node-type-trail #comments .form-item {
	padding: 0 15px;
	margin: 0 0 5px;
}

.node-type-trail #comments fieldset {
	display: none;
}

.node-type-trail #comments .form-submit {
	margin: 0 0 15px 15px;
}

.node-type-trail .box {
	margin: 0;
}

.node-type-trail.node-teaser .trail-meta-comment {
	border-left: 1px solid $border;
	border-right: 1px solid $border;
}

.section-comment .comment-by-viewer {
	margin-top: 5px;
	background-color: $grey1;
    border: 1px solid $border;
    padding: 0 15px;
}

.indented .comment {
	border-left: 1px solid $border;
}

.indented .indented {
    margin-left: 15px;
}

/* Trail Verify */
.node-type-trail-verify  h1.title,
.node-type-trail-verify .region-content-top {
	display: none;
}

.node-type-trail-verify strong {
	width: 150px;
	display: inline-block;
}

.node-type-trail-verify  #content-area div {
	margin-bottom: 10px;
}

.node-type-trail-verify .seperator {
	margin: 15px 0;
	border-top: 1px solid $border;
}

.node-type-trail-verify  #content-area div .editablefields {
	display: inline-block;
	margin-bottom: 0;
}

.node-type-trail #comment-form #edit-comment-wrapper label {
	display: none;
}

.node-type-trail #comment-form label {
	display: inline-block;
}

/* Blog */
.page-blog h1.title {
	margin-bottom: 10px;
}

.page-resources h2 a,
.page-blog h2 a {
	text-decoration: none;
}

.page-blog .item-list {
	display: none;
}

.not-front .node-type-blog.node-teaser,
.not-front .node-type-resource.node-teaser {
	margin-top: 15px;
}

.not-front .node-type-blog.node-teaser .content
.not-front .node-type-resource.node-teaser .content {
	margin-top: 15px;
}

.node-type-blog .content img,
.node-type-resource .content img {
	float: left;
	margin: 0 15px 0 0;
}

.build-mode-full.node-type-blog .content img,
.build-mode-full.node-type-resource .content img {
	border: 10px solid $ltgreen;
}

.build-mode-teaser.node-type-blog .content img,
.build-mode-teaser.node-type-resource .content img {
	border: 5px solid $ltgreen;
}

.imagecache-front_blog img,
.imagecache-front_resource img {
	float: left;
	margin-right: 10px;
	border: 5px solid $ltgreen;
}

.comment-links .blog-comment,
.comment-links .blog-related-trail,
.comment-links .blog-read-more,
.comment-links .blog-submitted {
	padding: 5px 10px;	
}

.front .comment-links .blog-submitted ,
.front .comment-links .blog-read-more,
.front .comment-links .blog-related-trail,
.front .comment-links .blog-comment {
	padding: 3px 10px;
}

.comment-links .blog-comment {
	float: left;
	border-right: 1px solid $border;
	cursor: pointer;
}

.comment-links .blog-comment img {
	vertical-align: top;
}

.comment-links .blog-related-trail {
	float: left;
	border-right: 1px solid $border;
}

.comment-links .blog-submitted,
.comment-links .blog-read-more {
	float: right;
	border-left: 1px solid $border;
}

.comment-links .blog-read-more {
	background-color: $blue;
}

.comment-links .blog-read-more a {
	color: $white;
	text-decoration: none;
}

.comment-links .blog-read-more:hover {
	background-color: $orange;
}

.memberDrive-lg {
	border: 1px solid $border;
	background-color: $grey1;
	padding: 10px;
	margin-top: 10px;
	font-size: 15px;
	text-align: center;
	a {
		font-weight: bold;
	}
	strong {
		display: block;
		margin-top: 15px;
		margin-bottom: 5px;
	}
	ul {
		margin: 0;
	}
	li {
		list-style-type: none;
		display: inline-block;
		margin: 0 10px;
	}
}