#userUtility {
	font-size: 0.9em;
	float: right;
	text-align: right;
	margin-top: 12px;
	padding: 0 25px 0 15px;
	position: relative;
	max-width: 179px;
	height: 26px;
	min-width: 80px;
	cursor: pointer;
	color: $blue;
}

#userUtility:hover,
#userUtility.menuOpen {
	color: $orange;
}

#userUtilityMenu {
	position: absolute;
	background-color: $white;
	right: 0;
	top: 26px;
	width: 100%;
	line-height: 1.5;
	min-width: 100px;
	z-index: 999;
	text-align: right;
	margin-top: -1px;
	border-top: 2px solid $white;
	border-left: 1px solid $border;
	border-bottom: 1px solid $border;
}

#userUtility .picture img {
	height: 16px;
	width: 16px;
}

#userUtilityMenu a {
	text-decoration: none;
}

#userUtilityMenu div {
	padding: 5px 15px 10px;
}

.icon-utilitymenu {
	font-size: 16px;
	vertical-align: top;
}