// Fonts
$fontFamily: Arial, Verdana, Tahoma, sans-serif;
$fancyFontFamily: 'Sanchez', Arial, serif;

// Colors
$white: #FFFFFF;
$black: #000000;
$blue: #26537A;
$orange: #B25735;
$green: #1C4C07;
$ltgreen: #C6D1C6;
$red: #934645;
$gold: #FFC300;
$silver: #BABABA;
$yellow: #FFFFCF;

$grey1: #EBEBEB;
$grey2: #D3D3D3;
$grey3: #D7D9D7;
$grey4: #9F9F9F;


$disabled: #EEEEEE;
$border: #B9B5AE;

$hoverDarkenValue: 5%;

// Border Radius 
$small-border-radius: 3px;

// Mix-ins
@mixin default-gradient-background {
	@include background-image(linear-gradient($grey1, $grey2));
}

@mixin green-gradient-background {
	@include background-image(linear-gradient(lighten($ltgreen, 15%), $ltgreen));
}