/*Global*/
body {
font-family: Verdana, Arial, Sans-Serif;
font-size: 1em;
color: #3F3F3F;
padding: 0;
}

p, ul, ol, dl, pre, table, fieldset, blockquote {
margin: 0;
padding: 0;
}

div.messages, div.status, div.warning, div.error {
margin: 5px 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

div.messages ul {
margin-left: 15px;
}

a, a:link, a:visited {
color: #446e97;
}

a:hover {
color: #dbc458;
}

h1.title {
display: inline-block;
margin-bottom: 0;
}

table.sticky-table, table#content-field-overview {
width: 100%
}

div.status, div.warning {
background-color: #FFF9DF;
border-color: #DBC458;
}

div.error {
background-color: #FFE1DF;
border-color: #B47773;
}

ul.tips {
margin-left: 15px;
}

.form-item input.error, .form-item textarea.error, .form-item select.error {
border:2px solid #B47773;
color: #B47773;
}

.page-user-login #edit-name-wrapper {
margin-top: 0;
}

/*Layout*/
.sidebar-right #content {
margin-right: -710px;
width: 710px;
}

#sidebar-right {
width: 250px;
margin-left: 710px;
}

#sidebar-right-inner {
margin: 0 0 0 15px;
}

fieldset {
padding: 5px 10px;
margin-bottom: 10px;
border: 1px solid #BBBBBB;
}

fieldset ul {
margin-left: 20px !important;
}

.block {
margin-bottom: 15px;
}

/*Page*/
/*Utility Bar*/
#utility-bar {
display: inline-block;
background-image: url("images/utility-bar-bg.png");
background-repeat: repeat-x;
width: 100%;
height: 30px;
color: #FFFFFF;
font-size: 0.7em;
font-weight: bold;
}

#utility-bar a {
color: #FFFFFF;
text-decoration: none;
}

#utility-bar a:hover {
color: #446e97;
}

#utility-bar-inner {
width: 960px;
margin: 0 auto;
}

#utility-bar-left {
float: left;
margin-top: 8px;
}

#utility-bar-right {
float: right;
border-left: 1px solid #857117;
border-right: 1px solid #e3d07b;
}

#utility-bar-links li {
list-style-type: none;
float: right;
padding: 8px 10px 7px 10px;
border-right: 1px solid #857117;
border-left: 1px solid #e3d07b;
}

#utility-bar-links li.first {
margin-left: 0;
}

/*Header*/
#header {
margin: 0;
}

#header-left {
float: left;
height: 78px;
width: 470px;
display: inline-block;
background-image: url(images/logo.png);
cursor: pointer;
margin: 25px 0 30px 0;
}

#logo-tagline {
display: inline-block;
font-size: 0.9em;
font-weight: bold;
margin-left: 90px;
margin-top: 70px;
}

#header-right {
float: right;
display: inline-block;
margin-top: 10px;
}

#social-links  {
margin: 0 0 8px 8px;
display: inline-block;
}

#social-links a {
text-decoration: none;
font-size: 0.8em;
}

#social-links span {
vertical-align: top;
}

#search-container {
width: 270px;
border: 1px solid #CFCFCF;
padding: 5px 10px 10px 10px;
background-image: url(images/search-box-bg.png);
background-repeat: repeat-x;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#search-label {
font-size: 0.7em;
font-weight: bold;
line-height: 1.4em;
margin-bottom: 8px;
display: inline-block;
}

#search-label span{
font-size: 1.3em;
}

#header-right input[type="text"] {
padding: 3px;
border: 1px solid transparent;
width: 218px;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
}

#header-right input[type="submit"] {
margin-left: -6px;
color: #FFFFFF;
font-weight: bold;
background-color: #9ba15d;
border: 3px solid #9ba15d;
cursor: pointer;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
}

#header-right input:hover[type="submit"] {
background-color: #dbc458;
border-color: #dbc458;
}

/*Catalog Bar*/
#navbar {
clear: both;
height: 43px;
width: 850px;
margin-right: 0;
padding-left: 122px;
background-image: url(images/catalog-front-bg.png);
background-repeat: no-repeat;
background-position: -23px 0;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#navbar ul {
height: 43px;
border-left: 1px solid #484D1B;
}

#navbar li {
height: 43px;
padding: 0;
list-style-type: none;
display: inline-block;
background-image: url(images/nav-item-bg.png);
background-repeat: repeat-x;
}

#navbar li:last-child {
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
}

#navbar li:last-child a {
border-left: 1px solid #A3A876;
border-right: 0 none;
}

#navbar li a {
font-size: 0.9em;
padding: 13px 9px 11px;
color: #FFFFFF;
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
display: inline-block;
border-left: 1px solid #A3A876;
border-right: 1px solid #484D1B;
}

#navbar li a:hover {
color: #dbc458;
}

/*Main*/
#main {
clear: both;
}

/*Content*/
.with-navbar #content, .with-navbar #sidebar-right {
margin-top: 15px;
min-height: 480px;
}

/*Right Sidebar*/
/*Shopping Cart*/
#block-uc_cart-0 {
background-image: url(images/cart-block-bg.png);
padding: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-uc_cart-0 .block-inner {
background-color: white;
padding: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-uc_cart-0 h2 {
font-size: 1em;
margin-bottom: 10px;
}

#cart-block-contents {
margin-bottom: 10px;
}

#block-uc_cart-0 .cart-block-items .even {
background-color: #FFE1DF !important;
}

#block-uc_cart-0 .cart-block-items td {
font-size: 0.9em;
padding: 3px 0;
border-bottom: 1px solid #DFB8B5;
}

#block-uc_cart-0 .cart-block-summary-links ul {
margin: 10px 0 0 0;
}

.cart-block-summary {
width: 100%;
}

.cart-block-icon-empty  {
background:url("images/cart.png") no-repeat scroll left center transparent;
}

.cart-block-icon-full  {
background: url("images/cart-full.png") no-repeat scroll left center transparent;
}

#cart-block-contents ul.product-description  {
margin-left: 2px;
}

/*Featured Product*/
#block-views-latest_products-block_1 {
background-image: url(images/sidebar-block-bg.png);
padding: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-views-latest_products-block_1 .block-inner {
background-color: white;
padding: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-views-latest_products-block_1 .view-header {
font-weight: bold;
font-size: 1em;
}
#block-views-latest_products-block_1  .views-field-title {
margin-bottom: 10px;
}

#block-views-latest_products-block_1 .views-field-field-image-cache-fid {
text-align: center;
}

#block-views-latest_products-block_1 .views-field-sell-price {
font-size: 0.9em;
}

/*Need Help*/
#block-block-2 {
background-image: url(images/sidebar-block-bg.png);
padding: 10px;
margin-bottom: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-block-2 .block-inner {
background-color: white;
padding: 10px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#help-logo {
background-image: url(images/help-icon.png);
width: 25px;
height: 26px;
display: inline-block;
margin-right: 8px;
}

/*Footer*/
#footer {
text-align: center;
color: #FFFFFF;
font-size: 0.7em;
height: 100px;
padding: 10px 0;
margin-top: 10px;
background-image: url(images/footer-bg.png);
border-top: 1px solid #7B6810;
}

#footer a {
color: #FFFFFF;
}

#footer a:hover {
color: #446E97;
}

#explain-shipping {
margin-bottom: 5px;
display: inline-block;
}

#footer-links {
margin-bottom: 9px;
}

#cc-logos {
background-image: url(images/cc-logos.png);
width: 286px;
height: 25px;
display: inline-block;
margin-top: 10px;
}

/*View Front Page*/
.view-front-page {
border: 2px solid #DBC458;
padding: 10px;
background-image: url(images/front-item-bg.png);
background-repeat: repeat-x;
background-color: #fff9df;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-front-page .views-field-title a:hover {
color: #FFFFFF;
}

.view-front-page h2 {
margin: 0;
}

.view-front-page .views-field-sell-price {
margin-bottom: 15px;
font-weight: bold;
}

.view-front-page .views-field-field-image-cache-fid {
float: right;
background-color: #D6C575;
padding: 3px;
margin-bottom: 9px;
width: 350px;
height: 235px;
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
}

.view-front-page .views-field-field-image-cache-fid .field-content {
margin-bottom: -4px;
}

.view-front-page .views-field-body {
float: left;
width: 300px;
font-size: 0.9em;
}

.view-front-page .views-field-body p {
margin-bottom: 10px;
}

.view-front-page .views-field-view-node {
clear: both;
margin-bottom: 5px;
}

.view-front-page .views-field-view-node a {
font-weight: bold;
text-decoration: none;
background-color: #9BA15D;
padding: 5px 26px 5px 5px;
width: 105px;
color: #FFFFFF;
background-image: url(images/shop-now-arrow.png);
background-repeat: no-repeat;
background-position: 91px 7px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-front-page .views-field-view-node a:hover {
background-color: #dbc458;
}

.view-front-page .views-field-body ul {
margin-left: 15px;
margin-bottom: 10px;
}

/*Shipping Block*/
#block-block-3 {
display: inline-block;
float: left;
margin-top: 13px;
margin-bottom: 0px;
padding-right: 25px;
border-right: 1px solid #BFBFBF;
font-size: 0.9em;
}

#shipping-logos {
width: 167px;
height: 70px;
display: inline-block;
margin-top: 10px;
background-image: url(images/shipping-logos.png);
}

/*Signup Block */
#block-block-4 {
margin-top: 13px;
margin-bottom: 0px;
padding-left: 25px;
display: inline-block;
float: left;
width: 489px;
height: 116px;
font-size: 0.9em;
}

#sign-up-button {
margin-left: 145px;
margin-top: 35px;
display: inline-block;
}

#sign-up-button a {
font-weight: bold;
text-decoration: none;
background-color: #446E97;
padding: 10px 20px;
width: 105px;
color: #FFFFFF;
font-size: 1.3em;
background-image:url("images/gradient-button-overlay.png");
background-repeat:repeat-x;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#sign-up-button a:hover {
background-color: #dbc458;
}

/*User Registration*/
#edit-pass-pass2-wrapper {
margin-bottom: 0;
}

/*Search*/
.search-result-item {
padding: 15px 5px;
cursor: pointer;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #DBC458;
}

.search-result-item:hover {
background-color: #EFF7FF !important;
}

.search-result-item.even {
background-color: #FFF9DF;
border-bottom: 1px solid #DBC458;
}

.search-results dd {
margin-bottom: 0;
}

.search-result-item .title a {
font-size: 1.2em;
margin-bottom: 5px;
display: inline-block;
}

.search-results {
margin-bottom: 20px;
}

#search-form input[type=text] {
padding: 3px;
font-size: 1.1em;
width: 300px;
}

#search-form input[type=submit] {
padding: 2px 3px 1px 3px;
font-size: 1.1em;
}

#search-recommends {
margin-left: 20px !important;
}

#search-form {
border-bottom: 1px solid #CFCFCF;
margin-bottom: 10px;
}

#search-form .form-item {
margin: 0 0 15px 0;
}

.section-search h1.title {
display: none;
}

.section-search .form-item label {
display: none;
}

.search-results dt {
font-size:1em;
}

p.search-snippet {
font-size: 0.9em;
}

/*Product List*/
.category-grid-products td {
background-color: #FFFFFF;
border-bottom: 1px solid #CCCCCC;
border-right: 0 none;
padding: 10px 0;
text-align: left;
}

h2.catalog-grid-title {
margin: 0 0 5px 0;
font-size: 1.2em;
text-align: left !important;
}

.catalog-grid-image {
padding: 0 !important;
display: inline-block !important;
}

.catalog-grid-sell-price {
font-weight: bold;
}

.catalog-grid-desc {
text-align: left !important;
display: inline !important;
}

.catalog-grid-desc ul {
margin-left: 15px;
margin-bottom: 15px;
}

.catalog-grid-picprice {
float: right;
}

.category-grid-products td, .category-grid-products table {
border-right: 0 none;
border-left: 0 none;
border-top: 0 none;
background-color: transparent;
margin-bottom: -1px;
}

.category-grid-products  {
border: 0 none;
}

/*Product Page*/
.node-type-product h1.title, .node-type-horse-first h1.title {
margin-bottom: 0;
}

.node-type-product .meta, .node-type-horse-first .meta {
display: none;
}

.product-body {
width: 440px;
font-size: 0.9em;
}

.product-body ul {
margin-bottom: 15px;
margin-left: 15px;
}

.main-product-image {
border-left:1px solid #CFCFCF;
float:right;
padding-left:10px;
}

#product-checkout {
float: right;
clear: right;
border-left: 1px solid #CFCFCF;
padding: 7px 0 7px 7px;
width: 253px;
margin-bottom: 5px;
margin-top: -3px;
}

#share-container {
margin-top: 15px;
font-size: 0.9em;
display: inline-block;
}

.addthis_toolbox {
margin-top: 3px;
}

#product-checkout .product-info.price {
font-weight: bold;
font-size: 1.2em;
float: left;
}

/*#product-checkout .model {
float: left;
clear: left;
font-size: 0.9em;
font-style: italic;
font-weight: normal;
margin: 0;
display: none;
}*/

#product-checkout .add_to_cart {
text-align: right;
font-size: 1em;
cursor: pointer;
}

#edit-attributes-1 {
font-size: 1.1em;
}

#edit-attributes-1-wrapper {
margin-top: 0;
margin-bottom:7px;
}

#edit-attributes-1-wrapper  label {
float: left;
font-size: 1.1em;
}

.product-ingredients {
font-size: 0.9em;
}

.add_to_cart .form-submit {
font-size: 1.3em;
}

.product-body p {
margin-bottom: 15px;
}

/*Manager Block*/
#block-block-5 {
background-image: url("images/cart-block-bg.png");
background-repeat: repeat;
padding: 8px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-block-5 p {
margin-bottom: 0px !important;
}

.manager-block-item {
display: inline-block;
padding: 3px 10px 3px 27px;
background-color: #FFFFFF;
margin-right: 12px;
font-size: 0.9em;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

a.manager-block-item {
text-decoration: none;
}

#item-order {
background-image: url("images/order-icons.png");
background-repeat: no-repeat;
background-position: 7px 4px;
}

#item-customers {
background-image: url("images/customer.png");
background-repeat: no-repeat;
background-position: 7px 4px;
}

#item-customers {
background-image: url("images/customer.png");
background-repeat: no-repeat;
background-position: 7px 4px;
}

#item-product {
background-image: url("images/product.png");
background-repeat: no-repeat;
background-position: 7px 4px;
}

#item-add-product {
background-image: url("images/product_add.png");
background-repeat: no-repeat;
background-position: 7px 4px;
}

#item-advanced {
background-image: url("images/adv.png");
background-repeat: no-repeat;
background-position: 7px 4px;
margin-right: 0px;
}

/*Contact Us*/
#webform-client-form-16 .description {
font-size: 0.9em;
font-style: italic;
color: #9F9F9F;
}

.node-type-webform .title, .node-type-webform .meta {
display: none;
}

/*Flatpages*/
.page-privacy-policy .content p {
margin-bottom: 20px;
}

/*All Products Page*/
.view-id-all_products tr {
vertical-align: top;
}

.view-id-all_products td {
padding: 10px;
}

.view-id-all_products tr.odd {
background-color: #EFEFEF;
}

.view-id-all_products tr.even {
background-color: #FFFFFF;
border-top: 2px solid #CFCFCF;
border-bottom: 2px solid #CFCFCF;
}

.view-id-all_products .views-field-title a {
font-size: 1.2em;
}

.view-id-all_products .uc-price-sell_price {
display: block;
}

.view-id-all_products .views-field-title p {
margin-top: 10px;
}

.view-id-all_products .views-field-title ul {
margin-left: 15px;
}

/*Pager*/
.pager-first, .pager-last {
display: none !important;
}

.pager-next, .pager-previous {
background-color: #9BA15D;
color: #FFFFFF;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.pager-next a, .pager-previous a  {
text-decoration: none;
color: #FFFFFF !important;
}

.pager-next:hover, .pager-previous:hover {
background-color: #DBC458 !important;
}

.pager-item a, .pager-item a:visited {
color: #446E97 !important;
}

.pager-item a:hover {
color: #DBC458 !important;
}

/*Help Page*/
#help-questions ol {
list-style-type: none;
margin: 0;
padding: 0;
}

#help-questions ol.question-list {
list-style-type: decimal;
padding-left: 20px;
}

#help-questions strong {
font-size: 1.1em;
margin-top: 10px;
display: inline-block;
}

#help-questions strong.first {
margin-top: 0;
}

.help-responses {
margin-top: 30px;
}

ol.help-response {
list-style-type: none;
margin: 0 0 20px 0;
padding: 0;
line-height: 1.5em;
}

h3.help-response-title {
font-size: 1.3em;
clear: both;
display: block;
margin: 0;
padding: 0 0 10px 0;
}

.help-response abbr {
float: left;
border: 0 none;
cursor: text;
}

.help-response dt {
clear: both;
font-weight: bold;
}

.help-response dd {
margin: 0;
}

.help-response p {
margin: 0 0 5px 25px;
}

.help-response a.top {
margin: 0 0 0 25px;
font-size: 0.8em;
}

.help-response li {
padding: 10px 0;
border-top: 1px dotted #CFCFCF;
}

/*Checkout*/
#cart-form-products thead th {
text-align: right;
border-bottom: 0 none;
padding-right: 12px;
}

#cart-form-buttons, #cart-form-products {
padding: 0 3px;
width: 702px;
}

#cart-form-products  tr.even ,#cart-form-products  tr.odd {
border-bottom: 0 none;
}

#cart-form-products  .price {
text-align: center;
}

#cart-form-products  .qty {

}

#cart-form-products td {
padding: 3px 0;
}

#cart-form-products .even {
background-color: #efefef;
}

#cart-form-products .odd {
background-color: transparent;
}

#cart-form-products  .subtotal {
background-color:white;
border-top:1px solid #CFCFCF;
}

#edit-checkout, .order-review-table #edit-submit, #edit-continue {
font-size: 1.2em;
font-weight: bold;
}

#quote, #payment_details, #checkout-form-bottom, .order-review-table {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#checkout-form-bottom {
background-color: #DFFFE3;
border-color: green;
border-width: 2px;
float: right;
padding: 5px 10px;
width: 220px;
}

#quote, #payment_details {
margin-bottom: 5px;
}

table.cart-review  {
border: 0 none;
}

.cart-review thead th {
border-width: 1px;
}

.cart-review .price {
text-align: right;
}

.cart-review tr.even, .cart-review tr.odd {
background-color: #efefef;
}

.order-review-table {
margin-top: 15px;
}

#block-block-6 {
margin-top: 20px;
}

#uc-cart-view-form .item-list ul {
margin: 0;
padding-left: 15px;
}

/*Tabs*/
ul.primary {
padding: 0;
background-image: none;
}

ul.primary li {
margin: 0 10px 0 0;
}

ul.primary li a {
height: auto;
padding: 2px 8px;
color: #FFFFFF;
background-color: #a3a876;
background-image: none;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.primary li a .tab {
height: auto;
background-image: none;
padding: 0;
}

ul.primary li a:hover {
background-color: #e3d07b;
background-image: none;
}

ul.primary li a:hover .tab {
background-image: none;
}

ul.primary li.active a,
ul.primary li.active a:hover {
color: #FFFFFF;
background-color: #e3d07b;
background-image: none;
cursor: default;
}

ul.primary li.active a .tab,
ul.primary li.active a:hover .tab {
background-image: none;
}

ul.secondary {
padding: 0;
margin-top: 5px;
border-bottom: 0 none;
background-image: none;
}

ul.secondary li {
margin: 0 5px 0 0;
padding: 0;
}

ul.secondary a {
height: auto;
padding: 2px 8px;
color: #FFFFFF;
background-color: #AFAFAF;
background-image: none;
border: 0 none;
font-size: 0.9em;
font-weight: bold;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.secondary a .tab {
height: auto;
padding: 0;
}

ul.secondary a:hover {
background-image: none;
background-color: #E3D07B;
}

ul.secondary a.active,
ul.secondary a.active:hover {
border: 0 none;
color: #FFFFFF;
background-color: #E3D07B;
background-image: none;
cursor: default;
}
