html {
	background: #8c856d;
}

body {
background: #e2dcc7; /* Old browsers */
background: -moz-linear-gradient(top,  #e2dcc7 1%, #8c856d 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#e2dcc7), color-stop(99%,#8c856d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #e2dcc7 1%,#8c856d 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #e2dcc7 1%,#8c856d 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #e2dcc7 1%,#8c856d 99%); /* IE10+ */
background: linear-gradient(to bottom,  #e2dcc7 1%,#8c856d 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2dcc7', endColorstr='#8c856d',GradientType=0 ); /* IE6-9 */
-webkit-font-smoothing: antialiased;
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
	font-family: Arial, Verdana, sans-serif;
}

a, a:link, a:visited {
	color: #403226;
}

a:hover {
	color: #3ce73;
}

p {
	line-height: 1.5;
}

div.messages, div.status, div.warning, div.error {
    margin: 5px 0 15px;
}

table.sticky-table, table#content-field-overview {
	width: 100%
}

#dzdy_badge {
	margin-top: 20px;
}

#content, .no-sidebars #content {
	width: 930px;
}

#logo {
	width: 328px;
	height: 65px;
	display: inline-block;
	margin-top: 11px;
	background: url(/sites/mcilwainlaw.com/themes/mcilwainmullen/images/logo.png) no-repeat scroll 0 0;
}

#header-wrapper .inner {
	background: #3c5e73; /* Old browsers */
	background: url(/sites/mcilwainlaw.com/themes/mcilwainmullen/images/header-grad.png) repeat scroll right 0;

}

#header-wrapper {
	box-shadow: 0 2px 4px 0 #3F3F3F;
	position: relative;
    z-index: 998;
	background: #3c5e73; /* Old browsers */
	background: -moz-linear-gradient(top,  #3c5e73 0%, #587e93 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c5e73), color-stop(96%,#587e93)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3c5e73 0%,#587e93 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3c5e73 0%,#587e93 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3c5e73 0%,#587e93 96%); /* IE10+ */
	background: linear-gradient(to bottom,  #3c5e73 0%,#587e93 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c5e73', endColorstr='#587e93',GradientType=0 ); /* IE6-9 */
}

#header {
	width: 960px;
	margin: 0 auto;
	float: none;
	padding: 15px 0;
}

ul.nice-menu ul {
    border-top: 0 none;
    top: 60px;
    padding: 0;
}

#header .nice-menu ul a {
    padding: 10px 20px;
    display: block;
}

.region-navigation {
	float: right;
	margin: 40px 0 0 0;
	padding: 0;
}

#nav-marker-wrapper {
	margin: 0 auto;
	width: 960px;
	position: relative;
    z-index: 99;
	display: none;
}

#nav-marker {
    display: none;
    float: right;
    position: relative;
	width: 23px;
	height: 12px;
	bottom: -3px;
	background: url(/sites/mcilwainlaw.com/themes/mcilwainmullen/images/nav-marker.png) no-repeat scroll right 0;
}

#edit-teaser-include-wrapper {
    display: none;
}

.front #nav-marker {
    right: 518px;
    display: inline-block;
}

.page-about #nav-marker {
    right: 421px;
    display: inline-block;
}

.page-litigation-team #nav-marker {
    right: 275px;
    display: inline-block;
}

.page-contact #nav-marker {
    right: 43px;
    display: inline-block;
}

.page-news #nav-marker {
    right: 138px;
    display: inline-block;
}

.page-expertise #nav-marker {
    right: 276px;
    display: inline-block;
}

#block-menu-primary-links {
	margin: 0;
	padding: 0;
}

#block-nice_menus-1 {
    margin: 0;
}

#header .nice-menu {
	margin: 0 0 -15px 0;
	padding: 0;
	box-shadow: 1px 1px 1px 0 #FFFFFF inset;
}

#header .nice-menu li {
	display: inline-block;
	list-style-type: none;
	float: left;
	border: 0 none;
}

#header .nice-menu a {
	text-decoration: none;
	font-size: 1em;
	padding: 20px 15px;
	display: inline-block;
	color: #FFFFFF;
	font-family: 'Brawler', serif;
	text-shadow: 0 1px 1px #000000;
	background-color: rgba(60, 94, 115, 0.5);
}

ul.nice-menu-down li.menuparent,
ul.nice-menu-down li.menuparent:hover {
    background: none repeat scroll 0 0 rgba(60, 94, 115, 0.6);
}

#header .nice-menu li a:hover,
#header .nice-menu ul li a:hover {
	color: #B25735 !important;
	cursor: pointer;
}

#header .nice-menu li a.active,
#header .nice-menu li a.active:hover {
	cursor: pointer;
	color: #9DAEB8;
}

#header .nice-menu ul li a.active,
#header .nice-menu ul li a.active:hover {
    color: #FFFFFF;
}

ul.nice-menu li {
    background: rgba(60, 94, 115, 0.6);
}

ul.nice-menu ul li {
    width: 165px;
}

#page-wrapper {
    margin-top: 30px;
	position: relative;
    z-index: 991;
}

body.sidebar-second #content {
    margin-right: -690px;
    width: 690px;
}

body.sidebar-second .webform-client-form textarea {
    width: 555px !important;
}

.region-sidebar-second {
	width: 183px;
}

.region-sidebar-second {
    float: left;
    margin-left: 705px;
    margin-right: -960px;
    padding: 0;
    width: 220px;
	border: 1px solid #3C5E73;
	background-color: rgba(60, 94, 115, 0.5);
	box-shadow: 0 1px 1px 0 #FFFFFF inset;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}

.region-sidebar-second .section {
    margin: 0 20px;
    padding: 0;
}

.region-sidebar-second .header {
    display: inline-block;
    font-family: 'Brawler',serif;
    font-size: 1.3em;
}

.page-contact .region-sidebar-second .header {
    text-shadow: 1px 1px 1px black;
    color: white;
}

.region-sidebar-second .block {
	margin-top: 1em;
}

.block-edit-link a {
    background-color: #C1C6C2;
    background-image: none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    height: auto;
    padding: 2px 8px;
	font-size: 0.8em;
	text-decoration: none;
}

.block-edit-link a:hover {
background-color: #B25735;
background-image: none;
}

#main {
	border: 1px solid #8C856D;
	padding: 15px;
	background-color: #ffffff;
}

#pre-content-wrapper {
	position: relative;
    z-index: 99;
	margin: -5px 0 -31px;
}

#pre-content {
	width: 908px;
	margin: 0 auto;
	padding: 25px;
	margin: 0 auto;
	color: #ffffff;
	border: 1px solid #8c3d2b;
	background: #8c3d2b url(/sites/mcilwainlaw.com/themes/mcilwainmullen/images/precon-bg.png) repeat scroll;
}

#pre-content .block {
	display: inline-block;
	vertical-align: top;
}

#block-block-6,
#block-webform-client-block-3,
#block-block-7 {
	width: 300px;
	height: 231px;
	overflow: hidden;
	float: right;
	padding: 15px;
	margin: 0;
	background-color: rgba(255,255,255,0.4);
	border: 1px solid #8c3d2b;
	box-shadow: 0 1px 1px 0 #FFFFFF inset;
	text-shadow: 0 1px 1px #76361F;
}

#block-webform-client-block-3 .form-item {
	margin: 13px 0;
}

.webform-client-form .form-item label {
	font-weight: normal;
}

#block-webform-client-block-3 p {
    line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0;
}

#block-webform-client-block-3 label {
	width: 80px;
}

#block-webform-client-block-3  input[type=text],
#block-webform-client-block-3  input[type=email],
#block-webform-client-block-3  input[type=select],
#block-webform-client-block-3  textarea {
	width: 220px !important;
}

#block-webform-client-block-3 .form-submit {
	margin-left: 80px;
}
#block-webform-client-block-3  h2.title {
    font-size: 1em;
}

#block-webform-client-block-3 .form-required {
	display: none;
}

.front #main {
	box-shadow: 0 5px 5px -5px #000000 inset;
}

.front .region-sidebar-second p {
	margin: 1em 0;
}

.front h1.title {
	display: none;
}

#front-welcome-box.glow-box {
	line-height: 1.5;
	font-size: 1.1em;
	margin: 25px;
}

#front-welcome-box .ribbon {
	margin-right: -55px;
    margin-top: -22px;
}

#front-welcome-box .ribbon-tail {
	margin-right: -55px;
}

.glow-box {
	padding: 30px 40px 45px;
	color: #003400;
	background-color: #B8C9D2;
	border: 1px solid #3C5E73;
	box-shadow: 0 0 35px #A4B6C1 inset;
}

.glow-box p:first-child {
	margin-top: 0;
}

.glow-box img {
	float: right;
	margin-left: 20px;
	border: 5px solid #3C5E73;
}

.ribbon {
	text-align: right;
	float: right;
	font-size: 1.1em;
	color: #FFFFFF;
	padding: 5px 25px 5px 10px;
	background-color: #3C5E73;
	border: 1px solid #284557;
	box-shadow: 1px 1px 1px -1px #FFFFFF inset;
	text-shadow: 0px 0px 0px #FFFFFF;
}

.ribbon span {
	font-size: 0.7em;
	font-weight: normal;
	display: block;
}

.ribbon-tail {
	float: right;
	height: 8px;
	width: 14px;
	clear: right;
	background: url(/sites/hessequine.com/themes/hessequine2/images/ribbon-tail.png) repeat scroll;
}

.node-type-page h1.title,
.node-type-webform h1.title {
background: none repeat scroll 0 0 #8E4331;
color: white;
font-size: 2.5em;
font-weight: normal;
margin: -15px -14px 15px -15px;
padding: 5px 15px;
text-shadow: 1px 1px 1px #000000;
width: 928px;
box-shadow: 0 1px 1px 0 #FFFFFF inset;
}

.region-footer {
	text-align: center;
	font-size: 0.8em;
	color: #3F3F3F;
}


body.in-maintenance #page-wrapper{
	padding-top: 90px;
	margin-top: 0;
	width: 500px;
}

body.in-maintenance #content {
	width: 465px;
}

body.in-maintenance #header {
	background: none repeat scroll 0 0 transparent;
	padding: 0;
	float: none;
	width: auto;
	
}

body.in-maintenance #main {
    background-color: transparent;
    border: 0px solid #8C856D;
	padding: 0;
	margin-top: 25px;
}

body.in-maintenance #page {
    background-color: #FFFFFF;
	border: 1px solid #8C856D;
    padding: 15px;
	margin-top: 10px;
	text-align: center;
	background: #3c5e73 url(/sites/mcilwainlaw.com/themes/mcilwainmullen/images/header-grad.png) repeat scroll right 0;
}

body.in-maintenance #logo {
	float: none;
}

body.in-maintenance h1.title {
	font-family: 'Brawler', serif;
	font-weight: bold;
}

.front #block-block-1 {
	margin: 0;
	float: left;
}

.front #block-block-6,
.front #block-block-7 {
float: right;
margin: 0 0 3px;
text-align: center;
height: auto;
}

.front #block-block-6 p,
.front #block-block-7 p {
margin: 0;
}

.front #block-block-6 em {
	font-size: 0.9em;
}

.front #block-block-6 a {
font-size: 1.4em;
color: white;
letter-spacing: 1px;
}

.front #block-block-7 a {
	color: white;
	font-weight: bold;
}

.front #block-block-6 a:hover,
.front #block-block-7 a:hover {
	color: #3C5E73;
}

.front #block-block-6 .block-edit-link,
.front #block-block-7 .block-edit-link {
	display: none;
}

#courthouse {
	font-family: 'Brawler', serif;
	background: url(/sites/mcilwainlaw.com/themes/mcilwainmullen/images/courthouse.png) no-repeat scroll;
	font-size: 1.5em;
    height: 279px;
    padding: 75px 20px 0 30px;
    text-shadow: 1px 1px 1px #000000;
    width: 492px;
}

.apos {
	font-family: 'Brawler', serif;
	font-size: 1.2em;
}

.name {
    float: left;
    font-size: 0.7em;
    font-style: italic;
}

#edit-submitted-message {
	height: 50px;
}

.pageSectionTitle {
    font-family: 'Brawler',serif;
    font-size: 1.5em;
}

.page-attorneys .pageSectionTitle {
    margin-top: 20px;
    display: inline-block;
}

.pageSectionTitle1 {
    background: none repeat scroll 0 0 #EFEFEF;
    font-family: 'Brawler',serif;
    font-size: 2em;
    line-height: 1.5;
    padding-left: 15px;   
}

.pageSection {
    border-left: 1px solid #EFEFEF;
    padding-left: 15px;
}

.pageSection img{
	float: left;
	background-color: #CFCFCF;
	padding: 10px;
	border: 1px solid #9F9F9F;
	margin: 20px 10px 0 0;
}

.node-type-page p {
	margin: 1em 0 2em;
}

.front .block {
	margin: 1em 0;
}

.front .node-type-page p {
	margin: 1em 0;/
}

.front .block ul {
    margin: 0;
    padding: 0 0 0 15px;
}

.page-expertise ul {
	margin: 0;
}

#block-block-5 img {
	width: 170px;
	border: 5px solid #3C5E73;
}
