/**
* Ziti Tabs
* Custom tab styling developed for Drizzle Dynamics LLC.
* Based on original Zen tab styles.
*
* Theme Colors
* Primary Inactive:		#C1C6C2
* Primary Active:		#3C5E73
* Primary Hover:		#B25735
* Secondary Inactive:	#C1C6C2
* Secondary Active:		#3F3F3F
* Secondary Hover:		#B25735
**/

div.tabs {
margin: 5px 0;
}

ul.primary {
padding: 0;
margin: 0;
list-style: none;
white-space: nowrap;
line-height: normal;
border: 0 none;
}

ul.primary li {
margin: 0 10px 0 0;
padding: 0;
float: left;
}

ul.primary li a {
padding: 2px 8px;
color: #FFFFFF;
background-color: #C1C6C2;
display: block;
margin: 0;
font-weight: bold;
text-decoration: none;
border: 0 none;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.primary li a .tab {
padding: 0;
display: block;
margin: 0;
line-height: 20px;
}

ul.primary li a:hover,
ul.primary li a:focus {
background-color: #B25735;
border: 0 none;
}

ul.primary li.active a,
ul.primary li.active a:hover,
ul.primary li.active a:focus {
border: 0 none;
color: #FFFFFF;
background-color: #3C5E73;
cursor: default;
}

ul.secondary {
margin: 0;
padding: 0;
margin-top: 5px;
list-style: none;
white-space: nowrap;
border: 0 none;
}

ul.secondary li {
float: left;
margin: 0 5px 0 0;
padding: 0;
border-right: none;
}

ul.secondary a {
display: block;
margin: 0;
padding: 2px 8px;
color: #FFFFFF;
background-color: #C1C6C2;
font-size: 0.7em;
font-weight: bold;
text-decoration: none;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

ul.secondary a .tab {
display: block;
padding: 0;
margin: 0;
line-height: 18px;
}

ul.secondary a:hover,
ul.secondary a:focus {
background-color: #B25735;
}

ul.secondary a.active,
ul.secondary a.active:hover ,
ul.secondary a.active:focus{
color: #FFFFFF;
background-color: #3F3F3F;
cursor: default;
border: 0 none;
}
