/* Global */
body {
font-family: Arial, sans-serif;
padding: 0;
margin: 0;
background: #c7c7c7 url(/sites/yoursourcerecruiters.com/themes/yoursourcerecruiters/images/bg-tile.png) repeat scroll;
}

a:link, a:visited, a:active {
color: #2b3d64;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

div.messages, div.status, div.warning, div.error {
margin: 0 20px 20px 0;
clear: both;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

body#tinymce {
background: #FFFFFF none;
padding: 0 10px;
line-height: 1.5em;
}

table.sticky-table, table#content-field-overview {
width: 100%
}

.page-404  .title {
display: none;
}

/* Page Template */
#page-wrapper {
background-color: #FFFFFF;
border: 1px solid #2B3D64;
margin-top: 15px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#page {
line-height: 1.5;
}

#content .section {
padding: 15px;
}

.region-sidebar-first .section {
padding-left: 15px;
}

.node-type-page h1.title {
display: none;
}

.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
margin-top: 30px;
}

/* Header */
#header {
border-top: 5px solid #2B3D64;
height: 145px;
background: url(/sites/yoursourcerecruiters.com/themes/yoursourcerecruiters/images/header-bg.png) no-repeat scroll right 0 #FFFFFF;
}

#logo {
float: left;
height: 145px;
width: 575px;
display: inline-block;
background: url(/sites/yoursourcerecruiters.com/themes/yoursourcerecruiters/images/logo.png) no-repeat scroll left center transparent;
}

.region-header-links {
float: none;
display: inline-block;
width: 100%;
background-color: #2B3D64;
margin: 0 0 -10px 1px;
}

#block-nice_menus-1,
#nice-menu-1 {
margin: 0;
}

#nice-menu-1 {
font-size: 0.9em;
padding: 0;
}

#nice-menu-1 li {
margin-left: -1px;
}

/* Nav */
#navigation {
border-top: 1px solid #cfcfcf;
background: -moz-linear-gradient(center top , #EFEFEF, #C4C4C4) repeat scroll 0 0 #EFEFEF;
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#C4C4C4)) repeat scroll 0 0 #EFEFEF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#C4C4C4');
height: auto;
}

#navigation ul {
padding-left: 8px;
}

#navigation li {
padding: 5px 10px;
}

#navigation a {
color: #2B3D64;
font-size: 1.1em;
padding: 0 12px;
font-weight: bold;
}

#navigation a:hover {
text-decoration: none;
color: #32642B;
}

#navigation li.active,
.node-type-job li.menu-308 {
background-color: #FFFFFF;
}

.front #navigation li.active {
background-color: #2B3D64;
color: #FFFFFF;
}

.front #content {
color: #FFFFFF;
background: -moz-linear-gradient(center top , #2B3D64, #1c2945) repeat scroll 0 0 #2B3D64;
background: -webkit-gradient(linear, left top, left bottom, from(#2B3D64), to(#1c2945)) repeat scroll 0 0 #2B3D64;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B3D64', endColorstr='#1c2945');
}

.front #navigation a.active{
color: #FFFFFF;
}

/* Jobs */
.front .view-Jobs table {
font-size: 9pt;
}

.view-Jobs table {
width: 100%;
margin: 0;
}

.view-Jobs .views-field-field-job-date-value {
width: 85px;
padding-left: 10px;
-moz-border-radius: 5px 0 0 0;
-webkit-border-radius: 5px 0 0 0;
}

.field-field-job-date {
float: right;
margin-right: 475px;
}

.bt-flyover li {
list-style-type: none !important;
}

.view-Jobs table td {
padding: 10px;
}

.view-Jobs tr.odd td {
background-color: #FFFFFF;
}

.view-Jobs tr.even td {
background-color: #EFEFEF;
}

.view-Jobs th {
padding: 10px;
background: -moz-linear-gradient(center top , #EFEFEF, #C4C4C4) repeat scroll 0 0 #EFEFEF;
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#C4C4C4)) repeat scroll 0 0 #EFEFEF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#C4C4C4');
}

.view-Jobs th img {
margin-left: 5px;
}

.page-jobs h1.title {
display: none;
}

.page-jobs .item-list {
display: block;
height: 35px;
background: -moz-linear-gradient(center top , #EFEFEF, #C4C4C4) repeat scroll 0 0 #EFEFEF;
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#C4C4C4)) repeat scroll 0 0 #EFEFEF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#C4C4C4');
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}

.view-Jobs .pager {
float: right;
text-align: right;
font-size: 0.9em;
margin: 0;
padding: 0 10px;
}

.page-jobs .item-list .pager li {
padding: 0 0 0 5px;
float: left;
}

.page-jobs .item-list .pager li a,
.page-jobs .item-list .pager .pager-current {
display: inline-block;
border: 1px solid #CCCCCC;
background-color: #FFFFFF;
width: 20px;
height: 19px;
padding: 0;
text-align: center;
margin: 8px 0;
font-size: 0.9em;
}

.page-jobs .item-list .pager li a:hover {
border: 1px solid #2B3D64;
text-decoration: none;
}

.page-jobs .item-list .pager  li.pager-current {
color: #FFFFFF;
background-color: #2B3D64;
margin-left: 5px;
}

/* About */
.about-section {
padding: 15px;
border: 1px solid #CFCFCF;
margin-bottom: 20px;
color: #FFFFFF;
text-shadow: 1px 1px 1px #000000;
background: -moz-linear-gradient(center top , #2B3D64, #1c2945) repeat scroll 0 0 #2B3D64;
background: -webkit-gradient(linear, left top, left bottom, from(#2B3D64), to(#1c2945)) repeat scroll 0 0 #2B3D64;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B3D64', endColorstr='#1c2945');
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.about-section div {
font-size: 14pt;
font-weight: strong;
}

.about-section p {
line-height: 1.7;
}

/* Footer */
#footer {
border-top: 1px solid #cfcfcf;
background: -moz-linear-gradient(center top , #2B3D64, #1c2945) repeat scroll 0 0 #2B3D64;
background: -webkit-gradient(linear, left top, left bottom, from(#2B3D64), to(#1c2945)) repeat scroll 0 0 #2B3D64;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B3D64', endColorstr='#1c2945');
color: #FFFFFF;
font-size: 0.7em;
text-align: center;
padding: 5px 0;
-moz-border-radius: 0 0 3px 3px;
-webkit-border-radius: 0 0 3px 3px;
}

.front #footer {
color: #3F3F3F;
border-top: 1px solid #cfcfcf;
background: -moz-linear-gradient(center top , #EFEFEF, #C4C4C4) repeat scroll 0 0 #EFEFEF;
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#C4C4C4)) repeat scroll 0 0 #EFEFEF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#C4C4C4');
}

#footer a {
color: #ADADAD;
}

#footer .block,
#footer p {
margin: 0;
}

/* Job Page */
.node-type-job .field-type-text {
margin-bottom: 15px;
}

.field-field-job-company {
float: left;
margin-right: 145px;
}

.tabs .primary {
margin: 10px;
}

.node-type-job p {
margin-top: 0;
}

.node-type-job h3 {
margin: 0;
}

.node-type-job h1.title {
margin-bottom: 15px;
}

/*Front */
#block-views-Jobs-block_1 {
clear: right;
float: right;
}

.front .view-Jobs th {
padding: 3px 5px;
}

.front .view-Jobs table td {
padding: 7px 5px;
}

.front .view-Jobs table tr:last-child {
border-bottom: 0 none;
background-color: transparent;
}

.front .view-Jobs p {
background: -moz-linear-gradient(center top , #6f9e68, #34652D) repeat scroll 0 0 #34652D;
background: -webkit-gradient(linear, left top, left bottom, from(#6f9e68), to(#34652D)) repeat scroll 0 0 #34652D;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f9e68', endColorstr='#34652D');
color: #FFFFFF;
font-size: 12pt;
margin: 0 0 7px;
padding: 5px;
font-weight: bold;
-moz-border-radius: 5px 5px 0 0;
-webkit-border-radius: 5px 5px 0 0;
}

.front .view-Jobs {
border: 1px solid #CFCFCF;
padding: 5px;
width: 350px;
margin-right: 15px;
background-color: #FFFFFF;
color: #3F3F3F;
margin-bottom: 10px;
margin-top: 15px;
background: -moz-linear-gradient(center top , #EFEFEF, #C4C4C4) repeat scroll 0 0 #EFEFEF;
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#C4C4C4)) repeat scroll 0 0 #EFEFEF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#C4C4C4');
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

.view-Front-Slideshow .views-row {
background-color: transparent;
}

.front #content-area {
font-size: 14pt;
margin: 0 0 0 15px;
text-shadow: 1px 1px 1px #000000;
}

.front #content-area p {
line-height: 1.7;
margin: 0 0 25px;    
line-height: 1.7;
margin: 0 0 25px;
}

#block-views-Front_Slideshow-block_1 {
background: -moz-linear-gradient(center top , #EFEFEF, #C4C4C4) repeat scroll 0 0 #EFEFEF;
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#C4C4C4)) repeat scroll 0 0 #EFEFEF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#FFFFFF');
float: right;
padding: 6px 6px 0;
margin: 5px 15px 15px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-views-Front_Slideshow-block_1  img {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-block-2 {
color: #3F3F3F;
float: right;
font-size: 16pt;
margin-left: -1px;
margin-right: 15px;
margin-top: 0;
text-shadow: 1px 1px 1px #FFFFFF;
width: 409px;
line-height: 2;
}

#block-block-2 p {
margin: 0;
padding: 13px 20px;
color: #3f3f3f;
height: 215px;
background: -moz-linear-gradient(center top , #EFEFEF, #C4C4C4) repeat scroll 0 0 #EFEFEF;
background: -webkit-gradient(linear, left top, left bottom, from(#EFEFEF), to(#C4C4C4)) repeat scroll 0 0 #EFEFEF;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EFEFEF', endColorstr='#C4C4C4');
-moz-border-radius: 0 5px 5px 0;
-webkit-border-radius: 0 5px 5px 0;
}

.view-display-id-block_1 td.views-field-title {
-moz-border-radius: 0 0 0 5px;
-webkit-border-radius: 0 0 0 5px;
}

.view-display-id-block_1 td.views-field-field-job-location-value {
-moz-border-radius: 0 0 5px 0;
-webkit-border-radius: 0 0 5px 0;
}

/* Search*/
#search-container {
color: white;
float: right;
margin-right: 25px;
margin-top: 0;
padding: 3px 10px 10px;
width: 260px;
background: -moz-linear-gradient(center top , #2B3D64, #1c2945) repeat scroll 0 0 #2B3D64;
background: -webkit-gradient(linear, left top, left bottom, from(#2B3D64), to(#1c2945)) repeat scroll 0 0 #2B3D64;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2B3D64', endColorstr='#1c2945');
-moz-border-radius: 0 0 5px 5px;
-webkit-border-radius: 0 0 5px 5px;
}

#search-label {
font-size: 0.7em;
font-weight: bold;
line-height: 1.4em;
margin-bottom: 10px;
display: inline-block;
}

#search-label span{
font-size: 1.3em;
}

#search-container input[type="text"] {
padding: 3px;
border: 1px solid transparent;
width: 178px;
-moz-border-radius-topleft: 5px;
-webkit-border-top-left-radius: 5px;
-moz-border-radius-bottomleft: 5px;
-webkit-border-bottom-left-radius: 5px;
}

#search-container input[type="submit"] {
margin-left: -6px;
color: #3F3F3F;
font-weight: bold;
background-color: #CFCFCF;
border: 3px solid #CFCFCF;
cursor: pointer;
-moz-border-radius-topright: 5px;
-webkit-border-top-right-radius: 5px;
-moz-border-radius-bottomright: 5px;
-webkit-border-bottom-right-radius: 5px;
}

#search-container input:hover[type="submit"] {
background-color: #adadad;
border-color: #adadad;
}

.search-result-item {
padding: 15px 5px;
cursor: pointer;
border-top: 1px solid #FFFFFF;
border-bottom: 1px solid #2B3D64;
}

.search-result-item:hover {
background-color: #CAEAC5 !important;
}

.search-result-item.even {
background-color: #D9E4F9;
border-bottom: 1px solid #2B3D64;
}

.search-results dd {
margin-bottom: 0;
}

.search-result-item .title a {
font-size: 1.2em;
margin-bottom: 5px;
display: inline-block;
}

.search-results {
margin-bottom: 20px;
}

#search-form input[type=text] {
padding: 3px;
font-size: 1.1em;
width: 300px;
}

#search-form input[type=submit] {
padding: 2px 3px 1px 3px;
font-size: 1.1em;
}

#search-recommends {
margin-left: 20px !important;
}

#search-form {
border-bottom: 1px solid #CFCFCF;
margin-bottom: 10px;
}

#search-form .form-item {
margin: 0 0 15px 0;
}

.section-search h1.title {
display: none;
}

.section-search .form-item label {
display: none;
}

.search-results dt {
font-size:1em;
}

p.search-snippet {
font-size: 0.9em;
}

#contact-container {
background-color: #CFCFCF;
float: right;
font-size: 12pt;
line-height: 1.7;
margin-right: 25px;
margin-top: 38px;
padding: 3px 22px 20px;
text-align: right;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
