@charset "utf-8"; 
/* Drupal 6 Framework - Created by Andre Griffin
/*Customized for KevinBabington.com by Corey Cantrell 
----------------------------------------------------------------
[Table of contents]

 0.Reset
 1.Global
 2.Layout
 3.Header
 4.Navigation
 5.Nodes
 6.Comments
 7.Sidebars
 8.Blocks
 9.Footer
10.CSS Support
11.Advanced

[Font sizes - based on 75%/12px body]
30px = 2.5em
28px = 2.3333em
26px = 2.166667em
24px = 2em
22px = 1.8333em
20px = 1.6667em
18px = 1.5em
16px = 1.333333em
14px = 1.1667em
12px = 1em
11px = .9167em
10px = .8333em

Equasion for font sizing: 
-Desired in px ÷ Default (or parent) in px = sizing in em

----------------------------------------------------------------*/

/**
 * 0.RESET 
 */
@import "reset.css";

/**
 * 1.GLOBAL
 */
body {
  background: #1C2F03;
  background-image: url(images/tile_back1.png);
  background-repeat: repeat;
  color: #333;
  font: 75% "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body#tinymce {
background-color: #FFF !important;
background-image: none;
padding: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin: 0.6em 0 0 0; 
}

h2 {
  font-size: 1.8333em;
  line-height: 1em;
  margin: 0em 0 .3em 0; 
}

h3 {
  font-size: 1.3333em;
  line-height: 1.125em;
  margin: 1.125em 0 0 0; 
}

h4 {
  font-size: 1.1667em;
  line-height: 1.2857em;
  margin: 1.2857em 0 0 0; 
}

h5 {
  font-size: 1em;
  line-height: 1.5em;
  margin: 1.5em 0 0 0; 
}

h6 {
  font-size: .9167em;
  line-height: 1.6364em;
  margin: 1.6364em 0 0 0; 
}

p {
  font-size: 1em; 
  line-height: 1.5em;
}

a:link, a:visited {
  text-decoration: none;
  color: #701C06;
}

a:focus {
  outline: 1px dotted;
}

a:hover {
  outline: none;
  text-decoration: underline;
  color: #142400 
}

.page-404  h2{
display: none;
}


/**
 * 2.LAYOUT
 */
#wrapper {
  margin: 0px auto 25px auto;
  width: 960px;
  padding: 0 10px 8px 10px;
  min-height: 650px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
}

#container {
  margin: 0;
  background-color: white;
  padding: 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* 1 column */
#center {
  margin: 0 0 10px;
  position: relative;
}

/* 3 columns */
body.sidebars #center {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  float: left;
  padding: 0 10px;
  width: 600px;
}

/* 2 columns - sidebar-left */
body.sidebar-left #center {
  border-left: 1px solid #ccc;
  float: right;
  padding-left: 10px;
  width: 780px;
}

#block-block-11 {
border: 0 none;
margin-bottom: 0;
background-color: #FFFFFF !important;
-moz-box-shadow: 0 0 0 #FFFFFF !important;
-webkit-box-shadow: 0 0 0 #FFFFFF !important;
}

#block-block-11 a span {
vertical-align: top;
}

#block-block-11 a {
margin-bottom: 3px;
margin-left: -2px;
display: inline-block;
}

#block-block-11 a img {
margin-right: 5px;
}

#block-block-11 a :hover{
text-decoration: none;
color: #1C2D05;
}

/* 2 columns - sidebar-right */
body.sidebar-right #center {
  float: left;
  width: 707px;
}

#block-block-2 .content p {
margin-bottom: 5px;
}

/**
 * 3.HEADER
 */
#header {
  margin: 0;
  padding: 10px;
  background-color: #BFA96E;
  background-image: url(images/banner.png);
  height: 65px;
}

#header h1 {
  float: left;
  line-height: 1em;
}

#header #logo {
  float: left;
  padding: 1.5em 10px 0 0;
}

#header #sitename {
  display: block;
  color: #eee;
  text-shadow: 2px 2px 4px #000000;
}

#header #siteslogan {
  display: block;
  font-size: .5em;
  line-height: 1em;
}

#search-theme-form {
  float: right;
  margin: 2.5em 0 0;
}

#search-theme-form .form-button, #search-theme-form .form-submit {
  margin: 0;
}

div#edit-search-theme-form-1-wrapper label, div#edit-search-block-form-1-wrapper label {
  display: none;
}

/**
 * 4.NAVIGATION
 */
ul.links li {
  background: none;
  margin: 0 10px 0 0;
  padding: 0;
}

/* bottom margin leaves space for secondary links */
#nav {
  font-size: 1em;
  margin: 0 0 14px 0; 
  position: relative;
}

.primary-links .active a, .primary-links .active a:hover{
font-weight: bold;
background-color: #25360D;
border-bottom: 3px solid white;
color: white !important;
}

.primary-links a:hover{
text-decoration: none;
background-color: white;
}

#nav ul.primary-links, #nav ul.dynamic-persistent-menu-menu {
  background-color: #EFEFEF;
  font-weight: 700;
  padding: 7px 0 7px 0;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  text-align: center;
}

#nav ul.primary-links li, #nav ul.secondary-links li, #nav div.block-dynamic_persistent_menu li {
  background: none;
  margin: 0 -4px 0 0;
  padding: 0;
}

#nav ul.primary-links li a:link, #nav ul.primary-links li a:visited, #nav ul.dynamic-persistent-menu-menu li a:link, #nav ul.dynamic-persistent-menu-menu li a:visited {
  margin: 0 0 0 0;
  font-size: 11pt;
  padding: 7px 13px;
  border-left: 1px solid white;
  border-right: 1px solid #DFDFDF;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
}

#nav ul.primary-links li.first a{
    border-left: 0px none;
    margin-left: -5px;
}

#nav ul.primary-links li.last a{
    border-right: 0px none;
}

#nav div#secondary-links, #nav ul.dynamic-persistent-menu-sub-menu {
  padding: 4px 5px;
  position: absolute;
  width: 100%;
}

#nav ul.secondary-links li a:link, #nav ul.secondary-links li a:visited, #nav ul.dynamic-persistent-menu-sub-menu li a:link, #nav ul.dynamic-persistent-menu-sub-menu li a:visited {
  margin: 0 10px 0 0;
  padding: 4px 0;
}

#nav ul.secondary-links li a:hover, #nav ul.secondary-links li a:active, #nav ul.dynamic-persistent-menu-sub-menu li a:hover, #nav ul.dynamic-persistent-menu-sub-menu li a:active {
  text-decoration: underline;
}

#nav .block {
  margin: 0;
}

#nav ul.dynamic-persistent-menu-menu {
  display: block !important;
}

/**
 * 5.NODES
 */
 #center .node .content{
 padding-left: 1px;
 }
 
span.submitted {
  color: #898989;
  font-size: .8333em;
  line-height: 1.6em;
  margin: 1.6em 0 0;
}

.node .picture {
  float: left;
  margin: .3em .5em .1em 0;
}

.meta {
  margin: 0;
  padding: 0;
}

.meta div.links {
  float: left;
  line-height: 1.3333em;
}

.meta div.terms {
  float: right;
}

.meta div.terms span {
  float: left;
}

.meta div.links ul.links li {
  float: left;
  padding: 0 10px 1.5em 0;
}

.meta div.terms ul.links li {
  float: left;
  padding: 0 0 1.5em 10px;
}

.node_read_more {
  font-weight: bold;
}

/*Sale Horses page*/
.view-id-Videos.view-display-id-page_1 .views-row {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border:2px solid #AB9760;
margin:0 0 20px 6px !important;
min-height:227px;
padding:0 !important;
}

.view-id-Videos.view-display-id-page_1 .item-list ul {
margin-top: 0px !important;
}

.view-id-Videos.view-display-id-page_1 .views-field-title {
font-size: 2em;
background-color: #BFA96E;
font-weight: bold;
padding: 2px 8px;
background-image: url(images/sec_back_big.png);
background-position: 14px -3px;
}

.view-id-Videos.view-display-id-page_1 .views-field-edit-node, .view-id-Videos.view-display-id-page_1 .views-field-delete-node {
display: inline;
float: right;
margin-right: 10px;
}

.view-id-Videos.view-display-id-page_1 .views-field-created {
margin-bottom: 10px;
padding: 1px 8px;
font-style: italic;
font-size: .95em;
background-color:#EEEEEE;
border-bottom: 1px solid #CCCCCC;
color: #8F8F8F;
}

.view-id-Videos.view-display-id-page_1 .views-field-field-sale-defaultpic-fid-1{
float: left;
margin-left: 9px;
margin-right: 10px;
}

.view-id-Videos.view-display-id-page_1 .views-field-field-dateofcomp-value {
padding-top: 0px !important;
}

.view-id-Videos.view-display-id-page_1 .views-field-view-node {
margin: 7px 0;
font-weight: bold;
font-size: 1.2em;
}

.view-id-Videos.view-display-id-page_1 .views-field-field-dateofcomp-value,
.view-id-Videos.view-display-id-page_1 .views-field-field-locofcomp-value,
.view-id-Videos.view-display-id-page_1 .views-field-field-levofcomp-value,
.view-id-Videos.view-display-id-page_1 .views-field-view-node,
.view-id-Videos.view-display-id-page_1 .views-field-body {
padding: 2px 0px;
}

.view-id-Videos.view-display-id-page_1 .views-field-field-sale-age-value label,
.view-id-Videos.view-display-id-page_1 .views-field-field-sale-breed-value label,
.view-id-Videos.view-display-id-page_1 .views-field-field-sale-country-value label,
.view-id-Videos.view-display-id-page_1 .views-field-field-sale-sex-value label,
.view-id-Videos.view-display-id-page_1 .views-field-field-sale-status-value label,
.view-id-Videos.view-display-id-page_1 .views-field-field-sale-pedigree-value label {
font-weight: bold;
display: inline-block;
margin-bottom: 4px;
}

.view-id-Videos.view-display-id-page_1 .views-field-field-sale-status-value, .view-id-Videos.view-display-id-page_1  .views-field-field-sale-lease-value {
font-size: 11pt;
float: right;
margin-right: 4px;
color: #9F9F9F;
font-weight: bold;
}

.view-id-Videos.view-display-id-page_1 .views-field-body {
margin-top: 3px;
padding: 0 8px;
}

.view-id-Videos.view-display-id-page_1 .views-field-view-node a {
padding: 2px 4px;
border: 1px solid #CCCCCC;
background-color: #183511;
color: white !important;
font-size: 10pt;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.view-id-Videos.view-display-id-page_1 .views-field-view-node a:hover {
background-color: #DFDFDF;
color:#183511 !important;
text-decoration: none !important;
}

.view-id-Videos.view-display-id-page_1 .views-field-view-node, .view-id-Videos.view-display-id-page_1 .views-field-field-youtubelink-embed,
.view-show-horse .views-field-view-node, .view-show-horse  .views-field-field-youtubelinkshow-embed {
    display: inline-block;
    vertical-align: middle;
}

.views-exposed-form .views-exposed-widget {
display: inline-block;
margin-right: 8px;
float: none !important;
padding: 0px !important;
}

.views-exposed-form .views-exposed-widgets {
border: 1px solid #DFDFDF;
background-color: #EFEFEF;
padding: 0 8px 8px;
}

/*Sale Horses page*/
.view-show-horse .views-row {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
-webkit-border-top-right-radius:3px;
-webkit-border-top-left-radius:3px;
-webkit-border-bottom-right-radius:3px;
-webkit-border-bottom-left-radius:3px;
border:2px solid #AB9760;
margin:0 0 20px 6px !important;
min-height:227px;
padding:0 !important;
}

.view-show-horse .item-list ul {
margin-top: 0px !important;
}

.view-show-horse .views-field-title {
font-size: 2.1em;
background-color: #BFA96E;
font-weight: bold;
padding: 2px 8px;
background-image: url(images/sec_back_big.png);
background-position: 14px -3px;
}

.views-field-edit-node a,
.view-data-edit-node a {
background-image: url(images/pencil.png) !important;
background-repeat: no-repeat !important;
padding-left: 17px;
}

.views-field-delete-node a,
.view-data-delete-node a{
background-image: url(images/cross.png) !important;
background-repeat: no-repeat !important;
padding-left: 17px;
}

.views-field-edit-node a, .views-field-delete-node a, 
.view-data-edit-node a, .view-data-delete-node a {
padding: 1px 0 0 18px !important;
display: inline-block;
height: 17px;
}

.view-id-Events.view-display-id-page .view-data-delete-node,
.view-id-Events.view-display-id-page .view-data-edit-node,
.view-id-show_horse .views-field-edit-node, 
.view-id-show_horse .views-field-delete-node {
display: inline;
float: right;
margin-right: 10px;
}

.view-id-Events.view-display-id-page .view-data-node-title  {
display: block;
clear: both;   
}

.monthview {
background-color: #FEFFBF !important;
border: 1px solid #DEDF8B !important;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.monthview #node-title {
clear: both;
font-weight: bold;
}

.calendar-calendar td {
padding: 0 0 0 3px !important;
}

.calendar-calendar div.calendar  {
margin: 3px 2px 7px 2px !important;
}

.view-show-horse .views-field-created {
margin-bottom: 10px;
padding: 1px 8px;
font-style: italic;
font-size: .95em;
background-color:#EEEEEE;
border-bottom: 1px solid #CCCCCC;
color: #8F8F8F;
}

.view-show-horse .views-field-field-show-defaultpic-fid{
float: left;
margin-left: 9px;
margin-right: 10px;
}

.view-show-horse .views-field-view-node {
margin: 7px 0;
font-weight: bold;
font-size: 1.2em;
}

.view-show-horse .views-field-view-node,
.view-show-horse .views-field-body {
padding: 2px 0px;
}

.view-show-horse .views-field-field-show-age-value label,
.view-show-horse .views-field-field-show-breed-value label ,
.view-show-horse .views-field-field-show-country-value label ,
.view-show-horse .views-field-field-show-sex-value label  {
display:inline-block;
font-weight:bold;
margin-bottom:4px;
}

.view-show-horse .views-field-body {
margin-top: 3px;
}

.view-show-horse .views-field-view-node a {
padding: 2px 4px;
border: 1px solid #CCCCCC;
background-color: #183511;
color: white !important;
font-size: 10pt;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.view-show-horse .views-field-view-node a:hover {
background-color: #DFDFDF;
color:#183511 !important;
text-decoration: none !important;
}

/*News page*/
.view-id-News .views-row {
margin: 0px 0px 20px 0px !important;
padding: 10px 10px 0px 10px!important;
border: 1px solid #DFDFDF;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.view-id-News .views-field-title {
font-size: 2em;
background-color: #FFF;
padding: 0 2px 5px 0;
font-weight: bold;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.view-id-News .views-field-body {
margin-left: 190px;
}

.views-field-field-news-url-url {
text-align: right;
margin: 10px 0;   
}

#news-break {
clear: both;
display: block;
}

.view-id-News .views-field-name, .view-id-News .views-field-field-newsdate-value {
padding: 0 5px;   
}

.view-id-News .views-field-edit-node ,.view-id-News .views-field-delete-node{
display: inline;
float: right;
margin-right: 10px;
}

.view-id-News .views-field-body {
border-left: 1px solid #EEEEEE;
padding-left: 15px;
}

.view-id-News .views-field-field-news-video-embed {
    display: inline-block;
    margin-left: 225px;
    margin-top: 15px;
}

.view-id-staff .views-field-field-picture-fid{
float: left;
border: 1px solid #CCCCCC;
background-color: #EEEEEE;
padding: 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
margin-right: 11px;
}

.views-field-field-news-pic1-fid,
.views-field-field-news-pic2-fid,
.views-field-field-news-pic3-fid,
.views-field-field-news-pic4-fid,
.views-field-field-news-pic5-fid,
.views-field-field-news-pic6-fid,
.views-field-field-news-pic7-fid,
.views-field-field-news-pic8-fid {
float: right;
margin-top: 10px;
margin-right: 5px;
}


/*Staff*/
.view-id-staff .views-row {
clear: both;
margin-bottom: 25px;
}

.view-id-staff .views-field-title {
font-size: 20pt;
letter-spacing: -1px;
float: left;
border-width: 0;
}

.view-id-staff .views-field-field-position-value {
font-size: 12pt;
letter-spacing: -1px;
border-width: 0;
padding: 33px 14px 7px 4px;
}

.view-id-staff .views-field-body {
margin-left: 183px;
}

.view-id-staff .views-field-edit-node , .view-id-staff  .views-field-delete-node{
float: right;
margin-right: 10px;
}

/*Clients*/
.view-id-Client_Profile .views-field-field-client-pic-fid {
float: left;
border: 1px solid #CCCCCC;
background-color: #EEEEEE;
padding: 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
margin-bottom: 15px;
}

.view-id-Client_Profile .views-row {
clear: both;
margin-bottom: 25px;
}

.view-id-Client_Profile .views-field-title {
font-size: 20pt;
letter-spacing: -1px;
float: left;
border-width: 0;
padding-left: 11px;
}

.view-id-Client_Profile .views-field-field-position-value {
font-size: 12pt;
letter-spacing: -1px;
float: left;
border-width: 0;
padding: 12px 14px 5px 5px;

}

.view-id-Client_Profile .views-field-body {
padding-top: 40px;
margin-left: 168px;
display: block;
}

.view-id-Client_Profile .views-field-edit-node , .view-id-Client_Profile  .views-field-delete-node{
float: right;
margin-right: 10px;
}

/*Sponsors*/
.view-id-Sponsors .views-field-field-sponsor-logo-fid { 
float: left;
border: 1px solid #CCCCCC;
padding: 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
margin-right: 11px;
width: 131px;
text-align: center;
margin-bottom: 25px;
}

.view-id-Sponsors .views-row {
clear: both;
}

.view-id-Sponsors .views-field-title {
font-size: 20pt;
letter-spacing: -1px;
float: left;
border-width: 0;
}

.view-id-Sponsors .views-field-field-position-value {
font-size: 12pt;
letter-spacing: -1px;
float: left;
border-width: 0;
padding: 12px 14px 5px 5px;
}

.view-id-Sponsors .views-field-body {
margin-left: 165px;
display: block;
}

.view-id-Sponsors .views-field-edit-node , .view-id-Sponsors  .views-field-delete-node{
float: right;
margin-right: 10px;
}

.view-id-Sponsors .views-field-field-website-link-url{
font-size: 12pt;
letter-spacing: -1px;
border-width: 0;
padding: 36px 0px 4px 165px;
}

/* Events View */
.view-display-id-page {
border: 8px solid #26370F;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.view-Events .attachment-before {
padding: 5px;
background-color: #BFA96E;
margin-left: -1px;
}

.date-nav .date-heading {
font-size: 12pt;
color: white;
text-shadow: 1px 1px black;
}

.date-nav .date-prev a, .date-nav .date-next a{
margin-top: 1px;
padding: 2px 4px;
display: inline-block;
border: 1px solid #CCCCCC;
background-color: #183511;
color: white !important;
font-size: 10pt;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.date-nav .date-prev a:hover, .date-nav .date-next a:hover {
background-color: #DFDFDF;
color:#183511 !important;
text-decoration: none !important;
}

/*Front page posts*/
.view-id-frontpage .views-row {
margin: 0px 0px 20px 7px !important;
border: 1px solid #CCCCCC;
padding: 10px 16px 10px !important;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
width: 320px;
height: 557px;
float: right;
overflow: hidden;
}

.view-id-frontpage .views-field-title {
font-size: 2em;
background-color: #FFF;
padding: 0;
font-weight: bold;
-moz-border-radius-topright: 8px;
-moz-border-radius-topleft: 8px;
-webkit-border-top-right-radius: 8px;
-webkit-border-top-left-radius: 8px;
}

.view-id-frontpage .views-field-body {
margin-left: 0;
}

.view-id-frontpages .views-field-name, .view-id-frontpage .views-field-field-newsdate-value {
padding: 0 5px;   
}

.view-id-frontpage .views-field-edit-node ,.view-id-frontpage .views-field-delete-node{
display: inline;
float: right;
margin-right: 10px;
}

.view-id-frontpage .views-field-name {
margin: 0 4px 10px 0;
float: left;
color: #9F9F9F;
}

.view-id-frontpage .views-field-created, .view-id-frontpage .views-field-name a{
color: #9F9F9F !important;
}

.view-id-frontpage .views-field-body {
padding-left: 0px;
clear: both;
}

.view-id-frontpage .views-field-view-node {
padding-top: 9px;
}

.view-id-frontpage .views-field-body  p{
text-indent: 35px;
line-height: 20px;
margin: 7px 0 0 0;
}

/* pagination */
.item-list ul.pager {
  margin: 1em 0;
}

.item-list ul.pager li {
  margin: 0;
  padding: 0;
}

.item-list ul.pager li a:link, .item-list ul.pager li a:visited, .item-list ul.pager li.pager-current {
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: #999;
  font-size: .8333em;
  font-weight: 700;
  margin: .3em .1em;
  padding: .3em .5em;
}

.item-list ul.pager li a:hover, .item-list ul.pager li a:active {
  border: 1px solid #999;
  color: #666;
}

.item-list ul.pager li.pager-current {
  background-color: #999;
  border: 1px solid #999;
  color: #fff;
}

/**
 * 7.SIDEBARS
 */
.sidebar {
  width: 218px;
}

#sidebar-left {
  float: left;
  margin-right: 9px;
}

#sidebar-right {
  float: right;
}

/* stops right sidebar from falling in some 3-col situations */
.sidebars #sidebar-right {
  margin-left: 0;
}

/**
 * 8.BLOCKS
 */
#block-views-Random_Sponsor-block_1 {
margin: 0 0 0.8333em;
padding: 2px;
}

#sidebar-right  #block-block-12.block  {
background-color: #FFFFFF;
box-shadow: 0 -5px 5px -6px #9E8B58;
margin-bottom: 0;
margin-left: -5px;
margin-top: 20px;
padding: 0;
}

#sidebar-right  #block-block-12.block  .content {
padding: 0;
}

#contact_block_map {
font-size: 7pt;
}

.fan_box .connect_top {
padding-left: 6px !important;
padding-top: 0 !important;
}

#sidebar-right .block h3 {
background-color: #BFA96E;
color: white;
text-shadow: 1px 1px black;
padding: 5px;
margin: 0px !important;
background-image: url(images/sec_back.png);
background-repeat: no-repeat;
background-position: top right;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#sidebar-right .block .content {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background-color: white;
padding: 5px;
}

#about-kb #middle{
border-right: 1px solid #CFCFCF;
border-left: 1px solid #CFCFCF;
}

#about-kb {
text-align: center;
}

#about-kb .about-option a {
display: inline-block;
padding: 5px 6px;
font-weight: bold;
font-weight: bold;
}

#user-login-form .item-list ul li {
  background: none;
  padding: 0;
}

#search-block-form .form-text {
  width: 8em;
}

#search-block-form input.form-submit {
  font-size: .9em;
  width: 5em;
  padding: 0;
}

/*Slideshow blocl*/
#block-views-Slideshow-block_1 .view-id-Slideshow {
background-image: url(images/slideback.png);
background-position: top left;
background-repeat: no-repeat;
font-size: 8pt;
height: 294px;
padding-top: 9px;
padding-left: 12px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#block-block-3  #slideshow-bottom-text, #block-block-6 #slideshow-bottom-text{
background-color: #2e2e2e;
clear: none;
color: white;
width: 687px;
height: 62px;
display: block;
margin-top: 6px;
padding: 3px 5px 10px 15px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#block-mailchimp-0 form {
margin-bottom: 0;
}

#edit-EMAIL-wrapper {
margin-top: 0;
}

#block-mailchimp-0 input[type=text] {
width: 200px;
}

/*Events front page block*/
#block-views-Events_widget-block_1 .views-row {
margin: 0 !important;
padding: 8px 11px 11px 15px !important;
height: 25px;
display: block;
clear: both;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#block-views-Events_widget-block_1 {
margin: 0px 0px 10px 0px !important;
padding: 7px !important;
background-color: #26370F;
width: 693px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
float: left;
}

#block-views-Events_widget-block_1 h3 {
font-size: 1.7em;
margin: 0 0 5px 0;
color: white;
text-shadow: 1px 1px black;
}

#block-views-Events_widget-block_1 .view-content {
background-color: white;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}


#block-views-Events_widget-block_1 .view-content .views-row-even {
background-color: #DFD0A7;
}

#block-views-Events_widget-block_1 .views-field-title {
float: left;
margin-right: 20px;
width: auto;
padding-top: 5px;
font-size: 10pt;
font-weight: bold;
}

#block-views-Events_widget-block_1 .views-field-body :hover{
cursor: pointer;
}

#block-views-Events_widget-block_1 .views-field-edit-node ,
#block-views-Events_widget-block_1 .views-field-delete-node{
display: inline;
float: right;
margin-right: 10px;
}

#block-views-Events_widget-block_1 .views-field-body {
border-left: 0px solid #EEEEEE;
padding-left: 0px;
margin-left: 0px;
padding-top: 6px;
display: inline-block;
width: 17px;
}

#block-views-Events_widget-block_1 .views-field-name {
padding: 0;   
clear: both;
}

#block-views-Events_widget-block_1 .views-field-field-event-when-value {
float: left;
border: 1px solid #DFDFDF;
background-color: white;
padding: 5px 5px 2px;
margin-right: 20px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#block-views-Events_widget-block_1 .views-field-field-event-when-value:hover a {
text-decoration: none;
}

.block-views-Events_widget-block_1 .views-field-field-event-when-value .field-content a:hover {
text-decoration: none;   
}

#block-views-Events_widget-block_1 .date-display-single {
display: inline-block;
vertical-align: top;
}

#block-views-Events_widget-block_1 .views-field-field-event-date-value a:hover{
text-decoration: none;
}

#block-views-Events_widget-block_1 .views-field-field-event-loc-value {
float: right;
width: 130px;
padding-top: 6px;
}

#block-block-9 {
height: 0px;
}

#front-desc {
font-size: 0pt;
color: #FFFFFF;
}

.view-header {
margin-bottom: 10px;
}

/*News front page block*/
#block-views-News-block_1  .views-row {
margin: 0px !important;
padding: 11px !important;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#block-views-News-block_1 {
margin: 0px 0px 15px 0px;
padding: 7px;
background-image:url(images/gray-grad.png);
background-position: 0 -160px;
background-repeat: repeat-x;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#block-views-News-block_1 h3 {
font-size: 1.7em;
margin: 0 0 10px 0;
}

.expandtoggle {
margin-top: 8px;
font-size: 8pt;
float: right;
color: #CFCFCF;
}

.expandtoggle:hover {
color: #AFAFAF;
cursor: pointer;
}

#recentNews_label {
font-size: 9pt;
color: #BFBFBF;
float: left;
}

#recentNews_title {
clear: both;
float: left;
margin-bottom: 6px;
}

#recentNews_title:hover {
text-decoration: underline;
}

#block-views-News-block_1 .views-field-title {
background-color: #FFF;
font-weight: bold;
font-size: 1.5em;
color: #375730;
}

#block-views-News-block_1 .views-field-title:hover {
cursor: pointer;
}

#block-views-News-block_1 .views-field-edit-node ,#block-views-News-block_1 .views-field-delete-node{
display: inline;
float: right;
margin-right: 10px;
}

#block-views-News-block_1 .views-field-body {
border-left: 0px solid #EEEEEE;
padding-left: 0px;
margin-left: 0px;
}

#block-views-News-block_1 .views-field-name {
padding: 0;   
clear: both;
}

#block-views-News-block_1 .views-field-field-newsdate-value {
padding: 0 0 5px 0; 
display: block;
clear: both;
font-style: italic;  
}

/*Sidebar feature horse & sponsor*/
.view-RecentSidebar .views-row {
margin: 0px 0px 5px 7px !important;
border: 0px solid #CCCCCC;
padding: 0px !important;
-moz-border-radius-topright: 8px;
-moz-border-radius-topleft: 8px;
-webkit-border-top-right-radius: 8px;
-webkit-border-top-left-radius: 8px;
}

.view-RecentSidebar .item-list ul {
margin-top: 0px !important;
}

.view-RecentSidebar .views-field-title, .view-Random-Sponsor .views-field-title {
font-size: 1.2em;
font-weight: bold;
background-color: #fff;
padding: 0px 0px 5px 0px;
}

.view-RecentSidebar .views-field-timestamp {
margin-bottom: 10px;
padding: 1px 5px;
font-style: italic;
font-size: .95em;
background-color:#EEEEEE;
border-bottom: 1px solid #CCCCCC;
border-top: 1px solid #CCCCCC
}

.view-RecentSidebar .views-field-field-youtubelink-embed {
float: left;
}

.view-RecentSidebar .views-field-field-dateofcomp-value {
padding-top: 0px !important;
}

.view-RecentSidebar .views-field-view-node {
font-size: 1em;
font-weight: bold;
margin-top: 5px;
}

.view-RecentSidebar .views-field-field-dateofcomp-value,
.view-RecentSidebar .views-field-field-locofcomp-value,
.view-RecentSidebar .views-field-field-levofcomp-value,
.view-RecentSidebar .views-field-view-node,
.view-RecentSidebar .views-field-body {
margin-left: 0px;
padding: 2px 0px;
}

.view-RecentSidebar .views-field-field-dateofcomp-value label,
.view-RecentSidebar .views-field-field-locofcomp-value label,
.view-RecentSidebar .views-field-field-levofcomp-value label {
font-weight: bold;
}

.view-RecentSidebar .views-field-body {
margin-top: 5px;
}

.view-Random-Sponsor .views-field-field-sponsor-logo-fid {
text-align: center;
margin-top: 5px;
}

/**
 * 9.FOOTER
 */
#footer {
  margin: 0 0 0;
  padding: 0;
  position: relative;
  text-align: center;
  font-size: 90%
}

#footer a.feed-icon {
  position: absolute;
  right: 0;
  top: 5px;
}

#footer .block {
  margin: 0 0 0;
}

/* Support Drupal */
#footer #block-system-0 {
  position: absolute;
  right: 25px;
  top: 6px;
}

#post-footer {
color: #9F9F9F;
margin-top: 8px;
opacity: 0.9;
}

#post-footer a{
font-weight: bold;
color: #9F9F9F !important;
}

/**
 * 10.CSS SUPPORT
 */
span.clear     { clear: both; display: block; font-size: 0; height: 1px; line-height: 0; margin-bottom: -1px; }
.clear         { clear: both; }
.clear-block   { display: block; }
.float-left    { float: left; }
.float-right   { float: right; }

.text-left     { text-align: left; }
.text-right    { text-align: right; }
.text-center   { text-align: center; }
.text-justify  { text-align: justify; }

.bold          { font-weight: bold; }
.italic        { font-style: italic; }
.underline     { border-bottom: 1px solid; }
.highlight     { background: #ffc; }

.wrap          { width: 960px; margin: 0 auto; }

.img-left      { float: left; margin: 4px 10px 4px 0; }
.img-right     { float: right; margin: 4px 0 4px 10px; }

.nopadding     { padding: 0 }
.noindent      { margin-left: 0; padding-left: 0 }
.nobullet      { background: none; list-style: none; list-style-image: none; }

/* tooltip styling. uses a background image (a black box with an arrow) */ 
div.tooltip { 
    background: #414141;
    color: white;
    height:auto; 
    padding:10px; 
    width:175px; 
    font-size:11px; 
    display:none;
    border: 1px solid #CCCCCC;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    z-index: 9999;
}

/**
* Content Templates
*/

/*Sale Horses*/
.sale-container .title-name {
font-size: 18pt;
font-weight: bold;
clear: both;
display: block;
margin-bottom: 15px;
}

.sale-container .default-pic {
float: left;
margin-right: 11px;
}

.sale-container .details {
width: 439px;
}

.sale-container .details  .sex,
.sale-container .details  .age,
.sale-container .details  .breed,
.sale-container .details  .country {
margin-bottom: 4px;
display: inline-block;
}

.sale-container .details  .request-info a{
float: right;
padding: 2px 4px;
border: 1px solid #CCCCCC;
background-color: #183511;
color: white !important;
font-size: 10pt;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
text-align:center;
}

.sale-container .details  .request-info a:hover{
text-decoration: none;
background-color: #DFDFDF;
color: #183511 !important;
}

.sale-container .body{
display: block;
margin-top: 10px;
}

.sale-container .sale-thumbs {
margin: 10px 0 0 0;
border: 1px solid #CFCFCF;
background-color: #EFEFEF;
padding: 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.sale-container .sale-thumbs  .head, .sale-container .comp-details  .head{
display: block;
margin-bottom: 10px;
text-align: left;
}

.sale-container .sale-thumbs img {
margin-right: 10px;
vertical-align: middle;
}

.sale-container .comp-details {
padding: 10px;
border: 1px solid #CFCFCF;
background-color: #EFEFEF;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
margin-top: 15px;
}

.sale-container .youtube {
float: left;
margin-right: 10px;
}

/*Show Horses*/
.show-container .title-name {
font-size: 18pt;
font-weight: bold;
clear: both;
display: block;
margin-bottom: 15px;
}

.show-container .default-pic {
float: left;
margin-right: 11px;
}

.show-container .details {
width: 439px;
}

.show-container .details  .request-info a{
float: right;
padding: 2px 4px;
border: 1px solid #CCCCCC;
background-color: #183511;
color: white !important;
font-size: 10pt;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
text-align:center;
}

.show-container .details  .request-info a:hover{
text-decoration: none;
background-color: #DFDFDF;
color: #183511 !important;
}

.show-container .body{
display: block;
margin-top: 10px;
}

.show-container .show-thumbs {
margin: 10px 0px 15px 0;
border: 1px solid #CFCFCF;
background-color: #EFEFEF;
padding: 10px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.show-container .show-thumbs  .head, .show-container .comp-details  .head{
display: block;
margin-bottom: 10px;
text-align: left;
}

.show-container .show-thumbs img {
margin-right: 10px;
vertical-align: middle;
}

.show-container .comp-details {
padding: 10px;
border: 1px solid #CFCFCF;
background-color: #EFEFEF;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

.show-container .youtube {
float: left;
margin-right: 10px;
}

/*Directions Page*/
#directions_mapButton {
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
background-color: #183511;
background-image: url(images/map.png);
background-position: 5px 4px;
background-repeat: no-repeat;
border: 1px solid #CCCCCC;
color: white !important;
display: inline-block;
font-size: 10pt;
margin-top: 10px;
padding: 4px 7px 4px 25px;
}

#directions_mapButton:hover {
background-color: #DFDFDF;
color: #183511 !important;
text-decoration: none !important;
}

#node-7 .content img, #node-51 .content img {
padding: 3px;
border: 8px solid #CFCFCF;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#about-content p {
    text-indent: 30px;
}

/* Sale Block */
#block-views-Videos-block_1 {
background-color: #AB9760;
border-radius: 3px 3px 3px 3px;
float: left;
margin: 10px 0 10px !important;
width: 693px;
padding: 7px;
}

#block-views-Videos-block_1 h3 {
color: white;
font-size: 1.7em;
margin: 0 0 5px;
text-shadow: 1px 1px black;
}

#block-views-Videos-block_1 .views-row {
clear: both;
display: block;
margin: 0 !important;
background: none repeat scroll 0 0 white;
padding: 0 10px 10px;
min-height: 195px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
}

#block-views-Videos-block_1 .view-content {
min-height: 215px;
}

#block-views-Videos-block_1 li div {
margin-bottom: 5px;
}

#block-views-Videos-block_1 li label {
font-weight: bold;
}

#block-views-Videos-block_1 ul {
margin: 0;
}

#block-views-Videos-block_1 .views-field-field-sale-defaultpic-fid-1 {
float: right;
margin-left: 15px;
}

#block-views-Videos-block_1 .views-field-title {
font-size: 1.7em;
font-weight: bold;
margin: 5px 0;
}

#block-views-Videos-block_1 .views-field-field-sale-status-value {
float: right;
font-size: 1.3em;
font-weight: bold;
}

#block-views-Videos-block_1 .views-field-view-node a {
padding: 5px 15px;
background-color: #701C06;
color: white;
text-decoration: none;
font-size: 1.2em;
font-weight: bold;
display: inline-block;
margin-top: 8px;
border: 1px solid #CCCCCC;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}

#block-views-Videos-block_1 .views-field-view-node a:hover {
background-color: #183511;
}

#block-views-Videos-block_1 .view-footer {
margin: 7px 0 0 0;
}

#portfolioNav {
text-align: center;
}

#portfolioNav a {
padding: 0;
text-decoration: none;
margin: 0 10px;
color: transparent;
display: inline-block;
width: 25px;
height: 20px;
font-size: 1px;
vertical-align: top;
background: url(/sites/default/themes/dzdy/images/bullet.png) no-repeat scroll 0 -2px;
}

#portfolioNav a.activeSlide,
#portfolioNav a:hover {
background: url(/sites/default/themes/dzdy/images/bullet.png) no-repeat scroll 0 -35px;
}

#prev {
float: left;
width: 20px;
height: 20px;
cursor: pointer;
background: url(/sites/default/themes/dzdy/images/prev.png) no-repeat scroll 0 0px;
}

#prev:hover {
background: url(/sites/default/themes/dzdy/images/prev.png) no-repeat scroll 0 -33px;
}

#next {
float: right;
width: 25px;
height: 25px;
cursor: pointer;
background: url(/sites/default/themes/dzdy/images/next.png) no-repeat scroll 0 0px;
}

#next:hover {
background: url(/sites/default/themes/dzdy/images/next.png) no-repeat scroll 0 -33px;
}

.view-id-photo_gallery .views-row {
display: inline-block;
margin: 0 15px 15px 0;
}

#block-views-Videos-block_1 .views-row {
width: 673px !important; 
}

#block-views-Videos-block_1 ul {
width: 693px;
}

/**
 * 11.ADVANCED
 */
/* lists */
ul { margin: .5em 0 1em; padding: 0; }
ol { margin: .75em 0 1.25em; padding: 0; }
ol li, ul li { margin: .4em 0 .4em .5em; }
ul.menu, .item-list ul { margin: .35em 0 0 -.5em; padding:0; }
ul.menu ul, .item-list ul ul { margin-left: 0; }
ol li, ul li, ul.menu li, .item-list ul li, li.leaf { margin: .15em 0 .15em .5em; }
ul li, ul.menu li, .item-list ul li, li.leaf { background: transparent url(images/menu-leaf.gif) no-repeat 1px .35em; list-style-image: none; list-style-type: none; padding: 0 0 .2em 1.5em; }
ol li { margin-left: 2em; padding: 0 0 .3em; }
ul li.expanded { background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em; }
ul li.collapsed { background: transparent url(images/menu-collapsed.gif) no-repeat 0 .35em; }
ul li.leaf a, ul li.expanded a, ul li.collapsed a { display: block; }
ul.inline li { background: none; margin: 0; padding: 0 1em 0 0; }
dl { margin: 0.5em 0 1em 0; }
dl dt { margin: 0.8em 0 0.2em; }
dl dd { margin: 0 0 0.5em 1.5em; }

/* forms & fieldsets */
input { color: #494949; font: 1em Verdana, sans-serif; }
textarea, select { color: #494949; font: 1em Verdana, sans-serif; }
fieldset ul.clear-block li { background-image: none; margin: 0; padding: 0; }
fieldset { background: #fff; border: 1px solid #ccc; margin: 1em 0; padding: 1em; }
fieldset legend { padding: 0 0.5em; }
html.js fieldset.collapsed { background: transparent; padding-bottom: .6em; padding-top: 0; }
html.js fieldset.collapsible legend a { background: url(images/menu-expanded.gif) no-repeat 0 50%; }
html.js fieldset.collapsed legend a { background: url(images/menu-collapsed.gif) no-repeat 0 50%; }
.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item { margin: .25em 0; }
.form-button, .form-submit { margin: 2em .5em 1em 0; }
.confirmation .form-submit, .search-form .form-submit, .poll .form-submit, fieldset .form-button, fieldset .form-submit, .sidebar .form-button, .sidebar .form-submit, table .form-button, table .form-submit { margin: 0; }
#autocomplete li { cursor: pointer; margin: 0; padding: 2px; }
#autocomplete li.selected { background: #027ac6; color: #fff; }

/* admin tab links */
#tabs-wrapper { border-bottom:1px solid #ccc; margin: .5em 0 1em; padding: 0; }
ul.primary { border-bottom: 5px solid #eee; margin: 0; padding: .25em 0; }
ul.primary li { background: none; border-top: 3px solid #ccc; margin: 0 0 0 0; padding: .25em 0; }
ul.primary li.active { background: #eee; }
ul.primary li:hover { background: #f5f5f5; }
ul.secondary { background: #eee; border: none; margin: 0; padding: 0 1em; }
ul.secondary li { background: none; border: none; display:inline; line-height: 2em; margin: 0 0 0 0; padding: 0 1em 0 0; }
ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited { background: none; border: 0; margin: 0; padding: 0 1em; text-decoration: none; }
ul.secondary li a, ul.secondary li a:visited { background: none; border: 0; margin: 0; padding: 0; text-decoration: none; }
ul.secondary li.active a, ul.secondary li a:hover { text-decoration: underline; }
ul.primary li.active a, ul.secondary li.active a { font-weight: 700; text-decoration: none; }

/* admin styling */
div.admin, div.admin .left, div.admin .right, div.admin-panel, div.admin-panel .body, div.admin .expert-link { margin: 0; padding: 0; }
div.admin .left { float: left; width: 48%; }
div.admin .right { float: right; width: 48%; }
div.admin-panel { background: none; padding: 1em; }
body.admin .description { margin-bottom: 1.5em; }
body.admin dl { margin: 0; }
body.admin dt { font-weight: normal; }
body.admin dd { color: #898989; font-size: .9167em; line-height: 1.5em; margin-bottom: .5em; }

/* admin tables */
body.admin table { margin: 1em 0; width: 100%}
body.admin thead th { border-bottom: 2px solid #ccc; font-weight: 700; padding:0 1em 0 0; }
body.admin tbody { border-top: none; }
body.admin td, body.admin th { padding: .3em .5em; vertical-align: middle; }
body.admin tr.even, body.admin tr.odd { border: solid #ccc; border-width: 1px 0; }
body.admin tr.odd, body.admin tr.info { background-color: #eee; }
body.admin tr.even { background-color: #f5f5f5; }
body.admin tr.drag { background-color: #fffff0; }
body.admin tr.drag-previous { background-color: #ffd; }
td.region, td.module, td.container, td.category { background-color: #ddd; border-bottom: 1px solid #ccc; border-top: 1em solid #fff; color: #666; font-weight: 700; }
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category { border-top-width: 0; }
body.admin table.sticky-header { margin: 0 0 0 1px; }
body.admin table.sticky-header th { padding-top: .5em; }
span.form-required { color: #ffae00; }

/* messages */
.messages { background-color: #fff; border: 1px solid #b8d3e5; }
.messages, .preview { margin: .75em 0; padding: .5em 1em; }
.messages ul { margin: 0; }
.preview { background-color: #fcfce8; border: 1px solid #e5e58f; }
.preview .node { background-color: #fcfce8; }
div.status { border-color: #c7f2c8; color: #33a333; }
div.error, tr.error { background-color: #fcc; color: #a30000; }
.form-item input.error, .form-item textarea.error { border: 1px solid #c52020; color: #363636; }
.description { color: #666; font-size: .92em; line-height: 150%; margin-bottom: .75em; }

/* status report */
table.system-status-report tr.error, table.system-status-report tr.error th { background-color: #fcc; border-color: #ebb; color: #200; }
table.system-status-report tr.warning, table.system-status-report tr.warning th { background-color: #ffd; border-color: #eeb; }
table.system-status-report tr.ok, table.system-status-report tr.ok th { background-color: #dfd; border-color: #beb; }
table.system-status-report th { padding-bottom: 6px; padding-top: 6px; }
table.system-status-report th, table.system-status-report tr.merge-up td { padding-left: 30px; }