html {
    background-image: url(images/back-tile.png);
    background-repeat: repeat;
    background-position: 0 0;
}

body {
    background-image: url(images/top-repeat.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    font-family: Verdana,Arial,Helvetica,"Bitstream Vera Sans",sans-serif;
}

body#tinymce {
    background-image: none !important;
    background-color: white !important;
}

a, a:link, a:visited {
    color: #2A512A;
    text-decoration: none;
}

a:hover{
    color: #2A512A;
    text-decoration: underline;
}

table {
    margin: 0;
}

h1, h2, h3, h4, h5 {
    font-size: 1.5em;
    margin: 0;
    font-weight: normal;
}

h1.title {
    margin-bottom: .2em;
}

blockquote {
    padding: 0 30px;
    font-size: 0.9em;
}

#page, .no-sidebars #content {
width: 956px;
}

#sidebar-left-inner {
    display: none;
}

#logo-image {
    margin-top: -5px;
    margin-bottom: 20px;
    margin-left: 0;
}

#primary {
    margin-left: 0px;
}

.with-navbar #content {
    margin-top: 14px;
}

#navbar {
    margin-top: -13px;
    margin-left: 4px;
    height: 30px;
}

#primary .links li a {
    font-size: 12pt;
    display: inline-block;
    padding: 4px 15px 5px;
    background-color: #003400;
    color: white;
    border-width: 2px 2px 0 2px;
    border-style: solid;
    border-color: #003400;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    text-decoration: none;
    background-image: url(images/nav-back.png);
    background-repeat: repeat-x;
}

#primary .links li a:hover {
    background-image: url(images/nav-hover-back.png);
    background-repeat: repeat-x;
}

#primary .links li a.active {
    background-image: url(images/nav-active-back.png);
    background-repeat: repeat-x;
    background-color: white;
    color: #003400;
}

#content {
    background-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-color: #003400;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#content #content-inner {
    padding: 15px;
    -moz-box-shadow: 0 0 10px black;
    -webkit-box-shadow: 0 0 10px black;
}

div.warning, tr.warning, div.error, tr.error {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#content-header div.tabs {
    margin-top: 1em;
}

#closure-blocks {
    text-align: center;
    font-size: .7em;
    color: gray;
    margin-top: 2px;
}

#closure-blocks p {
    margin: .5em 0 0 0;
}

.tips {
    margin-left: 25px;
}

.views-admin-links, div.block.with-block-editing div.edit {
    display: none !important;
}

#admin-menu li {
    padding-top: 2px;
}

#content-bottom {
    font-size: 0.7em;
    text-align: center;
    padding-top: 10px;
}

#content-bottom  .block {
    margin-bottom: 0;
}

#content-bottom .block-inner p {
    margin: 0;
}

.page_header {
    margin-bottom: 15px;
}

.page_header #title {
    font-size: 1.5em;
}

.page_header #text {
    display: block;
}

.views-field-edit-node a, .views-field-delete-node a, .add-node a{
    border: 1px solid #CFCFCF;
    font-size: 8pt;
    background-color: #DFDFDF;
    color: #3F3F3F;
    padding: 0 5px 0 24px;
    margin-right: 3px;
    float: left;
    background-repeat: no-repeat;
    background-position: 4px 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

.views-field-edit-node a:hover, .views-field-delete-node a:hover, .add-node a:hover{
    background-color: #3F3F3F;
    color: #DFDFDF;
    text-decoration: none;
}

.views-field-edit-node a {
    background-image: url(images/pencil.png);
}

.views-field-delete-node a {
    background-image: url(images/cross.png);
}

.add-node a {
    float: right;
    background-image: url(images/add.png);
}

/*Pagination style*/
.item-list .pager li {
    padding: 0;
}

.item-list .pager li a, .item-list .pager .pager-current {
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 1px solid #2A512A;
    color: #2A512A;
    padding: 5px;
    margin: 0 3px;
}

.pager a, .pager strong.pager-current {
    padding: 0;
}

.pager {
    font-size: 0.8em;
}

.pager .pager-current {
    background-color: #2A512A;
    color: white !important;
    text-align: center;
 }

/*Our Friends Page*/
.view-Friends .views-row {
    border: 1px solid #DFDFDF;
    display: block;
    margin: 0 auto;
    padding: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 20px;
}

.view-Friends .views-row-even {
    background-color: #EFEFEF;
}

.view-Friends .views-field-field-friends-logo-fid {
    text-align: right;
}

.view-Friends .views-field-field-friends-logo-fid  img{
    border: 1px solid #DFDFDF;
    padding: 8px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    opacity: 0.5;
}

.view-Friends .views-field-field-friends-logo-fid  img:hover {
    opacity: 1;
}

.view-Friends .views-field-field-friends-website-url,
.view-Friends .views-field-field-friends-website-url-1 {
    display: inline-block;
}

.view-Friends .views-field-body {
    display: none;
}

.view-Friends .views-field-field-friends-website-url {
    font-size: 2.5em;
    float: left;
    padding-bottom: 10px;
    line-height: 27px;
    margin-right: 7px;
}

.view-Friends .views-field-field-friends-website-url-1 {
    padding-bottom: 20px;
    margin-right: 100px;
    clear: left;
    float: left;
}

/*About Us*/
.view-Staff .views-row {
    display: block;
    margin: 0 auto;
    padding: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #DFDFDF;
}

.view-Staff .views-field-title {
    font-size: 2.5em;
    float: left;
    font-family: Georgia;
    padding-bottom: 5px;
    height: 30px;
    line-height: 30px;
}

.view-Staff .views-field-edit-node a,
.view-Staff .views-field-delete-node a,
.view-Friends .views-field-edit-node a,
.view-Friends .views-field-delete-node a {
    margin: 7px 3px 0 6px;
}

.view-Staff .views-field-edit-node,
.view-Staff .views-field-delete-node {
    float: left;
}

.view-Staff .views-field-field-staff-picture-fid {
    clear: left;
    float: left;
    padding-top: 5px;
    margin-right: 15px;
}

.view-Staff .views-field-body {
    line-height: 22px;
    margin-left: 170px;
    margin-top: 35px;
}

.view-Staff .views-field-view-node {
    text-align: right;
	clear: both;
}

body.node-type-staff  #content{
    line-height: 22px;
}

div.node-type-staff img, .view-Staff .views-row img {
    padding: 5px; 
    border: 1px solid #DFDFDF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/*Videos page */
.view-Videos h1 {
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.view-Videos .views-row {
    padding: 10px 15px;
    border: 1px solid #CFCFCF;
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin: 0 32px 60px;
    background-color: #EFEFEF;
    width: 366px;
    float: left;
}

.view-Videos .views-field-title,
.view-Videos .views-field-created {
    text-align: left;
}

.view-Videos .views-field-created {
    font-size: 0.7em;
    color: #AFAFAF;
}

/*Image Gallery Page */
.view-Gallery .views-row {
    display: inline-block;
    float: left;
    margin: 0 9px 15px 10px;
    width: 166px;
}

.view-Gallery .views-field-field-image-image-fid img {
    padding: 5px;
    border: 1px solid #CFCFCF;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.view-id-Gallery .views-field-delete-node,
.view-id-Gallery .views-field-edit-node {
    display: inline;
}

/*Webform*/
.node-type-webform .content p {
    margin: 0 0 1em 0;
}

/*Frontpage*/
.view-Frontpage {
    float: left;
    width: 640px;
    margin: 12px 0 15px 0;
}

.view-Frontpage .views-field-body {
    line-height: 22px;
    text-indent: 30px;
}

.view-Frontpage .views-field-body p:first {
    text-indent: 0;
}

.view-Frontpage .views-field-body  img{
    margin: 0 12px 6px 0;
    border: 1px solid #CFCFCF;
}

.view-Frontpage h1.title {
    margin-bottom: 19px;
    margin-top: -2px;
    line-height: 23px;
    height: 23px;
}

.view-Frontpage-Staff {
    border: 1px solid #CFCFCF;
    float: right;
    line-height: 22px;
    padding: 10px 10px 5px;
    width: 250px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.view-Frontpage .views-field-body p {
    margin: 0;
}

.view-Frontpage-Staff .views-field-title {
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: Georgia;
}

.view-Frontpage-Staff .views-field-view-node {
    font-style: italic;
    font-size: 0.8em;
    margin-top: 3px;
}

.view-Frontpage-Staff .views-field-field-staff-picture-fid img {
    border: 1px solid #CFCFCF;
    float: left;
    margin-right: 10px;
}

.view-Frontpage-Staff .views-field-body p {
    margin: 0;
    font-size: 0.9em;
}

#block-views-Frontpage_Video-block_1 {
    float: left;
    padding: 10px 15px 12px;
    border: 1px solid #CFCFCF;
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #EFEFEF;
}

#block-views-Frontpage_Video-block_1  h2{
    font-size: 1.2em;
}

.view-Frontpage-Video .views-field-title {
    font-size: 0.9em;
    margin-bottom: 10px;
}

#block-views-Frontpage_Image-block_1 {
    float: right;
    padding: 10px 15px;
    border: 1px solid #CFCFCF;
    display: inline-block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #EFEFEF;
    margin-left: 15px;
    width: 437px;
}

.view-Frontpage-Image img {
    border: 1px solid #CFCFCF;
    display: inline;
    float: left;
    margin-bottom: 16px;
    margin-left: 13px;
    padding: 3px;
}

#block-views-Frontpage_Image-block_1  h2{
    font-size: 1.2em;
    margin-bottom: 15px;
}

#block-block-4 {
    background-image: url(images/h.png);
    background-position: 183px 44px;
    background-repeat: no-repeat;
    border: 1px solid #CFCFCF;
    display: block;
    float: right;
    margin-top: 15px;
    padding: 10px;
    width: 250px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#block-block-4 p{
    margin: 0;
}

#block-block-5 {
    border: 1px solid #CFCFCF;
    float: right;
    padding: 11px 19px 10px;
    position: relative;
    width: 230px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: -23px;
}

#block-block-5 h2.title {
    padding-bottom: 9px;
}

#node-23 {
    float: left;
    width: 650px;   
}

#node-23 .captcha {
   width: 602px;
}

/*Admin styling*/
.sticky-table {
   width: 100%;
}

/*Horse First Styling*/
.view-horse-first .views-field-title {
font-size: 1.5em;
font-weight: bold;
}

.view-horse-first .views-field-delete-node,
.view-horse-first .views-field-edit-node {
float: right;
}

.view-horse-first .views-field-field-hf-image-fid {
float: right;
clear: right;
}

.view-horse-first .views-row {
border-bottom: 1px solid #CFCFCF;
padding-bottom: 10px;
margin-bottom: 10px;
clear: both;
}

.page-404  .title {
display: none;
}

#announceBlock {
background-color: #D1EFD1;
border: 1px solid #CFCFCF;
font-size: 15pt;
font-weight: normal;
height: 90px;
line-height: 1.5;
margin: 21px auto 0;
padding: 15px 31px;
text-align: center;
text-indent: 0;
width: 90%;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}