/* $Id: sidebars-normal-fixed.css,v 1.1 2009/09/25 03:37:34 garrettalbright Exp $ */

/* Fixed layout; standard sidebar placement */

#page, .no-sidebars #content {
  width: 960px;
}

#sidebar-left {
  width: 0px;
  margin-right: -0px;
}

#sidebar-right {
  width: 0px;
  margin-left: 960px;
  margin-right: -960px;
}

#content {
  margin-right: -960px;
}

.sidebar-left #content {
  width: 960px;
  margin-left: 0px;
  margin-right: -960px;
}

.sidebar-right #content {
  width: 960px;
  margin-right: -960px;
}

.two-sidebars #content {
  width: 960px;
  margin-left: 0px;
  margin-right: -960px;
}