@CHARSET "UTF-8";

.eventbookings-start-date {
  color : #53934A;
}

.eventbookings-end-date {
  color : #A73434;
}

.eventbookings-not-set {
  color : #E7B10E;
}

.eventbookings-bookings-input {
	margin : 0px 3px;
}

#eventbookings-bookings-reload,
#eventbookings-bookings-clear {
  margin-top : 10px;
  float : left;
}

#eventbookings-bookings-description {
	clear : both;
}

#eventbookings-wrapper .ahah-progress {
  margin-top : 8px;
  float : top;
}

table#eventbookings-resource-bookings {
	width : 100%;
  margin-bottom : 0px;
}

.eventbookings-status {
}
