html, body {
height: 100%;
}

html {
-webkit-font-smoothing: antialiased;
}

body {
overflow-x: hidden;   
}

body, caption, th, td, input, textarea, select, option, legend, fieldset {
letter-spacing: 0.3px; 
font-family: arial, verdana, sans-serif; 
}

#page-wrapper {
color: #3F3F3F;
height: auto !important;
min-height: 100%;
position: relative;
}

#page {
padding-bottom: 80px;
}
    
#main-wrapper {
padding: 0 15px;
}

#admin-menu {
display: none !important;
}

body.admin-menu {
margin-top: 0 !important;   
}

#header {
padding: 10px 15px;
box-shadow: 0 5px 5px -5px #9f9f9f;
position: relative;
background: #cfcfcf; /* Old browsers */
background: -moz-linear-gradient(top,  #cfcfcf 0%, #b5b5b5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cfcfcf 0%,#b5b5b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */
}

#navHeader {
border-bottom: 1px solid #3F3F3F;
border-top: 1px solid #3F3F3F;
background: #9c9c9c; /* Old browsers */
background: -moz-linear-gradient(top,  #9c9c9c 0%, #828282 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c9c9c), color-stop(100%,#828282)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9c9c9c 0%,#828282 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9c9c9c 0%,#828282 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9c9c9c 0%,#828282 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9c9c9c 0%,#828282 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#828282',GradientType=0 ); /* IE6-9 */
}

#site-logo {
float: left;
}

#site-logo a {
font-size: 3.3em;
line-height: 1;
text-decoration: none;
color: #ffffff;
font-family: 'Droid Serif', serif;
text-shadow: -1px 1px 0 #3f3f3f;
}

#dzdy-logo {
float: right;
margin-top: 10px;
}

#userLogin {
float: right;
padding: 2px 15px 0 0;
}

#userLogin a {
text-decoration: none;
}

#userLogin a:hover {
text-decoration: underline;
}

#navHeader a {
color: #FFFFFF;
font-size: 0.9em;
}

#navHeader ul {
margin: 0;
padding: 0;
}

table.sticky-table, table#content-field-overview, .views-table {
width: 100%
}

#views-ajax-form {
margin-bottom: 20px;   
}

.views-table td {
padding: 10px 5px;
vertical-align: top;
}

.views-table th {
padding: 5px;
}

#navigation {
overflow: visible;
}

.with-navigation #content, .with-navigation .region-sidebar-first, .with-navigation .region-sidebar-second {
margin-top: 1em;
}

#footer {
width: 100%;
margin-left: auto;
margin-right: auto;
clear: both;
font-size: 0.8em;
text-align: center;
color: #9f9f9f;
width: 100%;
height: 80px;
margin-top: -80px;
position: relative;
}

#footer .section {
font-size: 0.8em;
padding: 5px 15px 0;
}

h1, h2 {
font-weight: normal;
font-family: 'Droid Serif', serif;
}

h1 {
font-size: 3em;
}

p {
margin: 0;
display: block;
margin: 0;
white-space: normal;
}

html.js a.views-throbbing,
html.js span.views-throbbing,
.editablefields_throbber {
background:url(/sites/all/themes/tandum_master/images/throbber.png) no-repeat right center;
}

.form-item label {
color: #9F9F9F;
display: block;
font-size: 0.9em;
font-weight: normal;
margin-bottom: 0;
}

div.view div.views-hide {
display: none !important;
}

.block {
margin-bottom: 0;
}

a, a:visited {
color: #1A53D8;
text-decoration: none;
}

a:hover {
color: #D89F1A;
}

ul.nice-menu a {
padding: 4px 15px;
}

ul.nice-menu li.menuparent ul, 
#header-region ul.nice-menu li.menuparent ul {
margin-top: 0 !important;
}

ul.nice-menu li.menuparent ul ul, 
#header-region ul.nice-menu li.menuparent ul ul {
margin-top: 0px !important;
}

ul.nice-menu li,
ul.nice-menu ul {
border: 0 none;
}

ul.nice-menu ul {
top: 1.7em;
}

ul.nice-menu-down .menuparent a {
padding: 4px 15px;
}

ul.nice-menu-down a {
text-decoration: none;
}

ul.nice-menu-down li.menuparent,
ul.nice-menu-down li.menuparent:hover {
background: transparent url(/sites/all/themes/tandum_master/images/arrow-down.png) right center no-repeat; /* LTR */
}

ul.nice-menu-down li li.menuparent,
ul.nice-menu-down li li.menuparent:hover {
background: #828282 url(/sites/all/themes/tandum_master/images/arrow-right.png) right center no-repeat; /* LTR */
}

ul.nice-menu li ul li {
background-color: #828282;
}

ul.nice-menu li:hover,
ul.nice-menu-down li li.menuparent:hover,
ul.nice-menu-down li.menuparent:hover {
background-color: #B5B5B5;
}

div.messages, div.status, div.warning, div.error {
border: 0 none;
background-position: 15px 8px !important;
padding: 5px 5px 5px 50px;
}

div.messages {
cursor: pointer;
border-bottom: 1px solid #9C9C9C;
margin: 0;
}

div.messages.collapse ul {
margin-top: 15px;
}

div.messages.collapse {
background: #FFCC00;
height: 0px !important;
min-height: 0;
overflow: hidden;
padding: 0;
cursor: pointer;
padding-top: 10px;
border-bottom: 1px solid #9C9C9C;
} 

div.messages.collapse:hover {
background-color: #FFFFCC;
}

div.error.collapse {
background-color: #990000;
}

div.error.collapse:hover {
background-color: #FFEEEE;
}

.form-item div.messages,
#views-live-preview div.messages {
margin: 0 0 1px;
}

.front h1,
.front.not-logged-in #content-area {
display: none;
}

.front #main-wrapper,
.page-user-login #main-wrapper,
.page-user #main-wrapper {
background: transparent url(/sites/all/themes/tandum_master/images/big-logo.png) center center no-repeat;
}

ul.primary li:hover {
background-color: #B2B2B2;
}

ul.primary li a,
ul.secondary li a {
height: auto;
padding: 3px 10px;
font-weight: normal;
font-size: 0.8em;
background: none repeat scroll 0 0 transparent;
}

ul.primary li.active {
background: #9c9c9c; /* Old browsers */
background: -moz-linear-gradient(top,  #9c9c9c 0%, #828282 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c9c9c), color-stop(100%,#828282)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9c9c9c 0%,#828282 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9c9c9c 0%,#828282 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9c9c9c 0%,#828282 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9c9c9c 0%,#828282 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#828282',GradientType=0 ); /* IE6-9 */
}

ul.primary {
padding: 0;
background: none repeat scroll 0 0 #CFCFCF;
}

ul.primary li a .tab,
ul.secondary li a .tab {
padding: 0;
height: auto;
line-height: 1;
}

ul.primary li.active a, ul.primary li.active a:hover, ul.primary li.active a:focus, ul.primary li a .tab {
background: none repeat scroll 0 0 transparent;
color: #FFFFFF;
}

ul.primary li.active a .tab, ul.primary li.active a:hover .tab, ul.primary li.active a:focus .tab, ul.primary li a:hover, ul.primary li a:focus,
ul.primary li a:hover .tab, ul.primary li a:focus .tab {
background: none repeat scroll 0 0 transparent;
}

ul.secondary {
margin: 0;
padding: 0;
background: none repeat scroll 0 0 #EFEFEF;
}

ul.secondary a .tab {
height: auto;
line-height: 1;
margin: 0;
padding: 0;
}

ul.secondary a, ul.secondary a.active, ul.secondary a.active:hover, ul.secondary a.active:focus {
background: none repeat scroll 0 0 transparent;
border: 0 none;
}

ul.secondary {
border: 0 none;
}

ul.secondary li {
border-right: medium none;
margin: 0;
padding: 0;
}

ul.secondary a {
height: auto;
border: 0 none;
}

ul.secondary li.active {
background-color: #9C9C9C;
}

ul.secondary a:hover,
ul.secondary a:focus  {
color: #FFFFFF;
background: none repeat scroll 0 0 #B2B2B2;
}

ul.secondary li.active a, ul.secondary li.active a:hover, ul.secondary li.active a:focus {
background: none repeat scroll 0 0 transparent;
color: #FFFFFF;
}

.views-ajax-pad .form-item label {
color: #3F3F3F;
}

.views-ajax-pad .form-item label .description {
color: #9C9C9C;
}

.node-type-client .field {
margin: 0;
}

.node-type-client .field .field-label {
color: #9C9C9C;
font-size: 1em;
letter-spacing: 0;
word-spacing: 0;
width: 150px;
display: inline-block;
margin: 8px 0;
}

.node-type-client .field-field-client-email-template {
margin-top: 25px;
display: inline-block;
}

.node-type-client .field-field-client-email-template .field-label {
background-color: #CFCFCF;
color: #3F3F3F;
display: block;
margin-bottom: 10px;
padding: 3px 0 3px 5px;
width: 565px;
}

.node-type-client .field .field-items {
font-size: 1.1em;
display: inline-block;
}

.node-type-client .field .field-items img {
vertical-align: top;
}

.node-type-client .field-field-client-tag {
color: #CFCFCF;
float: right;
font-size: 3em;
line-height: 1;
}

.field-field-client-email-template .field-item {
display: block;
margin: 0 0 10px 0;
font-size: 0.9em;
}

.filefield-icon {
vertical-align: top;
}

#client-links .field-label {
color: #3F3F3F;
float: left;
margin-right: 50px;
}

.node-type-client .field-field-client-url, 
.node-type-client .field-field-client-log, 
.node-type-client .field-field-client-repo {
float: left;
font-size: 0.8em;
margin-right: 31px;
}

.node-type-client .field-field-client-url img, 
.node-type-client .field-field-client-log img, 
.node-type-client .field-field-client-repo img {
vertical-align: top;
}

.node-type-client .field-field-client-url a, 
.node-type-client .field-field-client-log a, 
.node-type-client .field-field-client-repo a {
text-decoration: none;
}

.node-type-client .field-field-client-logger {
border: 1px solid #9C9C9C;
font-size: 0.8em;
margin-top: 10px;
padding: 5px 10px;
}

.node-type-client .field-field-client-logger .label {
font-size: 1.2em;
font-weight: bold;
margin: 0 0 5px 0
}

#user-login .description {
display: none;
}

.field-field-client-password .field-item {
border: 1px outset #CFCFCF;
padding: 5px 10px;
color: transparent;
}

.field-field-client-password .field-item:hover {
color: #3F3F3F;
cursor: pointer;
}

.header-section.field-label,
thead {
font-family: 'Droid Serif',serif;
letter-spacing: 0.5px;
margin-top: 15px;
padding: 5px;
text-shadow: 0 1px 0 #FFFFFF;
background: #cfcfcf; /* Old browsers */
background: -moz-linear-gradient(top,  #cfcfcf 0%, #b5b5b5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cfcfcf 0%,#b5b5b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */
}

.region-footer {
margin-top: 5px;
}

.footerSetting {
font-size: 1em;
color: #9f9f9f;
cursor: pointer;
}

.footerSettingText,
.footerSettingText a {
font-size: 1em;
color: #9f9f9f;
}

.footerSetting:hover,
.footerSettingText a:hover {
text-decoration: underline;
}

.page-user-login #main,
.page-user #main {
background-color: #FFFFFF;
border: 1px solid #9F9F9F;
padding: 0 10px 10px;
width: 363px;
margin: 40px auto;
box-shadow: 1px 1px 2px #CFCFCF;
border-radius: 5px 5px 5px 5px;
}

#edit-pass-wrapper input,
#edit-name-wrapper input {
width: 350px;
}

.field .field-label, 
.field .field-label-inline, 
.field .field-label-inline-first {
font-weight: normal;
}

.site-status {
border-bottom: 1px dotted #CFCFCF;
margin-bottom: 15px;
padding-bottom: 15px;   
}

#getStats {
background: none repeat scroll 0 0 #3F3F3F;
border-radius: 5px 5px 5px 5px;
color: white;
display: inline-block;
font-size: 1.3em;
padding: 10px;
cursor: pointer;
}

.group-client-details label,
.group-client-web-links label,
.group-client-web-links label {
width: 130px;
float: left;
}

.node-form .form-text {
width: auto;
}

#edit-field-client-logger-0-value-wrapper label {
width: auto;
float: none;
}

.wysiwyg-format-1 {
display: none;
}

#edit-field-client-url-0-url,
#edit-field-client-log-0-url,
#edit-field-client-repo-0-url {
width: 87%;
}

.field-field-client-logger p {
margin-bottom: 15px;
}

.field-field-client-logger p:last-child {
margin-bottom: 0;
}

.client-page-left {
float: left;
width: 50%;
}

.client-page-right {
float: right;
width: 45%;
}

.email-templates .field-item {
display: inline-block;
}

.email-templates .field-item:last-child {
margin-left: 30px;
}

.email-templates .filefield-icon {
margin: 0;
}

dl.noderelationships-backref-view {
margin: 0;
}

.noderelationships-backref-view .views-field-name {
display: none;
}

.noderelationships-backref-view .views-field-title {
width: 80%;
}

.noderelationships-backref-view dd {
margin: 0;
}

.noderelationships-backref-view .views-table {
margin: 0;
}

.page-site-status .status {
width: 100%;
}

.page-site-status .log {
margin: 0 0 20px 0;
width: 270px;
}

.page-site-status .log td {
padding-bottom: 10px;
padding-left: 5px;
}

.page-site-status table th {
background-color: #CFCFCF;
color: #3F3F3F;
padding: 3px 0 3px 5px;
}

.page-site-status .status tr:hover {
background-color: #EFEFEF;
cursor: pointer;
}

.page-site-status .status tr.logRow:hover {
background-color: #FFFFFF;
cursor: default;
}

.siteCol {
padding-bottom: 15px;
padding-top: 5px;
padding-left: 5px;
width: 310px;
}

.statusCol {
width: 90px;
text-align: center;
}

.uptimeCol {
width: 150px;
text-align: center;
}

.siteName {
font-weight: bold;
}

.logRow {
display: none;
}

.siteStatusUp {
background-color: green;
border-radius: 15px 15px 15px 15px;
display: inline-block;
font-size: 0.7em;
height: 15px;
padding: 5px 6px;
width: 13px;
vertical-align: middle;
}

.siteStatusDown {
background-color: red;
border-radius: 15px 15px 15px 15px;
display: inline-block;
font-size: 0.7em;
height: 15px;
padding: 5px 6px;
width: 13px;
vertical-align: middle;
}

.siteStatusUpLog {
background-color: green;
border-radius: 15px 15px 15px 15px;
display: inline-block;
font-size: 0.7em;
height: 7px;
padding: 5px 6px;
width: 5px;
vertical-align: middle;
}

.siteStatusDownLog {
background-color: red;
border-radius: 15px 15px 15px 15px;
display: inline-block;
font-size: 0.7em;
height: 7px;
padding: 5px 6px;
width: 5px;
vertical-align: middle;
}

.file-right {
float: right;
height: 785px;
overflow: hidden;
width: 60%;
}

.file-left {
display: inline-block;
width: 35%;
margin-right: 25px;
}

.file-left .field-label {
display: inline-block;
width: 125px;
color: #9C9C9C;
vertical-align: middle;
}

.file-left .field-value {
display: inline-block;
}

.file-left .field-item {
margin-bottom: 15px;
}

.node-type-file #content-area,
.node-type-invoice #content-area {
margin-top: 15px;
}

.field-item-tag {
background-color: #CFCFCF;
border-radius: 5px 5px 5px 5px;
display: inline-block;
font-size: 0.9em;
padding: 2px 7px;
}

.field-item-tag img {
vertical-align: middle;
}

.filefield-icon {
margin: 0 2px 0 0;
}

.page-admin-reports-pubdlcnt-counter table {
width: auto;
}

.file-viewed {
margin-top: 15px;
}

.deleteIcon {
visibility: hidden;
cursor: pointer;
}

.view-file-cabinet .views-field-delete-node a {
visibility: hidden;
display: inline-block;
height: 16px;
width: 16px;
background: url(/sites/all/themes/tandum_master/images/no.png) right center no-repeat;
}

.view-noderelationships-backref .item-list {
margin-top: 15px;
}

.view-noderelationships-backref .view-content {
border-top: 1px solid #9F9F9F;
}

.view-file-cabinet .file-viewed {
margin-top: 5px;
}

.view-file-cabinet .file-viewed .field-label,
.view-file-cabinet .file-viewed .field-value {
display: inline-block;
}

/*Pager*/
.view .item-list {
clear: both;
display: block;
text-align: center;
width: 100%;
}

.item-list .pager {
display: inline-block;
margin: 0 auto;
padding: 0;
}

.item-list .pager li {
padding: 0 0 0 5px;
float: left;
}

.item-list .pager li a,
.item-list .pager .pager-current {
display: inline-block;
border: 1px solid #CCCCCC;
background-color: #FFFFFF;
width: 20px;
height: 19px;
padding: 3px;
text-align: center;
font-size: 0.9em;
}

.item-list .pager li a:hover {
border: 1px solid #9C9C9C;
text-decoration: none;
}

.item-list .pager  li.pager-current {
color: #FFFFFF;
background-color: #9C9C9C;
margin-left: 5px;
}

.view-facilities-slideshow .view-content,
.view-facilities-slideshow .view-content div {
margin: 0 auto;   
}

#block-search-0 {
float: right;
margin-right: 12px;
margin-top: 2px;  
}

#edit-submit {
vertical-align: middle;
margin-top: 1px;   
}

#edit-search-block-form-1 {
width: 138px;   
border-radius: 3px;
}

.search-result-item {
margin-bottom: 15px;   
}

.searchResultType {
color: #9F9F9F;
font-size: 0.7em;
}

.node-form label {
float: left;
width: 130px;
}

#edit-field-file-date-0-value-month-wrapper label,
#edit-field-file-date-0-value-year-wrapper label {
display: none;
}

.views-field-created {
width: 10%:
}

.view-file-cabinet .views-field-title,
.view-file-cabinet .views-field-field-file-client-nid {
width: 25%;   
}

.views-field-type {
width: 15%;
}

.node-type-ticket .field-item {
margin-bottom: 15px;
}

.node-type-ticket .ticket-left .field-item,
.node-type-ticket .ticket-right .field-item {
height: 18px;
}

.node-type-ticket .field-item .field-label {
display: inline-block;
width: 90px;
color: #9C9C9C;
}

.node-type-ticket .field-value {
display: inline-block;
}

.node-type-ticket .field-details {
margin-top: 15px;
margin-bottom: 40px;
background: none repeat scroll 0 0 #FFFFFF;
}

.node-type-ticket .field-details .field-value {
display: block;   
}

.node-type-ticket .field-details .field-value .field-item {
margin-bottom: 0;
background-color: #EFEFEF;
padding: 5px 10px;
margin-top: 15px;
}

.node-type-ticket .field-details .editablefields.clicktoedit {
border: 0 none;
cursor: text;
}

.node-type-ticket .field-details .editablefields.clicktoedit .field-item {
margin: 0;
padding: 0;
background-color: #FFFFFF;
}

.field-section-header {
display: block;
margin: 0 0 5px;
padding: 7px; 
color: #FFFFFF;
font-size: 1.3em;
font-weight: normal;
font-family: 'Droid Serif',serif;
text-shadow: -1px 1px 0 #3F3F3F;
background: #cfcfcf; /* Old browsers */
background: -moz-linear-gradient(top,  #cfcfcf 0%, #b5b5b5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cfcfcf 0%,#b5b5b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */
}

.node-type-ticket .field-tracking {
font-style: italic;
font-size: 0.8em;
color: #9F9F9F;
}

.node-type-ticket .ticket-left {
float: left;
margin-right: 75px;
}

.node-type-ticket .ticket-right {
display: inline-block;
}

.node-type-ticket h1.title {
display: none;
}

.node-type-ticket h2.title {
font-size: 2em;
margin-bottom: 5px;
}

.editablefields {
display: inline-block;
}

#edit-field-ticket-accepted-value-wrapper,
#edit-field-ticket-status-value-wrapper {
margin: 0;    
}

.editablefields.clicktoedit {
border-bottom: 1px dashed #3F3F3F;
cursor: pointer;
}

.editablefields.clicktoedit:hover {
color: #D89F1A
}

.editablefields.clicktoedit .message {
border: 1px solid #9C9C9C;
margin: 0;
position: absolute;
right: 0;
top: 55px;
width: 30%;
}

.field-field-ticket-accepted .field-item,
.field-field-ticket-status .field-item {
margin-bottom: 0;   
}

.editablefields.clicktoedit.editablefields-processed {
border: 0 none;
}

div.editablefields_clicktoedit_message {
display: none !important;   
}

.page-node-add-ticket .description,
.node-type-ticket.section-node-edit .description {
margin-left: 130px;
color: #9F9F9F;   
}

.page-node-add-ticket .date-date .description,
.node-type-ticket.section-node-edit .date-date .description {
margin-left: 0;   
}

.page-node-add-ticket #autocomplete,
.node-type-ticket.section-node-edit #autocomplete {
margin-left: 130px;   
}

.page-node-add-ticket .resizable-textarea,
.node-type-ticket.section-node-edit .resizable-textarea {
width: 100%;   
}

html.js .page-node-add-ticket .resizable-textarea textarea,
html.js .node-type-ticket.section-node-edit .resizable-textarea textarea {
display: inline-block;
}

.page-node-add-ticket .teaser-checkbox,
.page-node-add-ticket .menu-item-form,
.node-type-ticket.section-node-edit .teaser-checkbox,
.node-type-ticket.section-node-edit .menu-item-form  {
display: none;   
}

.marker {
font-size: 8pt;
margin-left: 10px;
}

th.views-field-nid {
width: 5%;
}

th.views-field-field-ticket-summary-value {
width: 45%;
}

th.views-field-field-ticket-status-value {
width: 15%;
}

th.views-field-field-ticket-priority-value {
width: 15%;   
}

th.views-field-nothing {
width: 3%;   
}

.views-field-nothing span {
display: none;   
}

.views-field-nothing img {
position: relative;
z-index: 99999;
cursor: pointer;
}

.page-commit-history .views-field-title {
width: 10%;   
}

.page-commit-history .views-field-description {
width: 70%;   
}

tr.odd {
background-color: #FFFFFF;
}

tr.even {
background-color: #EFEFEF;
}

tr.even, tr.odd {
border-bottom: 0 none;
}

td.active {
background-color: transparent;
}

#edit-field-ticket-accepted-value-wrapper label.option {
display: block;
float: none;
font-weight: normal;
margin-left: 130px;
width: auto;
}

#views-ui-add-item-form .form-checkboxes label {
color: #3F3F3F;   
}

#views-ui-add-item-form .form-checkboxes .description {
color: #9F9F9F;
}

.editablefields.clicktoedit #edit-field-ticket-accepted-value-wrapper label.option,
.views-field-field-ticket-accepted-value #edit-field-ticket-accepted-value-wrapper label.option {
margin-left: 0;
color: #3F3F3F;   
}

.front .region-content-top .block {
border: 1px solid #9F9F9F;
border-radius: 5px 5px 5px 5px;
box-shadow: 1px 1px 2px #CFCFCF;
display: inline-block;
vertical-align: top;
background-color: rgba(255, 255, 255, 1);
margin-right: 15px;
overflow: hidden;
}

.front .region-content-top .block .content {
height: 190px;
overflow-x: hidden;
overflow-y: auto;
margin-left: 5px;
}

.front .region-content-top .block .title {
border-radius: 3px 3px 0 0;
color: #FFFFFF;
display: block;
padding: 5px 10px 3px;
cursor: move;
border-bottom: 1px solid #FFFFFF;
text-shadow: -1px 1px 0 #3F3F3F;
background: #cfcfcf; /* Old browsers */
background: -moz-linear-gradient(top,  #cfcfcf 0%, #b5b5b5 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#b5b5b5)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #cfcfcf 0%,#b5b5b5 100%); /* IE10+ */
background: linear-gradient(to bottom,  #cfcfcf 0%,#b5b5b5 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#b5b5b5',GradientType=0 ); /* IE6-9 */
}

.front .region-content-top .block h3 {
font-size: 1em;
margin-bottom: 0;   
}

.front .region-content-top .block ul {
margin: 0;
padding: 0;
}

.front .region-content-top .block li {
list-style-type: none;   
}

.front .region-content-top .block li a {
color: #3F3F3F;   
}

.front .region-content-top .more-link {
display: none;   
}

.front #block-views-activity-block_1 {
margin-right: 0;
margin-top: 20px;  
width: 100%;
}

.view-activity .views-field-message,
.view-activity .views-field-created {
display: inline-block;   
}

#block-block-3 .views-field-viewed,
.view-activity .views-field-created,
#block-views-repository-block_2 .views-field-timestamp {
color: #9F9F9F;   
font-size: 8pt;
}

#block-views-repository-block_2 .content {
width: 400px;    
}

#block-views-repository-block_2 .content strong {
}

#block-block-3 .content {
width: 300px;   
}

.front #block-views-activity-block_1 .content {
height: 245px;
}

.ui-resizable-s {
height: 15px;
}

#block-views-repository-block_2 .views-row-odd,
#block-block-3 .views-row:nth-child(odd),
#block-views-activity-block_1 .views-row-odd {
padding: 3px 0 3px 5px;
}

#block-views-repository-block_2 .views-row-even,
#block-block-3 .views-row:nth-child(even),
#block-views-activity-block_1 .views-row-even {
background-color: #EFEFEF;
margin: 5px 0;
padding: 3px 10px 3px 5px;
}

#block-views-repository-block_2 .views-row-last,
#block-block-3 .views-row:last-child,
#block-views-activity-block_1 .views-row-last {
margin: 5px 0 0;
}

#block-block-2 .content {
padding: 0 10px 0 5px;
}

.jspVerticalBar {
width: 10px;   
}

.jspTrack {
background: #CFCFCF;
}

.jspDrag {
background: #9c9c9c; /* Old browsers */
background: -moz-linear-gradient(top,  #9c9c9c 0%, #828282 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9c9c9c), color-stop(100%,#828282)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9c9c9c 0%,#828282 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9c9c9c 0%,#828282 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9c9c9c 0%,#828282 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9c9c9c 0%,#828282 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9c9c9c', endColorstr='#828282',GradientType=0 ); /* IE6-9 */
}

#block-views-repository-block_2 .views-field-description .field-content {
display: inline-block;
white-space: normal;
width: 380px;  
}

#edit-field-invoice-date-email-0-value-wrapper,
#edit-field-invoice-date-notify-0-value-wrapper {
margin: 0;   
}

.date-container {
display: inline-block;
}

.date-container input {
border: 0 none;
box-shadow: 0 0 0 !important;
color: #9C9C9C;
display: inline-block;
font-size: 0.5em;
outline: 0 none !important;
vertical-align: middle;
width: 135px;
}