/* Media queries */
@media screen and (max-width: 1200px) {

}
 
/* Tablet Horizontal*/
@media screen and (max-width: 980px) {

}

/* Tablet Vertical */
@media screen and (max-width: 750px) {

}
 
/* Mobile Phone Horizontal*/
@media screen and (max-width: 540px) {

}
 
/* Mobile Phone Vertical*/
@media screen and (max-width: 380px) {
    #page-wrapper, 
    .region-page-closure {
        min-width: 230px;
    }
    #navHeader {
        height: auto;
    }
    ul.nice-menu li {
        width: 100%;
    }
    #navHeader ul {
        width: 100%;
        left: 0;
        top: 0;
        position: relative;
    }
    #navHeader a {
        font-size: 1em;
    }
    ul.nice-menu li.menuparent ul, 
    #header-region ul.nice-menu li.menuparent ul {
        margin-top: 6px !important;
    }
    ul.nice-menu li ul li {
        width: 100%;
    }
    #navHeader ul ul, 
    #navHeader ul ul ul, 
    #navHeader ul ul ul ul, 
    #navHeader ul ul ul ul ul {
        width: 100%;
        clear: both;
        float: left;
        left: 0;
    }
    #navHeader ul ul {
        padding-left: 10px;
    }
    #navHeader ul ul ul {
        padding-left: 20px;
    }
    #navHeader ul ul ul ul {
        padding-left: 30px;
    }
    .page-user-login #main, .page-user #main {
        width: 268px;
    }
    #edit-pass-wrapper input, #edit-name-wrapper input {
        width: 266px;
    }
    .front .region-content-top .block {
        width: 100%;
        margin: 0 0 20px 0;
    }
    .front #block-views-activity-block_1 {
        margin-top: 0;
    }
    #block-search-0 {
        float: none;
        margin: 5px 0;
        display: inline-block;
        width: 100%;
    }
    #edit-search-block-form-1 {
        width: 70%;
    }
    .client-page-left,
    .client-page-right {
        float: none;
        width: auto;
    }
}