body {
	background-color: #e2e3d7;
	font-family: Arial, Verdana, sans-serif;
	padding-bottom: 25px;
}

a, a:link, a:visited {
	color: #001a00;
}

a:hover {
	text-decoration: none;
}

h3 {
	margin: 0;
}

#content, .no-sidebars #content {
	width: 930px;
}

#header-wrapper {
	height: 159px;
	box-shadow: 0 15px 10px -10px #3F3F3F inset;
	background: #b5933b; /* Old browsers */
	background: -moz-linear-gradient(top,  #b5933b 0%, #977b32 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5933b), color-stop(100%,#977b32)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b5933b 0%,#977b32 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b5933b 0%,#977b32 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b5933b 0%,#977b32 100%); /* IE10+ */
	background: linear-gradient(top,  #b5933b 0%,#977b32 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5933b', endColorstr='#977b32',GradientType=0 ); /* IE6-9 */
}

#header, #navigation {
	width: 960px;
	margin: 0 auto;
	float: none;
}

#header {
    margin-bottom: 5px;
}

#block-menu-primary-links {
	margin: 0;
	padding: 0;
}

#navigation {
	text-align: center;
	box-shadow: 0px 3px 3px -3px #000000 inset;
	background: none repeat scroll 0 0 #4E5D40;background: #4e5d3f; /* Old browsers */
	background: -moz-linear-gradient(top,  #4e5d3f 0%, #475439 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e5d3f), color-stop(100%,#475439)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4e5d3f 0%,#475439 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4e5d3f 0%,#475439 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4e5d3f 0%,#475439 100%); /* IE10+ */
	background: linear-gradient(top,  #4e5d3f 0%,#475439 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5d3f', endColorstr='#475439',GradientType=0 ); /* IE6-9 */
	-moz-border-radius: 5px 5px 0 0;
}

#navigation ul {
    display: inline-block;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

#navigation li {
	list-style-type: none;
	display: inline-block;
	padding: 0;
}

#navigation li a {
	text-decoration: none;
	padding: 10px 45px;
	border-left: 1px solid #72885e;
	border-right: 1px solid #3c4832;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	display: inline-block;
}

#navigation li a:hover {
	text-shadow: -1px -1px 1px #000000;
	color: #b08f3a;
}

#navigation .menu li.first a {
	border-left: 0 none;
	padding-left: 0;
}

#navigation .menu li.last a {
	border-right: 0 none;
	padding-right: 0;
}

#logo {
	margin-top: 40px;
	width: 475px;
	height: 77px;
	display: inline-block;
	background: url(/sites/hessequine.com/themes/hessequine2/images/logo-top.png) repeat scroll;
}

#main {
	border: 1px solid #7d631f;
	border-top: 0 none;
	padding: 15px;
	background-color: #ffffff;
}

#pre-content-wrapper {
	padding: 25px 0;
	border-top: 1px solid #7a9064;
	box-shadow: 0 1px 5px 0 #3F3F3F;
	position: relative;
    z-index: 99;
	margin-top: -1px;
	background: #627450; /* Old browsers */
	background: -moz-linear-gradient(top,  #627450 0%, #4e5d3f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#627450), color-stop(100%,#4e5d3f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #627450 0%,#4e5d3f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #627450 0%,#4e5d3f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #627450 0%,#4e5d3f 100%); /* IE10+ */
	background: linear-gradient(top,  #627450 0%,#4e5d3f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#627450', endColorstr='#4e5d3f',GradientType=0 ); /* IE6-9 */
}

#pre-content {
	width: 910px;
	margin: 0 auto;
	border: 1px solid #3d4932;
	padding: 25px;
	margin: 0 auto;
	color: #ffffff;
	box-shadow: 0 0 2px #FFFFFF inset;
	background: #b5933b; /* Old browsers */ 
	background: -moz-linear-gradient(top,  #b8ad83 0%, #9d946f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8ad83), color-stop(100%,#9d946f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b8ad83 0%,#9d946f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b8ad83 0%,#9d946f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b8ad83 0%,#9d946f 100%); /* IE10+ */
	background: linear-gradient(top,  #b8ad83 0%,#9d946f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8ad83', endColorstr='#9d946f',GradientType=0 );
}

#pre-content .block {
	margin: 0;
	line-height: 1;
}


.glow-box {
	padding: 30px 40px;
	color: #003400;
	background-color: #ece7ce;
	border: 1px solid #8d855b;
	box-shadow: 0 0 35px #8d855b inset;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.glow-box p:first-child {
	margin-top: 0;
}

.ribbon {
	float: right;
	font-size: 1.1em;
	color: #FFFFFF;
	padding: 5px 25px 5px 10px;
	background-color: #4f5e40;
	border: 1px solid #485937;
	box-shadow: 1px 1px 1px -1px #FFFFFF inset;
	text-shadow: 0px 0px 0px #FFFFFF;
}

.ribbon span {
	font-size: 0.7em;
	font-style: italic;
	font-weight: normal;
}

.ribbon-tail {
	float: right;
	height: 8px;
	width: 14px;
	clear: right;
	background: url(/sites/hessequine.com/themes/hessequine2/images/ribbon-tail.png) repeat scroll;
}

/* Footer */
#footer-boxes {
	margin: 40px 0;
	display: inline-block;
}

#footer-boxes div {
	float: left;
	border-right: 1px solid #cacbbf;
	border-left: 1px solid #ffffff;
	padding: 20px 33px;
	height: 55px;
}

#footer-boxes div:first-child {
	padding-left: 0 !important;
	border-left: 0 none;
}

#footer-boxes div:last-child {
	padding-right: 0 !important;
	border-right: 0 none;
}

.logo-colorize {
	display: inline-block;
	width: 281px;
	height: 45px;
	background: url(/sites/hessequine.com/themes/hessequine2/images/logo-colorize.png) repeat scroll;
}

.phone-bubble {
	display: inline-block;
	float: right;
	width: 50px;
	height: 45px;
	margin-left: 15px;
	background: url(/sites/hessequine.com/themes/hessequine2/images/phone-bubble.png) repeat scroll;
}

.hess-symbol {
	float: right;
	width: 67px;
	height: 69px;
	margin-left: 15px;
	margin-top: -7px;
	background: url(/sites/hessequine.com/themes/hessequine2/images/hess-symbol.png) repeat scroll;
}

.call-box span {
	font-size: 1.2em;
	line-height: 1.2;
	color: #8e9b81;
	text-shadow: 0px 0px 0px #FFFFFF;
}

.call-box span span {
	font-size: 1.3em;
}

.email-box span {
	font-size: 1.8em;
	line-height: 1.1;
	text-shadow: 0px 0px 0px #FFFFFF;
	color: #8e9b81;
}

.email-box span span {
	font-size: 0.8em;
}

.email-box a {
	color: #8e9b81;
}

.region-footer {
    clear: both;
    color: #BFBFBF;
    display: block;
    text-align: center;
	margin: 0 0 30px 0;
}

.region-footer a {
	color: #BFBFBF;
}

.region-footer p {
	margin: 0;
}

/* Frontpage */
.front h1.title {
	display: none;
}

.front .tabs {
	display: none;
}

#front-welcome-box.glow-box {
	line-height: 1.5;
	font-size: 1em;
	margin: 25px;
}

#front-welcome-box .ribbon {
	margin-right: -55px;
    margin-top: -22px;
}

#front-welcome-box .ribbon-tail {
	margin-right: -55px;
}

#block-block-6 {
	float: left;
	padding-right: 37px;
	border-right: 1px solid #7f7857;
	height: 360px;
}

#block-block-6 h2 {
	font-size: 1.7em;
	margin: 0 0 10px 0;
	font-weight: normal;
	text-shadow: 1px 1px 1px #000000;
	line-height: 1;
}

#block-block-6 p {
	margin: 0;
}

#block-views-Videos-block_1 {
	float: right;
	border-left: 1px solid #d2cab5;
	padding-left: 31px;
	width: 395px;
}

#block-views-Videos-block_1 .view-header {
	font-size: 1.1em;
	text-shadow: 1px 1px 0px #000000;
	margin-bottom: 5px;
}

#block-views-Videos-block_1 .view-content div.views-row {
	width: 365px;
	display: inline-block;
	margin-bottom: 16px;
	padding: 6px 15px;
	height: 86px;
	border: 1px solid #7F7857;
	box-shadow: 0 0 2px #FFFFFF inset;
	background: #d0c29c; /* Old browsers */
	background: -moz-linear-gradient(top,  #d0c29c 0%, #ded4bb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0c29c), color-stop(100%,#ded4bb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d0c29c 0%,#ded4bb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d0c29c 0%,#ded4bb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d0c29c 0%,#ded4bb 100%); /* IE10+ */
	background: linear-gradient(top,  #d0c29c 0%,#ded4bb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0c29c', endColorstr='#ded4bb',GradientType=0 ); /* IE6-9 */
}

.item-list {
	text-align: center;
}

#block-views-Videos-block_1 .view-content div.views-row:last-child {
	margin-bottom: 0;
}

#block-views-Videos-block_1 .view-content div.views-row div {
	float: left;
	clear: left;
}

#block-views-Videos-block_1 .view-content div.views-row div.views-field-title { 

}

#block-views-Videos-block_1 .view-content div.views-row .views-field-title h3 {
	font-weight: normal;
	font-size: 1em;
	color: #424242;
}

#block-views-Videos-block_1 .view-content div.views-row div.views-field-created {
	font-size: 0.8em;
	color: #a0926b;
} 

#block-views-Videos-block_1 .view-content div.views-row div.view-content{
	clear: both;
	float: left;
}

#block-views-Videos-block_1 .view-content div.views-row div.views-field-field-video-youtube-embed {
	float: right;
	clear: none;
}	

#block-views-Videos-block_1 .view-content div.views-row div.views-field-field-video-youtube-embed img{
	width: 105px;
	height: 85px; 
}

.front #main {
	width: 880px;
	margin: 0 auto;
}

.front #content, .front .no-sidebars #content {
	width: 875px;
}

.front #footer .section {
	padding-left: 25px;
}

#block-block-6 #emvideo-youtube-flash-wrapper-1 object {
	height: 390px ;
	width: 520px;
	margin: 0 auto;
}

#block-block-6 #emvideo-youtube-flash-wrapper-1 {
	text-align: center;
}

/* Video Page */
.emvideo-video object {
	height: 390px;
	width: 600px;
}

.page-videos #main {
	padding-top: 25px;
}

.page-videos .view-display-id-page_1 .views-row {
	margin: 0 auto;
	border: 1px solid #3d4932;
	margin: 0 17px 25px;
    padding: 25px;
    vertical-align: top;
    width: 220px;
	color: #ffffff;
	display: inline-block;
	box-shadow: 0 0 2px #FFFFFF inset;
	background: #b5933b; /* Old browsers */ 
	background: -moz-linear-gradient(top,  #b8ad83 0%, #9d946f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b8ad83), color-stop(100%,#9d946f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #b8ad83 0%,#9d946f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #b8ad83 0%,#9d946f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #b8ad83 0%,#9d946f 100%); /* IE10+ */
	background: linear-gradient(top,  #b8ad83 0%,#9d946f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8ad83', endColorstr='#9d946f',GradientType=0 );
}

.page-videos .view-display-id-page_1 .emvideo-thickbox img {
	width: 220px;
	height: 165px;
}

.page-videos .view-display-id-page_1  .emvideo-thumbnail-replacement span {
    left: 66px;
    top: 37px;
}

/*Image Gallery*/
.page-image-gallery .views-row {
	display: inline-block;
	margin: 0 15px 15px;
}

.page-image-gallery .page_header {
	padding-bottom: 25px;
}

/*About*/
.page-about-us #main {
	padding-top: 25px;
}

.page-about-us #pre-content .views-row div.views-field-title  {
	display: block;
}

.page-about-us #pre-content .views-field-title a {
	font-size: 2em;
	margin-bottom: 15px;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	text-shadow: 1px 1px 1px #FFFFFF;
}

.page-about-us #pre-content .views-row div.views-field-field-staff-picture-fid {
	float: left;
}

.page-about-us #pre-content .views-row div.views-field-field-staff-picture-fid img {
	box-shadow: 0 0 5px #001A00;
}

.page-about-us #pre-content .views-row div.views-field-body {
    line-height: 1.5;
    margin-left: 25px;
    width: 730px;
	display: inline-block;
	font-size: 1em;
	text-shadow: 1px 1px 1px #7b7458;
}

.page-about-us #pre-content .views-row div.views-field-view-node {
	float: right;
}

.page-about-us #content-area {
	text-align: center;
}

.page-about-us #content-area .views-row {
	display: inline-block;
	margin: 0 75px;
	vertical-align: top;
}

.page-about-us #content-area .views-row:hover .views-field-view-node a {
	text-decoration: underline;
}

.page-about-us #content-area .views-field-title {
	display: inline-block;
	margin-bottom: 5px;
}

.page-about-us #content-area .views-field-title a {
	font-size: 1.3em;
	text-decoration: none;
}

.page-about-us #content-area .views-field-view-node a {
	color: #9F9F9F;
	text-decoration: none;
	font-style: italic;
}
/*Our Friends Page*/
.view-Friends .views-row {
    border: 1px solid #DFDFDF;
    display: block;
    margin: 0 auto;
    padding: 15px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-bottom: 20px;
}

.view-Friends  .view-header {
	padding-bottom: 25px;
}

.view-Friends .views-row-even {
    background-color: #EFEFEF;
}

.view-Friends .views-field-field-friends-logo-fid {
    text-align: right;
}

.view-Friends .views-field-field-friends-logo-fid  img{
    border: 1px solid #DFDFDF;
    padding: 8px;
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    opacity: 0.5;
}

.view-Friends .views-field-field-friends-logo-fid  img:hover {
    opacity: 1;
}

.view-Friends .views-field-field-friends-website-url,
.view-Friends .views-field-field-friends-website-url-1 {
    display: inline-block;
}

.view-Friends .views-field-body {
    display: none;
}

.view-Friends .views-field-field-friends-website-url {
    font-size: 2em;
    float: left;
    padding-bottom: 10px;
    line-height: 27px;
    margin-right: 7px;
}

.view-Friends .views-field-field-friends-website-url a {
	text-decoration: none;
}

.view-Friends .views-field-field-friends-website-url-1 {
    padding-bottom: 20px;
    margin-right: 100px;
    clear: left;
    float: left;
}

/*Pager*/
.item-list {
	clear: both;
	display: block;
	width: 100%;
}

.item-list .pager {
	display: inline-block;
	margin: 0 auto;
	padding: 0;
}

.item-list .pager li {
	padding: 0 0 0 5px;
	float: left;
}

.item-list .pager li a,
.item-list .pager .pager-current {
	display: inline-block;
	border: 1px solid #CCCCCC;
	background-color: transparent;
	width: 20px;
	height: 19px;
	padding: 3px;
	text-align: center;
	font-size: 0.9em;
	text-decoration: none;
}

.item-list .pager li a:hover {
	border: 1px solid #232C1A;
	text-decoration: none;
}

.item-list .pager  li.pager-current {
	color: #FFFFFF;
	background-color: #232C1A;
	margin-left: 5px;
}

.views-throbbing {
	background: none 0 0 !important;
}

#block-nice_menus-2 {
	position: absolute;
	top: 0;
	left: 0;
}

#nice-menu-2 {
	margin: 0;
	padding: 0;
	text-align: left;
}

#nice-menu-2 a:hover {
	text-decoration: none;
}

#shopPromote {
    background-color: white;
    border-radius: 3px;
    float: right;
    font-size: 1.1em;
    margin-right: 117px;
    margin-top: 73px;
    padding: 3px 3px 14px;
    text-align: center;
    width: 190px;
	height: 43px;
    text-shadow: 1px 1px 1px #FFFFFF;
    background: url(/sites/hessequine.com/themes/hessequine2/images/shopPromotebg.png) repeat -1px 0 scroll;   
	display: none;
}

.view-id-Gallery.view-display-id-block_1 .views-row {
	display: inline-block;
	margin: 0 32px 15px;
}

}